[2019-11-17 21:32] llaske opened #446 "Add a tutorial to the Constellation activity"
Add a tutorial to the Constellation activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] S

[2019-11-17 21:33] llaske opened #447 "Add a tutorial to the LastOneLose activity"
Add a tutorial to the LastOneLose activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Sho

[2019-11-18 16:32] llaske commented on #397
Solved in https://github.com/llaske/sugarizer/pull/448

[2019-11-20 17:43] llaske commented on #396
Fixed in https://github.com/llaske/sugarizer/pull/453

[2019-11-21 15:28] Ismailtlem commented on #447
Hi,

I'm interested in working on this issue

[2019-11-21 20:53] llaske opened #455 "Improve Exerciser UI to avoid accidental deletion"
With the current Exerciser UI it's too simple to remove an exercise by error: just by clicking on the remove button on an exercise.

The idea is to create a new edit mode like in Memorize activity.

The detail of the issue is explained [here](https://github.com/llaske/ExerciserReact/issues/88).

Exerciser is a ReactJS activity, the process to regenerate it is explained [here](https://github.com/ll

[2019-11-22 08:40] llaske commented on #447
You're welcome.
BTW you don't need to ask to work on an issue and it don't prevent others to work on this issue too.
See https://github.com/llaske/sugarizer/blob/master/CONTRIBUTING.md

[2019-11-25 15:21] llaske commented on #411
Fixed in https://github.com/llaske/sugarizer/commit/913a878ccdd3c9e5da81266128c58db83e8eaafa

[2019-12-03 21:30] llaske commented on #384
Fixed by https://github.com/llaske/sugarizer/commit/9eb3f4bde6a9973695323271b35ee1ccce5cf58d

[2019-12-04 17:15] llaske commented on #401
Fixed by https://github.com/llaske/sugarizer/pull/460

[2019-12-04 17:17] llaske commented on #398
Fixed in https://github.com/llaske/sugarizer/commit/f12d1a44b7abfddc1ecbce32e83dc0c94e125b3e

[2019-12-05 07:38] llaske commented on #415
Fixed in https://github.com/llaske/sugarizer/commit/c41dd12806765f50ebcfabe55defa7a194b1e7a4

[2019-12-05 07:50] llaske commented on #409
Fixed in https://github.com/llaske/sugarizer/commit/09fd92494385a8444c14f95fbb55329050f089ce

[2019-12-05 18:12] NathanDimmer commented on #402
Working on it!

[2019-12-06 16:38] llaske commented on #416
Fixed in https://github.com/llaske/sugarizer/commit/22f4d6bb0e49e07c687af8efa5a6c33136413601

[2019-12-06 16:51] llaske commented on #412
Fixed in https://github.com/llaske/sugarizer/commit/08295319934d8c48c8c249cd68240af66903bf56

[2019-12-06 17:10] llaske commented on #413
Fixed in https://github.com/llaske/sugarizer/commit/097f0b0dc4f847fb46d5b4b677b44e90ec0fc1e9

[2019-12-07 14:45] llaske commented on #414
Fixed in https://github.com/llaske/sugarizer/pull/477

[2019-12-07 20:10] llaske commented on #402
Fixed in https://github.com/llaske/sugarizer/pull/478

[2019-12-07 21:29] NathanDimmer commented on #400
Working on it!

[2019-12-08 10:33] llaske commented on #427
Fixed in https://github.com/llaske/sugarizer/commit/c1538bf18055d647951f4e181cb2f566d633e05a

[2019-12-08 21:14] llaske commented on #435
Fixed in https://github.com/llaske/sugarizer/commit/32583dd24b8864ab0e2d3e0c888f90d5719c576a

[2019-12-08 21:36] pidddgy commented on #418
is this really necessary? space already seems to be used pretty well.

<img width="678" alt="image" src="https://user-images.githubusercontent.com/30125762/70396641-ceb7be00-19d8-11ea-87eb-cb62826e3d61.png">

[2019-12-09 15:00] llaske commented on #400
Fixed in https://github.com/llaske/sugarizer/pull/482

[2019-12-09 15:22] llaske commented on #417
Fixed in https://github.com/llaske/sugarizer/commit/a02e2dad87e8f578d4939d3ffd1be7cdc5221dea

[2019-12-09 15:59] llaske commented on #418
See my comment [here](https://github.com/llaske/sugarizer/pull/479#issuecomment-562862247 ), you will see a case where just hiding the toolbar without resize give a bad result.

[2019-12-10 16:32] llaske commented on #443
Fixed in https://github.com/llaske/sugarizer/pull/476

[2019-12-11 20:47] llaske commented on #405
Fixed in https://github.com/llaske/sugarizer/commit/d98a415f4d21a11b911ac438fa57ffe8a0637a25

[2019-12-12 08:31] carpecodeum commented on #447
hey can i ask what is the tech of this repo?

[2019-12-12 08:53] llaske commented on #447
Regarding Sugarizer it's full HTML5/JavaScript but with a framework depending of each activity. See more [here](https://github.com/llaske/sugarizer/blob/dev/docs/architecture.md).
For LastOneLose activity, the EnyoJS framework is used.

[2019-12-12 15:36] llaske commented on #425
Fixed in https://github.com/llaske/sugarizer/pull/486

[2019-12-12 20:55] llaske commented on #432
Fixed in https://github.com/llaske/sugarizer/pull/488

[2019-12-12 21:39] llaske commented on #433
Fixed in https://github.com/llaske/sugarizer/pull/490

[2019-12-13 16:16] llaske commented on #444
Fixed in https://github.com/llaske/sugarizer/pull/492

[2019-12-14 15:52] llaske commented on #455
Fixed in https://github.com/llaske/sugarizer/commit/9602b657db3e8a3795155a4fe78c0c4d9cea495c

[2019-12-15 20:41] llaske commented on #446
Fixed in https://github.com/llaske/sugarizer/pull/496

[2019-12-15 21:35] llaske commented on #440
Fixed in https://github.com/llaske/sugarizer/pull/498/files

[2019-12-17 10:42] llaske commented on #406
Fixed in https://github.com/llaske/sugarizer/pull/491

[2019-12-17 13:11] llaske commented on #439
Fixed in https://github.com/llaske/sugarizer/pull/499

[2019-12-17 14:57] llaske commented on #418
Fixed in https://github.com/llaske/sugarizer/commit/5e2a5035fa63ec7f3861f723d14517c135794208

[2019-12-17 21:30] llaske commented on #447
Fixed in https://github.com/llaske/sugarizer/pull/504

[2019-12-18 21:29] llaske commented on #445
Fixed in https://github.com/llaske/sugarizer/pull/505

[2019-12-19 20:49] llaske commented on #441
Fixed in https://github.com/llaske/sugarizer/pull/507

[2019-12-20 16:05] llaske commented on #408
Fixed in https://github.com/llaske/sugarizer/commit/1d4d0e44aa4a4ce97f22f9e2e1eae4b6ee6051b2

[2019-12-20 16:25] llaske commented on #424
Fixed in https://github.com/llaske/sugarizer/pull/508

[2019-12-21 10:00] llaske opened #513 "Fix the clean all button in the Fototoon activity"
The clean all button in the Fototoon activity toolbar is supposed to remove all content.

![image](https://user-images.githubusercontent.com/981841/71306424-555c9a00-23e0-11ea-9dab-a0232253e902.png)

Currently, it does nothing.
The objective of this issue is:

* [ ] Fix the non working clean all button
* [ ] Add a confirmation box before effectively cleaning all the content

The confirmation box s

[2019-12-21 10:02] llaske opened #514 "Add a fullscreen button in the Flip activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2019-12-21 10:11] llaske opened #515 "Make responsive the toolbar in Write activity"
In Sugarizer it's important that whatever could be the screen size the Stop button is always visible to be sure the user will be able to quit the activity. So responsive activities use media queries in CSS file to hide other toolbar buttons depending of the window size. See for example Paint activity behavior:

![Peek 21-12-2019 11-03](https://user-images.githubusercontent.com/981841/71306559-1e87

[2019-12-21 10:11] llaske opened #516 "Make responsive the toolbar in Physics activity"
In Sugarizer it's important that whatever could be the screen size the Stop button is always visible to be sure the user will be able to quit the activity. So responsive activities use media queries in CSS file to hide other toolbar buttons depending of the window size. See for example Paint activity behavior:

![Peek 21-12-2019 11-03](https://user-images.githubusercontent.com/981841/71306592-9ce4

[2019-12-21 10:19] llaske opened #517 "Can't see the previous result on small screens for Calculate activity"
The Calculate activity is responsive but it's impossible to see the previous results when the screen is small.

![Peek 21-12-2019 11-17](https://user-images.githubusercontent.com/981841/71306662-9904d300-23e3-11ea-9d9d-90c4edeb30df.gif)

It should be nice to allow user to scroll the screen.

[2019-12-21 14:24] llaske commented on #430
Fixed in https://github.com/llaske/sugarizer/pull/512

[2019-12-21 18:41] NathanDimmer commented on #516
Working on it!

[2019-12-21 20:19] NathanDimmer commented on #515
Working on it!

[2019-12-21 20:41] NathanDimmer commented on #515
It looks like this was already implemented.

[2019-12-21 20:42] NathanDimmer commented on #514
Working on it!

[2019-12-21 21:03] llaske commented on #442
Fixed in https://github.com/llaske/sugarizer/pull/511

[2019-12-21 21:05] llaske commented on #515
No it's not, the Stop button disappears like in the video capture above

[2019-12-21 21:08] NathanDimmer commented on #515
It only does in my instance when the bar is showing only the Write save icon on the far left and the share icon, at least in my dev instance.

Should it continue to collapse smaller than 274px across, getting rid of the save and share icons?

[2019-12-21 21:38] llaske commented on #515
The problem is not related to the activity icon or to the share icon, the problem is that the Stop button should be visible. As you could see in the screen capture below, the Stop icon is not visible

![image](https://user-images.githubusercontent.com/981841/71314087-92597880-2442-11ea-8403-170f4ec1c7a0.png)

[2019-12-21 22:42] NathanDimmer commented on #515
We have different versions of Sugarizer running then, because this is what I see...

![Resizing GIF](https://user-images.githubusercontent.com/43499958/71314604-3e866980-2419-11ea-8dbc-7d881f882a24.gif)

[2019-12-22 08:48] llaske commented on #515
Interesting the issue comes probably from https://github.com/llaske/sugarizer/pull/497 or https://github.com/llaske/sugarizer/pull/505 because it appears in the dev branch.

By the way, it's better if you've got the latest version of the dev branch to be able to reproduce an issue.

[2019-12-22 15:15] llaske commented on #426
Fixed in https://github.com/llaske/sugarizer/pull/506

[2019-12-22 19:18] NathanDimmer commented on #515
Ahhh, sorry, I didn't realize I had become out of date. Thank you!

[2019-12-22 21:36] llaske commented on #428
Fixed in https://github.com/llaske/sugarizer/pull/521

[2019-12-23 17:02] sarthak-g commented on #513
Clean all button is working properly. See:
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/42293606/71370478-05462900-25d4-11ea-98df-36a78acf626f.gif)

I think only confirmation box has to be added.

[2019-12-23 17:55] llaske commented on #410
Fixed by https://github.com/llaske/sugarizer/pull/526

[2019-12-23 20:37] llaske commented on #407
Fixed in https://github.com/llaske/sugarizer/pull/509

[2019-12-23 20:45] llaske commented on #515
Fixed in https://github.com/llaske/sugarizer/pull/528

[2019-12-23 21:01] llaske commented on #516
Fixed in https://github.com/llaske/sugarizer/pull/529

[2019-12-24 22:50] llaske commented on #513
Hmmm, look like it works when the activity is reopened from the datastore but not when it was just created. See below:

![Peek 24-12-2019 23-49](https://user-images.githubusercontent.com/981841/71426306-13657980-26a8-11ea-941f-5341f0c3adcc.gif)

[2019-12-26 20:56] llaske commented on #382
Fixed in https://github.com/llaske/sugarizer/pull/527

[2019-12-26 20:57] llaske commented on #378
Fixed in https://github.com/llaske/sugarizer/pull/527

[2019-12-27 21:29] llaske commented on #431
Fixed in https://github.com/llaske/sugarizer/pull/534

[2019-12-28 18:08] s-mag opened #538 "Horizontal scrollbar appears in the Write activity"
<img width="611" alt="ss" src="https://user-images.githubusercontent.com/44548987/71561283-6d947f00-2a9a-11ea-93b7-87469480ff6a.png">

I guess making the scrollbar on x-axis hidden will solve the problem.
@llaske What do you think??

[2019-12-29 19:05] pidddgy commented on #389
@llaske would you want something where you can right click on a sound and a popover appears, with a button that goes to the piano view?

[2019-12-30 08:32] s-mag commented on #538
This problem comes when size of the screen is changed to small...

[2019-12-30 08:35] s-mag commented on #538
@FreddieN What do you think about this issue??

[2019-12-30 08:49] FreddieN commented on #538
I cannot seem to replicate the issue @s-mag I've tried using both chrome and firefox. Do I just make the window small like this?

![demo](https://i.imgur.com/WQjXSBP.png)

[2019-12-30 08:55] s-mag commented on #538
Well I am using firefox an the issue comes if you resize to small screens...and when you decrease the width...

[2019-12-30 09:27] s-mag commented on #538
Sorry I made a mistake that’s scrollbar...not toolbar

[2019-12-30 11:09] FreddieN commented on #538
Oh I see... Yes that is a bug. I will make a task instance on GCI now.

![bug](https://i.imgur.com/yUC7k3m.png)

[2019-12-30 11:14] FreddieN commented on #538
![task](https://i.imgur.com/Xc3o8uV.png)

It will appear once approved by an Org Admin.

[2019-12-30 12:15] s-mag commented on #538
Thanks
BTW I have fixed it and made a PR ...
I have referenced it above...

[2019-12-30 21:22] llaske commented on #429
Fixed in https://github.com/llaske/sugarizer/pull/537

[2019-12-30 21:53] llaske commented on #538
It's a real issue. I've published the related GCI task here: https://codein.withgoogle.com/dashboard/tasks/5827221755789312/

[2019-12-31 14:31] llaske commented on #389
Hmmm. Right click is not a good idea because Sugarizer could be use on a touch screen.
Instead I'm thinking to:

- Update the activity to allow to "select" a sound. The selected sound will be the most recently used.
- Add a button to switch to a "Piano mode" in the toolbar. In Piano mode the list of sounds will be replaced by the piano view.

[2019-12-31 15:02] llaske commented on #438
Fixed in https://github.com/llaske/sugarizer/pull/540

[2019-12-31 15:11] llaske commented on #538
Fixed in https://github.com/llaske/sugarizer/pull/541

[2020-01-01 19:04] s-mag opened #546 "Add a home button in Grid Paint activity"
A home button should be added on toolbar so that a palette or drawing board can be changed instead of the small round button in the corner...

I guess this should avoid confusion and will improve UI.

![Grid Paint](https://user-images.githubusercontent.com/44548987/71645006-674f0e80-2cf7-11ea-8bef-97ff83d59641.gif)

<img width="960" alt="gp" src="https://user-images.githubusercontent.com/44548987/

[2020-01-01 21:23] llaske commented on #546
I'm agree that the meaning of the small green circle is not clear.
BTW I'm not sure adding a button in the toolbar is a good idea. May be we can just transform the circle in a more significant icon. Do you have any suggestion?

[2020-01-01 21:34] s-mag commented on #546
We can just change the icon to a home or kinda of a back button....

[2020-01-01 21:36] llaske commented on #546
Let's try a back button

[2020-01-01 21:39] s-mag commented on #546
So should I choose a icon myself under free to use license and make a PR

[2020-01-01 21:44] llaske commented on #546
Try to the use the < icon (see in Calligra activity on dev branch)

[2020-01-01 22:02] llaske commented on #404
Solved in https://github.com/llaske/sugarizer/pull/524

[2020-01-01 22:06] llaske opened #547 "Add a fullscreen button to the TankOp activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2020-01-01 22:10] llaske commented on #191
Not pertinent.

[2020-01-01 22:10] #191 closed

[2020-01-01 22:29] s-mag commented on #546
I guess adding a button in toolbar would be better as the round button is drawn [here](https://github.com/llaske/sugarizer/blob/master/activities/Gridpaint.activity/js/gridpaint.js#L219).
What are your thoughts on this..
Or we can add the back button in upper left corner of the board...
It will be easily accessible.

[2020-01-02 03:11] sarthak-g commented on #513
You want "clean all" button should bring "3 of 3" to "1 of 1"(as in above) ?

[2020-01-02 09:46] llaske commented on #513
Yes it should be "1 of 1" because the only remaining page should be the first one with title.

[2020-01-02 10:55] llaske commented on #546
Let's try to put the back button in upper left corner

[2020-01-02 10:57] llaske commented on #378
Duplicate https://github.com/llaske/sugarizer/issues/434

[2020-01-02 10:57] #378 closed

[2020-01-02 11:10] s-mag commented on #546
Moreover there is a issue that if we click around the button it works....
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/44548987/71664328-9ceb0a80-2d7e-11ea-81c6-e0a218ad0dc5.gif)

So it would  be nice to remove it.

[2020-01-02 21:57] llaske commented on #436
Fixed in https://github.com/llaske/sugarizer/pull/545

[2020-01-03 20:12] s-mag opened #549 "Resize function gives error in TankOp Activity"
I guess there is a bug in the code of play.js file.
It is due to the last commit with respect to the issue #404 .
Error comes in an infinite loop.
<img width="957" alt="Error" src="https://user-images.githubusercontent.com/44548987/71746333-9a79d500-2e92-11ea-81d6-9a341cba8695.png">

The error arises after we change modes of the game and the game stops working.
![ezgif com-video-to-gif (1)](https:

[2020-01-03 20:16] s-mag commented on #549
Due this issue I was not able to resize screen while fixing issue #547
I am working on it...

[2020-01-03 21:12] llaske commented on #437
Fixed in https://github.com/llaske/sugarizer/pull/542/

[2020-01-03 21:15] llaske commented on #549
Hmmm. You're right.

[2020-01-03 21:45] s-mag commented on #549
@llaske should I recreate resize function in play.js

[2020-01-04 05:37] sarthak-g commented on #549
@s-mag thanks for raising this issue.
Fixed this issue in pull request #552

[2020-01-04 09:07] s-mag commented on #549
@sarthak-g there is a new error coming
see here..

<img width="957" alt="Error2" src="https://user-images.githubusercontent.com/44548987/71763234-a8b20a80-2eff-11ea-93a5-a6f524cf959b.png">

Kindly fix this error as well...

[2020-01-04 16:33] s-mag commented on #549
I have fixed this issue in #553

[2020-01-04 21:59] llaske commented on #434
Fixed in https://github.com/llaske/sugarizer/pull/551

[2020-01-05 10:36] llaske commented on #549
Fixed in https://github.com/llaske/sugarizer/pull/552

[2020-01-05 14:11] prakashujjwal1010 commented on #379
like when we have this
![Screenshot from 2020-01-05 19-37-36](https://user-images.githubusercontent.com/40318927/71781303-05422200-2ff3-11ea-925a-849e47f5a8a8.png)
if we click the toolbar icon it gets
![Screenshot from 2020-01-05 19-37-32](https://user-images.githubusercontent.com/40318927/71781317-4803fa00-2ff3-11ea-87c6-b25dc5256627.png)

[2020-01-05 15:47] llaske commented on #379
Yes, exactly

[2020-01-05 16:51] prakashujjwal1010 commented on #379
cool.

[2020-01-07 14:53] s-mag opened #559 "Fototoon don't handle window resize"
Fototoon activity don't handle window resize event. So, if the activity is open with a small window then resized, the board keep the same size.

<img width="960" alt="ft" src="https://user-images.githubusercontent.com/44548987/71904127-8b916c00-318b-11ea-9092-d1cc29a91fd4.png">

[2020-01-07 16:47] s-mag commented on #559
@llaske Can you replicate this issue?

[2020-01-07 21:23] llaske commented on #379
Fixed in https://github.com/llaske/sugarizer/pull/558

[2020-01-07 21:44] llaske commented on #559
Yes, it's a bug.

[2020-01-08 21:28] llaske commented on #387
Fixed in https://github.com/llaske/sugarizer/pull/531

[2020-01-09 21:23] llaske commented on #389
Fixed in https://github.com/llaske/sugarizer/pull/544

[2020-01-11 17:35] sarthak-g opened #561 "Next Button in Fototoon activity disapperars for smaller screens"
Next Button in Fototoon activity disapperars for smaller screens.See below:
![nextbuttonFOTOTOON](https://user-images.githubusercontent.com/42293606/72208255-ad119100-34c6-11ea-9f27-f2f083f36bf9.PNG)

[2020-01-11 20:44] llaske commented on #561
You're right but I think it has no sense to use Sugarizer on screens with a width less than 640px.
Look like the behavior you describe is for width < 550px.

[2020-01-11 21:07] llaske opened #562 "Include microbit into Sugarizer"
[Microbit](https://makecode.microbit.org/) is a popular programming environment based on the Microsoft Makecode tool that  can enable offline mode.

![image](https://user-images.githubusercontent.com/981841/72210636-9f580d80-34be-11ea-9a03-9dae2662268f.png)

The idea is to explore the possibility to include Microbit as a Sugarizer activity, like Scratch.

To do that, it's necessary to:
* [ ] Extra

[2020-01-12 02:58] sarthak-g commented on #561
Yeah, you're right.

[2020-01-12 03:09] sarthak-g commented on #562
working on this

[2020-01-12 21:06] #561 closed

[2020-01-13 17:37] sarthak-g opened #563 "Font size of Title reduces in fototoon activity"
Font size of Title( only after applying all three color, bold, italic) reduces in fototoon activity on adding objects from datastore. See below:
![ezgif com-video-to-gif(3)](https://user-images.githubusercontent.com/42293606/72277732-77041680-3658-11ea-9ec8-fc3d9b4f4119.gif)

[2020-01-14 09:41] s-mag commented on #563
Moreover the buttons does not work afterwards...
See here
![ezgif com-video-to-gif (9)](https://user-images.githubusercontent.com/44548987/72332532-3223c280-36e0-11ea-8bdb-2aabbb8139b5.gif)

[2020-01-14 11:13] sarthak-g commented on #563
Yeah, I forgot to mention that

[2020-01-14 15:53] llaske commented on #563
Interesting. Very strange.

[2020-01-14 16:20] llaske commented on #517
Fixed in https://github.com/llaske/sugarizer/issues/517

[2020-01-14 19:39] sgpritam commented on #258
@llaske I would like to work on this

[2020-01-14 21:38] llaske commented on #258
@sgpritam , sure. dot it.

[2020-01-16 15:27] llaske commented on #547
Fixed in https://github.com/llaske/sugarizer/pull/556

[2020-01-16 19:34] s-mag opened #564 "Harsh Sound in TamTam Micro activity in keyboard mode on Firefox and Safari"
To reproduce : Change any instrument and play 2 sounds together..
You will hear distorted sounds throughout the activity.
@llaske Can you reproduce this bug...

[2020-01-17 14:41] b18050 commented on #205
@llaske Can I also work on this?

[2020-01-18 10:05] llaske opened #566 "Improve responsiveness of TankOp activity"
On small screens the responsiveness of TankOp activity could be improved.
Specifically:
* [ ] The title in the toolbar is truncated
* [ ] One the home page the mission selection and mission completed texts override the image
* [ ] One the play page the wave and score texts are override by the LCD screen

The idea of this issue is to use media queries to change text font size/margin or image size t

[2020-01-18 10:09] llaske commented on #205
No one has to ask to work on an issue. See https://github.com/llaske/sugarizer/blob/dev/CONTRIBUTING.md

[2020-01-18 10:13] llaske commented on #564
I'm not able to reproduce it. I'm trying with guitar for example.

[2020-01-18 10:14] s-mag commented on #564
Will send you a link to the video with sound in a bit...

[2020-01-18 11:55] sarthak-g commented on #562
I've created sample activity and successfully extracted a offline version of microbit. See below:
![microbitLOCALss](https://user-images.githubusercontent.com/42293606/72663283-c5c5fd80-3a16-11ea-90b8-0ab1b48e8ba0.PNG)
I tried but not able to understand how to integrate it with sugarizer as microsoft uses "pxt" to run microbit.
We have to run "pxt serve"in order to run it locally.
Can you suggest

[2020-01-18 12:48] s-mag commented on #564
@llaske After 5-6 clicks together [this](https://imgur.com/OtO89z9) happens.

[2020-01-19 09:39] llaske commented on #564
I reproduced it on Firefox thought it perfectly work on Chrome. Could you confirm you've tested it on Firefox?

[2020-01-19 09:45] llaske commented on #562
Hmmm. When I said "offline" my idea was to have microbit that fully run in the browser (no call to a server, including a local server). Look like there is some work on this [here](https://makecode.microbit.org/offline). But may be it's not possible today.

[2020-01-19 09:55] s-mag commented on #564
Yes it is in firefox, no problem in chrome. I forgot to mention that!

[2020-01-19 09:56] llaske commented on #546
Fixed in https://github.com/llaske/sugarizer/pull/565

[2020-01-19 10:07] llaske commented on #513
Fixed in https://github.com/llaske/sugarizer/pull/554

[2020-01-19 18:35] b18050 commented on #566
I will work on this issue.

[2020-01-20 04:55] sarthak-g commented on #562
Yeah, it exist only as standalone desktop application in offline.

[2020-01-21 08:39] AndreaGon commented on #562
@sarthak-g Are you still working on this? Can I look into this as well?

[2020-01-21 09:02] sarthak-g commented on #562
Yes, you can.
I will love to know if you find anything relevant.

[2020-01-21 13:37] anshuldutt21 commented on #563
Hi , I would like to work on this issue.

[2020-01-21 15:57] shotaro27 commented on #562
Hello. I'm Shotaro27.

Offline version of Microbit was built already, so I can't use it as Web application.
[Pxt-microbit](https://github.com/shotaro27/pxt-microbit) is not able to run offline, and it need a lot of preparation.
So I couldn't find offline version application for Sugarizer.

I tried to create a Sugarizer activity following Sugarizer developement activity tutorial.

![スクリーンショット (207)

[2020-01-21 17:08] sarthak-g commented on #562
Hi Shotaro27,
I and @llaske  discussed regarding this above.
Actually idea is to get gui of microbit (like there in scratch).

[2020-01-22 06:35] sarthak-g opened #572 "Improve responsiveness of toolbar in Write Activity"
In order to display all buttons in toolbar in Write activity, minimum width should be nearly 1032 px. Devices with width less than it cannot access all the features.
For an instance, undo and redo functionality in below is not accessible.
![ss of write activity](https://user-images.githubusercontent.com/42293606/72870874-564e5780-3d0f-11ea-86f4-fe2ebc1e9c0e.PNG)

[2020-01-22 06:38] sarthak-g commented on #572
We can create dropdown menu and list all the hidden buttons according to screen width  in it.

[2020-01-22 12:00] llaske commented on #564
For information, same issue on Safari

[2020-01-22 14:57] anshuldutt21 commented on #566
Hi @llaske please review the PR to the dev branch. #573

[2020-01-22 20:54] llaske commented on #572
You're right, activities with lot of buttons on the toolbar could have hidden buttons on small screens like small tablets or smartphones. It's why we try to put the most important features to the left of the toolbar and it's why we use media queries to ensure the stop button will always be visible.
BTW it's not very useful to use Write activity on a small tablet or a smartphone because a large par

[2020-01-23 11:05] sarthak-g commented on #572
Yeah, you're right.

[2020-01-23 11:05] #572 closed

[2020-01-23 11:44] b18050 opened #574 "Distance block in TurtleBlocks Js."
While we can calculate distance, it is a bit clumsy. A distance block would be handy. By default, it should measure the distance between the turtle x,y and  mouse x,y

![distanceblock](https://user-images.githubusercontent.com/45814442/72981215-49f6f700-3e02-11ea-8a39-7b6af7000bbf.png)

[2020-01-23 12:37] b18050 commented on #574
![dis](https://user-images.githubusercontent.com/45814442/72985075-31d7a580-3e0b-11ea-9bfe-45704de613ad.png)

[2020-01-23 20:42] llaske commented on #574
TurtleBlock is maintained in another repository.
This issue should be declared [here](https://github.com/sugarlabs/turtleblocksjs).

[2020-01-23 21:00] #574 closed

[2020-01-24 14:16] anshuldutt21 opened #575 "Improve design of Text Palette in Fototoon activity"
The Bold and Italic buttons should get highlighted when selected so that the user knows that the text is selected bold or italics. Same can be done for the color codes. It can solved by doing minor changes in the toon.js file.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/45336622/73075533-24411f00-3ee2-11ea-94da-7c42a56b3550.gif)

[2020-01-24 14:21] anshuldutt21 opened #576 "Improve Responsiveness of the Fototoon Activity"
The Fototoon activity could be made more responsive by using media queries. The main canvas could be restructured so as to fit the smaller screens.

![Screenshot from 2020-01-24 19-52-13](https://user-images.githubusercontent.com/45336622/73075967-23f55380-3ee3-11ea-94ec-9f96efbdc27c.png)

[2020-01-24 16:55] s-mag commented on #576
@anshuldutt21 This issue is a duplicate of issue #559 .Please close this issue.

[2020-01-25 04:40] pidddgy commented on #564
very very interesting bug.... when I reproduce the bug then play audio on other websites that is distorted and crackly too. tested on firefox

[2020-01-25 08:42] s-mag commented on #564
Yes, this might be internal system error in firefox aswell. I am not sure btw

[2020-01-25 08:48] s-mag commented on #564
@llaske @pidddgy according to http://forums.mozillazine.org/viewtopic.php?f=38&t=2542145 forum The issue comes in Firefox 15

[2020-01-25 09:01] llaske commented on #575
Yes, good idea.

[2020-01-25 09:04] llaske commented on #576
I'm agree with @s-mag . See also https://github.com/llaske/sugarizer/issues/422

[2020-01-25 09:12] llaske commented on #564
@s-mag This Firefox issue is very old, I'm not sure it's related.
@pidddgy Is there a way to reproduce the problem with just a Tone.js sample?

[2020-01-25 09:35] #576 closed

[2020-01-25 09:36] s-mag commented on #564
Oh yeah it’s very old...

[2020-01-26 11:39] anshuldutt21 opened #579 "Improve Sugarizer spiral in home view"
I think The activity icons on the main page are a little bit packed between 2 different radiuses. They need to be seperated a little bit to give the spiral feels which can be accomplished by improving the css of the main panel. Also the journal icon must be a little above and should look different than the usual activities.
![Screenshot from 2020-01-26 17-07-45](https://user-images.githubuserconte

[2020-01-26 11:44] anshuldutt21 opened #580 "alert "user already exists" should come earlier"
When logging for the first time , a person need to choose images and colors before he gets to know that the user exists , so he would have to do all the procedure once again. I think that the new user should get to know in the first page where he enters his name whether the user already exists or not.

[2020-01-26 13:31] anshuldutt21 opened #581 "Disappearance of clock in set time mode in clock activity"
The clock vanishes when in set time mode.
![sc](https://user-images.githubusercontent.com/45336622/73135928-36e85f00-406e-11ea-800a-fd57b0a4328b.gif)

[2020-01-26 15:32] llaske commented on #580
That's true. It could be improved.

[2020-01-26 15:36] llaske commented on #581
It's true but it vanish only when the Clock style is "Nice clock". Nothing happen in "Simple clock" mode.
It's related to https://github.com/llaske/sugarizer/pull/531

[2020-01-26 15:45] llaske commented on #579
I'm not comfortable with "Design issue" because design is not a technical problem.
BTW to answer to your suggestion: nothing is related to CSS in the Sugarizer main page. Everything is computed in JavaScript [here](https://github.com/llaske/sugarizer/blob/dev/js/homeview.js#L286). Feel free to send a PR if you think you could improve the current algorithm.
Regarding Journal icon appearance it come

[2020-01-26 15:45] anshuldutt21 commented on #581
I could work on this issue.

On Sun, 26 Jan 2020, 9:06 pm Lionel Laské, <notifications@github.com> wrote:

[2020-01-26 20:19] llaske commented on #581
Fixed in https://github.com/llaske/sugarizer/pull/582

[2020-01-26 20:23] llaske commented on #575
Fixed in https://github.com/llaske/sugarizer/pull/578

[2020-01-27 21:21] pidddgy commented on #564
perhaps could be related to
https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio? i'm really not sure. I tried changing the play code in piano.js to:
[code]

as according to https://stackoverflow.com/questions/50281568/audiocontext-not-allowed-to-start-in-tonejs-chrome but that didn't do anything. I am getting console warnings about `The AudioContext was not allowed t

[2020-01-28 21:29] llaske commented on #564
I know this limit regarding playing sound. It happens in some case in other activities.
But I don't think it's related to our problem. Plus, the problem is on Firefox, not Chrome.
Will be interested to try to reproduce the issue on a simple Tone.js sample so we could ask to Tone.js community.

[2020-01-29 05:30] pidddgy commented on #564
@llaske https://github.com/pidddgy/tonejstest i've written up a short demonstration here

[2020-01-29 08:29] llaske commented on #564
Nice! Could you open an issue in ToneJS repo?

[2020-01-30 13:30] llaske commented on #564
@pidddgy did you see the answer from ToneJS community? Very interesting!
Guess your current code could be improved to try to reuse ToneJS objects.

[2020-02-03 13:36] anshuldutt21 opened #584 "Database doesnt store images in Fototoon Activity"
After closing the Fototoon activity with an image opened, it does not store the image. So when the activity is opened once again, the image data is lost.
![Screencast 2020-02-03 19_04_08](https://user-images.githubusercontent.com/45336622/73657407-3e37ea00-46b8-11ea-9eef-7630096dc48b.gif)

[2020-02-03 14:42] llaske commented on #584
Can't reproduce it. Try by yourself on https://try.sugarizer.org or https://dev.sugarizer.org
Are you sure you're on the latest dev branch?

[2020-02-03 16:27] anshuldutt21 commented on #584
@llaske I am on the latest dev branch. I tried it on https://dev.sugarizer.org also but the same problem persists. It should automatically open with the picture present but it doesnt. I even verified it with the code written which doesnt have this property.

[2020-02-03 20:20] Swayamsvk commented on #516
Is this issue open?

[2020-02-03 20:29] Swayamsvk commented on #371
I think this issue is solved as I am not able to reproduce this problem in my system.

[2020-02-03 20:39] Swayamsvk commented on #258
I would like to work on it. Can you give me some other issues for beginners which are not solved?

[2020-02-03 20:43] Swayamsvk commented on #566
I was trying this on my system and I am not having any idea how to change the size of the screen. Can you help me?

[2020-02-04 09:30] llaske commented on #516
Issues are open until integrated in a release but as mentioned above by the "Fixed in #XXX" and the tag "to be release", no action is need on this issue.

[2020-02-04 09:33] llaske commented on #258
@Swayamsvk look on issues here: https://github.com/llaske/sugarizer/issues?q=is%3Aopen+is%3Aissue+-label%3A%22to+be+release%22

[2020-02-04 09:42] llaske commented on #584
@anshuldutt21 the "1 of 5" number in the bottom right of the screen means that you've got multiple images in your comic. I think you're expecting that the comic is reopen on the last image but it's not the case.
So click on the arrows buttons in the toolbar and you could find "missing" images.
Have a look on the tutorial to understand how the activity works.

[2020-02-04 20:55] Swayamsvk commented on #579
@anshuldutt21 do you want it to be a little bit spaced so that they could look more arranged and even?

[2020-02-04 21:45] llaske commented on #579
You could improve the spiral like in Sugar:

![GetImage](https://user-images.githubusercontent.com/981841/73789916-f2607000-479f-11ea-9b9b-925c4c1ed4ef.png)

![GetImage(1)](https://user-images.githubusercontent.com/981841/73789924-f5f3f700-479f-11ea-8a08-779d7bbaf104.png)

[2020-02-05 15:36] Swayamsvk commented on #579
Working on it.

[2020-02-05 22:46] Swayamsvk commented on #579
I have already made the necessary changes but when I open a pull request It shows older commits.
![Screenshot from 2020-02-06 04-13-59](https://user-images.githubusercontent.com/42679893/73890189-66ca0a80-4897-11ea-9431-c918f71d9f2b.png)

What should I do?

[2020-02-06 13:09] Swayamsvk commented on #579
Can you please tell me what should I do next because I have tried everything but it's not working?

[2020-02-06 13:13] anshuldutt21 commented on #579
@Swayamsvk are you making a pull request on the dev branch of sugarizer?

[2020-02-06 13:34] Swayamsvk commented on #579
Actually at first, I have made my own separate branch named dev and then made a pull request it shows the same problem and then I made a separate branch dev1 and switched to it and made a PR and it also showed the same problem. I don't know exactly about sugariser dev branch. Should I make a comparison with it or what?

[2020-02-06 13:57] anshuldutt21 commented on #579
You have to make the pull request to the dev branch of sugarizer not the
master one. For now git pull the dev branch and merge your changes with it.
Then make a pull request to the dev branch.

On Thu, 6 Feb 2020, 7:04 pm Swayam Samyak Debasis, <notifications@github.com>
wrote:

[2020-02-08 21:48] prakashujjwal1010 opened #588 "XO Editor don't work on touch screens"
currently , touch events are not enabled in XO Editor.

[2020-02-09 15:29] #584 closed

[2020-02-09 15:45] llaske commented on #588
You're right. Good shot.

[2020-02-09 15:46] llaske commented on #588
Fixed in https://github.com/llaske/sugarizer/pull/589

[2020-02-09 15:52] llaske commented on #563
Fixed in https://github.com/llaske/sugarizer/pull/587

[2020-02-09 17:49] prakashujjwal1010 opened #590 "reappearance of tutorial on resizing window after clicking next button on last step of tutorial"
When we click "next" button in the last step of tutorial and resize the window, tutorial reappears, causing unwanted flickering of screen.

![ezgif com-video-to-gif (6)](https://user-images.githubusercontent.com/40318927/74106757-39c77180-4b8f-11ea-8937-562bd35ba44e.gif)

![ezgif com-video-to-gif (4)](https://user-images.githubusercontent.com/40318927/74106775-67acb600-4b8f-11ea-8b24-25aa50b18b13.

[2020-02-09 21:45] llaske commented on #590
Hmmm. Not really a big issue.
It has no sense for the user to click on the Next button if he really want to end the tutorial.
Plus the tutorial will restart only if the window is resized and it doesn't really matter if the tutorial restart.

BTW if you find a simple fix for this. You could propose a PR.

[2020-02-10 10:30] prakashujjwal1010 commented on #590
yes, its not a big issue. but still i think its good to fix.
for example, user don't know about which step is the last step so he keeps clicking next button.
and then he plays the activity, do some work, and when he try to resize the window after some time, tutorial reappears from nowhere. it can become little annoying.

![ezgif com-video-to-gif (7)](https://user-images.githubusercontent.com/40318

[2020-02-10 15:30] llaske opened #592 "Develop a new chess activity"
Develop **a new chess activity** for Sugarizer.

![image](https://user-images.githubusercontent.com/981841/74162843-b9058580-4c21-11ea-89ee-972268e78f79.png)

Detailed features expected:
- [ ] The activity should be playable against computer or against another user on the network (using presence).
- [ ] The activity should display the list of move during play.
- [ ] The UI of the activity should b

[2020-02-11 14:40] llaske opened #593 "Add a tutorial to the Block Rain activity"
Add a tutorial to the Block Rain activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:

* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Sho

[2020-02-11 14:41] llaske opened #594 "Add a tutorial to the Chat activity"
Add a tutorial to the Chat activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:

* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should ex

[2020-02-11 14:41] llaske opened #595 "Add a tutorial to the QR Code activity"
Add a tutorial to the QR Code activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:

* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should

[2020-02-11 14:42] llaske opened #596 "Add a tutorial to the Stopwatch activity"
Add a tutorial to the Stopwatch activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:

* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Shou

[2020-02-11 14:43] llaske opened #597 "Add a tutorial to the TankOp activity"
Add a tutorial to the Tank Op activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:

* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should

[2020-02-11 14:54] llaske opened #598 "Add a fullscreen button in the FoodChain activity"
Sugarizer activities don't look good on devices with small screen - for example smartphones.
On these devices, the toolbar could sometimes take 1/4 of the screen.

To increase the size for activities contents, the idea is to add a fullscreen button in the toolbar  like in the QRCode activity. When clicked, the fullscreen button hide the toolbar and display only an unfullscreen button. When clicked

[2020-02-11 14:55] llaske opened #599 "Add a fullscreen button in the Stopwatch activity"
Sugarizer activities don't look good on devices with small screen - for example smartphones.
On these devices, the toolbar could sometimes take 1/4 of the screen.

To increase the size for activities contents, the idea is to add a fullscreen button in the toolbar  like in the QRCode activity. When clicked, the fullscreen button hide the toolbar and display only an unfullscreen button. When clicked

[2020-02-11 14:56] llaske opened #600 "Add a fullscreen button to the Video Viewer activity"
Sugarizer activities don't look good on devices with small screen - for example smartphones.
On these devices, the toolbar could sometimes take 1/4 of the screen.

To increase the size for activities contents, the idea is to add a fullscreen button in the toolbar  like in the QRCode activity. When clicked, the fullscreen button hide the toolbar and display only an unfullscreen button. When clicked

[2020-02-11 14:57] llaske opened #601 "Add a fullscreen button in the GridPaint activity"
Sugarizer activities don't look good on devices with small screen - for example smartphones.
On these devices, the toolbar could sometimes take 1/4 of the screen.

To increase the size for activities contents, the idea is to add a fullscreen button in the toolbar  like in the QRCode activity. When clicked, the fullscreen button hide the toolbar and display only an unfullscreen button. When clicked

[2020-02-11 15:00] llaske opened #602 "Add a fullscreen button in the Exerciser activity"
Sugarizer activities don't look good on devices with small screen - for example smartphones.
On these devices, the toolbar could sometimes take 1/4 of the screen.

To increase the size for activities contents, the idea is to add a fullscreen button in the toolbar  like in the QRCode activity. When clicked, the fullscreen button hide the toolbar and display only an unfullscreen button. When clicked

[2020-02-11 21:18] Swayamsvk commented on #579
Actually, at first I was launching the desktop application using electron. But when I open it in chrome the  spiral looks like this
![Screenshot from 2020-02-12 02-43-53](https://user-images.githubusercontent.com/42679893/74280022-f2cdad80-4d41-11ea-9e52-955715398f7c.png)
Is there a way of obtaining the full spiral in chrome. For better editing

[2020-02-13 13:58] prakashujjwal1010 opened #604 "Stop Watch Activity is not responsive and has text overflowing problem."
stop watch activity has text overflowing problem.

![Screenshot from 2020-02-13 19-20-17](https://user-images.githubusercontent.com/40318927/74441935-9d56e500-4e96-11ea-9a0d-b48479c8d749.png)

the activity is not responsive also. so user will face problem on small screens.

![Screenshot from 2020-02-13 19-20-25](https://user-images.githubusercontent.com/40318927/74441993-bc557700-4e96-11ea-835f-bb

[2020-02-13 14:39] llaske commented on #604
I think your issue duplicate https://github.com/llaske/sugarizer/issues/422 and https://github.com/llaske/sugarizer/issues/599

[2020-02-13 14:42] llaske commented on #564
@pidddgy any progress on it? I've got a new TamTam mode planned but don't want to launch before this issue is fixed

[2020-02-13 14:51] prakashujjwal1010 commented on #604
okay, but in large screen devices, the problem also persists

![Screenshot from 2020-02-13 20-15-00](https://user-images.githubusercontent.com/40318927/74446540-0d1c9e00-4e9e-11ea-8f33-5e99face71f5.png)

![Screenshot from 2020-02-13 20-19-22](https://user-images.githubusercontent.com/40318927/74446592-26254f00-4e9e-11ea-8b62-b484dc29c974.png)

[2020-02-13 15:05] llaske commented on #604
Not everyone need so much time laps 😄

[2020-02-13 16:44] sarthak-g opened #605 "RGB bars in ColorMyWorld activity overflows"
![colorMyWorldSS](https://user-images.githubusercontent.com/42293606/74457354-26c5e180-4eae-11ea-8822-bc9828ab280a.PNG)

[2020-02-13 16:49] sarthak-g commented on #605
Fixed in #606

[2020-02-13 20:52] Swayamsvk commented on #67
Can I give it a try?

[2020-02-13 21:49] llaske commented on #67
I think it's too complex for the target users. Don't think it's a good idea.

[2020-02-13 21:49] #67 closed

[2020-02-13 22:03] Swayamsvk commented on #205
@llaske actually I am comfortable with the making of activities in sugarizer but I know a little bit of python. Should I try it?

[2020-02-14 19:21] Swayamsvk opened #609 "Improve search results in sugarizer homepage"
Instead of only highlighting the activity after search it would be better if we could provide the result of the search in a textual manner.

[2020-02-14 20:13] llaske commented on #609
Not a good idea. Sugarizer target child and some don't know how to read.

[2020-02-14 20:33] Swayamsvk commented on #609
But when someone is typing something in the search bar he should expect some sort of text it should be easy for him. We can enable both the features by adding a drop-down in the searches and highlighting the required activity.

[2020-02-14 20:47] llaske commented on #609
You could have the exact same result on the activity list view.

[2020-02-14 20:52] llaske commented on #605
That's true but it depend of the browser and the screen resolution.

[2020-02-14 21:08] Swayamsvk commented on #609
That's right but if we at least show the highlighted activity and its name on one of its side I think it would be better. What's your opinion about it @llaske.

[2020-02-14 21:26] llaske commented on #609
I don't think so. Keep It Simple and Stupid is the rule in Sugarizer :-)

[2020-02-14 21:28] llaske commented on #595
Fixed in https://github.com/llaske/sugarizer/pull/603

[2020-02-14 21:38] llaske commented on #604
BTW you're right, the screen should at least be correct on the iPhone 6/7/8 resolution.

![image](https://user-images.githubusercontent.com/981841/74569326-72de5800-4f7a-11ea-8bec-379e3ea485bf.png)

[2020-02-14 22:20] pidddgy commented on #564
sorry, I haven't made significant progress on the issue. I'll likely be taking a break from open source for the next few months to focus on OI contests/school.

For anyone interested in tackling this issue, the problem is that `Tone.Player` objects are being created on every play and not being `dispose`d of. To solve this issue I think the solution is to create a global map of `Tone.Player` object

[2020-02-14 22:40] ccosse opened #610 "I would like to be credited for my work"
What is the recommended way to receive credit for my game, ColorMyWorld?
Thank you

[2020-02-14 23:26] quozl commented on #610
Thanks for asking, it's an interesting question.  I've reviewed the repository as someone unfamiliar with the history.

* [README.md](https://github.com/llaske/sugarizer/blob/master/activities/ColorMyWorld.activity/README.md) is a claim of authorship, thanks,
* there's no "Copyright (C) YEAR Charles Cosse" claim in your JavaScript or HTML source code,
* there's no license grant in your JavaScript

[2020-02-14 23:48] ccosse commented on #610
I think there should be a common credit panel / component added to the
whole system for consistent look-and-feel.  Not the readme as users
typically don't consult that.  This activity diverged from the master
archive when I added a widget to define color ranges such that "tour mode"
would produce coloration more like a choropleth than ugly random palette
colors, but was rejected by llaske on accou

[2020-02-15 09:39] Swayamsvk commented on #609
I think you are right @llaske

[2020-02-15 09:39] #609 closed

[2020-02-15 14:23] sarthak-g commented on #592
I've two doubts:
1. "pawn promotes to" and "computer level" feature should be there or we can skip them using their default value?
2. Computer playing for both sides should be allowed?

[2020-02-15 16:48] ashish0910 commented on #592
1. Pawn should promote on reaching the end like in normal chess game .
2. No I don't think we need computer vs computer . There should be computer vs Player or Player vs Player .

[2020-02-15 16:49] llaske commented on #610
Good question. Thanks to ask. It's very important for me to credit contributors.

BTW there is two different ways to do that:

- From the **users** side: so users of the application could know who contributes to the software
- From the **developers** side: so developers could know who do what in the software

For **developers**, as @quozl said, the current way to see credits is to display the READ

[2020-02-15 16:56] llaske commented on #205
@Swayamsvk you're welcome. Porting don't mean to translate Python/Gtk code to JavaScript/HTML5 code. You can just use the current activity as inspiration but write a totally different source code.

[2020-02-15 17:36] ccosse commented on #610
Hi Lionel, okay thanks for your reply -- I will look at the links you sent
and follow-up.

One easy addition would be to display the formatted README.md in a
scrolling popup.
I'm thinking mainly of community satisfaction, because as you know there is
not much
incentive to develop free education software aside from *exposure* .  The
more exposure
you can provide, the more appealing it will be for p

[2020-02-16 09:29] Hemansh31 commented on #592
can we use libraries other than P4wn for the engine?

[2020-02-16 09:35] llaske commented on #592
You could if it match the rule above. Specifically: it work on any browser, it's open source, it not depends from a server side, it don't use ES6 syntax and feature (Service Worker, ...).

[2020-02-16 15:44] pvsharshith opened #612 "Add Button and Pawns invisible in Pawn Activity tutorial"
While I was going through step3 of creating Pawn Activity tutorial, I was unable to reproduce the following steps:

- Inserting an Add button in toolbar.

-  No icons of pawns being added to screen on clicking Add button(after adding functionality to Add button as per tutorial).

My screen after trying to reproduce both the steps above:
[MyScreen](https://github.com/pvsharshith/sugarizer/blob/mast

[2020-02-16 15:59] llaske commented on #612
You've decided to put the `icons` sub directory into the `activity` directory but it's not what mentioned in the tutorial [here](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step3.md#create-a-new-toolbar-button). As for other activities the `icons` sub directory should be at the root of the activity.
So there is no issue in the code mentioned in the tutorial.

[2020-02-16 20:52] Swayamsvk opened #614 "Fix typos in tutorial.md,tutorial_step.md and architecture.md"
Newcomers are facing some problems in the tutorials due to the various typos in the documentation so they should be fixed.

[2020-02-16 21:00] Swayamsvk commented on #612
It actually works perfectly you should follow the steps properly in order to get the results. It's not an issue in the tutorial.

[2020-02-16 21:36] llaske commented on #564
Thanks for your help @pidddgy. I've fixed it in https://github.com/llaske/sugarizer/commit/5f1889a88a8ae25c750cc6743ef23aa5ccd6e49a

[2020-02-16 21:40] llaske commented on #614
Do not open an issue. Just fix send one PR (or more) to fix typos.

[2020-02-16 21:40] #614 closed

[2020-02-16 21:40] #612 closed

[2020-02-17 07:27] pvsharshith commented on #612
Oh I'm so sorry for that! I should have checked the tutorial properly once
more. I went wrong somewhere.
Anyways, I'll not let this repeat. Thanks for letting me know!

On Mon, 17 Feb, 2020, 3:10 AM Lionel Laské, <notifications@github.com>
wrote:

[2020-02-17 17:43] llaske commented on #342
Fixed in https://github.com/llaske/sugarizer/commit/99ed20d71c4f18635efacf0d61b2da383fc28b76

[2020-02-17 17:43] llaske commented on #403
Fixed in https://github.com/llaske/sugarizer/commit/99ed20d71c4f18635efacf0d61b2da383fc28b76

[2020-02-18 16:12] llaske commented on #599
Fixed in https://github.com/llaske/sugarizer/pull/607

[2020-02-18 20:45] llaske commented on #590
Not really an issue.

[2020-02-18 20:45] #590 closed

[2020-02-20 01:37] sarthak-g opened #620 "RGB bars in LabyrinthJS and Write activity overflows"
![colorpalette](https://user-images.githubusercontent.com/42293606/74892436-9573d500-53af-11ea-83b6-e6dc6b65dda7.PNG)

[2020-02-20 02:03] sarthak-g commented on #620
Fixed issue #622

[2020-02-20 09:19] llaske commented on #598
Fixed in https://github.com/llaske/sugarizer/pull/619

[2020-02-20 09:27] llaske commented on #620
Fixed in https://github.com/llaske/sugarizer/pull/622

[2020-02-21 12:23] Swayamsvk commented on #604
We could fix this by limiting the number of time laps to 4.But its not going to solve the problem for small devices. Another option is we could increase the size of a partition for more than 4 time laps, reduce the size of buttons a little-bit and accordingly do it in smaller devices. Here, the only problem is it's not going to look good.

[2020-02-21 13:23] Swayamsvk opened #624 "Time laps in stopwatch activity should be reset when reset button is clicked"
The time-lapse feature in the stopwatch activity should save the time-lapse in a  continuous manner without any interruptions. But currently, as the reset button exists it creates a problem. The reset button is responsible to reset the time in the middle of a time-lapse
![Screenshot from 2020-02-21 18-30-13](https://user-images.githubusercontent.com/42679893/75037904-34e1b680-54db-11ea-8805-6c2cd9

[2020-02-21 14:15] prakashujjwal1010 commented on #624
@Swayamsvk , I think, a quick and simple fix can be just clearing all the timelapses whenever the reset button is clicked. See [here](https://www.timeanddate.com/stopwatch/) :)

[2020-02-21 16:29] Swayamsvk commented on #624
@prakashujjwal1010 it seems like a good idea.

[2020-02-21 17:07] abhishektanwar commented on #602
@llaske I have fixed this issue and created a PR regarding the same in ExerciserReact repository
https://github.com/llaske/ExerciserReact/pull/93

[2020-02-21 21:40] llaske commented on #624
Fixed in https://github.com/llaske/sugarizer/pull/625

[2020-02-21 21:43] Hemansh31 commented on #594
@llaske I was working on this issue but i am facing a issue which is my tutorial isn't localizing even after I followed exactly what was given in the tutorial. Could you help me out a bit?

[2020-02-21 21:47] Hemansh31 commented on #594
![Screenshot from 2020-02-22 03-16-47](https://user-images.githubusercontent.com/48997514/75074510-d986e700-5521-11ea-9e79-2d3ee7fb19f7.png)
This is the code

[2020-02-21 21:50] llaske commented on #594
@Hemansh31, it's hard to say without seeing your code.
Send a PR, I will have a look on it.

[2020-02-21 22:01] Hemansh31 commented on #594
@llaske I have sent a PR, please do have a look!!

[2020-02-21 23:23] ksraj123 commented on #602
@llaske I was also working on the same issue, it is fixed and created a PR. I used a different approach and implemented the resizing part similar to the qr code activity so created a PR even tough one was open already. https://github.com/llaske/ExerciserReact/pull/94
Please go through the PR and share feedback. Please consider merging it if it suited to the needs.

[2020-02-22 08:43] abhishektanwar opened #627 "Wrong text appears upon hovering on buttons in Blockrain activity"
Text should appear as "Rotate Block" instead of "Up Arrow"

![blockrain_issue_1](https://user-images.githubusercontent.com/40486188/75089283-38c61500-557d-11ea-9da2-3641c6250972.gif)

[2020-02-22 10:09] ksraj123 commented on #600
Fixed in #629

[2020-02-22 20:03] Swayamsvk commented on #596
Working on it.

[2020-02-22 20:09] ksraj123 commented on #597
Fixed in #630

[2020-02-22 20:47] Swayamsvk opened #633 "Add Fullscreen on Sprint Math Activity"
There should be a full-screen button on Sprint Math activity for proper viewing on small devices.

[2020-02-22 20:50] llaske commented on #633
The activity is full playable on small devices.

![image](https://user-images.githubusercontent.com/981841/75099022-34b9e780-55bd-11ea-9fe2-0d6c16b86e60.png)

Plus the toolbar is needed to restart the game.

[2020-02-22 20:55] Swayamsvk commented on #633
But still, as we are adding the full-screen functionality on each event this is going to create uniformity among them that why I created this issue. It completely depends on the user whether to use it or not.

[2020-02-22 21:00] llaske commented on #633
In usual software you're probably right but in the context of Sugarizer where users are children: less is better. So if a button is not need we could remove it.
I've created issues for activity where fullscreen button is needed.

[2020-02-22 21:23] Swayamsvk commented on #633
What about scratch activity I think we need a full screen and a tutorial there.

[2020-02-22 22:15] abhishektanwar commented on #580
@llaske @anshuldutt21 I am trying to reproduce the error but I am not able to do it . I cloned sugarizer:dev repository . Can I get some more information so that I can fix this error.Locally in my browser when I logoff a user and register another user with same username it doesn't give any error

![re](https://user-images.githubusercontent.com/40486188/75100036-bbd38380-55ee-11ea-8088-d8f9b7068915

[2020-02-23 10:17] llaske commented on #610
I've added a credit page [here](https://github.com/llaske/sugarizer/blob/dev/docs/credits.md).

This page is referenced:

* In the README file, [here](https://github.com/llaske/sugarizer/tree/dev#how-to-contribute)
* In the Sugarizer [website](https://sugarizer.org/#server), so it will be indexed by Google
* In the settings page

![Peek 23-02-2020 11-05](https://user-images.githubusercontent.com/9

[2020-02-23 12:54] abhishektanwar commented on #361
@llaske sugarizer now works with Firefox in private mode. If this was the issue ,I think it can be closed ow. If this wasn't the issue, i request for some more information to reproduce the error so that I can try to fix it.
![private_sugarizer_firefox](https://user-images.githubusercontent.com/40486188/75112424-c0894d80-5669-11ea-93b5-d0f33a329cad.gif)

[2020-02-23 13:11] bzg commented on #610
I think this is pretty thorough and good like this! Thanks for taking care of this, it's always important to value contributors.

[2020-02-23 15:12] #633 closed

[2020-02-23 15:15] ccosse commented on #610
That is excellent Lionel and it makes my day.
I would also like to contribute again.

On Sun, Feb 23, 2020 at 2:17 AM Lionel Laské <notifications@github.com>
wrote:

--

ccosse.github.io

[2020-02-23 15:18] Swayamsvk opened #638 "Unnecessary display of time lapse when stopwatch not started"
In stopwatch activity, unnecessary time-lapse is shown when mark button is clicked.
![Screenshot from 2020-02-23 20-40-48](https://user-images.githubusercontent.com/42679893/75114627-abb6b500-567d-11ea-8d6a-b5a48d5bac80.png)

[2020-02-23 16:50] llaske commented on #638
Okay. Not a serious issue but it seems that you're a fan of the Stopwatch activity :smiley:

[2020-02-23 16:54] llaske commented on #633
Scratch activity already has a fullscreen button in its UI.
Regarding tutorial, it has no interest to try to describe the Scratch UI. Lot of Scratch tutorial already exist.

[2020-02-23 16:56] llaske commented on #580
@abhishektanwar , it happens only when you're connected to a server. Try on https://dev.sugarizer.org

[2020-02-23 17:00] llaske commented on #361
@abhishektanwar you can login or create a new user but once connected you can't create anything in the Journal.

[2020-02-23 17:11] Swayamsvk commented on #638
Actually, I was observing this particular activity and raising issues, gonna raise issues in other activities soon.

[2020-02-23 21:04] Hemansh31 commented on #592
@llaske I have submitted a PR #640 Please review....

[2020-02-24 12:00] dhruvmisra commented on #604
In my pull request #642, I have created a container for the stopwatch marks, which can scroll to accommodate new values. Also fixed some styling to make the design more responsive.

[2020-02-24 12:02] adebayoileri commented on #430
Can i be assigned this task

[2020-02-25 13:20] Swayamsvk commented on #592
Actually I was developing this activity and when I opened sugarizer I noticed this error.
![Screenshot from 2020-02-25 18-48-02](https://user-images.githubusercontent.com/42679893/75250911-7d60e300-57ff-11ea-97ca-baf16514307f.png)
As I haven't changed any internal file I don't know what's going wrong.

[2020-02-25 15:19] Hemansh31 commented on #592
@Swayamsvk  could you elaborate more as to what exactly you did and if maybe possible share the code

[2020-02-25 15:58] Swayamsvk commented on #592
Is this due to internet connection.
I am having this error in the terminal.
![Screenshot from 2020-02-25 21-24-14](https://user-images.githubusercontent.com/42679893/75264408-6200d280-5815-11ea-847c-13d2364e4980.png)

[2020-02-25 16:16] sarthak-g commented on #592
No, sugarizer works offline.
Is this working fine in firefox with about:config as false?

[2020-02-25 16:51] Swayamsvk commented on #592
It works fine on firefox. But showing problem on chrome.

[2020-02-25 16:58] llaske commented on #592
@Swayamsvk I suggest you to clean your browser cache

[2020-02-25 17:00] Hemansh31 commented on #592
@Swayamsvk try closing all tabs on your browser and then just running index.html from terminal

[2020-02-25 19:08] dhruvmisra opened #646 "Journal functions not visible on mobile"
After selecting an activity, the Erase activity function is not visible on mobile devices including iPhone 6/7/8 Plus. (Also the 'Copy to your device' feature in smaller devices)
This affects major functionalities as the user might not be able to delete unnecessary activity instances.

iPhone 6/7/8 Plus:
![Annotation 2020-02-26 001405](https://user-images.githubusercontent.com/40134655/75278130-5b

[2020-02-25 19:39] dhruvmisra commented on #646
I have solved this issue in my pull request #647.

[2020-02-25 19:58] Swayamsvk commented on #592
Thanks a lot @llaske it helped.

[2020-02-25 20:09] Hemansh31 commented on #360
@llaske I have tried to resolve this issue and another issue that is when we go to home from a certain activity and then stop the activity and reopening the activity does not lead to home. (shown in GIF in PR #648

[2020-02-25 21:15] dhruvmisra opened #649 "Erratic sizing of the Calculator"
The calculator displays irregular responsiveness for different screen sizes, filling only half the screen on mobiles. Makes the calculator harder to operate and see results.

![before](https://user-images.githubusercontent.com/40134655/75288083-97231a00-5841-11ea-9f70-00fee97764e5.gif)

[2020-02-25 21:56] llaske commented on #649
You're not in normal condition. See https://github.com/llaske/sugarizer/issues/422

[2020-02-25 21:57] llaske commented on #646
You're not in normal condition: https://github.com/llaske/sugarizer/issues/422

[2020-02-26 08:03] s-mag commented on #649
@dhruvmisra Sugarizer activities are not meant or designed to work in small screens. See #422
There is no need to correct all these activities as no one will use them in such a small screen size.These activities work perfectly in normal conditions...

[2020-02-26 13:11] dhruvmisra opened #651 "Add an option to navigate back to Contents in Ebook Reader"
In the Ebook Reader, once we navigate to a page of a book, there is no option to go back to Contents (Index). The only 2 ways are either by closing the entire activity and opening a new one, or by pressing the previous page button enough times to navigate back.

**Problematic Scenario**:
A user accidentally clicked on the wrong page number in contents.
![ebookIssue](https://user-images.githubuserc

[2020-02-27 20:39] llaske commented on #638
Fixed in https://github.com/llaske/sugarizer/pull/639

[2020-02-27 20:41] #646 closed

[2020-02-27 20:42] #649 closed

[2020-02-27 21:05] llaske commented on #604
Fixed in https://github.com/llaske/sugarizer/pull/623

[2020-02-27 21:56] llaske commented on #594
Fixed in https://github.com/llaske/sugarizer/pull/645

[2020-02-29 10:43] llaske commented on #627
Fixed in https://github.com/llaske/sugarizer/pull/628

[2020-02-29 10:43] llaske commented on #593
Fixed in https://github.com/llaske/sugarizer/pull/628

[2020-02-29 10:44] llaske commented on #610
@ccosse you're welcome to contribute again! Do you have any idea?

[2020-02-29 16:26] llaske commented on #651
Why not.

[2020-03-01 06:39] ccosse commented on #610
@llaske/sugarizer <sugarizer@noreply.github.com>  yes I have several.
Sticking to ColorMyWorld for the moment, how about some standardized popup
for each country that has 3 pics, 3 recordings and blurb about the country
.... something like that.

On Sat, Feb 29, 2020 at 2:44 AM Lionel Laské <notifications@github.com>
wrote:

--

ccosse.github.io

[2020-03-01 06:42] ccosse commented on #610
maybe that's too much ... original idea was just a single recording of how
to say "Hello" for each country.

On Sat, Feb 29, 2020 at 10:39 PM C. Cossé <ccosse@gmail.com> wrote:

--

ccosse.github.io

[2020-03-02 18:46] dhruvmisra opened #655 "Video erase button hidden in Record Activity"
The erase button for video overflows off the screen in all landscape resolutions.

![recordIssue](https://user-images.githubusercontent.com/40134655/75706780-c7f0cc80-5ce3-11ea-8a36-ab101ecf2459.jpg)

[2020-03-03 20:35] llaske commented on #206
Fixed in https://github.com/llaske/sugarizer/pull/583

[2020-03-03 21:37] llaske commented on #651
Fixed in https://github.com/llaske/sugarizer/pull/652

[2020-03-03 21:44] llaske commented on #360
Fixed in https://github.com/llaske/sugarizer/pull/648

[2020-03-04 15:30] ksraj123 opened #657 "Improvements to navigation in Restricted mode of Spiral"
Spiral in homeview has a Restricted mode for small screen size devices. Buttons for `showNextRestrictedList` and `showPreviousRestrictedList` are there in the Restricted Mode to navigate through the list and locate the activity of choice, but it leads to bad user experience as several clicks might be needed to locate any activity. I feel having the ability to scroll the spiral will improve the use

[2020-03-05 14:31] dhruvmisra opened #661 "Text not visible in search bar of Calligra Activity"
Can't see inputted text in the search bar while inserting item.

![calligraTextIssue](https://user-images.githubusercontent.com/40134655/75990866-89455700-5f1b-11ea-9ba1-8ffc3c2e04d9.gif)

[2020-03-05 16:33] dhruvmisra opened #663 "No option to reset the template in Calligra"
Once items are deleted in edit mode, there is no option to bring them back. Only way to get them back is starting a new instance of the activity.

**Problematic scenario**
Someone accidentally deletes some/all items.

![calligraResetIssue](https://user-images.githubusercontent.com/40134655/76002454-a5052900-5f2c-11ea-8bbe-dd426f5aba02.gif)

**Potential solution**
Adding a button in toolbar to rese

[2020-03-05 20:26] llaske commented on #655
Fixed in https://github.com/llaske/sugarizer/pull/656

[2020-03-05 20:39] llaske commented on #657
Hmmm. It could be interesting to provide another way to navigate but I think scrolling is neither practical, neither intuitive. May be a touch in left direction to go left and a touch in the right direction to go right? Like in Falabracman game.

[2020-03-05 21:05] llaske commented on #661
You're right. Good point.

[2020-03-05 21:10] llaske commented on #661
Fixed in https://github.com/llaske/sugarizer/pull/662

[2020-03-05 21:20] llaske commented on #663
Hmmm. I don't think it's useful. It's a very rare scenario.
Few users will create new templates and it will be only experimented users.
If your scenario occurs to others users, it will be easy to create a new instance of the activity to retrieve the original templates list.

[2020-03-06 00:03] AndreaGon opened #665 "XO Editor Activity is Cut on Wide Desktop Windows"
XO Editor Activity does not fit on wide desktop windows. See here:

![xo](https://user-images.githubusercontent.com/44361130/76037038-bed05b80-5f80-11ea-95d9-4c192268d33a.gif)

[2020-03-06 04:56] dhruvmisra commented on #663
I agree @llaske that it wouldn't happen often but as the active users being children and the edit mode being easily accessible, there could be many instances where the kids accidentally remove items. So I believe an option to reset could  save time and improve user experience.

[2020-03-06 14:39] ksraj123 commented on #657
@llaske Yeah, I get your point. Its meant to be used by children and scrolling is not really intuitive here. A half-baked prototype version of scrolling is implemented in #658 . Actually the comments in the code asked for a way to integrate scrolling on the circle in restricted mode. https://github.com/llaske/sugarizer/blob/dd3c58d56981e4dfa6d94601b95d7117a3bc9241/js/homeview.js#L332
Working on a

[2020-03-06 15:39] dhruvmisra opened #666 "Activity Port Proposal: Hangman Game"
I wanted to work on porting the popular Sugar activity Hangman. It is a fun classic game popular among kids.

[2020-03-06 15:42] dhruvmisra commented on #665
Is someone working on this? I have a potential solution for it.

[2020-03-06 19:59] ksraj123 opened #668 "Issues in game of life activity"
Here are some issues found in game of life activity
- Issues with Tutorial
    - Tutorial backdrop disappears for some steps, the steps are supposed to point at the game board
![bug game of life activity backdrop dissappears in tutorial](https://user-images.githubusercontent.com/39027928/76117277-84fb6580-6011-11ea-9125-efb73e2b5fa3.gif)

- Issues with responsiveness of the activity, on mobile res

[2020-03-06 21:12] ksraj123 commented on #668
@llaske Issue with tutorial fixed in #669
![Peek 2020-03-07 02-32](https://user-images.githubusercontent.com/39027928/76122867-26d47f80-601d-11ea-9bfb-cc5b5dbfd6a0.gif)

[2020-03-07 02:12] AndreaGon commented on #665
@dhruvmisra Feel free :)

[2020-03-07 09:47] dhruvmisra opened #671 "Dialog box has no background in Markdown"
Background of hyperlink dialog box is transparent.

![markdownBGIssue](https://user-images.githubusercontent.com/40134655/76140995-36d47980-6086-11ea-9ee6-ffbea11371b8.jpg)

I'll make a PR fixing this.

[2020-03-07 10:04] dhruvmisra opened #673 "Markdown link opens in frame which crashes the output"
If a link is clicked in output, it tries to open in the same frame, which crashes the output for rest of the activity duration.

![markdownLinkIssue](https://user-images.githubusercontent.com/40134655/76141278-ae0b0d00-6088-11ea-969c-76f7f7f938dc.gif)

I'll open a PR fixing this.

[2020-03-07 14:12] llaske commented on #665
@AndreaGon I don't think it's an issue. Having colors distributed all around the screen is the spirit of the activity. Plus the user could rearrange colors if he want.
I specifically dislike your fix @dhruvmisra : most of the screen is now white, it's not the idea!

[2020-03-07 14:15] llaske commented on #663
@dhruvmisra once again, we don't need any new button: just close the activity, display the Calligra activity menu and click on "Start new".

[2020-03-07 14:19] llaske commented on #657
I've tested https://github.com/llaske/sugarizer/pull/658. Thanks for that but as I said, using scrolling is not intuitive and is not practical.

The comment you mention is just related to scrolling using `showNextRestrictedList` and `showPreviousRestrictedList` buttons.

[2020-03-07 14:22] llaske commented on #666
I don't think it has a pedagogical interest to add it.
No teacher I know asked for it.

[2020-03-07 14:48] llaske commented on #333
Fixed in https://github.com/llaske/sugarizer/pull/667

[2020-03-07 14:58] llaske commented on #668
Please fill an issue with several problems even if it's related to the same activity.

I don't see an issue regarding the tutorial. It's not a problem that the step doesn't point to the board. It's perfectly clear that the popup is related to the board.

I don't see an issue regarding disappearance of the help button on small screens. On small screen some compromises should be done. The disappeara

[2020-03-07 14:59] llaske commented on #671
You're right.

[2020-03-07 15:00] llaske commented on #673
Good point.

[2020-03-07 15:10] dhruvmisra commented on #665
Sure I understand @llaske. Learning more about Sugarizer everyday with these little bugs and fixes!

[2020-03-07 15:25] dhruvmisra commented on #666
@llaske Alright, is there any other activity that needs to be ported from Sugar? I'd love to work on it.

[2020-03-07 15:50] dhruvmisra commented on #663
@llaske Definitely, I understand thanks.

[2020-03-07 19:20] ksraj123 opened #675 "Responsiveness issue in Pomodoro Activity"
On mobile resolutions in landscape mode responsiveness issues can be seen in Pomodoro Activity.
The work button gets hidden behind the toolbar and scrolling needed to get to break buttons.

![pondora activity issue](https://user-images.githubusercontent.com/39027928/76151022-35cb3880-60d6-11ea-801a-25ea7fad546a.gif)

[2020-03-07 20:48] llaske commented on #666
Yes, there is Fraction Bounce. See https://github.com/llaske/sugarizer/issues/205

[2020-03-07 20:49] #663 closed

[2020-03-07 21:18] llaske commented on #596
Fixed in https://github.com/llaske/sugarizer/pull/636

[2020-03-08 01:16] AndreaGon commented on #665
@llaske Hmmm, if this is the case, I will close this issue.

[2020-03-08 01:16] #665 closed

[2020-03-08 06:51] Hemansh31 opened #677 "Export in Write Activity"
The export document should I believe directly copy it to the device but what it does is save it in the journal and one has to copy it to the device from there. Even if this has to be maintained an option to download it should be displayed after Export is complete then and there and also it should be mentioned in the tutorial which it isn't
![Write Activity - Sugarizer](https://user-images.githubus

[2020-03-08 07:12] Hemansh31 opened #678 "Improve UI of Calculate Activity"
- Options to show, hide and clear history would I think improve the UI.

- Option to integrate all scientific functions directly to basic calculator should be there as those functions aren't accessible in fullscreen mode, Basically a scientific and basic calculator option
![Calculate Activity - Sugarizer (2)](https://user-images.githubusercontent.com/48997514/76158309-a441e200-613a-11ea-8494-b8241

[2020-03-08 07:26] Hemansh31 opened #679 "TamTam Micro Activity Piano Mode Not working in Chrome in file:///"
![TTM](https://user-images.githubusercontent.com/48997514/76158466-0ea75200-613c-11ea-976c-9032b086dcee.gif)

[2020-03-08 08:59] llaske commented on #679
Can reproduce it only when launched locally from the browser using file:///

[2020-03-08 09:01] llaske commented on #678
We don't need that. Simple is better.

[2020-03-08 09:06] llaske commented on #677
That's the standard way of working of activities and it's perfectly clear in the tutorial. I don't see any issue here.

[2020-03-08 09:24] #678 closed

[2020-03-08 09:24] #677 closed

[2020-03-08 10:01] #666 closed

[2020-03-08 10:01] #668 closed

[2020-03-08 11:16] llaske opened #680 "Add a way to restart game in Abecedarium"
In the Play section of the Abecedarium activity, when the fourth guess is ended, the activity go back to the game selection. So the user need to reselect the game to replay. Teachers ask us a way for children to replay the current game more easily.

![image](https://user-images.githubusercontent.com/981841/76161708-2bd92200-6136-11ea-91be-f803c22a55eb.png)

So, the idea is to don't go back automat

[2020-03-08 11:19] llaske commented on #671
Fixed in https://github.com/llaske/sugarizer/pull/672

[2020-03-08 11:24] llaske commented on #673
Fixed in https://github.com/llaske/sugarizer/pull/674

[2020-03-08 11:29] llaske commented on #675
Fixed in https://github.com/llaske/sugarizer/pull/676

[2020-03-08 11:49] ksraj123 commented on #680
@llaske on finishing the game, maybe a congratulations message with options to either go back to the game selection or replay the currently selected game? Also, there is no scoring in this game, I guess scoring (which will depend upon the number of wrong and right choices) can be added as well and the same can be displayed on the congratulations message page. What do you think?
Working on this iss

[2020-03-08 12:56] Hemansh31 commented on #62
@llaske is this idea still in queue for implementation, I would love to work on this?

[2020-03-08 20:36] llaske commented on #602
Fixed in https://github.com/llaske/sugarizer/commit/45056b0e5773ab994bdcdfe019ec191d67a39db6

[2020-03-08 20:42] llaske commented on #62
@Hemansh31 you could propose something

[2020-03-08 21:21] llaske commented on #601
Fixed in https://github.com/llaske/sugarizer/commit/fdfac92b2711b62a4777e7e0be2479228c228abc

[2020-03-09 17:32] ksraj123 opened #684 "Abecedarium Activity not working on mobile resolutions in file:///"
On launching the Abecedarium Activity on mobile resolutions it gives a reference error in the console. The play mode does not work giving similar error again making the check button non functional. The error pops up only where sound was supposed to be played. This error is there only on mobile resolutions and the activity works normally on desktop resolution.

![abcd not working](https://user-imag

[2020-03-10 11:28] llaske commented on #684
Hmmm. Strange, the error appears only when launched locally.

[2020-03-11 10:50] llaske commented on #684
I've explored the problem.
The issue is related to the fact than when Chrome simulate the Mobile mode, he tells to the navigator that it runs on Android (or iOS).
Running on Android and using `file:///` prefix means for the Abecedarium activity (should be the case for other activities too) that it runs into Cordova (see [here](https://github.com/llaske/sugarizer/blob/dev/activities/Abecedarium.act

[2020-03-11 11:24] Swayamsvk commented on #62
I don't know much about machine learning but I think the original code of nell -balloons don't have any ML implementation. By the way @Hemansh31 are you working on this because I just want to give it a try?

[2020-03-11 11:31] Hemansh31 commented on #62
@Swayamsvk I am working on Nell colours

[2020-03-11 14:26] llaske opened #686 "Add a Simon mode game in TamTam activity"
The idea is to add a new game mode into TamTam micro activity to play to the famous [Simon game](https://en.wikipedia.org/wiki/Simon_(game)).

<img width="491" alt="image" src="https://user-images.githubusercontent.com/981841/76427499-aad79000-63ac-11ea-885a-1020c33e018c.png">

Like for the Piano mode, this new Simon mode will use the current selected instrument to play classic Simon notes.
Both n

[2020-03-11 15:04] sarthak-g commented on #686
working on this

[2020-03-11 15:08] ksraj123 commented on #686
working on this. There is another issue #679 related to this. I think the same problem will appear in the new game mode as well unless the underlying problem is solved first.

[2020-03-11 15:20] llaske commented on #686
@ksraj123 I think the issue #679 is related to a Tone.js issue. So yes, the same problem should be there too. BTW if it bother you during development, a work around is to develop with a running Sugarizer Server or with Electron.

[2020-03-11 17:05] llaske commented on #679
Raised an error in Tone.js library [here](https://github.com/Tonejs/Tone.js/issues/628)

[2020-03-12 01:18] ksraj123 commented on #686
@llaske Please review PR #687 - basic functional simon mode implemented.

[2020-03-12 05:37] AndreaGon opened #688 "Firefox: Cannot close Constellation Activity when launched locally"
I came across this error when I tried closing Constellation Activity on Firefox:

![const](https://user-images.githubusercontent.com/44361130/76490568-77593c00-6466-11ea-9b17-9c4209a86f43.gif)

This only appears when launched locally.

[2020-03-12 06:15] sarthak-g commented on #688
@AndreaGon , it is working fine.See:
![ezgif com-video-to-gif(5)](https://user-images.githubusercontent.com/42293606/76492642-baabae80-6456-11ea-9744-50c84b04ffc9.gif)

you can clear cache and then try again

[2020-03-12 07:21] AndreaGon commented on #688
@sarthak-g Will try. Thanks :)

[2020-03-12 09:42] AndreaGon commented on #688
Hmm, I tried it and it still doesn't work. I'm using Firefox 74.0

Here's the error log I encountered:

`NotFoundError: The operation failed because the requested database object could not be found. For example, an object store did not exist but was being opened.`

[2020-03-12 09:49] llaske commented on #688
@AndreaGon Are you using Firefox in Private mode?
There is an issue related to this: https://github.com/llaske/sugarizer/issues/361

[2020-03-12 11:33] AndreaGon commented on #688
@llaske No, I am not using Firefox on Private mode. It must be something in my browser, but I'm not sure.

[2020-03-12 12:46] sarthak-g commented on #688
@AndreaGon other activities are working fine?

[2020-03-12 12:55] llaske commented on #688
@AndreaGon Just upgraded to Firefox 74.0. Don't have the problem.

Sounds related to storage and more precisely from an error with [IndexedDB](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API) storage. If it comes from this, every time you will try to write in the Journal, you should have the same issue. So every activity should do the same.
But if the IndexedDB is corrupted, cleanin

[2020-03-12 16:28] dhruvmisra opened #689 "Password Tutorial targets the wrong element"
Password tutorial targets the entire row which leads to the tutorial being pushed to the side. See here:

![passwordTutIssue](https://user-images.githubusercontent.com/40134655/76543190-24a27300-64ac-11ea-8543-9909f8a9222d.jpg)

This would make for a bad user experience. I'm working on the fix.

[2020-03-12 18:56] prakashujjwal1010 opened #691 "Add a Toolbar Button to mute or unmute the falabracman Game"
Add a Toolbar Button to mute or unmute the background music or sound of falabracman Game like other sugar activities have.

[2020-03-12 19:33] sarthak-g opened #693 "Tutorial error in Shared Notes Activity"
When open Shared Notes Activity after ending of tutorial of home screen then tutorial of activity points to empty area for "Name in Journal" and "Share". See:
![ezgif com-video-to-gif(6)](https://user-images.githubusercontent.com/42293606/76560055-558fa180-64c6-11ea-8c63-c97815456ab6.gif)

[2020-03-12 20:15] llaske commented on #691
No other activities have a mute/unmute sound button.
The philosophy of Sugarizer is to let the sound control to the device.

[2020-03-12 20:24] llaske commented on #689
Fixed in https://github.com/llaske/sugarizer/pull/690

[2020-03-12 20:59] llaske commented on #693
Fixed in https://github.com/llaske/sugarizer/pull/694

[2020-03-12 21:23] prakashujjwal1010 commented on #691
cool. thanks for clarification.

[2020-03-12 21:28] prakashujjwal1010 opened #695 "Add a feature to change difficulty of falabracman activity"
- add a feature to change difficulty of falabracman activity like easy, medium, hard.
- changing difficulty may includes changing no of obstacles and changing player's speed
- setting screen may get updated for this.

[2020-03-12 21:33] #691 closed

[2020-03-13 10:19] llaske commented on #695
I don't see the interest of this. Falabracman should stay a very simple activity.
Plus, it's a young activity (not yet released), will be better to wait feedback from the field.

[2020-03-13 15:24] dhruvmisra opened #697 "Tutorial button hidden on login screens"
On all touch devices, the tutorial button is hidden and the entire UI is shifted upwards on login/create user screens. See here:

![loginHelpIssue](https://user-images.githubusercontent.com/40134655/76633646-0d768a80-656b-11ea-8112-c24d297aac03.gif)

This was the case for existing users. The issue can also be replicated for a new user if the login screen is refreshed once.

![loginHelpIssue2](http

[2020-03-13 16:22] llaske commented on #697
It's not a bug, it's an expected feature on touch devices.
On real device (tablets/smartphone), half of the screen is used by a virtual keyboard. So we need to scroll up.

[2020-03-13 16:52] dhruvmisra commented on #697
I don't think shifting the UI elements is required as the real devices shift the entire UI upwards automatically to make space for the virtual keyboard. See here:

![20-03-13-22-14-43](https://user-images.githubusercontent.com/40134655/76642208-d0b19000-6578-11ea-9173-3e092607e985.gif)

And you can clearly see that the help button is mostly hidden here.
The solution I proposed in #698 would fix it

[2020-03-13 17:03] llaske commented on #697
Behavior on a mobile web browser is not the same than in a Cordova Webview app.
Did you test your change in the Android app?

[2020-03-13 17:10] dhruvmisra commented on #697
I haven't done that yet. May I know how can I test the changes in the Android app?

[2020-03-13 19:29] Swayamsvk opened #700 "Text not showing under erase button in qr-code activity"
Erase button in the input area is hiding some text under it.
![Screenshot from 2020-03-14 00-38-49](https://user-images.githubusercontent.com/42679893/76653407-a10d8280-658e-11ea-99c3-3fa1b7c6f61f.png)

[2020-03-13 20:14] llaske commented on #697
Sure. I suggest you to use the [Sugarizer APK builder](https://github.com/llaske/sugarizer-apkbuilder).

[2020-03-13 20:24] Hemansh31 commented on #62
@llaske can I change the UI of the Nell colour activity while implementing it in Sugarizer?

[2020-03-13 21:03] llaske commented on #680
Fixed in https://github.com/llaske/sugarizer/pull/681

[2020-03-13 21:06] prakashujjwal1010 commented on #695
okay, thanks.

[2020-03-13 21:19] prakashujjwal1010 opened #703 "Bug While Resizing game screen after resizing setting screen in Falabracman activity"
-Bug While Resizing game screen after resizing setting screen in Falabracman activity

![ezgif com-video-to-gif (9)](https://user-images.githubusercontent.com/40318927/76660187-53991180-659e-11ea-9970-ec95b916a9b7.gif)

[2020-03-13 21:28] #695 closed

[2020-03-13 22:01] llaske commented on #62
@Hemansh31 yes, it's not all compatible with the Sugar UI

[2020-03-13 22:50] Swayamsvk commented on #62
Actually, I was trying to run nell-balloons cloned from the actual Github repo and it failed. Have you faced the same problem @Hemansh31 in nell-colors?

[2020-03-14 00:00] ksraj123 commented on #592
Few questions,
- what if the user plays the game vs computer for a while and then shares the activity, what is the expected functionality here? Should the game continue in multiplayer from the same state or should it reset?
- if one user exits from multiplayer mode, should the game reset or the other user should be able to continue it with the computer?

[2020-03-14 05:05] ashish0910 commented on #592
- Yes the game will continue from same state . Although there will be reset button to restart game
- Yes if the number of users reaches one , you should be playing against computer .

[2020-03-14 09:24] llaske commented on #679
Fixed in https://github.com/llaske/sugarizer/commit/28e634cce8d0f8e7a63c667c27e3690c27ca54ee

[2020-03-14 09:32] llaske commented on #703
Fixed in https://github.com/llaske/sugarizer/pull/704

[2020-03-14 09:45] AndreaGon commented on #688
@llaske I tried clearing my cache and re-installing Sugarizer. The error still persists.

I don't know why the error only shows on my side, I must've unknowingly done something on my browser. I will close this issue as it only persist on my side. Thanks for the help!

[2020-03-14 09:45] #688 closed

[2020-03-14 18:52] dhruvmisra commented on #697
I'm encountering an error while building the apk
[code]

[2020-03-14 20:32] ksraj123 commented on #592
@ashish0910 thanks for the reply, I have another question related to the multiplayer mode, what happens when two people have already joined the activity and another person attempts to join it? Should the third person be not allowed to join? or maybe he could join but not do anything, just watch the game.

[2020-03-15 04:37] ashish0910 commented on #592
Yes the third person should be allowed to join the game as spectator . But if one of the user leave the game then the spectator can take place of the player

[2020-03-15 09:55] llaske commented on #697
Hmmm. Is it the result of Sugarizer APK builder?
The docker container is very huge and take memory. It could be the cause of the unexpected crash of Gradle. Try to allocate more resource to docker.

[2020-03-15 16:41] dhruvmisra commented on #697
Thanks @llaske, allocating more memory worked. I checked the APK and I agree that the UI needs to be scrolled up as you mentioned. My major concern still surrounds the disappearance of tutorial icon on such devices.
My current solution #698 removed the UI scroll, but I've updated the PR with my latest commit restoring the UI behavior and at the same time fixing the tutorial icon disappearance. Ple

[2020-03-17 03:48] abhishektanwar opened #709 "Measure Activity for Sugarizer"
Developed the Measure activity of sugar for Sugarizer

[2020-03-17 10:44] ksraj123 commented on #257
@llaske I would like to work on this as a part of my gsoc proposal. Before replacing enyo with vue in the core platform, Porting some activities first which use enyo would be a starting point I think.

The activities which currently use enyo framework are -
- Tank Operation
- Foodchain
- Abecedarium
- Tam Tam Micro
- Video Viewer
- Last One Loses

I would like a start working on porting a few of t

[2020-03-17 11:01] llaske commented on #257
@ksraj123 Thanks for this proposal.
BTW I don't see any good reason to migrate these activities:
- No benefit for users: the activity will not work better
- No benefit for developers: there is no maintenance issue today and dependency to Enyo framework didn't not prevent recent improvements on these activities

So a best way to prepare migration is to invest in Vue.js for new activities. Not to re

[2020-03-17 19:05] quozl commented on #257
Well said.  We're not porting to Python 3 because we want to, but because we have no other way to benefit the users.

[2020-03-18 02:54] abhishektanwar opened #710 "Implode activity for Sugarizer"
Implode activity of sugar can be a very good addition to  Sugarizer in terms of the values it can inculcate in young students .It is a game based on 'tetris'. Implode activity can help the young ones to develop mental strength and improve their thinking abillity and help them think in different paths without actually performing actions.
One of the biggest values it can inculcate in a young mind is

[2020-03-18 09:45] llaske commented on #710
I'm agree. I love the Implode activity.
Currently, Sugarizer include a BlockRain activity that is a Tetris like but will be nice to have the equivalent of the original Sugar Implode activity: http://activities.sugarlabs.org/fr/sugar/addon/4086

[2020-03-18 10:55] ksraj123 opened #712 "Proposal for new sugarizer activity - I know my world"
The colour my world activity on sugarizer is nice but the children only learn about the position of countries through it. There are a few popular activities on sugar similar to colour my world.
- [I know America](http://activities.sugarlabs.org/fr/sugar/addon/4464)
- [I know Madagascar](http://activities.sugarlabs.org/fr/sugar/addon/4719)
- [I know India](http://activities.sugarlabs.org/fr/sugar/a

[2020-03-18 18:03] ksraj123 commented on #257
@llaske I agree with you. It sounds reasonable. As Enyo is a comparatively old framework there are not as many resources for us (student developers) to learn more about it or refer to if something does not work, as there are for vue. I made some contributions to some of the enyo activities I mentioned recently and faced these problems myself, seeing an open issue on this I thought maybe others are

[2020-03-18 20:33] abhishektanwar commented on #710
Working on it . If anybody is interested in working on this I would be more than happy because currently I am working on #709 and I think this activity needs to be completed irrespective of who does it. I will share the algorithm.
If anybody wants to work on this issue, please let me know so that I can provide you with the head start.

[2020-03-18 23:49] Swayamsvk commented on #710
I want to work on this.

[2020-03-18 23:52] Swayamsvk commented on #710
First, let me understand the code I will start my coding very soon. I will ask you if I need anything.

[2020-03-19 09:46] llaske commented on #712
I do like the I know xyz activities in Sugar. BTW it's too specific to a country so it has sense only for a specific deployment and currently no Sugarizer deployment asked for it.
Plus, regarding search for countries in a continent, the interactive mode of the Color My World already do the job today.

[2020-03-19 10:58] ksraj123 commented on #712
Ok, Thanks.

[2020-03-19 10:58] #712 closed

[2020-03-19 15:59] Swayamsvk commented on #710
@abhishektanwar can you please provide me the algorithm you made. Actually it is hard to understand the code most probably after getting the algorithm may speeds things up.

[2020-03-19 17:30] abhishektanwar opened #715 "Stop button not visible in Scratch activity on small screens"
Irresponsive screen and button to stop the activity is not visible.

![WhatsApp Image 2020-03-19 at 10 56 41 PM](https://user-images.githubusercontent.com/40486188/77096214-0355ff80-6a35-11ea-9bd7-96f2d21b0811.jpeg)

[2020-03-19 17:33] abhishektanwar opened #716 "Calculate activity : Sugarizer android app"
Seems like buttons in the bottom two rows are not accessible due to irresponsive or non-scrollable screen.

[2020-03-20 06:15] AbdullahiAbdulkabir commented on #258
Can the tutorial link be added to the readme file or a separate file can be created

[2020-03-21 01:31] abhishektanwar opened #718 "Geolocation functionality for clients"
The addition of geolocation functionality to track the location of clients could be a good addition to sugarizer.

[2020-03-21 02:17] sarthak-g opened #722 "Enhancement in LOL activity multiplayer mode"
If host leaves in the middle of game then game gets stuck for the connected user i.e. connected user can't continue the game. He can only press stop button.
Possible solution:
1. Game ends for connected user as well when host leaves.
2. Connected user can continue to play with computer(similar feature for host although he can start new game).
@llaske your views on this?

[2020-03-21 09:24] llaske commented on #718
The first Sugarizer target is schools. Schools deploy their own Sugarizer Server and connect PC or tablets to it.  So they don't need location since they know where are their devices.

Plus, for privacy reason, we don't want a way to track our users. It's by design.

[2020-03-21 09:31] llaske commented on #715
Clearly the Scratch activity is not adapted to be use on a small screen.

BTW you're right for the Stop button. Following rules [here](https://github.com/llaske/sugarizer/issues/422), it should be present to allow the user to quit the activity.

Can't reproduce the "irresponsive" screen you mention. It's always possible to drag&drop actions.

[2020-03-21 09:34] llaske commented on #716
Hmmm. Sounds like the screen is no longer scrollable.

<img width="665" alt="image" src="https://user-images.githubusercontent.com/981841/77223731-79568580-6b5f-11ea-930a-fc35d4dff468.png">

[2020-03-21 09:36] llaske commented on #722
In that case, I think the user can just start a new game or just quit the activity.
Considering the duration of a LOL game, I don't think we need more.

[2020-03-21 09:58] sarthak-g commented on #722
Considering duration, 2nd solution will be of no use but I think 1st is still valid(automatic game quit).
Agree?

[2020-03-21 11:40] llaske commented on #722
Automatically quit the game will be very disturbing for the user. I’m not in favor of that

[2020-03-21 14:27] sarthak-g commented on #722
Okay

[2020-03-21 14:28] #722 closed

[2020-03-21 14:35] llaske opened #723 "Falabacraman activity don't detect win condition for restarted game"
When a game is restarted, the Falabracman activity don't detect correctly the win condition for a restarted game.

<img width="943" alt="image" src="https://user-images.githubusercontent.com/981841/77228625-db77b080-6b88-11ea-9034-5936b29e21d4.png">

Steps to reproduce:

- Launch a new Falabracman instance
- Play the game
- Collect some letters but not all
- Stop the activity by clicking on the St

[2020-03-21 17:18] llaske commented on #333
Revert back the fix in https://github.com/llaske/sugarizer/commit/f198b27f610bc1a0ca059a9297ae2d36cfceca61
It's incompatible with iOS: display issues when drawing cards.
The cure would be worse than the disease!

[2020-03-21 18:03] abhishektanwar commented on #715
By "irresponsive" screen I mean the non-adaptiveness of the activity towards the small screen devices.

[2020-03-21 18:08] dhruvmisra opened #725 "Falabracman only accepts a specific letter in case of repeated letters in a word"
When a word contains repeated letters, only a specific letter can be accepted and all others are treated as different letters. See here:

![FalabracmanMultipleLetters](https://user-images.githubusercontent.com/40134655/77233155-8d37d100-6bcb-11ea-8999-89d0de1684ef.gif)

![FalabracmanMultipleLetters2](https://user-images.githubusercontent.com/40134655/77233174-bf493300-6bcb-11ea-8349-65a010c34ecd.g

[2020-03-21 18:26] Swayamsvk opened #727 "Speak Text button hides text under it in speak activity"
![Screenshot from 2020-03-21 23-40-21](https://user-images.githubusercontent.com/42679893/77233717-6d0a1100-6bcf-11ea-9355-25b491dc567e.png)

[2020-03-21 21:03] Swayamsvk commented on #700
@llaske I have fixed this issue In #701 please check it and tell me if any change is required

[2020-03-22 09:19] llaske commented on #610
@ccosse Nice idea to add a popup with some information about the country.
BTW we should take care to the size of new contents because I have to limit the size of activities to few megabytes due to restriction in store. I think specifically to images and sounds.
I suggest to add flag for the country too. It's often asked by users. Plus it's easy to add it via emoji so it don't take any space.

[2020-03-22 09:51] llaske commented on #258
We probably create a separate file or add it directly in the current tutorial.

[2020-03-22 10:12] #718 closed

[2020-03-22 15:32] llaske commented on #723
Fixed in https://github.com/llaske/sugarizer/pull/729

[2020-03-22 15:42] llaske commented on #725
Fixed in https://github.com/llaske/sugarizer/pull/726

[2020-03-22 16:10] ccosse commented on #610
@llaske/sugarizer <sugarizer@noreply.github.com>
   I understand about the size limitations, and like the flag idea.  Will
see what I can implement for that.

Also I tested this with sugarizer before and it can work; is it appropriate
and do you have any interest?
http://ccosse.github.io/TuxMathScrabble-2015/

On Sun, Mar 22, 2020 at 2:19 AM Lionel Laské <notifications@github.com>
wrote:

--

ccos

[2020-03-22 16:18] dhruvmisra opened #731 "Video Viewer shows tutorial for a feature not available on small screen"
Video Viewer shows tutorial for Search which is not available on the android app.

![Screenshot_20200322-211138](https://user-images.githubusercontent.com/40134655/77254390-b6696780-6c86-11ea-8360-34bc7dd5a916.jpg)

[2020-03-22 16:44] llaske commented on #610
Nice that you like the flag idea. Do not hesitate to ask if I can help on this.

I remember your TuxMathScrabble it's cool but it seems to complex for children targeted by Sugarizer. A more simple activity named "Mindmath" is planned for the GSoC: https://github.com/sugarlabs/GSoC/blob/master/Ideas-2020.md#sugarizer-game-activity-pack

[2020-03-22 16:58] ccosse commented on #610
Okay, I suspected that it might be too complex.

I would really like to re-develop the ColorMyWorld activity in d3.js rather
tha openmap ... the filesizes would be negligible using d3.js among many
reasons.

On Sun, Mar 22, 2020 at 9:44 AM Lionel Laské <notifications@github.com>
wrote:

--

ccosse.github.io

[2020-03-23 16:05] llaske commented on #727
Fixed in https://github.com/llaske/sugarizer/pull/728

[2020-03-23 16:21] llaske commented on #731
It's not related to Android, it's related to the size of the screen

[2020-03-23 16:42] dhruvmisra commented on #731
That's right, I mentioned the Android as it's the platform which mostly uses those resolutions and would pertain the issue.

[2020-03-23 16:51] llaske commented on #731
Fixed in https://github.com/llaske/sugarizer/pull/732

[2020-03-24 09:53] dhruvmisra opened #733 "Labyrinth shows tutorial for functions not available on small screens"
Labyrinth activity shows tutorial for Font, Increase Font and Decrease Font on small screens, specifically Android. See here:

![labyrinthButtonsIssue](https://user-images.githubusercontent.com/40134655/77412192-8e434b00-6de3-11ea-8b41-a6cb2f67359a.jpg)
![labyrinthButtonsIssue2](https://user-images.githubusercontent.com/40134655/77412207-91d6d200-6de3-11ea-881d-52556007da35.jpg)

I would actually

[2020-03-24 10:40] dhruvmisra opened #736 "Blockrain tutorial overflows off screen on smaller screens"
Blockrain canvas tutorial overflows that even the buttons are not visible. Issue on small screens (mainly the app).

![blockrainTutIssue](https://user-images.githubusercontent.com/40134655/77416034-635bf580-6de9-11ea-802d-480c74e7bca4.jpg)

Changing the position of the tutorial dialog should fix it. I'll add a PR to fix the issue.

[2020-03-25 08:03] abhishektanwar commented on #710
@Swayamsvk glad to hear from you.
The idea is to start building the problems in the reverse order that is from solution to questions unlike any other problem  First, blocks of a number greater or equal to three of different colors without any other random blocks are to be developed in a random way such that when the problem is solved all the blocks are collapsed. As of now, there does not exist a

[2020-03-25 12:12] dhruvmisra opened #739 "Keyboard overlaps input fields on Android"
A major known bug in the Android app is the overlap of virtual keyboard on input fields and text areas. Login screens use a hack (increasing bottom padding) to deal with this although causes entire UI to stay on top.
Other activities such as Get Things Done, Markdown, Writer, etc show this problem once the input focus moves below the keyboard.

![20-03-25-17-08-57](https://user-images.githubuserco

[2020-03-25 14:34] Swayamsvk commented on #710
@abhishektanwar working on it,would ask you if I need any help.

[2020-03-26 08:34] dhruvmisra opened #741 "Get Things Done can't handle multiple lines"
The text overflows out of the container.

![gtdOverflowIssue](https://user-images.githubusercontent.com/40134655/77626000-a2658480-6f6a-11ea-8573-89cae1618f92.jpg)

Adding a PR to solve this.

[2020-03-27 14:16] dhruvmisra opened #743 "Last row hidden in Grid Paint"
The last row of Grid Paint canvas is mostly hidden. The result is even drastic on smaller screen where the entire last row and colour is off the screen.

![gridPaintOverflowIssue](https://user-images.githubusercontent.com/40134655/77764823-492d4c00-7063-11ea-8621-ec1a4544c594.jpg)

Smaller screens (Android):
![gridPaintOverflowIssue2](https://user-images.githubusercontent.com/40134655/77764889-695

[2020-03-27 21:19] llaske commented on #733
Fixed in https://github.com/llaske/sugarizer/pull/734

[2020-03-27 21:25] llaske commented on #736
Fixed in https://github.com/llaske/sugarizer/pull/737

[2020-03-27 21:35] llaske commented on #741
Fixed in https://github.com/llaske/sugarizer/pull/742

[2020-03-27 21:40] llaske commented on #743
That's true but it's only on the current dev branch, has been fixed [here](https://github.com/llaske/sugarizer/commit/b82b050e9554df2a9d1fb099ddd120c904ace62c) in the release currently in packaging.

[2020-03-27 21:40] #743 closed

[2020-03-27 23:34] Swayamsvk commented on #700
@llaske I have added the features as you have suggested, please review #701 .

[2020-03-28 08:00] #390 closed

[2020-03-28 08:00] #381 closed

[2020-03-28 08:00] #438 closed

[2020-03-28 08:00] #575 closed

[2020-03-28 08:00] #605 closed

[2020-03-28 08:00] #620 closed

[2020-03-28 08:00] #604 closed

[2020-03-28 08:00] #333 closed

[2020-03-28 08:13] #593 closed

[2020-03-28 08:13] #594 closed

[2020-03-28 08:13] #595 closed

[2020-03-28 08:13] #596 closed

[2020-03-28 08:13] #597 closed

[2020-03-28 08:13] #598 closed

[2020-03-28 08:13] #599 closed

[2020-03-28 08:13] #600 closed

[2020-03-28 08:13] #601 closed

[2020-03-28 08:13] #602 closed

[2020-03-28 08:13] #610 closed

[2020-03-28 08:13] #624 closed

[2020-03-28 08:13] #627 closed

[2020-03-28 08:13] #638 closed

[2020-03-28 08:13] #651 closed

[2020-03-28 08:13] #655 closed

[2020-03-28 08:13] #661 closed

[2020-03-28 08:13] #671 closed

[2020-03-28 08:13] #673 closed

[2020-03-28 08:13] #675 closed

[2020-03-28 08:13] #679 closed

[2020-03-28 08:13] #680 closed

[2020-03-28 08:13] #689 closed

[2020-03-28 08:13] #693 closed

[2020-03-28 08:13] #703 closed

[2020-03-28 08:14] #436 closed

[2020-03-28 08:14] #437 closed

[2020-03-28 08:14] #439 closed

[2020-03-28 08:14] #440 closed

[2020-03-28 08:14] #441 closed

[2020-03-28 08:14] #442 closed

[2020-03-28 08:14] #443 closed

[2020-03-28 08:14] #444 closed

[2020-03-28 08:14] #445 closed

[2020-03-28 08:14] #446 closed

[2020-03-28 08:14] #447 closed

[2020-03-28 08:14] #455 closed

[2020-03-28 08:14] #513 closed

[2020-03-28 08:14] #514 closed

[2020-03-28 08:14] #515 closed

[2020-03-28 08:14] #516 closed

[2020-03-28 08:14] #517 closed

[2020-03-28 08:14] #538 closed

[2020-03-28 08:14] #546 closed

[2020-03-28 08:14] #547 closed

[2020-03-28 08:14] #549 closed

[2020-03-28 08:14] #563 closed

[2020-03-28 08:14] #564 closed

[2020-03-28 08:14] #581 closed

[2020-03-28 08:14] #588 closed

[2020-03-28 08:14] #407 closed

[2020-03-28 08:14] #408 closed

[2020-03-28 08:14] #409 closed

[2020-03-28 08:14] #410 closed

[2020-03-28 08:14] #411 closed

[2020-03-28 08:14] #412 closed

[2020-03-28 08:14] #413 closed

[2020-03-28 08:14] #414 closed

[2020-03-28 08:14] #415 closed

[2020-03-28 08:14] #416 closed

[2020-03-28 08:14] #417 closed

[2020-03-28 08:14] #418 closed

[2020-03-28 08:14] #419 closed

[2020-03-28 08:14] #424 closed

[2020-03-28 08:14] #425 closed

[2020-03-28 08:14] #426 closed

[2020-03-28 08:14] #427 closed

[2020-03-28 08:14] #428 closed

[2020-03-28 08:14] #429 closed

[2020-03-28 08:14] #430 closed

[2020-03-28 08:14] #431 closed

[2020-03-28 08:14] #432 closed

[2020-03-28 08:14] #433 closed

[2020-03-28 08:14] #434 closed

[2020-03-28 08:14] #435 closed

[2020-03-28 08:14] #206 closed

[2020-03-28 08:14] #342 closed

[2020-03-28 08:14] #360 closed

[2020-03-28 08:14] #371 closed

[2020-03-28 08:14] #379 closed

[2020-03-28 08:14] #380 closed

[2020-03-28 08:14] #382 closed

[2020-03-28 08:14] #383 closed

[2020-03-28 08:14] #384 closed

[2020-03-28 08:14] #387 closed

[2020-03-28 08:14] #388 closed

[2020-03-28 08:14] #389 closed

[2020-03-28 08:14] #396 closed

[2020-03-28 08:14] #397 closed

[2020-03-28 08:14] #398 closed

[2020-03-28 08:14] #399 closed

[2020-03-28 08:14] #400 closed

[2020-03-28 08:14] #401 closed

[2020-03-28 08:14] #402 closed

[2020-03-28 08:14] #403 closed

[2020-03-28 08:14] #404 closed

[2020-03-28 08:14] #405 closed

[2020-03-28 08:14] #406 closed

[2020-03-28 09:02] sarthak-g opened #745 "Wrong title of network button in Memorize activity"

[2020-03-28 09:53] llaske commented on #715
Fixed in https://github.com/llaske/sugarizer/pull/738

[2020-03-28 11:17] sarthak-g opened #748 "Wrong arrow icon in Exerciser activity"
Arrow does not change when opening palette in Exerciser activity.
![arrow down](https://user-images.githubusercontent.com/42293606/77821838-468a2f80-7113-11ea-905a-de46e7a9a0d5.PNG)

![arrow down activity button](https://user-images.githubusercontent.com/42293606/77821890-b13b6b00-7113-11ea-8bc4-4de622cb4730.PNG)

[2020-03-28 12:57] dhruvmisra opened #749 "Changing buddy colors doesn't change old instance activity colors"
After changing the buddy colors, the activities in the spiral view and Journal do not change their color. Is this the expected behavior @llaske?

![colorChangeIssue](https://user-images.githubusercontent.com/40134655/77823417-08940800-7121-11ea-95be-5431ee103c13.gif)

[2020-03-28 13:06] ashish0910 commented on #749
@dhruvmisra Yes this is expected behaviour
You can refer to #311

[2020-03-28 13:10] dhruvmisra commented on #749
@ashish0910 Alright thanks, I'll close this issue.

[2020-03-28 13:10] #749 closed

[2020-03-28 17:18] dhruvmisra opened #750 "Pomodoro timer resets on break change"
If the timer is paused and the break value is changed, the timer preview resets to the beginning. Although on resuming, the timer starts from the previous paused value.

![pomodoroTimerIssue](https://user-images.githubusercontent.com/40134655/77828864-1313c900-7144-11ea-8ef9-1ec2c0011c05.gif)

The timer should follow either one of the two workflows on **break change**:
1. Reset completely and star

[2020-03-28 18:13] dhruvmisra opened #752 "Food Chain tutorial off screen in small resolutions"
Tutorial for Build button is off screen with no navigation buttons appearing until scrolled.

![foodchainTutIssue](https://user-images.githubusercontent.com/40134655/77830243-4018a980-714d-11ea-8b86-e8c9e3054dc1.jpg)

Can easily be fixed by placing the tutorial to the right of the button. I'll fix it my next PR.

[2020-03-28 18:22] dhruvmisra opened #754 "Food Chain activity palette behind canvas"
The activity palette is unusable as it's behind the canvas.

![foodchainPaletteIssue](https://user-images.githubusercontent.com/40134655/77830527-28dabb80-714f-11ea-88ee-74d2112ac8b8.jpg)

[2020-03-28 18:48] dhruvmisra opened #756 "Stopwatch activity palette text not visible"
The text is white.

![stopwatchPaletteIssue](https://user-images.githubusercontent.com/40134655/77831052-c97eaa80-7152-11ea-8e82-705821f6fbc2.jpg)

[2020-03-28 19:27] dhruvmisra opened #758 "Awkward placement of Labyrinth canvas tutorial"
The tutorial is compressed to the right. The exit button is hidden in smaller resolutions.

![labyrinthTutIssue](https://user-images.githubusercontent.com/40134655/77831930-3c3e5480-7158-11ea-9382-fe5269e876bc.jpg)

Changing the placement to top will fix it.

[2020-03-29 09:10] llaske commented on #745
The title is "My activity".
Will be nice to include a screen capture to explain the issue:

![Capture du 2020-03-29 11-08-06](https://user-images.githubusercontent.com/981841/77845264-bfd66080-71ad-11ea-9199-5072165807a6.png)

[2020-03-29 09:35] llaske commented on #750
Hmmm, the second workflow is probably better.

[2020-03-29 20:53] Swayamsvk commented on #700
@llaske I have fixed the issues as you have suggested please merge this.

[2020-03-29 23:07] Swayamsvk opened #761 "Awkward positioning of contents in the searchfield of video viewer activity"
![Screenshot from 2020-03-30 04-32-25](https://user-images.githubusercontent.com/42679893/77863440-0eccd600-7240-11ea-96d1-e8251aed388f.png)

[2020-03-30 19:37] llaske commented on #761
Right, the text could be center vertically.

[2020-03-30 19:49] llaske commented on #700
Fixed in https://github.com/llaske/sugarizer/pull/701

[2020-03-30 20:01] llaske commented on #754
Fixed in https://github.com/llaske/sugarizer/pull/755

[2020-03-30 20:08] llaske commented on #758
Fixed in https://github.com/llaske/sugarizer/pull/759

[2020-03-30 20:16] llaske commented on #756
Fixed in https://github.com/llaske/sugarizer/pull/757

[2020-03-31 14:10] prakashujjwal1010 opened #764 "Speech and Face Palettes of speak activity doesn't work on touch screen"
The sliders of speech and face palettes doesn't work on touch screen.

[2020-03-31 14:16] prakashujjwal1010 opened #766 "Size and speed palettes of game of life activity don't works on touch screen"
the sliders of size and speed palettes of game of life activity don't works on touch screen.

[2020-03-31 14:25] prakashujjwal1010 opened #768 "toolbar in clock activity not responsive"
Whatever could be the screen size the Stop button should always visible to be sure the user will be able to quit the activity.
but here it is not in the case of clock activity.
![Screenshot from 2020-03-31 01-31-43](https://user-images.githubusercontent.com/40318927/78037707-84908900-7389-11ea-857f-49a7c3b51642.png)

[2020-03-31 14:33] prakashujjwal1010 opened #770 "toolbar in game of life activity not responsive"
Whatever could be the screen size the Stop button should always visible to be sure the user will be able to quit the activity.
but here it is not in the case of game of life activity.

![Screenshot from 2020-03-31 02-54-02](https://user-images.githubusercontent.com/40318927/78038630-ab02f400-738a-11ea-8b7c-d2e9c6fc70f0.png)

[2020-03-31 14:39] prakashujjwal1010 opened #772 "toolbar in speak activity not responsive"
Whatever could be the screen size the Stop button should always visible to be sure the user will be able to quit the activity.
but here it is not in the case of speak activity.
![Screenshot from 2020-03-31 20-07-16](https://user-images.githubusercontent.com/40318927/78039250-81969800-738b-11ea-8996-37aa45dfa9ff.png)

[2020-03-31 14:47] prakashujjwal1010 opened #774 "toolbar in constellation activity not responsive"
Whatever could be the screen size the Stop button should always visible to be sure the user will be able to quit the activity.
but here it is not in the case of constellation activity.
![Screenshot from 2020-03-31 01-31-25](https://user-images.githubusercontent.com/40318927/78040131-a8090300-738c-11ea-94ef-b299f1cdcb35.png)

[2020-03-31 19:38] llaske commented on #770
The window size you're suggest doesn't match any real device and is not in landscape mode.
As mentioned [here](https://github.com/llaske/sugarizer/issues/422), activities are not suppose to be responsive in any condition.

[2020-03-31 19:38] #770 closed

[2020-03-31 19:39] llaske commented on #768
The window size you're suggest doesn't match any real device and is not in landscape mode.
As mentioned [here](https://github.com/llaske/sugarizer/issues/422), activities are not suppose to be responsive in any condition.

[2020-03-31 19:39] #768 closed

[2020-03-31 19:39] llaske commented on #772
The window size you're suggest doesn't match any real device and is not in landscape mode.
As mentioned [here](https://github.com/llaske/sugarizer/issues/422), activities are not suppose to be responsive in any condition.

[2020-03-31 19:39] #772 closed

[2020-03-31 19:39] llaske commented on #774
The window size you're suggest doesn't match any real device and is not in landscape mode.
As mentioned [here](https://github.com/llaske/sugarizer/issues/422), activities are not suppose to be responsive in any condition.

[2020-03-31 19:39] #774 closed

[2020-03-31 19:48] llaske commented on #764
Can't reproduce it, neither on iOS, neither on Android, neither emulated devices on the browser.

[2020-03-31 19:50] llaske commented on #766
Can't reproduce it, neither on iOS, neither on Android, neither emulated devices on the browser.

[2020-03-31 20:00] prakashujjwal1010 commented on #766
![ezgif com-video-to-gif (11)](https://user-images.githubusercontent.com/40318927/78069523-dfd97000-73b7-11ea-9f31-a205a88688b8.gif)
we can move the slider but its not working actually.
even the sugarizer app which is on play store is having same problem

[2020-03-31 20:06] prakashujjwal1010 commented on #764
![ezgif com-video-to-gif (12)](https://user-images.githubusercontent.com/40318927/78070137-e4eaef00-73b8-11ea-80bb-2e1833f7d08c.gif)
the same problem persists on [sugarizer.com](https://try.sugarizer.org/) and also on android app.

[2020-03-31 20:11] llaske commented on #697
Fixed in https://github.com/llaske/sugarizer/pull/698

[2020-03-31 20:23] prakashujjwal1010 commented on #772
like in physics ([here](https://github.com/llaske/sugarizer/issues/516)) write activity etc, we have this feature,
are they having the same feature because they are having more number of toolbar buttons .
am i right?

[2020-03-31 20:37] llaske commented on #766
Okay. I see. Good shot.

[2020-03-31 20:38] llaske commented on #764
Okay. You're right.

[2020-03-31 20:48] llaske commented on #772
The more toolbar buttons there are, the more it's important to handle the way the window is responsive. Specifically by hiding buttons to avoid a toolbar on two lines.
BTW it doesn't change the rules: the activity should try to be responsive for a "classic" smartphone in landscape mode. If it works for the "iphone 6/7/8" device in Chrome responsive mode, that's fine.

[2020-04-02 08:25] sarthak-g opened #777 "Alignment of help button in some activities"
Some activities have help button on the left side instead of right side (standard in sugarizer). Is there any specific reason for this?

[2020-04-02 19:39] llaske commented on #750
Fixed in https://github.com/llaske/sugarizer/pull/751

[2020-04-02 19:54] llaske commented on #761
Fixed in https://github.com/llaske/sugarizer/pull/762

[2020-04-02 20:04] llaske commented on #766
Fixed in https://github.com/llaske/sugarizer/pull/767

[2020-04-02 20:20] llaske commented on #764
Fixed in https://github.com/llaske/sugarizer/pull/765

[2020-04-03 19:45] llaske commented on #777
No there is no good reason for that. It was not in every activities at the beginning so each contributor has choose its position.
It will be better to have it at the same position in all activities.
Same for fullscreen button (when present).
Here's the correct position for these buttons:

![image](https://user-images.githubusercontent.com/981841/78398828-0daaf880-75f4-11ea-913a-cefbb311194d.png)

[2020-04-04 01:41] sarthak-g commented on #777
Okay, I will raise pr for correction in each activity

[2020-04-04 05:17] sarthak-g opened #779 "Fullscreen icon changes in Jappy Activity"
![ezgif com-video-to-gif(8)](https://user-images.githubusercontent.com/42293606/78419265-c2c7ca00-7661-11ea-85a9-0facb198eea0.gif)

[2020-04-04 09:40] llaske commented on #739
Yes, that's true.
The issue is also on iOS thought it's still possible to scroll the screen even when the virtual keyboard is there.

[2020-04-04 19:54] llaske commented on #739
Fixed in https://github.com/llaske/sugarizer/pull/740

[2020-04-04 19:58] llaske commented on #697
Revert back the fix in https://github.com/llaske/sugarizer/commit/4866d97fae314d5770e509e7a4bbe3350ed8325e because it don't work on iOS: the help button is no longer visible.

BTW https://github.com/llaske/sugarizer/pull/740 solve the issue too because the screen size is reduced so the help button become visible.

[2020-04-04 21:06] dhruvmisra commented on #697
That's right, this shouldn't be a problem anymore on Android. Would look for a solution similar to #740 for iOS.

[2020-04-05 10:58] utkarsh-raj commented on #716
I can't reproduce the issue. Can you tell me the configuration of the test system?

[2020-04-05 19:44] llaske commented on #779
Not sure to understand the problem. The icon is fine.

[2020-04-05 20:08] llaske commented on #777
Oops, I was wrong, sorry.
I've copied the wrong capture.
The right is this one.

![image](https://user-images.githubusercontent.com/981841/78508732-652e9d00-7789-11ea-9417-b99c99f78c65.png)

The idea is to have the help button easily accessible.
I think only Video Viewer and Moon should be changed.

[2020-04-06 02:04] AndreaGon commented on #779
It seemed as though the fullscreen icon changes when clicked from this icon:
![image](https://user-images.githubusercontent.com/44361130/78516622-d05d8b00-77ec-11ea-9f1e-8926252f5c47.png)

Into this:
![image](https://user-images.githubusercontent.com/44361130/78516650-e8350f00-77ec-11ea-9818-c8cb1fc00023.png)

@sarthak-g I think, the first icon means that you execute the Jappy program in fullscree

[2020-04-06 09:27] sarthak-g commented on #779
@AndreaGon you're right. I misunderstood it. Thank you for clarification.

[2020-04-06 09:27] #779 closed

[2020-04-06 11:21] sarthak-g commented on #777
Corrected in #780

[2020-04-06 19:27] llaske commented on #777
Fixed in https://github.com/llaske/sugarizer/pull/780

[2020-04-06 19:36] llaske commented on #374
Fixed in https://github.com/llaske/sugarizer/pull/776

[2020-04-07 20:14] llaske commented on #205
Fixed in https://github.com/llaske/sugarizer/pull/683

[2020-04-12 19:02] sarthak-g opened #782 "Ebook Reader Activity tutorial hangs when used with keyboard"
Activity hangs when we continuously watch tutorial two times in starting of activity. See below:

![ezgif com-video-to-gif(9)](https://user-images.githubusercontent.com/42293606/79077251-c3292a80-7d1d-11ea-9a2f-2108c2a85b0a.gif)

[2020-04-12 20:35] llaske commented on #782
Hmmm. I can't reproduce the issue but it seems that something is wrong with tutorial.
Just fixed an issue here: https://github.com/llaske/sugarizer/commit/5b5cff8a4dd9b6c93feabe4521f195ad2028f930

Could you retry with the latest dev branch?

[2020-04-13 03:17] sarthak-g commented on #782
Error is still there.
Steps to reproduce:
1. open activity
2. Click on tutorial and complete it
3. Again click on the tutorial and press next button two times.

[2020-04-13 08:56] llaske commented on #782
Sorry, can't reproduce it on my side. I guess I've done the same steps than you:

![Peek 13-04-2020 10-53](https://user-images.githubusercontent.com/981841/79107744-3d38ce00-7d75-11ea-96f8-de46e763438b.gif)

Did you test on different browsers?

[2020-04-14 07:43] sarthak-g commented on #782
I've tested it on both firefox and chrome

[2020-04-14 13:03] llaske commented on #782
Hmmm. Can't reproduce it neither in Firefox neither in Chromium.
Are you sure you're running the latest dev branch?
Could you try on https://dev.sugarizer.org ?

@other contributors, do you have the same issue?

[2020-04-15 04:19] sarthak-g commented on #782
Yes

I'm getting same error on it.

Are you getting error on  https://dev.sugarizer.org?

[2020-04-15 08:53] llaske commented on #782
No I don't :disappointed:
Could you fully clean your browser cache and retry?

[2020-04-15 10:23] sarthak-g commented on #782
Error is still there

[2020-04-16 11:08] prakashujjwal1010 commented on #782
i am unable to reproduce the error.

[2020-04-16 15:45] llaske commented on #782
Thanks @prakashujjwal1010

I've tested on my side on MacOS with Safari, Chrome and Firefox and on Windows with Edge Chromium. It perfectly works.

@sarthak-g Could you detail your environment (browser/os/version)? Could you try on another device?

[2020-04-17 04:47] sarthak-g commented on #782
I've tested it on

Windows 10 :
firefox - 75.0
chrome - 80.0.3987.163

Ubuntu 19.10 :
firefox - 72.0.2
chrome  - 80.0.3987.87

[2020-04-17 06:22] utkarsh-raj commented on #782
I am not able to reproduce the error either. Could you monitor the console and check for logs when the freeze occurs @sarthak-g ?

[2020-04-17 08:15] sarthak-g commented on #782
@utkarsh-raj there are no errors in the console.

[2020-04-20 01:13] BlueJay89 opened #785 "Issues Running in Chrom"
I am having an issue running sugarizer in chrome.

Chrome Version 81.0.4044.113 (Official Build) (64-bit)

Windows 10 Home

 Attached are screenshots of my issues.

1.  When attempting to initialize the software from withing the command prompt or from the run function using

"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --allow-file-access-from-files

I simply see chrome open to a

[2020-04-20 09:00] s-mag commented on #716
I also can't reproduce this issue.
Version used: 1.3.0
Mobile used: OnePlus 6T
![20200420_142830](https://user-images.githubusercontent.com/44548987/79733937-83f96b80-8313-11ea-98a7-a233acc6de80.gif)

[2020-04-20 13:53] abhishektanwar commented on #782
Not able to reproduce the error . Working fine on my side.

[2020-04-20 14:23] s-mag commented on #782
Working fine on my side as well.

[2020-04-20 19:17] llaske commented on #785
It's an usual error.
As the first error message said `Access to XMLHttpRequest ... blocked`, it's a security error.
It should be fixed by the  `--allow-file-access-from-files` option but the option could not be taken into account if there is a running Chrome instance.
Could you ensure that there is no other running Chrome instance when you launched the command?

[2020-04-20 19:19] llaske commented on #716
Look like it's not reproducible. @abhishektanwar, feel free to reopen the issue if it happen again.

[2020-04-20 19:19] #716 closed

[2020-04-20 23:31] BlueJay89 commented on #785
I will double check.  I thought I had before which is when I got the strange search page.  I will try again though.

[2020-04-20 23:37] BlueJay89 commented on #785
I ensured no instances of chrome or any other web browser were running using task manager.  Then proceeded to attempt to use the --allow-file-access-from-files command.  An instance of chrome opened up, then said the url could not be reached, then went the strange search result page I showed in one of the screen caps I posted.

[2020-04-21 09:13] dhruvmisra commented on #580
@llaske, I want to propose a solution for this. When the user clicks 'Next' after entering name, we can POST the name along with a `beforeSignup` flag to the signup URL. A little modification in the signup method on the server will check this flag and use existing functions to validate the uniqueness of username. This would reuse existing routes and functions.

[2020-04-21 16:14] llaske commented on #785
Hmmm. Very strange. I've tested with the same version than you and it works on my side.
Plus your error message is very clear about the problem.

Could you set the current directory to the Sugarizer location before launching Chrome?
Once again, ensure first that no Chrome instance are running (to be sure reboot your computer).
Then open a command line and do something like that:

[code]

[2020-04-21 16:29] llaske commented on #782
@sarthak-g may be we don't understand steps to reproduce the issue.

Could you detail exact clicks you've done?

[2020-04-22 02:54] sarthak-g commented on #782
@llaske I noticed, it works fine if we press next button in tutorial using mouse whereas it hangs when we do next using keyboard arrow keys in second time of tutorial.
![ebook DEMO](https://user-images.githubusercontent.com/42293606/79935246-0f890e80-8472-11ea-9b0a-f48da74cb2a0.gif)

[2020-04-22 13:04] lp1dev opened #787 "XSS injections on Labyrinth JS and Paint Activity"
Hi!
Going through the code again I noticed two XSS injections on sugarizer.
The first one is on labyrinthJS, the text you input can be interpreted with a payload such as (watch out, whitespaces are important).

`</><img src=h onerror=alert(JSON.stringify(localStorage)) />`

The second one concerns PaintJS and is even more interesting as I think it could be triggered through a shared drawing on som

[2020-04-22 19:36] llaske commented on #782
YEEESSSS ! I've reproduced the issue.

So, it happens only when using the RIGHT key to do Next the second time.
Thanks.

[2020-04-23 19:38] llaske commented on #787
You're right. Thanks.
At first, I suggest to repeat the same fix. There's no so much activities with input then rendering.

[2020-04-23 23:46] BlueJay89 commented on #785
That is what I've been doing, it has not been successful.

[2020-04-24 13:30] jrtechs commented on #785
running with the command on linux (manjaro):

[code]

![Screenshot_2020-04-24_09-29-43](https://user-images.githubusercontent.com/13894625/80217581-f1f0ac00-860d-11ea-8d87-5d8cb4c37fa5.png)

I get a clear screen with a single error in the console. I have no other instances of chromium running.

I got this working again after clearing all cache on my web browser

[2020-04-24 19:21] llaske commented on #785
That's better :-) Now,  clear your browser cache, it should work.

[2020-04-25 04:41] Swayamsvk opened #788 "excessive zoom leads to text disappearence in Calligra Activity"
![calligra](https://user-images.githubusercontent.com/42679893/80271340-f768f780-86dc-11ea-8549-ae87ec471dbb.gif)

[2020-04-25 04:45] Swayamsvk commented on #788
I don't know the best solution to this as limiting the magnification leads to different sizes for different letters and even shapes. If anyone can suggest something please let me know.

[2020-04-25 14:16] llaske commented on #788
It's not a bug in my opinion: whatever you zoom there is always a time where the object will be invisible.

[2020-04-25 19:44] llaske opened #789 "Splitbar in toolbar of Clock activity are half sized in Chrome"
Splitbar use to separate buttons in Clock activity are half sized:

![image](https://user-images.githubusercontent.com/981841/80289216-80b01680-873d-11ea-9c37-16f14ed3ec43.png)

See the difference with splitbar in Shared notes activity:

![image](https://user-images.githubusercontent.com/981841/80289272-e6040780-873d-11ea-8831-86407f439bfb.png)

It works fine in Firefox.

[2020-04-25 22:28] dhruvmisra commented on #789
I have proposed a solution for this in #790.

[2020-04-26 14:18] Swayamsvk commented on #788
How about we add a drag feature as in shared notes activity by this way we can view the shape by just dragging the screen.

[2020-04-26 19:57] llaske commented on #788
Could be a good idea but difficult to implement because drag is already use for drawing

[2020-04-26 20:50] Swayamsvk commented on #788
I think you are right @llaske .

[2020-04-26 20:50] #788 closed

[2020-04-27 16:16] llaske commented on #789
Fixed in https://github.com/llaske/sugarizer/pull/790

[2020-04-29 11:51] Swayamsvk opened #791 "Providing validation during login and creating new user"
Currently, we have invalid feature during validation but we don't have an alert message when the user field is or the password field is empty.

[2020-04-29 19:39] llaske commented on #791
It's not possible to click next when the login field or the password field is empty.
I think it's obvious.

[2020-04-29 22:07] Swayamsvk commented on #791
I thought maybe a validation setup is not complete. But it will do the job @llaske .

[2020-04-29 22:07] #791 closed

[2020-04-30 09:34] sarthak-g opened #792 "Wrong title of blinker button in Game Of Life activity"
![blinkerTitleGameOfLife](https://user-images.githubusercontent.com/42293606/80695665-dd238500-8af3-11ea-92b1-a1582311b955.PNG)

[2020-04-30 09:48] sarthak-g opened #793 "Canvas overflows in Game of life Activity in chrome"
Canvas overflows and "Generation" not visible for width greater than 1000px in chrome.
![CanvasOverflowsGameOfLife](https://user-images.githubusercontent.com/42293606/80697442-94210000-8af6-11ea-897a-348cf565d1ce.PNG)

[2020-04-30 10:14] sarthak-g opened #794 "Name and XO visible even after removing in Memorize Activity"
In memorize activity, more than two users are not allowed. Users are automatically removed but their name and XO icon are still present.
In the image below, "sarthakGupta" and "hellomnop" are automatically removed but their name and XO are still present.
![NameAndXOMemorize](https://user-images.githubusercontent.com/42293606/80699348-70ab8480-8af9-11ea-9c58-e1053bc36d41.PNG)

[2020-04-30 11:07] sarthak-g opened #795 "Enhancement in multiplayer mode of Memorize activity"
1. Game stuck if one among the two users playing the game left. Although the game starts again if a new user joins.
Suggestion: Game should continue like the single-player mode until new user joins.
2. Reset button should be disabled in between the game. Otherwise, the user who is losing the game can press it.

[2020-04-30 21:17] quozl commented on #795
First issue I agree with.

Second issue I'm ambivalent about.  Learning software need not attempt to implement social controls, because the environment the software is used in already has a strong social control system that needs challenges like this for learning to occur.  As long as it is quite clear _who_ pressed the reset button, I'm fine with it.

[2020-05-01 07:31] sarthak-g commented on #795
I understood your point. Thank you!

[2020-05-01 10:34] llaske commented on #792
Fixed in https://github.com/llaske/sugarizer/pull/796

[2020-05-01 10:40] llaske commented on #793
It's not related to the width but to the ratio between width and height.
But I'm agree that the responsiveness of Generation label could be improved.

[2020-05-01 10:43] llaske commented on #794
Good shot. You're right.

[2020-05-02 19:34] llaske commented on #580
Fixed in https://github.com/llaske/sugarizer/pull/786

[2020-05-03 09:34] llaske commented on #580
Require fix https://github.com/llaske/sugarizer-server/pull/266 on server.

[2020-05-03 18:58] BlueJay89 commented on #785
@llaske, I have reached the end of the semester in the course I am in that has required I attempt to use sugarizer.  While I cannot guarantee I will discontinue attempting to get this to work, it is no longer priority for me.  I appreciate the help you've provided and hope this issue can be solved for anyone else who may experience it.

I still have yet to get this to work on my personal computer.

[2020-05-03 19:34] llaske commented on #785
Thanks for your detailed description. But it's very important to use to be able to reproduce the issue.
Could you confirm you've got always the same error in the console?

[2020-05-04 05:03] phoenix14113 opened #797 "calculate activity outputs error checking funtion if graph function is changed to "f(y) =""
function f(y) { if (arguments.length != 1) { throw new SyntaxError("Wrong number of arguments in function f (" + arguments.length + " provided, 1 expected)"); } return y }

This is output if you change the graphing function f(x) to another variable f(y). Numbers and symbols output the correct, right column, formatted error handling but letters, with the exception of x, output the actual code.

[2020-05-04 06:59] hbkaye commented on #797
Same happen if you use anything other than 'f(x)' like g(x) or x(y).
Perhaps, input value is being checked against 'f(x)' to start graph.
Need to compare input with /^[a-z]\([a-z]\)/i or something similar.

[2020-05-04 07:01] hbkaye commented on #797
Should I fix this ?

[2020-05-04 14:09] BlueJay89 commented on #785
The list of errors I have seen in the console have been the same every time that I have also seen the sugarizer main screen.  In this situation the screen is grayed out and inaccessible with no ability to interact with it in any way.

[2020-05-04 18:17] phoenix14113 commented on #797
it would be a nice quality of life improvement if it was fixed.

[2020-05-04 20:38] llaske commented on #797
Because the function feature is to compute the y coordinate based on x value to draw the graph, I don't see why it could be pertinent to have something else than x.

[2020-05-04 20:44] llaske commented on #785
Thanks. The issue is not reproducible on our side with your description.
 I'm closing the issue. Will reopen if we could reproduce it.

[2020-05-04 20:44] #785 closed

[2020-05-05 04:13] hbkaye commented on #797
Yes, that is right.
But it can have support for functions like g(x) or y(x) perhaps.

[2020-05-05 15:24] phoenix14113 commented on #797
and even if we don't decided to have support for other functions it would still be good to display the correct error message

[2020-05-05 19:28] llaske commented on #797
@hbkaye no it has no interest.
@phoenix14113 you're right but it should be another issue.

[2020-05-05 20:20] phoenix14113 commented on #797
ok. will do. @llaske

[2020-05-05 20:23] phoenix14113 opened #798 "calculate activity outputs the incorrect error message if variable is changed in function"
function f(y) { if (arguments.length != 1) { throw new SyntaxError("Wrong number of arguments in function f (" + arguments.length + " provided, 1 expected)"); } return y }

This is output when you change the x in f(x) to any other letter. the correct error message should be "invalid left hand side of assignment operator =".

[2020-05-05 20:32] #797 closed

[2020-05-08 09:00] llaske opened #799 "Feature to add a background to Shared Notes activity"
It could be nice to add a feature to set the background of the Shared Notes activity.
Currently the background is just white.

![image](https://user-images.githubusercontent.com/981841/81390006-073ffd00-911b-11ea-8e9d-93c2943ce4c6.png)

This new feature should:

- [ ] Add a new icon in the toolbar to select the background from the Journal
- [ ] Set the image as the background
- [ ] Handle resizing

[2020-05-08 09:04] llaske commented on #62
Exploration of this new feature is not convincing.

[2020-05-08 09:04] #62 closed

[2020-05-08 09:10] llaske commented on #592
Thanks to all participants.
BTW we've decided that the winner of the challenge is https://github.com/llaske/sugarizer/pull/702
Anyone could propose improvements on the activity.

[2020-05-15 20:51] llaske opened #803 "Wrong song is play on slow device/connection in TamTam activity"
When using TamTam activity on slow device or on slow connection (force network to "Slow 3G" on Chrome for example), the wrong song is played.
The previous song is played instead of the one clicked.

[2020-05-16 14:27] llaske commented on #803
Fixed in https://github.com/llaske/sugarizer/commit/1c64811311fb438a99e5de459b9785594778e9a6

[2020-05-17 08:27] llaske commented on #686
Fixed in https://github.com/llaske/sugarizer/pull/687

[2020-05-17 20:42] llaske commented on #710
Fixed in https://github.com/llaske/sugarizer/pull/784

[2020-05-18 20:53] phoenix14113 opened #804 "Calculate activity suggestion to put axes intersecting at the origin on the graph function"
I found it confusing for there to be no axes at the origin when functions were being graphed. The numbering at the sides of the screen is fine but having lines that represent x=0 and y=0 would be nice quality of life.

[2020-05-19 19:19] llaske commented on #804
Not sure to understand, axis are there.

![image](https://user-images.githubusercontent.com/981841/82368892-6f91b700-9a16-11ea-9f18-51fd2216f342.png)

[2020-05-22 20:45] llaske commented on #579
Fixed in https://github.com/llaske/sugarizer/commit/e24a3d80fb23dbb06fb1e8fd8a25e9c929eaa139

[2020-05-24 15:10] llaske opened #807 "Export palette in Write activity pop at the wrong place"
Steps to reproduce:
- Launch Write activity with the Export palette not visible (because the screen is too small)
- Resize the screen to view the Export palette
- Click on the Export palette, it's displayed at the left of the screen

![Peek 24-05-2020 17-06](https://user-images.githubusercontent.com/981841/82757548-6ff8cc00-9de1-11ea-98c0-657843de1fe6.gif)

[2020-05-24 15:11] llaske commented on #804
Not reproductible

[2020-05-24 15:11] #804 closed

[2020-05-27 18:10] prakashujjwal1010 commented on #807
Well, I found this bug not only in write activity but also in other activities.
this bug is occuring because the updatePosition for palette is not getting called on every click for toolbuttons.
 see the code from `palette.js` of sugar-web library

`        invoker.addEventListener('click', function (event) {
            if (!that.invoker.classList.contains("toolbutton")) {
                updatePo

[2020-05-27 22:31] quozl commented on #807
If you fix it please also do so in https://github.com/sugarlabs/sugar-web

[2020-05-28 15:44] llaske commented on #807
Hmmm. First send a PR for Write, then we could extend it to sugar-web in all activities.
Which activities have you tested?

[2020-05-28 16:42] prakashujjwal1010 commented on #807
I have tested Paint activity , Physics activity, constellation
see below for physics activity,
![ezgif com-video-to-gif (13)](https://user-images.githubusercontent.com/40318927/83169009-0570c480-a130-11ea-9197-63691a877421.gif)

basically it will occur when the palette's position or display property gets changed.

[2020-05-29 16:25] prakashujjwal1010 opened #810 "when connected to server, activities get shared automatically"
when connected to server, activities get shared automatically without even clicking network button.
I tested with both dev.sugarizer.org and local server on even different laptops in `dev` branch .
also tested on [https://dev.sugarizer.org/](https://dev.sugarizer.org/)
The issue doesn't occur in `master` branch.
from this issue several activities are having problem like In last one loses activity

[2020-05-29 18:17] dhruvmisra commented on #810
Hey @prakashujjwal1010, I tried to replicate the issue on my side but I wasn't successful. The activity was not being shared automatically after opening it. I tried running the local server and also on https://dev.sugarizer.org/. Could you explain the steps you followed? Or could you mention other activities you are facing this issue with?

I did notice a different strange behavior: If I click on

[2020-05-29 18:36] prakashujjwal1010 commented on #810
Steps to replicate the issue:
- Log in as a new user,
- open any activity and share it by clicking on the network palette.
- now stop the activity
- now when you open any other activity , it will get shared automatically

[2020-05-29 18:56] dhruvmisra commented on #810
Weird, I still couldn't replicate it. :(
I tried it with a different browser too. Try clearing your browser cache, maybe that'll help?

[2020-05-29 19:11] prakashujjwal1010 commented on #810
yes, i tried clearing cache also...but still getting the same.
i even tested it on my phone browser, still getting the issue...
:(

[2020-05-29 21:10] llaske commented on #810
@prakashujjwal1010 could you try with different network speed (choose from the Network sheet in the Chrome dev window)?

[2020-05-30 06:31] dhruvmisra opened #811 "Private button in presence palette shares the activity"
See here:

![presence1](https://user-images.githubusercontent.com/40134655/83321350-a49ad680-a26c-11ea-8929-99474d4804c1.gif)
![presence2](https://user-images.githubusercontent.com/40134655/83321357-a8c6f400-a26c-11ea-8d1c-254f8022b1f4.gif)

It happens in all other activities using the Presence palette. The styling of the palette also becomes erratic as connected user overflows and private/share b

[2020-05-30 06:57] prakashujjwal1010 commented on #810
@llaske @dhruvmisra please try this :

![ezgif com-video-to-gif (15)](https://user-images.githubusercontent.com/40318927/83321840-5be51c80-a270-11ea-95d0-0aac26120474.gif)

- go to [https://dev.sugarizer.org/](https://dev.sugarizer.org/)
- sign in as a new user
- open paint activity from home view or list view

( i've tested this on different laptop )
yes, @llaske  i have tried with different spee

[2020-05-30 07:18] dhruvmisra commented on #810
Yes! It happened with me too. Paint automatically shared an instance. I opened Last One Loses, it didn't  share it automatically but once I shared it myself and closed the activity, every time I open it again it shares it automatically.

[2020-05-30 14:48] llaske commented on #811
Should be fixed by https://github.com/llaske/sugarizer/pull/813
Could you check on your side?

[2020-05-30 14:51] llaske commented on #810
Unfortunately I can't reproduce on my side, even with the detailed steps :-(

I've fixed in https://github.com/llaske/sugarizer/pull/813 the related issue https://github.com/llaske/sugarizer/issues/811.
@prakashujjwal1010 @dhruvmisra Could you check if it fix also this issue on your side?

[2020-05-30 17:31] dhruvmisra commented on #811
Yes, it works well on my side too.

[2020-05-30 20:19] prakashujjwal1010 commented on #810
@dhruvmisra , yes you are right the issue doesn't exist when connected to local remote `sugarizer-server` but when connected to `dev.sugarizer.org`, it is there.

@llaske , when connected to `sugarizer-server` it solves the #811  on my side.

but when connected to `https://dev.sugarizer.org/` now network button is not working means the activity is not getting shared on clicking network button. :(

[2020-05-31 09:05] llaske commented on #810
@prakashujjwal1010 thanks for the detailed description of the issue. It helps me a lot to understand the problem. The difference with a local server and `dev.sugarizer.org` - and also the reason why I can't reproduce the issue on my side - is that it depends of the network latency to accept connection.
I've finally reproduce the issue on my side by forcing my local server to 1 second wait before a

[2020-05-31 11:06] dhruvmisra commented on #810
I changed the network throttling in Chrome Dev tools to 'Mid-tier mobile' and I was able to reproduce the issue using local server as well.

@llaske The PR does fix the issue. No problems after network throttling as well.

Also thanks to @prakashujjwal1010, now that I have your attention on Last One Loses activity, I think the workflow after sharing the activity can be improved. As you can see, th

[2020-05-31 15:45] prakashujjwal1010 commented on #810
@llaske , the issue is fixed now, on my side. thanks.
@dhruvmisra , yes I think letting user play until another user connects or if opponent leaves in the middle is a good idea.

[2020-06-01 20:19] llaske commented on #810
Thanks to both of you.

@dhruvmisra I'm agree regarding Last One Loses activity. Please fill an issue regarding that.

[2020-06-02 06:48] dhruvmisra opened #815 "Last One Loses activity is unplayable after sharing without second player"
Once you share the activity, the computer stops playing and the game is stuck waiting for the second player.

![lolNetworkIssue2](https://user-images.githubusercontent.com/40134655/83488433-74e90a00-a4ca-11ea-9cb9-1e15790bbf75.gif)

Also if the second player leaves during a game, first player is stuck again and can only play the game after restarting the activity.

![lolNetworkIssue1](https://user

[2020-06-02 18:23] phoenix14113 commented on #798
If you enter any character except x in the f(x) graphing utility for example:
![Error step 1](https://user-images.githubusercontent.com/64759516/83555486-34d25900-a4c3-11ea-98a3-1e94aa6fb641.PNG)
you get this error message inside of the input box:
![Error step 2](https://user-images.githubusercontent.com/64759516/83555630-64816100-a4c3-11ea-94b3-8b9851e57438.PNG)
and if you press enter when this e

[2020-06-02 20:41] llaske commented on #810
Fixed in https://github.com/llaske/sugarizer/commit/95e9cd2b0f26d48a058b01fd7928c9ee97928467

[2020-06-02 20:43] llaske commented on #811
Fixed in https://github.com/llaske/sugarizer/commit/95e9cd2b0f26d48a058b01fd7928c9ee97928467

[2020-06-03 20:25] llaske commented on #807
Fixed in https://github.com/llaske/sugarizer/pull/808

[2020-06-07 08:42] llaske commented on #815
Fixed in https://github.com/llaske/sugarizer/commit/889293a5447ce8cbd31d5ce88890bb62e68bc653

[2020-06-19 07:35] llaske commented on #592
Fixed in https://github.com/llaske/sugarizer/pull/702

[2020-06-25 13:40] prakashujjwal1010 opened #822 "There is sometimes a difference between the list of connected users in presence palette"
when connected to ' dev.sugarizer.org' server there is a difference in the list of connected users in presence palette among the connected users.
for example:
for the host 'okub'
![Screenshot from 2020-06-25 17-50-16](https://user-images.githubusercontent.com/40318927/85719551-287d9c80-b70d-11ea-934d-5879d901d1e3.png)

but for the user joined 'okaypudio'
![Screenshot from 2020-06-25 17-52-32](http

[2020-06-28 19:50] llaske commented on #822
I've reproduced it by adding a tempo before accepting request on the server.

[2020-06-28 20:32] llaske commented on #822
I've create a fix in https://github.com/llaske/sugarizer/pull/824

@prakashujjwal1010 could you test on your side?

It's not a definitive fix since there is currently no choice to use a tempo to detect connection. But it should happen more rarely now. Plus console error should disappear now.

[2020-06-28 22:42] prakashujjwal1010 commented on #822
@llaske , i have tested it (also by changing network throttling) and it is working fine. now the list of connected users is same for all the users.The issue is resolved now. Thanks.

[2020-06-29 16:21] dhruvmisra opened #825 "Record activity produces unplayable videos in Chrome/Chromium"
If a video is recorded through Record activity in Chrome/Chromium based browsers, the output is unplayable from the activity popup. Tested on Chrome Version 83.0.4103.116 (Official Build) (64-bit).
It also doesn't show up when inserting a video (using `mimetype: video/mp4`) from the Journal.

It seems to be working on Firefox. On further comparison, a difference was observed in the Console:
Chromi

[2020-06-29 19:56] llaske commented on #822
Fixed in https://github.com/llaske/sugarizer/pull/824

@prakashujjwal1010 and @dhruvmisra , please report the fix in your current activity.

[2020-06-29 20:29] llaske commented on #825
Works on latest Chromium version 83.0.4103.106.

[2020-06-30 07:59] llaske opened #826 "Is it possible to use JavaScript ES6 syntax in activities ?"
Previously, JavaScript ES6 syntax was prohibited in Sugarizer and in Sugarizer activities.
Is it still the case?

[2020-06-30 08:06] llaske commented on #826
After a bunch of testing (see [here](https://github.com/llaske/sugarizer/tree/feature/es6)) and a fix on minify process (see [here](https://github.com/llaske/sugarizer/pull/783)), the ES6 syntax is now officially supported in source code for Sugarizer and for activities.

The only exception is the [ES6 modules feature](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules) that is

[2020-06-30 08:11] dhruvmisra commented on #826
During our discussion on the Knowledge Activity pack, you mentioned about some incompatibilities with iOS as well. Do those still exist?

[2020-06-30 08:14] llaske commented on #826
@dhruvmisra No, I've tested on all platforms so it works also on iOS.

[2020-06-30 08:19] dhruvmisra commented on #826
Wonderful! Finally we can use Promises. 😍 It's great milestone for Sugarizer.

[2020-07-03 20:58] prakashujjwal1010 opened #828 "Timer in chess activity stops on inactive tabs"
The timer or clock in chess activity stops inactive tabs.
steps:
1. enable clock in activity
2. switch tab or minimize it.
3. open after some time.

[2020-07-05 13:58] llaske commented on #828
Nice shot. A perfect feature for cheaters :smile:

[2020-07-05 13:59] llaske commented on #828
Fixed in https://github.com/llaske/sugarizer/pull/829

[2020-07-05 19:52] llaske commented on #825
Tested on latest Chrome version 83.0.4103.116 on Linux: works.
But don't work on the same version on MacOS and Windows.

[2020-07-22 17:10] jaggu21 opened #835 "Certain portion of circles get hidden in Reflection Activity (Improper Responsiveness)"
Little portion of circles in the Reflection Activity are getting hidden when the window size is increased.

**Smaller window size:**
![small](https://user-images.githubusercontent.com/56889104/88206100-6669d400-cc6b-11ea-83ca-ddc576ffafb3.png)

**Same window when enlarged:**
![large](https://user-images.githubusercontent.com/56889104/88206230-92855500-cc6b-11ea-9955-c0202bbb4c28.png)

Notice that

[2020-07-23 20:37] llaske commented on #835
Unfortunately, Sugarizer can't be responsive for any size of device.
General rules are fixed [here](https://github.com/llaske/sugarizer/issues/422) and hiding the toolbar using Fullscreen button is the usual work around.
In your case it seems the the window has width < 600 and height < 200 that is a very uncommon size for a real device.

[2020-07-29 13:58] hr1sh1-coding commented on #566
@llaske could I work on this issue, maybe help those already on it?

[2020-07-29 14:08] A1eph0 opened #837 "Detailed instruction page"
There is minimal instructions currently on how each activity works. A detailed instructions, in the form of an instruction page or an example could help (if not children, then at least their instructors/guardians) to use the program in a better manner, and engage more effectively.

[2020-07-29 14:41] hr1sh1-coding opened #838 "Undo button for Gears activity"
Drawing lines (or any other figure that's not closed) results in the gears (through which the lines pass) getting deleted. Its highly  likely one might delete by mistake, in which case having an undo button would be a good thing.

Also, it's not possible to draw very small gears (I'm not sure whether this is a bug or a feature).

[2020-07-29 20:04] llaske commented on #837
Hmmm, did you see that each activity has a tutorial included? Just click on the "?" button in the toolbar and you will have a detailed explanation of activities.
A global overview of activities with a demo video of each is also available [here](https://sugarizer.org/activities.html).

[2020-07-29 20:14] llaske commented on #838
Hmmm. I'm not sure it's so easy to delete a figure by mistake because you should draw the line exactly over the figure to delete. Because it's not allowed to draw a figure over another figure, I don't think you could do it without intention.

Yes it's not possible to draw very small gears else it will not be possible to join it with others.

[2020-07-30 07:56] hr1sh1-coding commented on #838
When one tries to draw gears very close to other gears, there might be overlap, which causes deletion.

[2020-07-30 08:05] hr1sh1-coding commented on #837
Yeah, I am aware of the tutorial included . But the instructions in it is minimal. For some activities it is sufficient, but for others it may not be. For example, in the Abacus tutorial there's no guidance as to how an abacus works or can be used.

I think having more detailed instructions could be significant upgrade to the user experience.

[2020-07-31 20:03] llaske commented on #838
Okay you're right. It could help in some cases.
A Redo button should be added too.

[2020-07-31 20:19] llaske commented on #837
We're thinking to write a pedagogic manual for teacher to explain how activities could be useful in the classroom.
I guess it's close to the idea of your improved documentation.
But to be honest, documentation is more for teacher than for children. Children try and explore and don't read documentation. It's the general philosophy of Sugarizer.
BTW, feel free to suggest improvement on some existing

[2020-08-02 13:57] jaggu21 commented on #835
Yeah indeed these window sizes are uncommon so they shouldn't create much of an issue.
Thanks for the clarification!

[2020-08-02 16:40] #835 closed

[2020-08-26 21:10] dhruvmisra opened #842 "Camera remains active in the background after launch in the Android app"
If the camera is launched in the Sugarizer Android app (either for server setup or from QR Code activity) it remains active in the background.

See here:
![Screenshot_20200827-001923](https://user-images.githubusercontent.com/40134655/91357036-37b4bf80-e80e-11ea-83ca-657efea5a40d.jpg)

You can see the viewfinder of the camera active in the bottom strip behind the UI elements. Also there is a conti

[2020-09-09 20:40] llaske opened #847 "Drawing in GridPaint flash the screen on some Android devices"
On some Android devices, here a Lenovo TB2-X30F on Android 6.0.1, the screen is flashing when drawing in GridPaint activity.

![lenovo_gridpaint_flashissue_app](https://user-images.githubusercontent.com/981841/92651707-3e9f0000-f2ed-11ea-9656-f1358e6aa8ef.gif)

A work around is to go back to the list of drawing then clicking again on the drawing.
The flash disappears after few seconds.

This issue

[2020-09-12 19:56] llaske opened #849 "Bad handling of multitouch in Physics activity"
In Physics activity on touch devices, when creating a new item with one finger then using another finger, a new item is created but the first one is stick in the air at its original position.
The only action possible on the first one is now to remove it.

See in action below:

![ezgif com-video-to-gif(2)](https://user-images.githubusercontent.com/981841/93003899-c03b9b80-f542-11ea-8452-63b107676c1

[2020-09-12 20:44] llaske opened #850 "Leaving Sugarizer app without leaving current activity cause some activities to become empty"
It's possible to leave Sugarizer when an activity is still running: by closing the browser or by quitting the app.
In that case when the activity is relaunch, the content of the activity is empty.
Of course it's not a good idea for the user to leave activity on this way because it could lost its current work but having an empty context is not a good experience.

![Peek 12-09-2020 22-32](https://us

[2020-09-12 20:46] llaske commented on #850
@dhruvmisra, could you have a look on it? I guess it could be solve by saving the Journal instance when the context is load.

[2020-09-13 21:24] dhruvmisra commented on #850
Hmmm, is the journal entry modified right after accessing it from the datastore? I'm not sure why that would happen.

[2020-09-16 19:41] llaske commented on #850
I guess it's because the Journal entry is empty.
The Journal entry is created automatically by Sugar-web when a new instance is launched. So if the instance has no opportunity to save it - usually done on Stop event - the entry content is still empty.

[2020-09-19 14:31] dhruvmisra commented on #850
Oh right, it's a new instance. Okay I'll save the context right when the activity (new instance) is loaded.

[2020-09-20 14:54] llaske opened #852 "Font is too small in Tangram activity on Safari or iOS"
The font use for categories name, tangram name, time, score is too small on Safari or on iOS devices.

See how it appears on Safari:

![Capture d’écran 2020-09-20 à 16 07 17](https://user-images.githubusercontent.com/981841/93714266-cabced00-fb61-11ea-9f3c-2e5128078ef1.png)

See how it appears on Chrome:

<img width="996" alt="Capture d’écran 2020-09-20 à 16 12 26" src="https://user-images.git

[2020-09-20 14:54] llaske commented on #852
@prakashujjwal1010 could you have a look on it?

[2020-09-20 19:55] llaske commented on #852
Sound like is related to the device resolution (seen the same issue on Windows version).

[2020-09-23 08:15] llaske opened #854 "Wrong poll is displayed in Vote activity"
When there was some creation/remove of poll, it could happens that the wrong poll is displayed when clicking on it.

Steps to reproduce:
- Create a new Vote instance
- Add a new poll labeled 6
- Add a new poll labeled 7
- Remove poll labeled 6
- Create a new poll labeled 8
- Click on poll 8, the poll 7 is displayed instead

[2020-09-23 08:17] llaske commented on #854
@dhruvmisra I guess it's related to the unique id generated for the new poll, it should depend of the number of current poll count. So when a poll is removed then a new poll created it could reuse the same id.

[2020-09-23 10:08] dhruvmisra commented on #854
@llaske Yes you're right, the issue was caused due to the unique ID generated being *not so unique*. Added a PR to fix it.

[2020-09-23 14:07] anukaal opened #856 "Add a more sign(pic)"
You can add a more sign under the activity list in the main page of sugarizer . to explore more activities but now three dots jpg file is not looking more interactive

you can add other pics in that so that people can go and check it out the other activities as well , not o ly the main page activities

[2020-09-23 19:32] #828 closed

[2020-09-23 19:33] #727 closed

[2020-09-23 19:33] #731 closed

[2020-09-23 19:33] #733 closed

[2020-09-23 19:33] #736 closed

[2020-09-23 19:33] #739 closed

[2020-09-23 19:33] #741 closed

[2020-09-23 19:33] #745 closed

[2020-09-23 19:33] #750 closed

[2020-09-23 19:33] #752 closed

[2020-09-23 19:33] #754 closed

[2020-09-23 19:33] #756 closed

[2020-09-23 19:33] #758 closed

[2020-09-23 19:33] #761 closed

[2020-09-23 19:33] #764 closed

[2020-09-23 19:33] #766 closed

[2020-09-23 19:33] #777 closed

[2020-09-23 19:33] #789 closed

[2020-09-23 19:33] #792 closed

[2020-09-23 19:33] #803 closed

[2020-09-23 19:33] #807 closed

[2020-09-23 19:33] #810 closed

[2020-09-23 19:33] #811 closed

[2020-09-23 19:33] #815 closed

[2020-09-23 19:33] #822 closed

[2020-09-23 19:33] #205 closed

[2020-09-23 19:33] #374 closed

[2020-09-23 19:33] #579 closed

[2020-09-23 19:33] #580 closed

[2020-09-23 19:33] #592 closed

[2020-09-23 19:33] #686 closed

[2020-09-23 19:33] #697 closed

[2020-09-23 19:33] #700 closed

[2020-09-23 19:33] #710 closed

[2020-09-23 19:33] #715 closed

[2020-09-23 19:33] #723 closed

[2020-09-23 19:33] #725 closed

[2020-09-23 19:38] llaske commented on #854
Fixed in https://github.com/llaske/sugarizer/commit/a6c461aa7dd89b22a333a2f30a9129a54e77278d

[2020-09-23 20:47] llaske commented on #856
Not sure to understand which picture your talking about.

Activities displayed in the main page are activities marked as favorite.
If there is enough room in the window, activities are displayed in a spiral:

![image](https://user-images.githubusercontent.com/981841/94067443-27ccd300-fdee-11ea-856f-013b52818d8f.png)

If the window is too small, activities are displayed in a circle and three dots a

[2020-09-26 08:02] llaske opened #857 "Allow frog to move with arrow keys in FoodChain activity"
In the Play game of the FoodChain activity, it's possible to move the frog using I, J, K, L keys on the keyboard.
It will be better to be able to move it using arrow keys instead.

![image](https://user-images.githubusercontent.com/981841/94335932-59f15700-ffdf-11ea-9959-69eb24321674.png)

[2020-09-26 08:09] llaske opened #858 "Improve frog control using touch/click in FoodChain activity"
In the Play game of the FoodChain activity, it's possible to control frog move using click on touch.
It works when click/touch is done far from the frog and in the center of the screen but there is several case where it could be improved:
- Click/touch near the frog
- Click/touch near the border of the board
- Click/touch outside of the board

![Peek 26-09-2020 10-04](https://user-images.githubuse

[2020-09-26 08:16] llaske opened #859 "Stop playing a video change to fullscreen in VideoViewer activity"
In VideoViewer activity, there is a button to switch to fullscreen mode.
On touch screen, when you play a video then touch the close button to go back to the main screen, the fullscreen mode is activated.
It happens on touch screen only.

![Peek 26-09-2020 10-13](https://user-images.githubusercontent.com/981841/94336160-392a0100-ffe1-11ea-9f05-8ebc13f94529.gif)

[2020-09-26 13:21] llaske commented on #852
Fixed in https://github.com/llaske/sugarizer/pull/853

[2020-09-26 13:34] llaske commented on #850
Fix for Ebook Reader, Vote and Curriculum in https://github.com/llaske/sugarizer/pull/851.
A specific issue has been opened for Exerciser here: https://github.com/llaske/ExerciserReact/issues/100

[2020-09-26 14:40] Keisuki commented on #858
I don't know how to link my pull request with the issue, so I'll just post the link here:
https://github.com/llaske/sugarizer/pull/860

[2020-09-27 08:55] llaske commented on #858
Just mention the issue in the body of your PR.

[2020-09-27 19:23] llaske opened #861 "Unable to connect to HTTP server on Android 9"
When attempting to connect to a Sugarizer Server using HTTP on an Android 9 device, there is an error "Remote server not responding".

![Screenshot_20200927-150608](https://user-images.githubusercontent.com/981841/94373701-6b358300-0107-11eb-9370-a26b2cc004b8.png)

When leaving the Sugarizer Android application and trying to connect to the same server with the browser on the device, it works.

Cha

[2020-09-27 20:10] llaske opened #862 "Video Viewer content is empty on Android 9 devices"
When launching Video Viewer activity on an Android 9/10 device, the screen is empty and there icon for cloud error is displayed.

![Capture d’écran du 2020-09-27 22-04-43](https://user-images.githubusercontent.com/981841/94374678-25c88400-010e-11eb-9fdf-e3162c0faa97.png)

[2020-09-27 20:12] llaske opened #863 "Ebook Reader content is empty on Android 9 devices"
When launching Ebook Reader activity on an Android 9/10 device, the screen is empty and there icon for cloud error is displayed.

![Capture d’écran du 2020-09-27 22-05-21](https://user-images.githubusercontent.com/981841/94374705-5c060380-010e-11eb-9d60-0fd1065912b8.png)

[2020-09-27 20:16] llaske commented on #863
A work around is to click the settings icon then change `http` to `https` in the dialog box and click ok icon.

![image](https://user-images.githubusercontent.com/981841/94374802-fcf4be80-010e-11eb-9a61-747eabe3cdf9.png)

[2020-09-29 19:50] llaske commented on #858
Fixed in https://github.com/llaske/sugarizer/pull/860

[2020-10-02 07:28] ricknjacky commented on #857
I'll work on this

[2020-10-02 08:20] ricknjacky commented on #857
hi @llaske did the changes

https://github.com/llaske/sugarizer/pull/864#issue-496744402

[2020-10-03 07:09] ricknjacky opened #865 "In FoodChain Activity, the frog currently moves using the keys "I,J,KL" & generates an unexpected behavior"
![gif](https://user-images.githubusercontent.com/50985033/94985016-0ac39d00-0570-11eb-87ff-bd43b06ba04a.gif)

The behavior is quite random and to be honest quite confusing, However this is in reference to the edits suggested in #857
Creating this issue, to bring light on what was additionally wrong with using I,J,K&L

[2020-10-03 07:10] ricknjacky commented on #865
Creating a new pull request that solves this and #857 too, waiting for feedback on the same.

[2020-10-03 07:17] ricknjacky commented on #865
#866

[2020-10-03 08:37] llaske commented on #857
Fixed in https://github.com/llaske/sugarizer/commit/9630d2973641b13e86db7992c97fe3b794f08257

[2020-10-03 08:39] llaske commented on #865
Sounds like the same issue that https://github.com/llaske/sugarizer/issues/857.
So it should be fixed now on the dev branch by https://github.com/llaske/sugarizer/commit/9630d2973641b13e86db7992c97fe3b794f08257. Could you retry with the latest dev branch?

[2020-10-03 08:55] ricknjacky commented on #865
closing the issue thanks for the clarification here
https://github.com/llaske/sugarizer/issues/857#issuecomment-703069302

[2020-10-03 08:55] #865 closed

[2020-10-03 08:59] llaske opened #867 "Add a popup when image is exported in Moon activity"
Moon activity allow generation of the current image of the Moon in the Journal by clicking on the dedicated icon in the toolbar (to the right on the screen capture below).

![image](https://user-images.githubusercontent.com/981841/94987323-efec2b00-0565-11eb-941e-e9573535f46d.png)

It will be nice to notify the user when this export is done.
The idea is to add a popup like in the QRCode activity.

[2020-10-03 09:04] llaske opened #868 "Add a popup when image is exported in Shared Notes activity"
Shared Notes activity allow generation of the current work in the Journal by clicking on the dedicated icon in the toolbar (to the right on the screen capture below).

![image](https://user-images.githubusercontent.com/981841/94987639-1612ca80-0568-11eb-8824-a8db71b0a476.png)

It will be nice to notify the user when this export is done.
The idea is to add a popup like in the QRCode activity.

![im

[2020-10-03 09:06] llaske opened #869 "Add a popup when image is exported in Labyrinth activity"
Labyrinth activity allow generation of the current work in the Journal by clicking on the dedicated icon in the toolbar (to the right on the screen capture below).

![image](https://user-images.githubusercontent.com/981841/94987690-6f7af980-0568-11eb-9d50-f1a04659c933.png)

It will be nice to notify the user when this export is done.
The idea is to add a popup like in the QRCode activity.

![image

[2020-10-03 09:08] llaske commented on #856
Close due to lack of response.
Feel free to reopen it if need.

[2020-10-03 09:08] #856 closed

[2020-10-03 09:11] llaske opened #870 "Add a popup when image/sound is exported in Abecedarium activity"
Abecadarium activity allow export of an image or a sound in the Journal by clicking on the dedicated icons in the toolbar (to the right on the screen capture below).

![image](https://user-images.githubusercontent.com/981841/94987767-152e6880-0569-11eb-904b-4b3fa1212b87.png)

It will be nice to notify the user when this export is done.
The idea is to add a popup like in the QRCode activity.

![ima

[2020-10-03 10:26] ricknjacky commented on #867
@llaske I'd like to work on this issue can you give me a headstart?

[2020-10-03 10:49] llaske commented on #867
Look on the source code I've pointed and do the tutorial on localization it should give you a good introduction. Do not hesitate to ask if you've got more specific questions.

[2020-10-03 13:02] ricknjacky commented on #867
![Screenshot (164)](https://user-images.githubusercontent.com/50985033/94992245-45e0c300-05a6-11eb-9566-0a189d3f2fec.png)
I did as you advised me to. I now have an understanding of Localization and I refereed to the QR Code example, for some reason, When I run the activity(MoonActivity) now I am not getting the usual output we get, It's just a blank screen

Can you please help me out here a bit? W

[2020-10-03 13:22] llaske commented on #867
`humane` library is not included in the activity, you should include the `js` file and the `css` file.
Plus you should reference it in the `define` section like explained in the tutorial [here](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial/VanillaJS/step2.md).
Then you will have to create a new string for the message in the `.ini` file.
I suggest you to complete the whole [tutorial](h

[2020-10-03 13:24] ricknjacky commented on #867
I will rectify the mistakes and covey the new changes and yes will go through tutorials again 🙏 thanks for guiding 😊

[2020-10-03 21:06] llaske commented on #861
It's related to a limitation of Android 9+ that forbid by default the use of HTTP in Web View. See [here](https://stackoverflow.com/questions/56821000/neterr-cleartext-not-permitted-error-on-ionic-android-live-reload).
Thought it's possible to force back this behavior, it sounds reasonable.

So [this commit](https://github.com/llaske/sugarizer/commit/b1d2b5cc43605e7c58af1cd0037af49d44206b6d) now u

[2020-10-03 21:07] llaske commented on #862
It's related to a limitation of Android 9+ that forbid by default the use of HTTP in Web View. See [here](https://stackoverflow.com/questions/56821000/neterr-cleartext-not-permitted-error-on-ionic-android-live-reload).
Thought it's possible to force back this behavior, it sounds reasonable.

So [this commit](https://github.com/llaske/sugarizer/commit/d166ce5e24e3aeb138cb9fe6c4561c4598b44465) now u

[2020-10-03 21:08] llaske commented on #863
It's related to a limitation of Android 9+ that forbid by default the use of HTTP in Web View. See [here](https://stackoverflow.com/questions/56821000/neterr-cleartext-not-permitted-error-on-ionic-android-live-reload).
Thought it's possible to force back this behavior, it sounds reasonable.

So [this commit](https://github.com/llaske/sugarizer/commit/d166ce5e24e3aeb138cb9fe6c4561c4598b44465) now u

[2020-10-04 07:45] ricknjacky commented on #867
![Screenshot (166)](https://user-images.githubusercontent.com/50985033/95009908-0916d980-0643-11eb-8295-dab702fefc88.png)

@llaske I have did as you advised me to, I have added the  changes in .ini file and also included the js and html files

I also have made one separate modal button project, that is just a simple popup on button click project. However here I am struggling a bit; please guide me

[2020-10-04 08:58] llaske commented on #867
You should not just add `humane` in the define section, you should also add a `humane` parameter to host it.
Compare your code to the tutorial and to the QR Code activity to see differences.

[2020-10-04 21:28] ricknjacky commented on #868
91750d0870c0cf2cf5cfc293b83d993593e8d43c

fixed this in here, please review

[2020-10-04 22:12] ricknjacky commented on #868
@llaske please review changes

[2020-10-04 22:13] ricknjacky commented on #867
Thanks for guiding @llaske made changes

[2020-10-04 22:25] ricknjacky commented on #870
fixed, waiting for a feedback

[2020-10-06 10:23] ricknjacky commented on #867
#876 solves this, @llaske please review

[2020-10-06 10:37] ricknjacky commented on #868
#877 PR solves this issue

[2020-10-06 10:53] ricknjacky commented on #869
#878 solves this

[2020-10-06 11:13] ricknjacky commented on #870
#879 fixes this

[2020-10-07 08:48] Mrhb787 commented on #859
*Seems like there is a bug in script*
**I would like to work on this issue can you give me a headstart!**

[2020-10-07 09:25] Mrhb787 opened #881 "No Undo Button in Gears Activity in Sugarizer"
## Issue Details
👉  **In the Gears Activity There is No `Undo` button, only a `Clear` button available that clears all the gears due to which if someone makes a mistake or create a wrong gear only choice he/she has is to clear everything and start from very beginning.**

## Proposed Solution
The Simple solution will be to have an **`Undo` button available** OR  **`Clear` button can be improved suc

[2020-10-07 09:30] #881 closed

[2020-10-07 14:54] llaske commented on #859
I don't think it's related to a bug.
I think it's related to the UI: the close dialog button is located at the same place than the fullscreen button.
So the same touch raise two events: close then fullscreen. May be it's possible to stop the propagation of the [close dialog event](https://github.com/llaske/sugarizer/blob/dev/activities/VideoViewer.activity/dialog.js#L138). Else it will be need to

[2020-10-08 20:29] llaske opened #885 "Add an option to remove seconds hand in Clock activity"
The Clock activity provide an option to let users set the clock by moving hands manually.
It's nice to learn children how to read time.

![image](https://user-images.githubusercontent.com/981841/95509291-96945980-09b4-11eb-8948-8254fdd8cf00.png)

BTW it's complex for children, specifically for younger one, to set the seconds hand.
The idea of this enhancement is to add an option to hide/display th

[2020-10-08 20:38] llaske commented on #867
Fixed in https://github.com/llaske/sugarizer/pull/882

[2020-10-08 20:51] llaske commented on #868
Fixed in https://github.com/llaske/sugarizer/pull/883

[2020-10-09 15:03] llaske commented on #869
Fixed in https://github.com/llaske/sugarizer/pull/884

[2020-10-10 04:58] ricknjacky commented on #870
![image](https://user-images.githubusercontent.com/50985033/95646151-26d0bc80-0ae3-11eb-8afb-4c64d03737ca.png)

I have to add the humane library in this file and particularly call it in the highlighted part of the code ?

[2020-10-10 19:50] llaske commented on #870
Hmmm. In this activity all define are load one time [here](https://github.com/llaske/sugarizer/blob/dev/activities/Abecedarium.activity/js/activity.js#L3) and store in the `Abcd` global variable. I think it's better to do the same for the `humane` library.

[2020-10-11 09:18] llaske commented on #859
Fixed in https://github.com/llaske/sugarizer/pull/888

[2020-10-16 19:48] saurabhhere opened #890 "Typo in Step 2 of Tutorial"
In the heading of Step 2 'Customize' is spelled as 'Ccustomize' ref. https://github.com/saurabhhere/sugarizer/blob/master/docs/tutorial/VanillaJS/step2.md#step-2-ccustomize-icon-and-content

![Screenshot from 2020-10-17 01-00-48](https://user-images.githubusercontent.com/60233336/96302327-43568280-1016-11eb-8610-a454fcf2bc55.png)

[2020-10-17 09:30] llaske commented on #890
Good shot.
Same problem in Vue.js tutorial so I've renamed your issue.

[2020-10-17 11:55] saurabhhere opened #892 "Actual File Structure of ActivityTemplate is Different than what it is shown in Tutorial"
### Actual File Structure of template is different from what shown in photo of File Structure in Step 1 in Tutorial

**In Vanilla JS Tutorial** (ref. https://github.com/llaske/sugarizer/blob/master/docs/tutorial/VanillaJS/step1.md#file-structure )

Shown File Structure:
![Screenshot from 2020-10-17 16-53-31](https://user-images.githubusercontent.com/60233336/96336235-ea313200-109b-11eb-94a1-fa575a

[2020-10-17 12:48] saurabhhere commented on #892
Can I work on this?
Thanks :)

[2020-10-17 13:29] llaske commented on #890
Closed in https://github.com/llaske/sugarizer/pull/891

[2020-10-17 13:29] #890 closed

[2020-10-17 13:32] llaske commented on #892
Hmmm. The file structure is very similar. There is very limited difference.
I don't think it could be confusing for users.

[2020-10-17 13:40] saurabhhere commented on #892
That's totally fine..I was just going through the steps and found this so I thought to discuss it with you.
You can close this issue if you want.

[2020-10-17 13:42] #892 closed

[2020-10-18 20:25] llaske opened #893 "Check if login exist before asking password"
When an user try to login, the password is asked even if the login doesn't exist.

![Peek 18-10-2020 22-14](https://user-images.githubusercontent.com/981841/96382491-a409ca80-1190-11eb-91e8-5df5fe037b90.gif)

It will be better to ask the password only if the user exist.
The fix could take inspiration from https://github.com/llaske/sugarizer/issues/580

[2020-10-18 20:37] llaske opened #894 "Add more fun at end of Calligra"
When an user complete a letter in Calligra activity. Nothing happens.

![Peek 18-10-2020 22-34](https://user-images.githubusercontent.com/981841/96385165-660da600-1192-11eb-8c64-9ac2531c8324.gif)

It will be nice to add:
- [Confetti](https://github.com/catdad/canvas-confetti) to celebrate it like in Tangram activity
- A button to propose to do the next letter

[2020-10-31 19:31] saurabhhere opened #895 "Wrong values for inverse trigonometric function in Calculate Activity"
Below mentioned bugs are achieved from Sugarizer web (http://try.sugarizer.org/)

Getting __wrong value of inverse trigonometric function when angle type is 'degree'__ :

For asin(0.5) expected value is 60 degree but we are getting 0.000152
Also the range for x in asin(x) is from -1 to 1 but calculator is showing value for x =2 also:

![Screenshot from 2020-11-01 00-45-35](https://user-images.gith

[2020-11-07 14:38] llaske opened #897 "Password characters flash from color to black&white"
Password characters (animals to click on, instead of typing in letters) flash in color for a half-second when you login. Then after that fraction of a second, the animals revert to black+white.

It happens on slow connections.
Below is on Chrome with Slow 3G mode.

![Peek 07-11-2020 15-33](https://user-images.githubusercontent.com/981841/98443955-10804580-210f-11eb-8140-68ea283b1d51.gif)

Referenc

[2020-11-07 15:05] llaske commented on #895
Good shot. Thanks.
And it look like it's only in degree mode.

![image](https://user-images.githubusercontent.com/981841/98444620-fcd6de00-2112-11eb-8e43-36615d3abb5b.png)

@mikklfr do you think it could be related to the automatic degree to radian conversion [here](https://github.com/llaske/sugarizer/blob/dev/activities/Calculate.activity/js/calculate-app.js#L270)?

[2020-11-12 21:05] llaske commented on #894
Fixed in https://github.com/llaske/sugarizer/pull/896

[2020-11-15 09:39] llaske commented on #885
Fixed in https://github.com/llaske/sugarizer/commit/0aa669ed630a83ef629b0b3bc6b36107d19edad8

[2020-11-15 15:10] llaske commented on #893
Fixed in https://github.com/llaske/sugarizer/commit/811cd00b89a82a7d6c47979d04da6454e9151d50

[2020-11-18 13:16] Eric38fr opened #898 "[Color My World/Try version] Error between the two Korea"
In the "Color my World" activity (french version of Try Sugarizer, "https://try.sugarizer.org/activities/ColorMyWorld.activity/index.html?aid=ebbbaf9a-2355-4428-93bc-bd6a7dbc651a&a=org.sugarlabs.ColorMyWorldActivity&o=87fdb363-5699-4605-a190-e289d3eb70bb&n=Activité%20ColorMyWorld"), when playing in interactive mode, if it shows the (north) Korea label and shape, I had to click of the south Korea i

[2020-11-18 15:38] llaske commented on #898
Thanks, you're right.
But the issue seems limited to the Asian view, it works in the World view.

Sound like there is a name issue in [asia.geojson](https://github.com/llaske/sugarizer/blob/dev/activities/ColorMyWorld.activity/data/asia/asia.geojson) file: `Korea` string should be `North Korea` and `South Korea` should be `North Korea`. Guess that just updating this file should solve the issue.

<

[2020-11-19 20:26] llaske commented on #898
Fixed in https://github.com/llaske/sugarizer/pull/899

@Eric38fr, you could test the fix on the dev server here: https://dev.sugarizer.org

[2020-11-22 22:05] Eric38fr commented on #898
@llaske: Okay, I have just verified in the dev.sugarizer.org instance, Asian view, and it's now okay.

Other issues (should I have open a new one ? it shall be in the same file, I guess), still in the dev.sugarizer.org instance, "Color my World" module, world view, interactive mode:
- The **West Bank question dialog** shows the shape of **Israel**, and by the way, in **_french_**, **West Bank** is

[2020-11-24 20:21] llaske commented on #898
Yes please, fill a new issue for these remarks.

@ccosse could you give use your opinion about these questions.

[2020-11-24 20:37] ccosse commented on #898
@llaske/sugarizer <sugarizer@noreply.github.com>  I will try to have a look
asap ... could be couple days until I have time, but I will follow-up.
Thanks

On Tue, Nov 24, 2020 at 12:22 PM Lionel Laské <notifications@github.com>
wrote:

--

ccosse.github.io

[2020-11-24 21:54] llaske commented on #897
Fixed in https://github.com/llaske/sugarizer/commit/10be097082871eebc820b7978e6ed899e5d2142b

[2020-11-27 21:19] ccosse commented on #898
I fixed West Bank and Somaliland ... @Eric38fr how are you seeing French translations when those seem to be disabled now?  I could add those translations but it would not matter since fr is no longer enabled.

[2020-11-29 20:57] llaske commented on #898
To see another language you need to change it in Sugarizer: go back on home view, right click on buddy icon to display menu then click on settings item then language. So choose French to see French language.

[2020-11-30 06:17] ccosse commented on #898
Tried to address all things mentioned here ... N. Cyprus is clickable for me ... changed name as suggested and added any missing N. Cyprus entries throughout.  Copied Palestine.png to West\ Bank.png.   If you see something in double curly braces, like {{Somaliland}}, it means that the feature was present in the main geojson file but the translation of the feature name (ie country name) was not fou

[2020-12-01 20:54] llaske opened #901 "Issues on West Bank, Somalia and Cyprus in Color My World"
Related to https://github.com/llaske/sugarizer/issues/898#issuecomment-731854598
Several issues on countries:

- The West Bank question dialog shows the shape of Israel, and by the way, in french, West Bank is Cisjordanie. The Israel question dialog shape is okay.
- There is also Somalia shape which includes {{Somaliland}} (which is what UNO reckognizes), therefore Somaliland is in both zones (jus

[2020-12-01 20:59] llaske commented on #901
Fixed in https://github.com/llaske/sugarizer/commit/d9dd7bd39017354f28878e0c46da9486cfa2be08

[2020-12-01 21:08] llaske commented on #898
@Eric38fr I've open a new issue here: https://github.com/llaske/sugarizer/issues/901
@ccosse fixed it in https://github.com/llaske/sugarizer/pull/900.
The fix is published on https://dev.sugarizer.org. Let us know if you find other issues.

[2020-12-02 10:32] RinkiyaKeDad commented on #870
Hey @llaske! I'm new to Sugarizer development and would like to take this issue up. @ricknjacky are you still working on it? If yes would you like some help?

[2020-12-02 20:33] llaske commented on #870
Hi @RinkiyaKeDad, sure you can complete the current work by @ricknjacky. That's how open source works!

[2020-12-03 21:09] llaske commented on #278
It's fixed in the v1.4.0

[2020-12-03 21:09] #278 closed

[2020-12-11 11:15] Parthkhandelwal0 commented on #895
hey @llaske! is anyone working on this issue? i would like to contribute should i go ahead?

[2020-12-11 21:16] llaske commented on #895
Hi @Parthkhandelwal0, you're welcome to work on it.

[2020-12-12 10:35] jubonhomme opened #903 "Option for clock to show or hide minutes, AM hours, PM hours"
Is it possible to add a button to show or hide the hours AM and PM hours and minutes with the corresponding colors?
Here is another example of an interactive clock that I find very complete.
http://www.informatique-enseignant.com/horloge-interactive-pour-apprendre-heure/
![image](https://user-images.githubusercontent.com/29262866/101981465-57f97480-3c6d-11eb-8cd6-76804499d8b1.png)

[2020-12-13 04:00] ricknjacky commented on #870
@RinkiyaKeDad
Sorry for the late reply, I just lost track of this one, and recently I've been busy with exams at my University.
this issue is solved pls refer #889 { I had some ambiguity pertaining to testing the changes in this activity, though that's solved now}

Even my experience with the codebase is pretty nascent, maybe we should explore the platform and it's codebase a bit more so that we d

[2020-12-13 04:01] ricknjacky commented on #870
@llaske #889 solves this issue, I tested (rightly this time) the changes.
Pls review

[2020-12-13 21:23] llaske commented on #903
Good idea!

[2020-12-14 10:20] RinkiyaKeDad commented on #870
Hey @ricknjacky thanks for letting me know. Would definitely like to collaborate with you on solving some other issue!

[2020-12-15 08:41] blank-27 commented on #857
can i work on this issue ?

[2020-12-15 20:12] llaske commented on #870
Fixed in https://github.com/llaske/sugarizer/pull/889

[2020-12-15 20:25] llaske commented on #566
Fixed in https://github.com/llaske/sugarizer/pull/905

[2020-12-17 19:08] saurabhhere commented on #559
Hi,
I tried solving this issue but got to know that we can change the size of the canvas while the window resizes but can't change the size of elements existing inside it.

Preview:

![FotoToon Canvas Responsive](https://user-images.githubusercontent.com/60233336/102529604-25fd6d80-40c6-11eb-9ed5-2a48f5da2e60.gif)

When I checked why actually this is happening then I got to know that the values of

[2020-12-18 05:45] saurabhhere commented on #895
Hi @Parthkhandelwal0, are you working on this issue?

[2020-12-18 20:24] ricknjacky commented on #799
@llaske I have tried my hand at this, the new behavior is:-
![ezgif-2-5130c683c1ac](https://user-images.githubusercontent.com/50985033/102658010-c0c87b80-419c-11eb-9a31-0f777d1c53c6.gif)

I am not sure if this matches the expected behavior. As you can see at the end when I add note two notes get added, I am kind of stuck as to why that is happening ;-;  I fondly anticipate your feedback on this an

[2020-12-19 10:07] llaske commented on #559
Hmmm. I agree that it's complex to resize elements inside the canvas.
BTW we could resize the canvas and center content in the canvas. So if the current window size is larger than the initial size the content will not appear in the top left corner.

[2020-12-19 10:11] llaske commented on #799
I don't think two notes are added. It look like the control use to set input text is not at the right place: both should be at the same place.

[2020-12-19 11:17] ricknjacky commented on #799
Adding a background and Handling of zoom I've already shared in the previous comment.
Coming to the issue of drag, I had this misconception of dragging the image inside of canvas, hence the grey area in previous comment's gif.

![Sugar](https://user-images.githubusercontent.com/50985033/102687948-32460f80-4219-11eb-8cdc-ce0b15d4128d.gif)

Does this now satisfy the behavior expected?

[2020-12-19 12:25] amitchakraborti9 commented on #895
Hi @llaske,
I just submitted a pull request which fixes the issue without implementing the suggestion.

[2020-12-19 12:36] saurabhhere commented on #559
Regarding the content in the canvas, they are not controlled using media queries here. So they will remain in the same x, y coordinates always until the user drags them to a new position and saves it using the stop button.
Content will not appear in the top left corner, it will remain in its position when the window resizes.

Preview of what I am saying:

![FotoToon](https://user-images.githubuser

[2020-12-19 21:08] llaske commented on #559
Sounds good.

[2020-12-20 20:24] llaske commented on #799
The grey area is not an issue. It's normal to have a grey (or white) area at some point when the board is moved outside the background image. But the background should move when board is moved.

[2020-12-20 20:36] llaske commented on #895
Fixed by https://github.com/llaske/sugarizer/pull/908

[2020-12-22 12:57] codescientist703 commented on #903
hi @jubonhomme , Can I work on this if you are not working ? this looks like a nice feature to implement.

[2020-12-22 13:43] jubonhomme commented on #903
Yes you can...
I am not a programmer, just a teacher with some ideas and proposals
I used this old clock a few years ago but it only works with flash player...
And now that I know Sugarizer, I would really like to find these options on the clock.
Tank you !

[2020-12-22 15:06] sarthak-g commented on #903
Solved this in pull request #910

[2020-12-25 08:12] prakashujjwal1010 opened #911 "Option in Paint Activity to export the current drawing to the journal as an image"
It would be a nice feature if we have a button to export the current drawing in Paint activity to the journal as an image ( like we have in Moon Activity) in JPEG or PNG format.
for this, a simple toolbar button would work.
The user/child can later use his/her drawing and can import it to various other activities like Write Activity, Curriculum Activity, etc. from the journal.

[2020-12-26 09:31] llaske commented on #911
In fact, it's already possible to import directly a Paint content into an activity.
Fototoon activity implement it [here](https://github.com/llaske/sugarizer/blob/dev/activities/Fototoon.activity/js/activity.js#L106). It take no more than 2 lines of code.
So IMHO the question is more to update activities where importing Paint content make sense than adding one - more - toolbar button in Paint to e

[2020-12-26 10:00] prabhsharan36 opened #913 "No Tooltip for journal button on home page, also no tooltip on some toolbar buttons in journal page."
Tooltip is very essential part in Sugarlabs because it is used mostly by childrens. So, It would be easy for them to read tooltip and know what the button will do.

[2020-12-26 10:03] prabhsharan36 commented on #913
I would like to work on this issue.

[2020-12-26 14:22] prakashujjwal1010 commented on #911
yes, agreed.
But the export tool button was also useful to save the drawing in form of image for more general use ( like downloading image to device directly and using that image off the sugarizer platform etc)
However, your "updating activities rather than adding one more toolbar button" point makes sense to me.

[2020-12-26 21:07] llaske commented on #903
Fixed in https://github.com/llaske/sugarizer/pull/910
@jubonhomme you could test the fix on the dev platform: https://dev.sugarizer.org

[2020-12-26 22:25] jubonhomme commented on #903
Merci beaucoup pour ce travail et la réactivité !

Juste une petite remarque, l'affichage du nombre des minutes (60, 15 et 45) sur les côtés et en haut, est légèrement coupé sur l'affichage à 100%... il faudrait élargir un petit peu le cadre.
![image](https://user-images.githubusercontent.com/29262866/103159904-48cb0880-47cf-11eb-9503-870fbbb33b82.png)

Sur mon écran ça passe bien si je zoom à par

[2020-12-27 08:32] sarthak-g commented on #903
@jubonhomme Can you try once after clearing all cookies.
In my laptop, it is showing correct with 100% zoom.

![clock_am_pm_display](https://user-images.githubusercontent.com/42293606/103166847-262b0500-484c-11eb-8eca-fc12c15581b0.JPG)

[2020-12-27 10:28] llaske commented on #903
I'm agree that may be we could add some pixel margin to the top. It seems specifically visible on Firefox.

![Peek 27-12-2020 11-18](https://user-images.githubusercontent.com/981841/103168703-b578ee00-4835-11eb-9b88-b4726bf9bc1a.gif)

Regarding splitting options 12/24h and showing minutes, I'm usually not in favor to add too much buttons in the toolbar (to avoid a too complex UI). BTW you're right

[2020-12-27 11:51] sarthak-g commented on #903
@llaske I'm not able to reproduce first issue on firefox and chrome. Is I'm missing something?

Uploading clock_activity_screen.mp4…

[2020-12-27 13:36] jubonhomme commented on #903
I tested with linux (Ubuntu 20.04) Firefox and Chrome, always the same issue.

But it's Ok with win10 for Chrome and Firefox...

It's only with Ubuntu

[2020-12-27 18:14] sarthak-g commented on #903
Thanks @jubonhomme  for confirming.
I tried with Ubuntu 19.04 but not able to reproduce the issue. May be it's only there in 20.04
Although I tried to solve it in #915

[2020-12-27 20:52] llaske commented on #903
More a resolution issue because my test above was on Ubuntu 20.04 with Firefox.

[2020-12-27 21:38] llaske commented on #911
Okay you're right. I will try to do some space later. May be by grouping some icons in palettes.
I've commented your PR.

[2020-12-27 21:44] llaske commented on #913
Tooltips are not so essential because it can't be displayed on touch screens.
Plus Help button give an explanation of each element of the UI.
BTW, sure you could propose a PR to fix tooltips where there missing.

[2020-12-27 22:51] jubonhomme commented on #903
It happens only when the window is full screen... it's strange

A new video capture with chrome, if that can help you
https://user-images.githubusercontent.com/29262866/103181121-c3625980-489d-11eb-8c1d-89bc5c28cc7f.mp4

[2020-12-28 12:07] sarthak-g commented on #903
Tried with firefox on 20.04 but not able to reproduce it. I reduced clock radius when displaying minutes in #915
Hope it resolves the issue.

[2020-12-29 09:22] llaske commented on #911
Fixed in https://github.com/llaske/sugarizer/pull/912

[2020-12-30 10:50] llaske commented on #903
@jubonhomme the new version is online on https://dev.sugarizer.org
Please test the new feature (split of 24h/minutes buttons) and fix on size.

[2020-12-30 16:30] jubonhomme commented on #903
Perfect !
![image](https://user-images.githubusercontent.com/29262866/103367150-a65b9f80-4ac4-11eb-8cc3-7cf9b602a221.png)

[2021-01-03 05:56] saurabhhere opened #918 "No Tutorial in Get Things Done Activity"
![Screenshot from 2021-01-03 10-40-32](https://user-images.githubusercontent.com/60233336/103472673-ffbe1a00-4db5-11eb-988a-67d5570bb0ff.png)

Without a tutorial Get Things Done activity looks different from the rest of the activities of sugarizer.

[2021-01-03 21:24] llaske commented on #918
Hmmm. Honestly I think that a tutorial for this activity is useless. The UI speak by itself.
Your PR is a clear evidence of it: only two sentences to explain how it works.

[2021-01-04 07:14] saurabhhere commented on #918
Yes, you're right that UI explains it itself but when I used this activity after using other activity its top bar attracts my attention first as it is the activity not having a help button, it is a button that I as a user expecting consistent in all activities. Even if it does not seem useful to you as a tutorial, I think as a user it improves my experience while using the activity to some level.

[2021-01-06 20:47] llaske commented on #918
I'm not sure it's better to have a consistent UI versus a more simple UI. I think simple is better. For the same reason there is no fullscreen button in this activity because it will be useless.
Regarding the future, to be honest, I'm not sure that the Get Things Done activity will be there in future Sugarizer versions. There is no clear evidence of the usage of this activity on the field.

[2021-01-08 05:09] saurabhhere commented on #918
Okay, I understood your point. Thanks for the explanation.
I am closing this issue and PR #919

[2021-01-08 05:09] #918 closed

[2021-01-13 20:53] saurabhhere commented on #748
Hi @llaske, I have checked the graphic files for the Exerciser activity but haven't found why this bug is present. Is it something related to graphics or something else? Can you please help me with what may be the reason for this, it will help me a lot.
Thanks

[2021-01-13 21:04] llaske opened #920 "Add country flag in Color My World activity"
Color My World display country name at the bottom right in Coloring mode:

![Peek 13-01-2021 21-56](https://user-images.githubusercontent.com/981841/104510150-05540500-55eb-11eb-8d7b-e29de1f24183.gif)

and in a popup in Tour/Interactive mode.

![Peek 13-01-2021 21-57](https://user-images.githubusercontent.com/981841/104510165-0c7b1300-55eb-11eb-96e4-4aab33041a76.gif)

It would be nice to add to th

[2021-01-13 21:22] llaske opened #921 "Implement a full 24h mode in Clock activity"
A new feature https://github.com/llaske/sugarizer/issues/903 of Clock activity added a 24h mode to display 24h value for hours.

The idea is to improve this mode to:
- Use this settings for digits too
- Change background of the clock for PM hours (may be from white to black)
- Allow to pass to AM and PM when rotating the clock arrows
- Ask questions for AM and PM in play mode
-
![Peek 13-01-2021 2

[2021-01-14 20:53] llaske commented on #748
Arrow visibility is controlled by Sugar-web styles [here](https://github.com/llaske/sugarizer/blob/dev/lib/sugar-web/graphics/css/sugar-96dpi.css#L78) and [here](https://github.com/llaske/sugarizer/blob/dev/lib/sugar-web/graphics/css/sugar-96dpi.css#L284).
Don't know why it doesn't work for this specific palette and works for others.

[2021-01-18 21:28] llaske commented on #920
Fixed in https://github.com/llaske/sugarizer/pull/922