[2014-06-04 21:38] francocorreasosa opened #10 "Learn to Code Activity (Server)"
Not Found

The requested URL /sugarizer/activities/learntocode.activity/book_data/basics/types.html was not found on this server.

Apache/2.2.22 (Debian) Server at server.sugarizer.org Port 80

**The URL should be /activities/learntocode.activity/book_data/basics/types.html**

[2014-10-21 20:11] #10 closed, assigned to nobody

[2016-03-13 13:51] bzg opened #39 "TurtleJS uavailable on the online demo version"
http://server.sugarizer.org/activities/TurtleJS.activity/index.html?aid=c04a28b0-121e-4553-8854-73defa97e718&a=org.sugarlabs.turtleJS&n=TurtleJS returns a 404 error.

Also, the icon is not visible in http://server.sugarizer.org.

[2016-03-13 14:06] erilyth commented on #39
I am able to reproduce the first part of the issue on firefox.
http://server.sugarizer.org/activities/TurtleBlocksJS.activity/ however allows me to access the activity. The activity icon is visible but on clicking it it takes me to the same error page (nothing gets loaded). This does work on chrome however.

[2016-03-13 14:18] bzg commented on #39
Yes, I should have mentioned I only tested with chromium.

Thanks for confirming the problem!

[2016-03-13 15:23] llaske commented on #39
It's a bug related to Sugarizer v0.7. If you've already run Sugarizer v0.6 in your browser, you should see "How to code" and "TurtleJS" activities icons not showing.
It's related to the fact that the TurtleJS.activity has been replaced by the TurtleBlock.activity in Sugarizer v0.7 and that How to code activity has been removed.
A work around to avoid that is to restart from an empty installation.

[2016-03-13 16:24] bzg commented on #39
@llaske thanks for the explanations - looking forward seeing the fix on http://sugarizer.org!

[2016-03-13 16:35] erilyth opened #40 "Add a button which pops up the "My Settings" panel"
To open the my settings panel, currently I am having to go to the neighborhood view and then access it from there. Since there is no popping frame from the edges (like in Sugar) where such buttons can be accessed from, I think it might be useful if we add this button somewhere.

[2016-03-13 20:45] llaske commented on #40
No, the settings panel is accessible from the popup menu of the home view or the neighborhood view.

[2016-03-14 04:18] erilyth commented on #40
@llaske how can we access the popup menu of the home view?

[2016-03-18 21:24] llaske commented on #40
Right click on the buddy icon and the popup menu will appear.

[2016-03-19 06:06] #40 closed

[2016-04-01 00:01] davelab6 opened #41 "Package for SandStorm.io"
As the serverside part of Sugarizer grows in complexity - and importance! - it becomes more and more pressing to make setting up Sugarizer servers straightforward.

I would therefore like to propose packaging Sugarizer for [SandStorm.io](https://SandStorm.io)

[2016-04-01 00:04] davelab6 opened #42 "Cap'n Proto for IPC?"
I wonder if https://capnproto.org would be useful for Sugarizer IPC

[2016-04-01 20:49] davelab6 opened #43 "gh-pages branch?"
In https://github.com/llaske/sugarizer/branches I see there is a gh-pages branch, not updated for 2 years. I suggest to remove it, or, perhaps better, to merge master into it and then set gh-pages to the default branch in https://github.com/llaske/sugarizer/settings and then remove the master branch from https://github.com/llaske/sugarizer/branches :)

[2016-04-01 21:08] davelab6 opened #44 "Naming of Components"
In README, there are 3 components,
- Thin Client
- Client
- Server

I propose naming them
- Web App
- App
- Server

[2016-04-01 21:18] davelab6 opened #45 "PouchDB?"
I see the server db is mongo. I wonder if there is something for mongo like PouchDB (which is for CouchDB on the server) so that any user input that happens offline will be queued up and synced when the user gets back online?

[2016-04-02 21:17] davelab6 opened #47 "Move to github.com/sugarlabs?"
Why is this project in https://github.com/llaske and not https://github.com/sugarlabs ? :)

cc @walterbender

[2016-04-03 07:36] llaske commented on #47
Historically the project started here and he stayed here. Will be happy to move it to sugarlabs but I'm not a sugarlabs committer.

[2016-04-03 07:39] llaske commented on #42
IPC communication between Sugarizer Server and Sugarizer Client is not an issue for the moment. Performance could probably be increase but I don't think it's a priority.

[2016-04-03 07:42] llaske commented on #43
You're right I've removed it. I don't to use gh-pages any more because since Sugarizer Server include node.js and MongoDB it can't work only in a simple HTTP server.

[2016-04-03 07:42] #43 closed

[2016-04-03 07:45] llaske commented on #41
Hmmm. Not sure to understand how it could be use and what the impact could be on the current way of working of the server.

[2016-04-03 08:49] llaske commented on #44
Yes. It make sense, current naming is "old school" :-) Will do it on the next version.

[2016-04-03 18:43] davelab6 commented on #47
Do you know who admins it?

[2016-04-03 23:03] davelab6 opened #48 "Licensing "fun""
@llaske I am curious, why did you choose the Apache 2.0 license for Sugarizer?

I am worried that many python Sugar programs are licensed under GPLv2.

When you port a program from one language to another, the port is a derivative of the original under copyright (like translating a novel from French to English.) Therefore GPLv2 programs ported from Python to JavaScript must also be licensed under

[2016-04-03 23:56] davelab6 opened #49 "Importance of unit testing?"
It seems that `/test` has not been updated for 4 months.

For the next 'stable' release of Sugarizer, how important is it that the unit tests be updated?

(I wondered about this since testing was mentioned in https://github.com/mattlag/Glyphr-Studio/issues/234)

[2016-04-04 09:41] llaske commented on #48
Apache 2.0 license is the one used by SugarLabs, specifically for Sugar-Web, it's the reason I've decided to take it for Sugarizer.

I don't see the issue regarding porting of activities from Sugar to Sugarizer because porting Python/Gtk to JavaScript/HTML5 is technically impossible. So it's more a rewriting than a real porting. I don't think it could have license infringement in that case.

[2016-04-04 09:47] llaske commented on #49
4 months is the release date of the last stable version of Sugarizer.
We could hope that new unit tests will be include in the next release.
BTW Sugarizer unit testing currently cover:
- For client side: Datastore and Presence,
- For server: Activities, Users and Journal.

So there is not automated unit testing of the UI today.

[2016-04-04 09:52] llaske commented on #45
Datastore on the client side is not handle in a db but directly using localStorage. There is no complexity on this side for the moment. So I don't see benefit to use PouchDB (or another local DB) now.

[2016-04-04 10:21] llaske commented on #47
Guess it's @dnarvaez.
However my previous attempt to merge - specifically Sugar-Web, see https://github.com/sugarlabs/sugar-web/pull/110 and https://github.com/sugarlabs/sugar-web/pull/111 - was unsuccessful.

[2016-04-04 13:08] walterbender commented on #47
Let me upgrade your status on github.com/sugarlabs and your should be able
to do the transfer.

On Mon, Apr 4, 2016 at 6:21 AM, Lionel LASKE <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2016-04-04 13:40] davelab6 commented on #47
On 4 April 2016 at 06:21, Lionel LASKE <notifications@github.com> wrote:

Migrating the repo from user to org is not the same as make a pull request
to merge your commits upstream :)

[2016-04-18 03:57] davelab6 opened #54 "Update etoys in Sugarizer"
Looks like there is already a port of etoys to js :)

http://bertfreudenberg.github.io/SqueakJS/etoys/

[2016-04-18 08:33] davelab6 commented on #54
http://snap.berkeley.edu/snapsource/snap.html also fun

[2016-04-18 11:49] llaske commented on #54
Etoys is already in Sugarizer ! thought not in the favorite view because it's not fully working on all platforms.

[2016-04-18 14:51] davelab6 commented on #54
Great! And snap? :)

[2016-04-18 16:24] llaske commented on #54
Ooops not seen Snap. Will test it.

[2016-04-18 16:43] davelab6 commented on #54
Also http://lively-kernel.org

[2016-04-18 19:24] davelab6 commented on #54
l-k moved on to http://lively-web.org and is being actively developed

Great intro: https://www.youtube.com/watch?v=QTJRwKOFddc

[2016-04-18 21:19] davelab6 commented on #45
I found https://github.com/mWater/minimongo as a similar tool for MongoDB.

Currently you store data on client side using localStorage, but how do you sync this data with the Sugarizer Server?

[2016-04-18 21:31] llaske commented on #45
For each user, there is a local Journal stored in the localStorage and two remotes Journal stored on the Sugarizer Server: one that only the user can see, one shared by all users on the server.
Both remote Journal content are stored in MongoDB.
So, there is no synchronization: each user could choose which content he want to put on the server and which content he want to share.

[2016-04-18 22:16] davelab6 commented on #45
What about when the user works offline, and then comes online?

[2016-04-19 03:15] davelab6 commented on #54
Also http://tinlizzie.org/chalkboard/#Home

[2016-04-20 02:39] davelab6 opened #55 "Sugarizer Server Sisters"
A number of other projects very similar to Sugarizer Server exist.

It would be great for them to be integrated with Sugarizer Server in some way.... Here's the 2 I'm aware of so far:
- http://solarspell.org
- https://learningequality.org/ka-lite/

[2016-04-20 16:57] erilyth opened #58 "KA View Activity, audio does not stop playing on exit"
When I play a video and then close it, the audio does not stop playing. On playing another video, the previous audio and the current audio get played together.

Also at times when I play a video, 2 audio sequences start playing simultaneously with a small time delay. On pausing the video, one of them stops but the other one still keeps running.

[2016-04-20 21:26] davelab6 commented on #54
So, Lively is done by "the" Dan Ingalls, who was the guy who actually implement Smalltalk in the 70s and 80s with Alan Kay. http://lively-web.org/projects.html is a list of examples of it in use.

[2016-04-20 22:28] davelab6 commented on #54
Snap led me to http://bjc.berkeley.edu - very nice.

[2016-04-21 01:45] davelab6 commented on #54
http://aprt.us also very nice

[2016-04-21 02:06] davelab6 commented on #54
https://github.com/cdglabs/moonchild from the appertus org

[2016-04-22 14:49] llaske commented on #55
I know KA Lite, I used it to develop the KA View activity currently included in Sugarizer.
But I find KA Lite too complex both for users and to deploy on a server. My wish was only to have a browser to explorer Khan Academy videos and had a way to just copy videos somewhere on a basic HTTP Server. I had to deconstruct KA Lite to finally do that and just point on a server where video are deployed (

[2016-04-22 14:52] llaske commented on #45
The user work offline in the localStorage then could put content from local Journal to the server when online again.

[2016-04-22 15:00] llaske commented on #54
Hmm. Most of these projects are not responsive and for most projects I don't see a clear way to integrate it directly into Sugarizer. I think it's better to let them run side by side with Sugarizer.
Plus, on Android for example, we could find Scratch JR which is most interesting than Snap in my opinion.
It's why I'm expect to have in Sugarizer OS a way to launch directly a native application from

[2016-04-22 15:01] davelab6 commented on #55
Hmm. That's not quite what I had in mind... but that phrasing gives me another idea :)

www.Sandstorm.io is a deployment server system, a good one.

Perhaps Sugarizer Server should be packaged as a Sandstorm.io package (SPK)?

Then if KA Lite and SolarSpell are also packaged as SPKs, it would be easy for schools to run them all.

[2016-04-22 15:04] davelab6 commented on #45
I see that makes sense for the one that only the user can see; but what about the shared one? Can they edit that offline and sync their changes to it?

[2016-04-22 15:09] llaske commented on #55
Deployment server was not the right word that I had in mind. I'm thinking more about a "content server".
I'm not a big fan of the approach of mix tools together without building a real bridge between them.
Sure it could be easy with tools like www.Sandstorm.io but it's easy to deploy, not easy to use !
If a teacher have plenty of tools to admin  (Sugarizer Server, KA Lite, Solar Spell, ...) with e

[2016-04-22 15:11] llaske commented on #45
Yes. When you open something in a remote Journal, Sugarizer first do a copy in the local Journal, then open it.

[2016-04-22 15:11] davelab6 commented on #54
Is http://server.sugarizer.org/activities/Etoys.activity/index.html responsive?

Is Etoys integrated directly into Sugarizer?

:) My idea of #55 is that "Sugarizer Thin Client" ("Sugarizer Web"? :) would also launch directly related non-activities.

[2016-04-22 15:12] davelab6 commented on #54
If we integrate Snap, we could perhaps form a good relationship with the BJC project... :)

[2016-04-22 15:15] davelab6 commented on #45
NICE!! :D

It seems perhaps we have already all the capabilities that PouchDB offers 'off the shelf.'

If the Font Editor Activity GSOC is done as a Sugarizer Activity, I'll find out more about how what you have works, and be informed about if there's anything Pouch would bring :)

[2016-04-22 15:15] #45 closed

[2016-04-22 15:20] davelab6 commented on #55
Sure. Many schools will also be running Moodle or something like that too, I guess.

How many schools are using Sugarizer Server today? :)

[2016-04-22 15:31] llaske commented on #54
No, it's why I've decided to put it in the "beta zone", i.e. not visible directly from the home view.

For the moment, yes because it's an "legacy" Sugar activity and because it mimic the Sugar UI.
But once again I'm not sure that it will stay here for a long time. It's really not usable except on a PC.

Okay I understand. So something like launching an external URL from the home view ?
But what i

[2016-04-22 15:34] llaske commented on #55
Hmmm.
I guess: none :-)

[2016-04-22 16:07] davelab6 commented on #55
hehe :) Are the stats for server.sugarizer.org available?

[2016-04-22 20:37] llaske commented on #55
Not yet. It was precisely what I've described in the GSoC project "Sugarizer Dashboard Server".
But because we don't have a token for that this year, @mikklfr tell me that it could work on it ;-)

[2016-04-22 23:53] davelab6 commented on #55
Okay cool :) Are any stats being collected for later analysis?

[2016-04-23 20:21] llaske commented on #55
Very few. Hope that it will be improved with the start of the Dashboard project.

[2016-04-23 20:26] davelab6 commented on #55
Okay cool :)

[2016-04-23 21:01] davelab6 opened #62 "Nell Balloons, Nell Colors"
- [ ] http://nell-balloons.github.cscott.net
- [ ] http://nell-colors.github.cscott.net

[2016-04-25 01:14] davelab6 commented on #54
Per thread `[Sugar-devel] Javascript Activities` the SqueakJS version used can be updated

[2016-04-25 03:53] davelab6 opened #63 ""Sugarizer objectives for 2016" minutes"
I thought I'd post this here as I found it in the semi-private XSCE weekly call minutes, and got permission from Adam Holt to re-publish.

---

On Dec 30, 2015 Lionel Laske did a guest talk for the XSCE community on "Sugarizer objectives for 2016":
- 4 strong legacy activities now much-strengthened in Sugarizer, thanks to hard work in 2015: 1 Memorize, 2 Paint, 3 Calculate, 4 Record.
- Bonus Physi

[2016-04-27 19:45] llaske commented on #62
Nell's Colors is very similar to Paint activity. I do like the idea to draw letters and the program recognize the right letter. I think it could be interesting to get this idea to write a dedicated activity to learn writing (at least for touch screens).

Nell's Balloons is nice. GCompris include a very similar activity to learn colors. Note that Nell's Balloons it don't work on Firefox and is very

[2016-04-30 01:02] davelab6 commented on #62
I open such issues to suggest we Sugarizer-ize such edutech

[2016-05-03 15:54] bertfreudenberg commented on #54
This version works a lot better, but it doesn't use the JS Sugar API yet. Is that documented anywhere?

[2016-05-03 17:21] davelab6 commented on #54
AWESOME! Thanks Bert!!

On 3 May 2016 at 11:54, Bert Freudenberg <notifications@github.com> wrote:

--
Cheers
Dave

[2016-05-18 03:55] davelab6 commented on #47
@llaske I upgraded your account so you can now do the transfer :)

[2016-05-18 13:34] llaske commented on #47
@davelab6, @walterbender already send me the right to do that. I plan to do the transfer for the next Sugarizer version.

[2016-05-18 13:39] davelab6 commented on #47
Great!! (Actually he added you as a member, not an owner, so I upgraded your account to 'owner' level :)

[2016-05-19 21:23] davelab6 opened #65 "Sugarizer Scratch"
Seems there was "something" and there will be a real html5 runtime soon :D

https://github.com/LLK/scratch-html5/issues/112

[2016-05-20 20:35] llaske commented on #65
Nice news. Can't wait to see that.

[2016-05-20 22:00] davelab6 commented on #65
https://github.com/LLK/scratch-blocks/

[2016-05-21 12:58] llaske commented on #65
Very cool. Only the editor for the moment and without Scratch blocks. But very promising.

[2016-05-31 11:44] llaske commented on #54
Closed in https://github.com/llaske/sugarizer/pull/64

[2016-05-31 11:44] #54 closed

[2016-06-14 23:21] davelab6 opened #67 "Include ToonTalk in Sugarizer?"
https://github.com/ToonTalk/ToonTalk looks nice

[2016-06-14 23:23] davelab6 commented on #67
https://docs.google.com/presentation/d/1JuKLZ51Y1i99dbpWV8iz-DHM735dIe_hXtgsOntu__Y/edit#slide=id.p has a bit of history

[2016-06-27 20:12] llaske commented on #39
Fixed in https://github.com/llaske/sugarizer/commit/a0110a662e02a5d43e35c52d19080b327b1f9d79
Will be released with v0.8

[2016-06-27 22:34] bzg commented on #39
Thanks!

[2016-07-09 16:08] davelab6 opened #68 "Get Things Done: Reorder Items"
http://server.sugarizer.org/activities/GetThingsDone.activity/index.html doesn't currently allow for reordering items; I suggest this is the next biggest improvement needed

[2016-07-09 16:13] davelab6 opened #69 "MazeWeb: Show Red Face On Start"
IN http://server.sugarizer.org/activities/MazeWeb.activity/index.html the starting state has a grey circle for the player and a bright flashing color for the exit.

This is confusing because it brings attention to the exit at the start instead of the player.

<img width="1750" alt="screen shot 2016-07-09 at 12 11 39" src="https://cloud.githubusercontent.com/assets/261579/16708847/54f8fcbe-45ce-11e

[2016-08-30 17:51] afmachado opened #72 "Localization for Markdown Activity"
There is currently no attempt at localizing any of the text in the Markdown Activity.

Specifically, the following files have hardcoded text on them:
https://github.com/llaske/sugarizer/blob/master/activities/Markdown.activity/lib/Markdown.Editor.js
https://github.com/llaske/sugarizer/blob/6c8472c2aa95b978cb45eabfe16f3c0c64ff1e60/activities/Markdown.activity/js/activity.js

I would like to request

[2016-10-10 22:05] blueemily opened #74 "Translating to Portuguese Brazil"
Hi!

I'm working with my professor, @afmachado, here in UFRGS Brazil, translating free source educating programs. We would like to translate your program. I am just new to this and have not found a string.xml file. Can you tell me how can we do this?

Best regards,

Emily

[2016-10-12 06:56] llaske commented on #74
Hi Emily,

Thanks for your proposal, strings to translate are in the file https://github.com/llaske/sugarizer/blob/master/locale.ini . You just have to create a new section with your translation. There is a "how to" here: https://github.com/llaske/Sugarizer#localization
If you're not familiar with JavaScript, just translate strings in the locale.ini file and I will do the JavaScript part.

Best re

[2016-10-18 19:46] blueemily commented on #74
Hi Lionel, I've done the update of the files. Thank you very much.

[2016-10-22 09:01] llaske commented on #74
Nice. Could you send a PR with your change so I could integrate it in the next release ?

[2016-12-27 11:13] llaske commented on #72
Fixed in https://github.com/llaske/sugarizer/commit/c8163c6f907a5901723fb275519d074fa5e8a123

[2017-01-05 11:46] llaske commented on #74
Fixed in https://github.com/llaske/sugarizer/releases/tag/v0.8

[2017-01-05 11:46] #74 closed

[2017-01-05 11:46] llaske commented on #72
Fixed in https://github.com/llaske/sugarizer/releases/tag/v0.8

[2017-01-05 11:46] #72 closed

[2017-01-05 11:46] llaske commented on #58
Fixed in https://github.com/llaske/sugarizer/releases/tag/v0.8

[2017-01-05 11:46] #58 closed

[2017-01-05 11:47] llaske commented on #44
Fixed in https://github.com/llaske/sugarizer/releases/tag/v0.8

[2017-01-05 11:47] #44 closed

[2017-01-26 07:00] ccosse opened #100 "re: colormyworld"
Hi, I've been working on ColorMyWorld and it's getting very close.  It's playable and is supporting 8 languages (en,fr,de,it,gr,cn,th,sw) and 4 data regions (Africa, Europe, World, Caribbean).  I could use help understanding the palette system.  Alternatively could use a slide-out panel with some toggles and buttons to clear-up the toolbar.  -C

[2017-01-28 22:18] llaske commented on #100
Very nice Charles. I'm going to add Color palette for you. I will send you a PR on your repository.

[2017-01-29 14:32] ccosse commented on #100
Okay, I'm close to making another significant release ... probably the end for a while.  I have broken-apart the world into 11 regions (africa, europe, middle east, asia, caribbean, north america, central america, south america, australia, islands and antactica) and allowing the user to toggle them on/off independently, so can have the whole world by toggling all "on".  Each time a toggle changes

[2017-02-02 21:22] llaske commented on #47
Now on https://github.com/sugarlabs/sugarizer

[2017-02-02 21:22] #47 closed

[2017-02-06 16:43] llaske opened #102 "Remove starred-symbolic.svg file from root directory"
The starred-symbolic.svg file used by Sugarizer OS must not be at the root of the repository

[2017-02-27 18:30] SudhanvaMG commented on #69
Hey , i would like to work on this .
Can you let me know how do i proceed ?

[2017-03-01 20:44] llaske commented on #69
You had to explore the code of the activity and try to understand where is the face changing.
Send a PR when you've done

[2017-03-01 23:51] DarkPrince304 commented on #69
@llaske In case of two player, which players face should we show? Given both are of different color?

Or should the solution be to have the red colour nevertheless?

[2017-03-05 19:17] NikolayOG commented on #68
I would like to work on this. Shall I do it so that the user can drag and drop the tasks to the correct place?

[2017-03-08 20:52] llaske commented on #102
Fixed in https://github.com/llaske/sugarizer/commit/d8077c03fb38e179d1799ed64ade25d7941b1ff9

[2017-03-08 20:52] #102 closed

[2017-03-08 20:53] llaske commented on #100
Fixed in https://github.com/llaske/sugarizer/commit/a2d6a5616be2199b397016d504c453f399f02822

[2017-03-08 20:53] #100 closed

[2017-03-08 20:54] llaske commented on #68
Yes, it could be a good idea.

[2017-03-08 21:03] llaske opened #105 "Add buttons in Markdown activity to show/hide Editor/Preview"
Add buttons in the toolbar to show/hide Editor or Preview pane

[2017-03-09 16:58] aditodkar commented on #105
Hello I am new to open source I would like to work on this how to get started

[2017-03-09 20:41] llaske commented on #105
Hi,
A good start is to understand the Activities part of the README file. https://github.com/llaske/sugarizer#activities
You could also follow the video tutorial to create an activity https://www.youtube.com/watch?v=31CCAYy0pLE&feature=youtu.be
Finally you have to understand how the Markdown activity work.

[2017-03-09 20:41] mikklfr opened #106 "Memorize responsive seems broken on phones"
The paint activity button seems to have troubles with small screen.
Some CSS should be able to fix it.

[2017-03-10 14:48] aditodkar commented on #105
Thanks for providing the youtube link it was very helpful can you please tell me where can I get more information about Markdown activity.

[2017-03-10 18:58] dinesh-sirvi commented on #105
--Some questions--
1)When I hide preview area, should the input area expand and take the entire width?
2)Should it be allowed to hide both of the areas ie., input and preview at the same time?

[2017-03-11 15:32] llaske commented on #105
It has no sense to hide both areas so the non hide area should take the whole space

[2017-03-12 22:26] dinesh-sirvi commented on #106
Couldnt able to reproduce the issue, Can u elaborate it more or provide me the steps to reproduce it?

[2017-03-12 22:26] dinesh-sirvi commented on #105
Opened a pr, plz check

[2017-03-12 22:29] mikklfr commented on #106
My bad, it's the memorize activity. I'm updating the issue.

You can see the quit button going out of the toolbar on this photo.

https://www.facebook.com/photo.php?fbid=10154521813268510&set=pcb.10154521813863510&type=3&theater

[2017-03-12 22:40] dinesh-sirvi commented on #106
I'll Check it....

[2017-03-13 10:22] rajeevravindran commented on #69
How about this? I've set the initial position as a red player.
![screenshot_20170313_155006](https://cloud.githubusercontent.com/assets/10564476/23850336/fbe6cb98-0804-11e7-80a5-3876745b4bc1.png)

Becomes gray after the player moves.
![screenshot_20170313_155056](https://cloud.githubusercontent.com/assets/10564476/23850357/0d4a46da-0805-11e7-9b6f-6794b4a55db1.png)

[2017-03-13 10:22] rajeevravindran commented on #69
@llaske Worth a pull request?

[2017-03-13 10:47] rajeevravindran commented on #106
Can't reproduce the problem. @mikklfr Can you give the viewport dimensions of the browser on your phone?

[2017-03-13 10:52] mikklfr commented on #106
I've been able to reproduce using the Galaxy S5 viewport in Google Chrome debug. 640 x 360

[2017-03-13 11:23] rajeevravindran commented on #106
![image](https://cloud.githubusercontent.com/assets/10564476/23852351/56a179cc-080d-11e7-8fbc-e5a02cc82af5.png)

`.toolbar{
 padding : 0 50px;
}`

This solves it. Creating a PR

[2017-03-13 13:22] mikklfr commented on #106
Better but I still have issues using
 590px  <=  width <= 638px

[2017-03-13 13:39] rajeevravindran commented on #106
Yes. Maybe an @media query for this range? 570px - 638px

[2017-03-13 15:31] rajeevravindran commented on #106
![image](https://cloud.githubusercontent.com/assets/10564476/23861468/1f5b9268-0830-11e7-900a-807885dd80de.png)
Seems to be working. I'll make a PR?
`@media screen and (min-width: 590px) and (max-width: 638px){
  .toolbar{
    padding: 0 25px;
  }
}`

[2017-03-13 18:49] NikolayOG commented on #62
I would like to work on the idea for letter recognition. Does the design has to be similar to nell-colors. Also can I use libraries or the code from nell-colors.

[2017-03-14 21:30] llaske commented on #62
Hi NikolayOG, Nice.
It's better to use the same UI than other Sugarizer activities.

[2017-03-14 23:55] NikolayOG commented on #62
What about the libraries also can I use the code from nell-colors.  Also I was considering doing the letter  recognition with machine learning. What do you think?

[2017-03-15 21:53] llaske commented on #62
Honestly I don't have any idea how to do that. May be you could ask to the author ?

[2017-03-16 18:16] NikolayOG commented on #62
Ok, I will do some research and try to implement something.

[2017-03-20 22:30] bzg opened #115 "dev: wrong path to activity icon in API?"
http://dev.sugarizer.org/api/activities lists details of all activities.

I see `"icon": "activity/activity-icon.svg"` is each item, which does not seem correct.

[2017-03-21 20:55] llaske commented on #115
No, it's not true. Some activities have a different path (Welcome web or EToys).
But this file path is relative to the activity directory.
To have the full icon path, you have to combine the activity directory and icon file path.
Note that that this path is loaded from the activity/activity.info file of each activity. See the source code for this reading here: https://github.com/llaske/sugarizer/b

[2017-03-21 20:55] #115 closed

[2017-03-22 06:08] bzg commented on #115
Thanks for the reply.

Just curious: is it useful to keep the "activities/" and "activity/" part in, respectively, the directory and the icon paths?

Are there cases where the activity directory is not in "activities/" directory and where the icon is not in the "activity/" directory?

[2017-03-22 20:28] llaske commented on #115
Good question.

The name of the directory "activities" is a settings in the sugarizer.ini file so it can't be removed.
The name of "activity" directory is inherited from Sugar but you're right it could be removed.

[2017-03-22 20:32] bzg commented on #115
Thanks for the clarification!

[2017-03-26 09:33] llaske opened #116 "Sugarizer activities failed on Sugar 0.110"
I'm creating my first web activity and I've used the ActivityTemplate
from Sugarizer repository.

However I'm failing to get my activity to run under Sugar.

The same happens when I try to run any of the Sugar-web activities
contained in `activities/` directory of Sugarizer repository.

However when I download Markdown.activity from ASLO, I am able to run it.

The failure consists of the activity

[2017-03-26 15:31] icarito commented on #116
Thanks for your suggested fix referring to https://github.com/sugarlabs/sugar-web/commit/e17b17dc36e4dbe9d215daa8cc35169230b04149 !
However, with this change, although there are no Javascript errors at the console anymore, I still don't get a colored icon and a datastore object!

[2017-03-26 15:32] icarito commented on #116
I think the error happens before, at the stage of setting the environment, because by the time execution reaches this WebSocket request, it wants a `port` variable which is undefined.

[2017-03-26 18:55] icarito commented on #116
Correction, the javascript console error does not disappear when changing 127.0.0.1 to 0.0.0.0.

[2017-03-27 20:47] llaske commented on #116
I've tested with LastOneLoses activity on Sugar 0.110.0.olpc.1 on a XO-4 and it works. No message, icon is colored.
Which Sugar version are you using ?
Could you test with LastOneLoses activity: just zip the content of the Sugarizer directory LastOnLoses.activity directory and rename it as .xo.

[2017-03-28 05:33] icarito commented on #116
Ok, I figured out the failure condition. It's when running with the Webkit2 backend.
By default, the XO runs with Webkit1 backend.

Initially I thought this was a failure of sugar-web (sugarizer flavour) - but it turns out that the same code runs well enough on Webkit1 codepath.

Steps to test:
On a distribution with Sugar installed, start Sugar and run Terminal Activity. From it, try:
  - chdir i

[2017-03-28 05:34] icarito commented on #116
I'm guessing sugar-web's environment detection is wrong on Webkit2 sugar backend for some reason.

[2017-03-28 08:07] llaske commented on #116
Okay. So it means that it's more a sugar-web issue than a Sugarizer issue. When running on Sugar, Sugarizer activities rely on Sugar Sugar-Web implementation thought I have to report back some recent fixes (like the one mention earlier).
I'm not sure I could help here because I'm not fully aware of how sugar-web is linked to Webkit1/Webkit2 in Sugar. May be we could report this issue into the suga

[2017-03-28 13:28] icarito commented on #116
I thought so too and was just actually writing this to https://github.com/sugarlabs/sugar-toolkit-gtk3/issues/new except then I tried the version in https://github.com/sugarlabs/sugar-web and it works both in Webkit2 and Webkit1 so I guess compatibility was lost somewhere in https://github.com/llaske/sugarizer/tree/dev/lib/sugar-web .

[2017-03-28 14:48] llaske commented on #116
Ok. Not a problem. I leave this issue open. When there will be a fix available on the sugar-toolkit side, I will fix too on my side.
I've already started, few things have changed.

[2017-03-28 14:50] llaske commented on #105
Fixed in https://github.com/llaske/sugarizer/commit/5f642290f14bc60c947decef239566a09d9ffca3

[2017-03-28 14:50] #105 closed

[2017-03-28 14:51] llaske commented on #68
Fixed in https://github.com/llaske/sugarizer/commit/ae37157933edeef46275e4bd5a1b0bb64410d02b

[2017-03-28 14:51] #68 closed

[2017-03-28 14:52] llaske commented on #69
Fixed in https://github.com/llaske/sugarizer/commit/cc8fabeebc6938769e4d728efb92a3a1d9be4907

[2017-03-28 14:52] #69 closed

[2017-03-28 14:58] icarito commented on #116
Except it's not possible to report an issue with `sugar-toolkit` (I've not done so) because `sugar-toolkit` works fine with `sugarlabs/sugar-web`. Although the fix might be on the sugar-toolkit side, it would be great for the same codebase to work in already released Sugar 0.110.

[2017-03-31 22:47] lovemehta commented on #67
Hello,
I was thinking of working on the open issues and found this one as a good start.
Thanks

[2017-04-15 22:02] sauravpratihar opened #120 "Timestamp change when star any activity instance in journal view"
when we click on the star button on any activity instance in journal view, timestamp) will be changed.

refer this gif for the issue:
![GIF](https://cloud.githubusercontent.com/assets/9608187/25067031/0e3c3926-2255-11e7-900c-f1296f070106.gif)

[2017-04-29 01:45] icarito commented on #116
Currently I made the `sugarizer` version to work both in Sugarizer and Sugar (WebKit2 and Webkit1), with changing the `env.isStandalone()` to the one in https://github.com/sugarlabs/sugar-web, like [this](https://github.com/somosazucar/artisan/blob/master/Jappy.activity/lib/sugar-web/env.js#L63).

[2017-04-30 07:51] llaske commented on #116
Very nice. I'm going to report this fix in all Sugarizer activities.

[2017-05-12 13:36] aec1140 opened #121 "Canvas issues and NaN"
My group and I were working on a project and made an app mainly through canvas. Inside the app, we found we could not do math on variables and constantly got NaN results (see below for example), even though the code comes from an app I have developed in the past and works fine outside of sugarizer. Now my question mainly is for Sugarizer, are you not suppose to use Canvas or is the entire app supp

[2017-09-23 04:11] jvonau opened #129 "Sugarizer offers Shutdown and Reset"
Sugarizer offers Shutdown and Reset when serving from a server on a network while there is no logout. How does one change from one user to another user from the same web browser? Closing the page and opening it again restored the prior session without offering to login again.
![screenshot_2017-09-22_17-06-11](https://user-images.githubusercontent.com/5579710/30769964-b665f674-9fea-11e7-9e86-573992

[2017-09-23 10:23] llaske commented on #129
Yes you're right, it's not possible today. It's planned for the next version with a true login system.
In the meantime, two tip&tricks:
- Go to settings/about my computer and click several time on the Sugarizer version. A checkbox will appear to let you clean all journal/settings of the current user
- Go to settings/my server on an user already connected, you will see the user id. If you copy/past

[2017-09-23 10:26] llaske commented on #121
Not sure to understand your issue.
Not related to a Sugarizer issue.

[2017-09-23 10:26] #121 closed

[2017-09-23 10:28] llaske commented on #63
Outdated information. No more useful here.

[2017-09-23 10:28] #63 closed

[2017-09-25 00:36] georgejhunt opened #130 "Difficulties with mongodb"
Testing internet-in-a-box, we have discovered that mongodb seems to randomly allocate up to 800MB of disk space, during the install process, even when we set the prealloc=no flag.  So we were wondering what loss of function, which activities would degrade, if we just did not load mongodb?

[2017-09-25 21:53] holta commented on #130
Full Details @ https://github.com/iiab/iiab/issues/254

[2017-11-11 21:15] #55 closed

[2017-11-11 21:16] llaske commented on #49
Sugarizer Server not included full dedicated unit testing https://github.com/llaske/sugarizer-server/

[2017-11-11 21:16] #49 closed

[2017-11-11 21:17] #42 closed

[2017-11-11 21:17] #41 closed

[2017-11-21 22:48] abdulsamad234 opened #131 "Jappy Activity doesn't work on Chrome OS"
I just discovered that when i open up the jappy activity, it doesn't work and just shows a blank screen and no buttons to do anything, i cannot go back, and the only option i have is to quit the sugarizer program.

[2017-11-26 10:32] llaske commented on #131
Could you tell on which browser/environment you're testing ?

[2017-11-26 10:45] abdulsamad234 commented on #131
I'm testing it as an extension on a chrome browser.

[2017-11-26 10:54] llaske commented on #131
Okay. I see.
Unfortunately, Jappy activity can't work on Chrome OS or as Chrome Extension.
See more information here: https://github.com/llaske/sugarizer/pull/124

[2017-11-26 11:11] llaske commented on #120
Switching favorite for an activity instance means update metadata for this instance.
https://github.com/llaske/sugarizer/blob/dev/js/journal.js#L170
It's why the timestamp change.
AFAK, it's the same thing for Sugar.
https://github.com/sugarlabs/sugar/blob/78d05d8f58f951db16765620db0a627bc2e24b8d/src/jarabe/journal/listview.py#L407

[2017-11-26 11:26] abdulsamad234 commented on #131
Okay 👍

[2017-12-01 20:29] Survivor75 opened #132 "Acitivity Idea: Sprint Math"
I have an idea for a new Activity, sprint math where the user has to decide the output of a math problem in a given time frame by clicking left or clicking right. It can be fun and engaging.

[2017-12-01 21:01] llaske commented on #132
Do you think to something like the Sugar Arithmetic activity: http://activities.sugarlabs.org/fr/sugar/addon/4204 ?

[2017-12-01 22:00] Survivor75 commented on #132
Yeah, I has a different user interface in mind, however the purpose is same.
Closing this.

[2017-12-02 10:00] llaske commented on #132
The Arithmetic activity has a poor interface and because it's written in Python, it don't work on Sugarizer. If you think that you could rewrite it in JavaScript with a better UI, do not hesitate.

[2017-12-02 18:08] Survivor75 commented on #132
Yeah, I have thought of some features to gamify it with a cool UI, so I'll work on that.

[2017-12-03 02:14] sanatankc opened #133 "Bug in sound card in Memorize"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/20373641/33521606-1a4a5690-d7fd-11e7-830a-4e2d342e2c09.gif)

### Bug Explanation
If I click twice on any of the Card in Sound version of Memorize. Then it never hides. (Try to click on all card twice).

### Steps to reproduce:
1. Go to Memorize activity.
2. Click on Sound Version.
3. Click twice on any Card.

[2017-12-03 10:05] llaske commented on #133
You're right, it's a bug. cc @mikklfr

[2017-12-04 08:39] sanatankc opened #135 "Fix: Align buttons better"
This is how (prev | next | end) buttons looks like now, which is not ideal in any way. Doesn't looks good by any UX perspective.
![screen shot 2017-12-04 at 1 56 18 pm](https://user-images.githubusercontent.com/20373641/33542921-077285ac-d8fb-11e7-8ab6-7c24ffdab1b4.png)

It would look better if it looked something like this.

![try sugarizer org_](https://user-images.githubusercontent.com/20373641

[2017-12-04 09:39] sanatankc opened #136 "Search icon does not look right"
Input looks isolated from entire search component.

![screen shot 2017-12-04 at 3 01 34 pm](https://user-images.githubusercontent.com/20373641/33545441-38e55f70-d904-11e7-9b80-843407b4a530.png)

It would look objectively better if there would not white background color, entire component would look less isolated.

![try sugarizer org_](https://user-images.githubusercontent.com/20373641/33545752-216

[2017-12-05 01:46] sanatankc opened #137 "Clicking On Play Again should stop gear Activity"
Right Now Only way to stop Gear Activity is by clicking on other button (which is not apparent).
Clicking on play button again should stop Gear activity.

![screen shot 2017-12-05 at 7 14 45 am](https://user-images.githubusercontent.com/20373641/33585785-02c58fea-d98c-11e7-8812-5cd2dc203993.png)

[2017-12-05 08:53] llaske commented on #136
Are you sure that it's not the same in Sugar?

[2017-12-05 08:56] sanatankc commented on #136
Search in sugarizer now looks like first one, but I proposed it to look like second one.

[2017-12-05 12:38] llaske commented on #136
Just checked how it works on Sugar.
On Sugar the unselected field is gray:

![sugar_field_unselected](https://user-images.githubusercontent.com/981841/33607457-7b0b54a0-d9c1-11e7-93cf-e463f7eccfb8.png)

And when cursor is inside, the whole field has a white background:

![sugar_field_edited](https://user-images.githubusercontent.com/981841/33607462-80b7370c-d9c1-11e7-83de-59e4a2269f5b.png)

Should

[2017-12-07 17:42] sahran99 opened #140 "Abacus does not display solution"
The sbacus does not display the solution if the numbers get too big.
![image](https://user-images.githubusercontent.com/34138005/33729454-53e21b10-db43-11e7-8a2f-9d9245fc680e.png)
The solution gets cut off at the end. This problem could be resolved by displaying the solution on the side of the abacus.

[2017-12-07 18:34] sahran99 opened #141 "Calculator does not display graph"
When a function is entered into the calculator and enter is pressed, the graph does not display. I am on chrome version 62.0.3202.94

Before equal sign is clicked:
![image](https://user-images.githubusercontent.com/34138005/33732063-cd19e880-db4a-11e7-9290-8bf3f5193f53.png)

After equal sign is clicked:
![image](https://user-images.githubusercontent.com/34138005/33732087-e7ba1296-db4a-11e7-8a24-c6

[2017-12-07 21:33] llaske commented on #141
Can't reproduce the issue on the same Chrome version.
Could you look if there is any message in the browser console.

[2017-12-08 17:41] sahran99 opened #142 "Food Chain Activity bug"
It is not possible to re-spawn after the frog dies.
![image](https://user-images.githubusercontent.com/34138005/33777974-6b13e25e-dc0c-11e7-881b-209ddd719721.png)
The frog pictures at the bottom right of the screen suggests that there are two more lives left. If there is a way to re-spawn, I suggest making it more obvious such as pressing space-bar or clicking a button as I am not able to find it.

[2017-12-08 17:47] sahran99 commented on #141
Well now the graph and calculator is displaying. It was not displaying for the past 2 days, so I do not know what the issue was.

[2017-12-08 18:45] sahran99 opened #143 "Calculator ln function"
When the ln function is clicked, log appears. Although the calculator still calculates the answer as if it were natural log, simply log means base 10, which can be confusing for the user. I believe this should be changed to say ln( when clicked.
![image](https://user-images.githubusercontent.com/34138005/33780181-86d1da38-dc15-11e7-8b49-30c574a6b64e.png)

[2017-12-08 20:27] #141 closed

[2017-12-08 20:32] llaske commented on #142
When the frog die a new frog is automatically display again.
Not sure to understand where is the issue.

[2017-12-08 20:38] llaske commented on #143
log (Math.log) is the name of function called.
It has no sense to change it.

[2017-12-08 20:40] #143 closed

[2017-12-11 13:27] satyamchaudharydev opened #144 "Markdown issue"
In Markdown Activity.

When I type `#text` and it displays as h1.
Which according to markdown only converts into h1 when we type `# text`

I mean `#text` should have a space between `#` and `text`, right?

[2017-12-11 13:36] satyamchaudharydev opened #145 "Grid paint activity issue."
When I right click on screen it doesn't emulate right click instead it just works like if I clicked on it or something which doesn't feel right.

[2017-12-11 14:04] satyamchaudharydev opened #146 "Allow clicking on Abacus balls to move it"
For now, we have to drag balls which is requires bit effort and is error-prone.

It would be great if we can move balls by just clicking on them and it would also be better for mobile and touch users.

[2017-12-11 21:27] llaske commented on #145
Right click is not a good practice, specifically because Sugarizer could be use on touch screen.
What you expect to do with a right click?

[2017-12-11 21:34] llaske commented on #144
Space is not required according to [Markdown documentation](https://daringfireball.net/projects/markdown/syntax).

[2017-12-11 21:34] #144 closed

[2017-12-11 21:35] #145 closed

[2017-12-12 00:19] satyamchaudharydev commented on #145
Sorry, I couldn't able to put my point across last time but I'd still argue this, in fact, is a bug. When I right click on any page, I except my chrome (or other browsers) native dialog to be open.

Like this:
![screen shot 2017-12-12 at 5 44 56 am](https://user-images.githubusercontent.com/26341752/33860602-a5b835a4-deff-11e7-883a-084353341ac9.png)

If it doesn't emulate this native dialog on rig

[2017-12-12 00:26] satyamchaudharydev commented on #144
I don't know but you can look at Github for example. It does require space between `#` and `text`.

In github,

#not a header

# is a header

And the documentation you linked, though doesn't mention this specifically, but all it's example have space in them.

![screen shot 2017-12-12 at 5 51 12 am](https://user-images.githubusercontent.com/26341752/33860913-05fdb00a-df01-11e7-8c08-9a4b2067d44f.png

[2017-12-12 11:49] llaske commented on #145
No you're wrong, the good practice is to not count on right click.
So considering right click like left click is not a bug.

[2017-12-12 11:53] satyamchaudharydev commented on #145
Maybe you right, but still, might want to inspect page or translate the page or something like that by clicking right. I just can't imagine why emulating click would be good practice.

[2017-12-12 12:20] bzg commented on #145
Is this discussion for GridPaint or for any Sugarizer activity?

I tested right-click on the Markdown activity through dev.sugarizer.org and I get the usual context window from Firefox 57.  Which makes sense here: it is useful to be able to copy and paste text in a text application, whether I use it on a smartphone or on the web.

If the discussion is general, perhaps who should have it activity b

[2017-12-12 12:27] satyamchaudharydev opened #148 "Sugar activity scroll view in phone in Portrait mode"
![whatsapp image 2017-12-12 at 5 49 06 pm](https://user-images.githubusercontent.com/26341752/33884345-4ad0e3d2-df65-11e7-97e3-2871e3240997.jpeg)

Whenever I try to scroll this view from bottom to top in the phone. It always messes up with chrome native scrollbar, in turn making scrolling very hard. I think this is because of custom scroller in sugar (can anyone confirm this?).

and also clicking

[2017-12-12 12:28] satyamchaudharydev opened #149 "Menu button is overflowing on mobile in Portrait mode"
![whatsapp image 2017-12-12 at 5 49 06 pm 1](https://user-images.githubusercontent.com/26341752/33884506-f98ee1da-df65-11e7-82c8-08e1be8bc1d2.jpeg)

The menu button is overflowing.

[2017-12-12 12:29] satyamchaudharydev opened #150 "Many buttons are overflowing on mobile in Portrait mode"
![whatsapp image 2017-12-12 at 5 49 06 pm 2](https://user-images.githubusercontent.com/26341752/33884539-1c1b493c-df66-11e7-8fa1-285146c32a8a.jpeg)
Many buttons are overflowing.

[2017-12-12 16:44] llaske commented on #145
Left click and Right click events in JavaScript are handle in the same way: by [onmouse events](https://www.w3schools.com/jsref/dom_obj_event.asp). It doesn't do distinction between left/right click. I don't find pertinent to specialize the source code to do a differentiation because the right click is a legacy feature: most systems tend to totally remove it (written from a MacBook without right b

[2017-12-12 16:47] llaske commented on #150
On smartphone, Sugarizer should be used via the dedicated Android/iOS app.

[2017-12-12 16:47] #150 closed

[2017-12-12 16:48] llaske commented on #149
On smartphone, Sugarizer should be used via the dedicated Android/iOS app.

[2017-12-12 16:48] #149 closed

[2017-12-12 16:49] llaske commented on #148
On smartphone, Sugarizer should be used via the dedicated Android/iOS app.

[2017-12-12 16:49] #148 closed

[2017-12-12 17:13] llaske commented on #144
I've tested on few different tools: Atom, MacDown, ... All accept syntax without white space.
And the reference documentation mention "hash characters at the start of the line" no "hash characters at the start of the line followed by white space".
Can't do anything for Github.

[2017-12-13 01:12] satyamchaudharydev opened #151 "JavaScript error in Gear when removing an item"
![ezgif com-video-to-gif 5](https://user-images.githubusercontent.com/26341752/33916736-49343f68-dfd0-11e7-8dec-407fc57b95b5.gif)

I don't if that is intended or a bug?
Also console has following error.

[code]

[2017-12-13 01:26] satyamchaudharydev opened #152 "Dropdown looks weird when lot of items inside"
![ezgif com-video-to-gif 6](https://user-images.githubusercontent.com/26341752/33917135-802fbdc4-dfd2-11e7-8645-466dd4e0134a.gif)

Dropdown looks weird.

[2017-12-13 08:50] llaske commented on #151
It's intended : it's a way to remove an item from the board but the JavaScript error is not intended.
BTW I'm not able to reproduce it: could you retry and tell us exactly when this error appear.

[2017-12-13 09:15] llaske commented on #65
A first integration has been realized by Emily. It's available [here](https://github.com/EmilyOng/Scratch.activity) and will be integrated in v1.0.

[2017-12-13 09:54] bzg commented on #145
Okay, then it's fine for those activities.

But just to be sure I understand: in other activities, what does the right-click event? Is it ignored? Considered as a left-click event? My expectactions would be that the right-click event consistently triggers the usual browser context menu.

[2017-12-13 19:07] ZhanieyaP opened #154 "Chat Prototype works, but the connection between me and the neighborhood is slow"
![screenshot 3](https://user-images.githubusercontent.com/33292904/33955354-3c78e2cc-e009-11e7-936f-41f00701851d.png)

The Chat Prototype works, but the neighborhood that I'm responding takes them forever to respond back to my response. A way they can reproduce this issue is to get the neighborhood I'm having a conversation with in a quicker and faster connection so we can have ongoing conversatio

[2017-12-13 19:08] ZhanieyaP opened #155 "Video Viewer would not show any results of videos made by neither Khan Academy or Canope'"
![screenshot 4](https://user-images.githubusercontent.com/33292904/33956603-0d7539ea-e00d-11e7-939e-d3b3fed12041.png)

[2017-12-13 20:47] llaske commented on #151
I've tested in Chrome and on High Sierra too but can't reproduce the error.
Could try with a new instance of Gears ("Start New" from the activity menu) and see if it happen again?

[2017-12-13 21:12] llaske commented on #155
It was an error coming from the server. It's fixed now.

[2017-12-13 21:12] #155 closed

[2017-12-13 21:15] llaske commented on #154
Of course the response speed depend of the connection speed.
It's why for school with a slow internet connection (or no internet connection), it's possible to deploy a Sugarizer Server on the local network.

[2017-12-13 21:15] #154 closed

[2017-12-14 21:20] llaske commented on #145
Other activities (Paint, Maze, Physics, ...) process mouse click in the same way because as I said it depends of JavaScript. So for all activities right click = left click.
So yes, it's consistent but not necessarily in the way you expect :-)

[2017-12-18 12:41] kunal-mohta commented on #142
I think this issue should be closed.

[2017-12-18 13:05] kunal-mohta commented on #137
I wonder why isn't it working despite of [these lines](https://github.com/llaske/sugarizer/blob/master/activities/Gears.activity/js/activity.js#L85-L87).

[2017-12-19 20:55] llaske commented on #142
Not a real issue.

[2017-12-19 20:55] #142 closed

[2017-12-19 20:56] llaske commented on #151
Unable to reproduce the issue.

[2017-12-19 20:56] #151 closed

[2017-12-19 20:59] llaske commented on #137
No, I guess the demo mentioned is for tutorial mode (click on the question mark icon).

[2017-12-20 16:00] satyamchaudharydev commented on #151
You can give this task to GCI so other developers can also solve that.
On Dec 20, 2017 2:26 AM, "Lionel LASKE" <notifications@github.com> wrote:

[2017-12-22 20:39] aryan-02 opened #158 "DOM-based XSS vulnerability in the MarkDown Editor Activity"
You can easily style the elements of the UI using CSS in the Markdown editor.
Here's how to replicate:
Open the Markdown Activity.
And paste the following code into the box.
Move your mouse pointer and enjoy:)
Here's the code:

[code]
If you click on that black (colour changing when you hover) button, you'll notice that it even accepts JavaScript code and the code works perfectly.
I can see two po

[2017-12-23 12:05] aryan-02 opened #159 "The Record Activity doesn't work in the HTTP version of Sugarizer"
When you open sugarizer from the "Try Now" button on http://sugarizer.org/ , it links to http://try.sugarizer.org/ . In the HTTP version, the Record activity doesn't work (since Google Chrome considers it unsafe, it directly blocks access to the computer's microphone and camera).
However, it works perfecty in the HTTPS version at https://sugarizer.org/ , since in the media is being transferred wit

[2017-12-23 13:22] aryan-02 opened #160 "DOM-based XSS vulnerability in the Get Things Done Activity"
If you type HTML/CSS/JavaScript code as a to-do list item, it runs perfectly and can even be used to modify elements of the UI.
Here's how to replicate:
Open the "Get Things Done" Activity
Copy and paste the following as an item in the To-Do list, and enjoy watching the UI get ruined:
[code]

Here's how I think this can be fixed:
When enter is pressed, use JavaScript to generate an iframe whose co

[2017-12-23 15:22] llaske commented on #160
Nice.

[2017-12-23 15:24] llaske commented on #159
Yes, you're right.
It's why the dev branch now support HTTPS.
Could be tested on https://dev.sugarizer.org and will be integrated in v1.0.

[2017-12-23 15:27] llaske commented on #158
Very nice.
BTW not sure using iframe is a good idea. It's not a good practice.

[2017-12-24 15:46] kunal-mohta commented on #137
I am able to solve this issue, but there is still one problem.
I can't find the function that unselects the button, as in the selection background doesn't disappear.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/30414954/34327637-83d66808-e8ef-11e7-8657-df3d0b2ed2ac.gif)

[2017-12-24 16:37] kunal-mohta commented on #136
var searchInput = document.getElementById("desktopToolbar_searchtext_text");//<input> selection
    var searchBox = document.getElementById("desktopToolbar_searchtext");//<div> selection

    searchInput.onfocus = function(){ searchBox.style.background = "#ffffff"; }

    searchInput.onblur = function(){ searchBox.style.background = "#e5e5e5";}

This should do the job?

[2017-12-24 16:44] kunal-mohta commented on #135
This can be easily fixed using `<center>` tags.
Where is this HTML code in the repository??

[2017-12-24 16:46] sanatankc commented on #135
Don't use center tags, they are deprecated.

[2017-12-24 16:47] kunal-mohta commented on #135
I have also been able to achieve the same using CSS flex-box.

[2017-12-24 16:49] sanatankc commented on #135
Yeah, I was going suggest FlexBox :D
On 24-Dec-2017 10:17 PM, "k-cap" <notifications@github.com> wrote:

[2017-12-24 16:50] kunal-mohta commented on #135
@llaske What do you think?

[2017-12-24 18:24] kunal-mohta commented on #133
I think I have solved this issue, should I send an MR?

[2017-12-26 09:48] llaske commented on #137
I'm not sure it's important to unselect it because all buttons on the toolbar are in selected mode (i.e. there is always one button selected). So let it selected.

[2017-12-26 09:49] llaske commented on #136
Should be tested on the context of the app.
Try to do the update and send a PR.

[2017-12-26 09:51] llaske commented on #135
Why not. Do a try and send a PR.
BTW avoid to update the library itself (Bootstrap tour) in your change.

[2017-12-26 09:56] llaske commented on #133
Yes please, send a PR (Pull Request).

[2017-12-26 10:44] kunal-mohta opened #162 "Activity Idea : Minesweeper"
Since it is not available on the newer Windows versions, I think this could be good activity to be included.

[2017-12-27 10:45] llaske commented on #162
Why not. Should be compatible however with a touch interface so not a too small grid.

[2017-12-27 10:47] kunal-mohta commented on #162
Okay. I'll get to work then.

[2017-12-27 13:00] kunal-mohta opened #163 "Paint activity not working"
Unable to perform any action after starting Paint activity (not even able to exit the activity).
Console shows this error.

![screenshot 2017-12-27 18 27 46](https://user-images.githubusercontent.com/30414954/34382288-d67c8376-eb33-11e7-96dd-e20abe79e03f.png)

[2018-01-01 20:49] llaske commented on #133
Fixed in https://github.com/llaske/sugarizer/commit/9dab33ace662bf806490614b3ca3fcc3dcda9cf8

[2018-01-01 21:05] llaske commented on #163
Unable to reproduce. Could you tell more about your environment.

[2018-01-02 05:13] kunal-mohta commented on #163
Operating System - Ubuntu 15.10
Chrome Version 60.0.3112.113 (Official Build) (64-bit)

[2018-01-02 09:05] Survivor75 commented on #160
The XSS attack can be handled by replacing any text ,that appears to be code(HTML/CSS/JavaScript)
by replacing it with an empty string.

[2018-01-03 20:19] llaske commented on #137
Fixed in https://github.com/llaske/sugarizer/commit/84ff1254948906b77ba54dc0514beb852391e76c

[2018-01-03 20:20] llaske commented on #163
Sorry unable to reproduce. Could you start a new instance "Start new" in activity menu, and try to reproduce it.

[2018-01-04 17:22] cosmicAsymmetry commented on #162
Hey @kunal-mohta! Are you still working on this?

[2018-01-04 21:10] cosmicAsymmetry opened #169 "Activity Idea : Graph Plotter"
Hello! I was planning to make a function plotter for Sugarizer using https://mauriciopoppe.github.io/function-plot/

[2018-01-05 09:27] llaske commented on #169
This feature is already include in the Calculate activity.
Thanks for this proposal.

[2018-01-05 18:56] cosmicAsymmetry commented on #135
If this is still open and no one is working on it, I'd like to take this up. 😄

[2018-01-05 19:31] kunal-mohta commented on #163
Got it working.
Thanks for helping.

[2018-01-05 19:31] #163 closed

[2018-01-05 19:35] kunal-mohta commented on #162
@cosmicAsymmetry Yes.
See #164 in Pull Requests.

[2018-01-05 19:38] kunal-mohta commented on #135
I am not working on this right now, so if @sanatankc is not doing this, then I guess you can try this.

[2018-01-06 09:13] ag1709 commented on #140
Has anyone started working on this? If not, I would like to take this up.

[2018-01-06 09:14] ag1709 commented on #146
I am interested in working on this. Is anyone already working on it?

[2018-01-06 10:52] llaske commented on #146
Cool. Let's go.

[2018-01-06 10:53] llaske commented on #140
Sure. Go.

[2018-01-07 12:59] RosaGeorge31 commented on #152
I would like to work on this. Is anyone already working on it?

[2018-01-07 13:55] ag1709 commented on #140
Which js file exactly in particular should I be modifying?

[2018-01-07 13:59] ag1709 commented on #146
Which file in particular is to be modified?

[2018-01-07 20:18] #169 closed

[2018-01-07 20:21] cosmicAsymmetry opened #170 "Content overflow in Home screen"
![a](https://user-images.githubusercontent.com/8233952/34653736-2a7bf43a-f416-11e7-93eb-98260a74c4f7.png)
Upon resizing the video we get to see that the description box overflows while there's ample space on the left.
![b](https://user-images.githubusercontent.com/8233952/34653739-35bcb56e-f416-11e7-951c-ec1f57902e72.png)

[2018-01-07 20:26] cosmicAsymmetry opened #171 "Activity Proposal: A white noise machine."
While working I tend to put on some white noise as it blocks out other sounds and boosts productivity on https://www.noisli.com, It'd be pretty cool to have something like this on Sugarizer.(and even cooler if we can get the sounds to continue after the user leaves the activity.)

[2018-01-07 21:04] cosmicAsymmetry opened #172 "Activity Proposal: Sudoku!"
I actually already made this. It's available here: sidhant.me/sudoku-activity/
And the code is here: https://github.com/cosmicAsymmetry/sudoku-activity/

[2018-01-07 21:21] llaske commented on #172
I don't see interest of Sudoku for children between 6 to 12 years.

[2018-01-07 21:22] cosmicAsymmetry commented on #172
Okay.

[2018-01-07 21:24] llaske commented on #170
Responsive design is always complex but the principle of Sugarizer home is that window width should be larger than window height. Here it's not the case.

[2018-01-07 21:29] llaske commented on #171
Why not. But more pertinent to integrate to [MusicBlocks](https://github.com/walterbender/musicblocks).

[2018-01-07 21:35] llaske commented on #146
Guess it should be in https://github.com/llaske/sugarizer/blob/master/activities/Abacus.activity/js/abacusbead.js#L88
Try to debug to understand how it works.

[2018-01-08 22:11] nikitaermishin opened #173 "No helping text for icons"
Here is an issue about tooltip text, which we should get near icons (I've pinned image below)

![2018-01-09 00-57-09](https://user-images.githubusercontent.com/26204565/34694834-985a63b0-f4d9-11e7-9799-bbb43a32721a.png)

I think that this bug is easy-fixing. It's very important, because it will help people interacting with Sugarizer.

[2018-01-08 22:33] nikitaermishin opened #174 "No San-Marino and Vatican in Color My World app."
There is no such countries, as San-Marino and Vatican in Color My World app (screenshot below).

![2018-01-09 01-24-51](https://user-images.githubusercontent.com/26204565/34695624-a427a9a2-f4dc-11e7-88e2-f0533e6d094b.png)

It's is valueble issue, because San-Marino and Vatican are small, but countries.

[2018-01-09 03:58] #172 closed

[2018-01-09 03:58] #171 closed

[2018-01-09 03:58] #170 closed

[2018-01-09 08:23] llaske commented on #174
Both Vatican and San Marino are present into the activity. See [here](https://github.com/llaske/sugarizer/blob/master/activities/ColorMyWorld.activity/locale.ini#L266) and [here](https://github.com/llaske/sugarizer/blob/master/activities/ColorMyWorld.activity/data/europe/europe.geojson). Probably very small due to the scale of the map.
Did you try to click on it?

[2018-01-09 08:23] llaske commented on #173
Unable to reproduce. Could you tell us more about your test environment?

[2018-01-09 13:10] CaptainDaVinci opened #175 "Typo in one of the help messages"
![sugarizer](https://user-images.githubusercontent.com/21019116/34722357-904afe9e-f56c-11e7-8033-38040689e0f9.png)

[2018-01-09 18:38] cosmicAsymmetry opened #176 "environment.user is undefined in tutorial"
Hello! I'm testing out the tutorial and I cannot seem to get past this error. The following is a screenshot of my console and my activity.js file

![image](https://user-images.githubusercontent.com/8233952/34736718-e7902878-f599-11e7-855e-ef867650a0ac.png)

[code]
![image](https://user-images.githubusercontent.com/8233952/34736797-21d8f370-f59a-11e7-9f0f-006ceba5b171.png)

Everything else seems to

[2018-01-09 21:07] llaske commented on #175
You're right. A bad copy/paste.

[2018-01-09 21:12] llaske commented on #176
Hmm. Are you sure you retrieved the dev branch of the repository ? The user could be undefined if you cloned the master branch instead.

[2018-01-10 09:02] llaske commented on #176
Just to be clear: the env.js was updated in latest version of ActivityTemplate in dev branche. The issue you described make me think that you're using an old version of ActivityTemplate. So my advice is to clone the dev branch and to restart the tutorial with the right version.

[2018-01-10 18:59] nikitaermishin commented on #174
Yes, I tried, and I changed map size, and I've got nothing.

[2018-01-10 19:03] nikitaermishin commented on #173
Hmm, I can't reproduce it again... I cathed it. It's first launch bug. I've reinstalled Sugarizer from chrome store and got it again.

[2018-01-10 20:43] cosmicAsymmetry commented on #176
I removed the repo from my computer and tried to start off fresh. I recloned this repo and all its branches and checkedout to dev.

I seem to have more errors now. :p Now the homepage isn't loading. :/

![image](https://user-images.githubusercontent.com/8233952/34794488-cc17de2a-f674-11e7-8385-7334c8930fde.png)

[2018-01-10 21:23] cosmicAsymmetry commented on #176
Nvm, I just cleared my cache. Back to testing.

[2018-01-10 23:23] cosmicAsymmetry commented on #176
It seems to be running just fine now. Thanks! 😄

[2018-01-11 13:23] kunal-mohta commented on #136
I don't have much idea about the Enyo library you are using, but on examination of the code, I think [these](https://github.com/llaske/sugarizer/blob/master/js/searchfield.js#L37-L47) lines of code aren't functioning as they are supposed to.

[2018-01-11 17:17] RosaGeorge31 commented on #175
I'd like to fix this bug. Is anyone working on it?

[2018-01-11 18:05] nikitaermishin opened #177 "Can't close paint app"
I've got one more bug. When I want to close paint app, I can't do it. It's looks weird, but I also can't draw anything there.
Here is GIF:

![pee](https://user-images.githubusercontent.com/26204565/34839493-ccf5aa18-f712-11e7-8de3-b56ebb17275e.gif)

[2018-01-11 21:27] llaske commented on #177
Can't reproduce it. Could you tell us detail about your testing environment. Could you have see if there is error message in browser console.

[2018-01-11 21:27] #176 closed

[2018-01-11 21:27] llaske commented on #176
Good news.

[2018-01-11 21:30] llaske commented on #173
Sorry unable to reproduce. Could you give use more information about your testing environment.

[2018-01-11 21:31] llaske commented on #175
Sure. Let's go.

[2018-01-12 05:42] RosaGeorge31 commented on #175
How do I edit the Etoys-Tiles.mo file?

[2018-01-12 13:09] CaptainDaVinci commented on #175
Wouldn't correcting the typo in this [file](https://github.com/llaske/sugarizer) work?

[2018-01-12 18:52] nikitaermishin commented on #173
Yes, my OS is Ubuntu 16.04, browser - Chrome 65.0.3298.3 (Dev version bit). Try to reproduce it by reinstalling Sugarizer app in Chrome. After that write your nickname and set mouse on person's icon. Then you will see a popup with no text. Here is a GIF(in this GIF I've shown full problem (with reinstalling etc)):

![gif](https://user-images.githubusercontent.com/26204565/34890354-9cebbd0a-f7e2-11

[2018-01-12 22:21] cosmicAsymmetry opened #178 "Unable to change back to English."
I don't know how common of an issue this is but after changing from English to a foreign language I am unable to change back to English. :/
![image](https://user-images.githubusercontent.com/8233952/34897617-ecc2a73a-f814-11e7-97b1-12b9cdb18125.png)

[2018-01-12 23:26] llaske commented on #175
Look like it's not a typo. It's just that the same message is used for two different things.
You have to dig into [tutorial.js](https://github.com/llaske/sugarizer/blob/dev/lib/tutorial.js) to learn more on that.

[2018-01-12 23:28] llaske commented on #178
Just click on the word "English" (bekee here).

[2018-01-12 23:28] #178 closed

[2018-01-15 20:07] kunal-mohta commented on #136
Even if we have to solve this issue without considering the above mentioned [lines](https://github.com/llaske/sugarizer/blob/master/js/searchfield.js#L37-L47), and just using the previously mentioned few lines of script, where should I write them?

[2018-01-19 16:33] kunal-mohta opened #182 "Gear Activity: Provide a way to delete gears without clearing the whole workspace"
It would be nice to have a way to delete a particular gear without having to clear the whole workspace.

[2018-01-19 16:50] kunal-mohta opened #183 "Add easy to access UNDO feature to improve UX"
This is not a major issue, but can help to improve the User experience.
Undo feature, using the conventional `Ctrl+Z` to **Paint**, **Grid Paint** and **Labyrinth JS**, can be considered to be added.

[2018-01-19 20:58] llaske commented on #182
You could already do that: just trace a line diagonally on a gear and it will be remove.
It's demonstrated in the tutorial included in the activity (click on the question mark button)

[2018-01-19 20:58] #182 closed

[2018-01-19 21:04] llaske commented on #183
Paint and LabyrinthJS activities already include undo/redo feature with toolbar buttons.
GridPaint do not but I don't think it's very useful for this activity because it's very simple to undo an action manually and I think that this activity should be as simple as possible.
I'm not a big fan of using keyboard shortcut because Sugarizer is not at all mainly focus for keyboard. It's mainly focus for

[2018-01-21 04:59] kunal-mohta commented on #183
Oh, I completely understand.

[2018-01-21 04:59] #183 closed

[2018-01-21 14:58] #177 closed

[2018-01-21 15:02] llaske commented on #175
Merge in https://github.com/llaske/sugarizer/commit/a89c9d9c92bed93ae32eacf65057f13bf37f0631

[2018-01-21 21:36] llaske commented on #173
I can't reproduce with the same process that you. I guess it's related to your default language (Russian ?).
Could you check if everything work when you force the language in Settings/My language ?

[2018-01-29 19:32] manki11 opened #185 "Turtle Blocks Activity hangs on Android App"
The turtle blocks activity hangs in Android App, when the Load Samples from web icon is clicked (world icon in top right menu). After clicking on the button , any other click after that registers as a load samples from web.

![error](https://user-images.githubusercontent.com/25136650/35530034-dfa2a874-0558-11e8-9933-b88b363562fd.gif)

Not facing any similar behaviour on sugarizer web.

Device Test

[2018-02-04 21:59] llaske commented on #136
Fixed in https://github.com/llaske/sugarizer/commit/55c865b7a24612d716bc025d1f056fa61854bb85
Thanks for your help to identify the issue.
You've right it was related to enyo stuff: parent control didn't call the this.inherited(arguments) when rendered.

[2018-02-04 22:50] llaske commented on #173
Finally reproduce it by tricking the Chrome language.
As I guessed the issue was related to language. It happens at first launch on Chrome OS when navigator language is not one of Sugarizer known language.
Fixed in https://github.com/llaske/sugarizer/commit/b07701d96fad92c280e0246abee535f994882e4e

[2018-02-11 12:46] manki11 opened #187 "Activity Idea: Math Quiz"
A MCQ based game with a timer and a score. The questions will be based on basic maths functions (ie addition, multiplication, division and subtraction). The questions will be randomly generated. It will be a good way to hone up maths skills in an interactive way.

A demo of what the activity might look like:

![screenshot-2018-2-11 math game](https://user-images.githubusercontent.com/25136650/3607

[2018-02-16 07:58] NAAG1999 opened #188 "Jappy examples wont load in windows and crashes the app"
When we try to open the default examples in jappy activity then the app crashes. Code is there but it is crashing the app.

[2018-02-16 16:17] llaske commented on #188
It look likes https://github.com/llaske/sugarizer/issues/131
Could you tell us about your environment ?

[2018-02-16 16:20] llaske commented on #187
Look like https://github.com/llaske/sugarizer/issues/132

[2018-02-16 16:31] manki11 commented on #132
I was working on a similar one.

[2018-02-16 19:01] NAAG1999 commented on #188
#131 had issue of getting hang, am running the sugarizer app on windows 10, 64 bit and yes i downloaded the required x86-64 bit application. In desktop app, default examples are not loading, that's the issue.

[2018-02-22 15:39] llaske commented on #152
Fixed in https://github.com/llaske/sugarizer/commit/c0105ca5d9a6539618d755f2578ae19e4e11935c

[2018-02-24 15:38] hardiked opened #190 "Blcokrain activity icons are not proper"
Up arrow icon is replaced with refresh icon. It is really confusing at first look and when I read the hint then I understand that it is not a refresh button but up arrow
![activity](https://user-images.githubusercontent.com/22965398/36632012-c3b57a12-19a6-11e8-9b4f-719a91a63742.png)

[2018-02-24 15:51] hardiked commented on #190
Fixed the issue in the pull request.I have changed the title of icon.

[2018-02-24 15:51] #190 closed

[2018-02-24 16:29] hardiked commented on #132
does anyone working on it? I would like to work on it. Please let me know.

[2018-02-24 21:46] llaske commented on #185
Seems that load samples don't work on web version.
There is a JavaScript issue here: https://github.com/llaske/sugarizer/blob/dev/activities/TurtleBlocksJS.activity/js/samplesviewer.js#L213

<img width="654" alt="image" src="https://user-images.githubusercontent.com/981841/36635408-856189c8-19b4-11e8-97b7-892f7fbfb19e.png">

[2018-02-25 16:07] hardiked opened #191 "Score functionality in Abecedarium activity"
In abecedarium activity, students can play very fantastic games and it is amazing but there is nothing that keeps track of student's score as well as accuracy. Students also know how they are doing.

[2018-02-26 19:32] hardiked commented on #191
I have completed the task see # 192 .It works fine and gives expected results.

[2018-02-27 06:47] hardiked commented on #62
It could be easily be implemented with the help of machine learning. If no one is working on this and if it is still open I would like to implement this activity. Let me know as soon as possible.Thank you.

[2018-02-28 20:46] llaske commented on #191
Why not? See my comment on your PR.

[2018-02-28 20:52] llaske commented on #62
Sugarizer is written in HTML and JavaScript, should be multi-platforms and should write without internet connection. If you could implement machine learning with this constraint, sure, let's go.

[2018-02-28 21:00] llaske commented on #188
Can't reproduce it. Could you tell us what is your Windows 10 version?
Could you try to run Jappy from http://dev.sugarizer.org in EDGE to see if it works?
If you try to type "print ('hello')" and run it, does it work?

[2018-03-01 13:18] ritjoe commented on #175
So, can this be closed?

[2018-03-01 14:14] llaske commented on #175
No, I close issue only when the version is released.

[2018-03-07 10:34] divyabaid16 commented on #187
I would like to work on this issue. Can you please guide me ?

[2018-03-07 10:37] divyabaid16 commented on #185
I would like to work on this issue. Can you plz guide me ?

[2018-03-07 19:06] manki11 opened #196 "getDataStoreObject is null"
I am trying to implement data store in the sprint math activity, my method is given below:

[code]
The error occurs in:
```activity.getDatastoreObject().setDataAsText(jsonData);```
My console is logging the following error:

<img width="700" alt="screen shot 2018-03-08 at 12 30 37 am" src="https://user-images.githubusercontent.com/25136650/37112291-fd2edd64-2267-11e8-9103-7dc0881e1a45.png">

[2018-03-07 20:22] llaske commented on #196
Hmmm. If the datatstore object is null, it probably mean that you don't call the "activity.setup()" function at startup.
See [here](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step2.md#customize-content) for an explanation. I suggest you to do the whole tutorial.

[2018-03-07 20:30] llaske commented on #185
Turtle Blocks activity come from https://github.com/walterbender/turtleblocksjs.git .
I suggest you to fork this repository, and try to understand how it works by studying the code.
Then you could see what's wrong when running on the Sugarizer environment.

[2018-03-07 20:34] llaske commented on #187
Look like @manki11 already work on it: https://github.com/llaske/sugarizer/pull/195

[2018-03-08 10:37] #196 closed

[2018-03-10 14:38] manki11 opened #197 "Development server not working"
The development server https://dev.sugarizer.org is not working.

Here in my settings it shows connected:
<img width="1273" alt="screen shot 2018-03-10 at 7 36 24 pm" src="https://user-images.githubusercontent.com/25136650/37243405-9fe4f196-249e-11e8-9656-b47017a7dea8.png">

When i try to access the server:
<img width="1273" alt="screen shot 2018-03-10 at 7 36 41 pm" src="https://user-images.githu

[2018-03-10 15:10] llaske commented on #197
You're right.
Was related to a lack of empty space on the server.
Fixed now.

[2018-03-10 15:10] #197 closed

[2018-03-19 13:01] manki11 opened #198 "Paint activity not responding"
On the dev branch of sugarizer, when Paint activity is launched the following error pops up:

<img width="699" alt="screen shot 2018-03-19 at 6 26 29 pm" src="https://user-images.githubusercontent.com/25136650/37596799-551a50a0-2ba3-11e8-855c-0be1c6b963c0.png">

The activity stops responding to click, and the user is not able to close the activity also. This bug doesn't appear when sugarizer is ru

[2018-03-19 13:26] llaske commented on #198
Can't reproduce it. For example on http://dev.sugarizer.org
Could you be more precise on the way to reproduce this issue: is it when you open a new instance of the activity ? or reopening an old instance ?
Recently the same issue happened when the instance was set to favorite into the journal. Next time the instance was open, the error happened. But it should be fixed now.

[2018-03-19 15:24] manki11 commented on #198
@llaske on my machine, it is happening  when the instance is new or old. As far as i can see it only happens with the paint activity. It is even taking place when no server is connected. In the console it points the error at the journalchooser.js, in which the activities array is null.

Is paint activity the only activity to be using the journalchooser.js file?

[2018-03-19 15:49] manki11 commented on #198
The above problem was solved using localStorage.clear() in the browser window.

[2018-03-19 15:49] #198 closed

[2018-04-05 20:23] KMTaylor023 opened #199 "Markdown error in README.md"
The README.md file has an error in the markdown, so one of the headers appears as a line plain text instead of an emboldened header.

[2018-04-06 09:35] llaske commented on #199
Already fixed on dev branch.

[2018-04-06 09:35] #199 closed

[2018-04-18 08:11] llaske opened #201 "Save Stopwatch activity context in Journal"
The Stopwatch activity don't use Journal to store the activity context.
It could be nice to store values for current counters and intermediate times in the Journal so when the activity is reopened, all values will be retrieve.

<img width="1144" alt="image" src="https://user-images.githubusercontent.com/981841/38919437-ddf2867c-42f0-11e8-8ef2-3b642b03ae40.png">

[2018-04-18 08:19] llaske opened #202 "Speak activity don't work on iOS"
The Speak activity don't work on iOS neither in the Sugarizer iOS app, neither running Safari on iOS.
Speak activity works into Safari on MacOS.
Should be related to [meSpeak.js](http://www.masswerk.at/mespeak/) issue.

[2018-04-18 08:22] llaske opened #203 "Save Blockrain activity context in Journal"
The Blockrain activity don't store its current state and high score in the Journal. So when you close the activity everything is lost.

[2018-04-18 08:25] llaske opened #204 "Save Clock activity settings in Journal"
Clock activity settings (clock format and display type) is not saved in the Journal.
It could be nice to save it into the journal so the display could be the same next time the activity will be open.

[2018-04-18 08:31] llaske opened #205 "Port the Fraction Bounce Sugar activity"
Port the [Fraction Bounce](http://activities.sugarlabs.org/en/sugar/addon/4488) Sugar activity (Python) to Sugarizer (JavaScript).
Follow the Sugarizer tutorial "[Create your own activity](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial.md)"  to create a new Fraction Bounce activity.

Guidelines:

- The activity should be correctly integrated into Sugarizer (the activity icon should ada

[2018-04-18 08:34] llaske opened #206 "Port the Falabracman Sugar activity"
Port the [Falabracman](http://activities.sugarlabs.org/en/sugar/addon/4215) Sugar activity (Python) to Sugarizer (JavaScript).
Follow the Sugarizer tutorial "[Create your own activity](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial.md)" to create a new Falabracman activity.

Guidelines:

-  The activity should be correctly integrated into Sugarizer (the activity icon should adapt its c

[2018-04-18 08:42] llaske opened #207 "Create a simple EPUB viewer for Sugarizer"
It could be nice to integrate an EPUB viewer in Sugarizer.
This activity could work like the Video Viewer activity. The activity could propose few EPUB libraries at startup then browse libraries and start reading the EPUB.
This activity could probably use an existing open source EPUB viewer like the one from [Futurepress](https://github.com/futurepress/epub.js/).

Guidelines:

- The activity shoul

[2018-04-18 08:44] llaske opened #208 "Improve Maze activity to allow playing with presence"
Integrate [presence](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step6.md) handling into Maze activity to allow playing the activity with other users on the network.

[2018-04-20 14:03] llaske commented on #202
Fixed in https://github.com/llaske/sugarizer/commit/d37a9bf88ce163cc0cfee87390174ae25c841834

[2018-04-20 19:16] llaske opened #209 "Save Speak history in Journal"
In the Sugar version of Speak, history of talk is stored in the Journal. So the user retrieve its history when he reopen the activity. It could be represented by a sort of ComboBox in the input field.

[2018-05-14 20:23] #202 closed, assigned to nobody

[2018-05-15 11:32] llaske commented on #175
Released in https://github.com/llaske/sugarizer/releases/tag/v1.0

[2018-05-15 11:32] #175 closed

[2018-05-15 11:32] llaske commented on #159
Released in https://github.com/llaske/sugarizer/releases/tag/v1.0

[2018-05-15 11:32] #159 closed

[2018-05-15 11:33] llaske commented on #152
Released in https://github.com/llaske/sugarizer/releases/tag/v1.0

[2018-05-15 11:33] #152 closed

[2018-05-15 11:33] llaske commented on #137
Released in https://github.com/llaske/sugarizer/releases/tag/v1.0

[2018-05-15 11:33] #137 closed

[2018-05-15 11:34] llaske commented on #133
Released in https://github.com/llaske/sugarizer/releases/tag/v1.0

[2018-05-15 11:34] #133 closed

[2018-05-15 11:34] llaske commented on #129
Released in https://github.com/llaske/sugarizer/releases/tag/v1.0

[2018-05-15 11:34] #129 closed

[2018-05-15 11:34] llaske commented on #65
Released in https://github.com/llaske/sugarizer/releases/tag/v1.0

[2018-05-15 11:34] #65 closed

[2018-05-16 06:29] vjrj opened #213 "Fototoon close icon missing in small screens"
It seems that the close icon is missing and does not works in Android.

https://imgur.com/a/fapv550

Thanks/merci!

[2018-05-16 08:15] llaske commented on #213
What is the size of your screen ? Could you send a full screen capture ?

[2018-05-16 09:15] vjrj commented on #213
Screen: 1080x1920

https://imgur.com/a/lg6HfMq

[2018-05-16 19:49] llaske commented on #213
Unfortunately Sugarizer is not really adapted today to smartphone screens.
BTW it will be better to do a CSS media query to avoid hiding the Stop button in any case else it's just impossible to go back to home view.

[2018-05-18 00:08] davelab6 commented on #48
Well, I think this is not true :)

I would agree that automatically converting ("transpiling") is so error prone as to be 'impossible to do well,' yet there are projects that do it poorly (pyjamas, brython, various [py2js](https://www.google.com/search?q=py2js)...)

Still, porting from any language to any other language is certainly technically possible; we are all using Turing machines arranged i

[2018-05-18 09:10] bzg commented on #48
I think the SO answer is wrong.

One basis of copyright is that you don't have a copyright on _ideas_, you have  a copyright on the _expression_ of ideas. A compelling reason for this is that only the _expression_ of ideas can let us assess their _originality_, which is one of the cornerstones for granting copyright.

So IANAL, but I seriously doubt that "porting a GPL software" imposes copyright

[2018-05-21 09:17] llaske opened #214 "Change the Help icon in Flip activity"
The help icon in Flip activity is not consistent with others help buttons in Sugarizer.
It's not used to explain how to play but to solve one step into the game.
Transform the Help icon into the "Robot" icon use in Reflection activity: https://github.com/llaske/sugarizer/blob/master/activities/Reflection.activity/icons/robot-on.svg

[2018-05-21 09:21] llaske opened #215 "Flip activity don't detect end of game"
The Flip activity don't detect end of game when:
- All coins are in the same colors but not in the foreground color. We could consider than the game is ended including when all coins are in the background color
- The help button is used: the last click on the help button should solve the game.

[2018-05-21 09:24] llaske opened #216 "Add number of play in Flip activity"
It could be nice to see the current number of play in Flip activity.
The number of play should be count from the starting position. The lower this number is, the better the player is.
Could be displayed in the same way than "Generation count" in the Game of Life activity.

[2018-05-22 15:56] walterbender commented on #48
With all due respect, never mind the fact that the Python code was used as the basis of the JavaScript code, in many cases, the artwork was copied verbatim. As for the assertion that the authors were all asked, at least in my case, I was never asked. There are non-trivial differences between AGPL and Apache. As I said in the email thread, it would be good to get an informed read on this situation.

[2018-05-22 16:26] bzg commented on #48
Hi @walterbender, we had a thorough discussion with @llaske about this yesterday.

The licensing information for the artworks must be fixed, this is a work in progress.

As for TurtleJS and Jappy, my understanding is that they cannot be bundled with Sugarizer for now. Lionel is aware of it and currently working on various propositions.

[2018-05-22 16:36] llaske commented on #48
Sugar artwork (icons, ...) used in Sugarizer are on Apache v2: https://github.com/sugarlabs/sugar-artwork/blob/master/LICENSE

@bzg point me issues in some activities and contents currently included in Sugarier.
I'm working on that to see how we could fix this and I will release a new version to handle this.
Changing the issue state to indicate that.

[2018-05-22 16:36] walterbender commented on #48
I am more than happy to have a discussion about how to remedy the license issue with TurtleJS et al. It is one of the reasons for this issue being of interest to me. I'd just like informed advice as to how to proceed.

[2018-05-23 22:31] davelab6 commented on #48
@walterbender can Conservancy advise?

[2018-05-23 22:40] walterbender commented on #48
I will ask Adam to reach out to them. The person at the conservancy with whom I used to discuss these things is no longer there.

[2018-05-24 00:51] bkuhn commented on #48
Fortunately, most of Conservancy's staff (@brettcs, @karensandler, @ossguy and I) plus our outside counsel @pchestek all have substantial experience in software freedom licensing issues.

I think @walterbender is referring to @keynote2k, who is no longer on staff, but [he's still involved with our org](https://sfconservancy.org/news/2018/jan/12/sebro-joins-board/).  Adam got the matter to us in th

[2018-05-24 03:27] davelab6 commented on #48
For the record, there is a parallel discussion on the sugar-dev mailing
list today.

[2018-06-08 03:45] Iumen opened #217 "Many functions do not work"
Several functions in the Calculate activity on https://try.sugarizer.org/ do not do what they are supposed to. Arcsin and arccos return values when you input numbers less than or greater than one. Functions like mul and div are also not recognized and return "undefined symbol <function>".

[2018-06-11 14:54] llaske commented on #217
@mikklfr could you explain how evaluation is done ? I guess it's based on JavaScript eval function but there should be some parsing too.

[2018-06-11 15:01] mikklfr commented on #217
Hey @Iumen thanks for the report.
Thanks @llaske for mentioning me.

I have a few questions :
- Which browser/platform are you using ?
- Could you give some samples of calculations ? Something like : "using Radian mode, with acos(0) as input, I got ... but expected ..."

Thanks !

[2018-07-07 13:13] llaske commented on #48
I've just released a [v1.0.1](https://github.com/llaske/sugarizer/releases/tag/v1.0.1) that specifically indicate license used for each activity and give a warning for the whole package telling that Apache v2 is not the license for all activities.
Plus, starting with this version v1.0.1, TurtleBlockJS and Jappy activities that use a license (AGPL, GPL v3) incompatible with deployment in stores are

[2018-07-07 14:46] walterbender commented on #48
Did we ever hear anything back from the SFC about this??? We ask them for advice quite some time ago.  I am happy to make Turtle available under another license, but would like some guidance from someone more knowledgeable about the best way to do this.

[2018-07-09 01:02] bkuhn commented on #48
The issue is queued for legal review and is quite complex so it may take some time.  Also, as you know, Sugar Labs has demanded a lot of Conservancy staff time on another matter in the last month, which we understood to be your priority.

[2018-07-12 14:06] Matrixcoffee opened #218 "Add changelogs"
Please consider adding changelogs to the project, either in the form of a `CHANGES.md`, or via https://github.com/llaske/sugarizer/releases

[2018-07-13 08:23] llaske commented on #218
Yes, you're right. I'm going to fix it.

[2018-07-13 14:37] llaske commented on #218
Fixed in https://github.com/llaske/sugarizer/commit/b204e54260b4822787520a5a99e9fb6e1a3c443f

[2018-07-13 14:37] #218 closed

[2018-08-06 13:54] bzg commented on #207
\o/

[2018-08-21 07:11] llaske commented on #217
No way to reproduce it.

[2018-08-21 07:11] #217 closed

[2018-08-26 18:47] aryan-02 commented on #158
It seems to be fixed by now. So I'm closing the issue.

[2018-10-19 23:59] HarrisonLKatz commented on #214
#220 just replaces the image of the help icon with the robot on icon. This was tested in Google Chrome as an unpacked web app, and it worked.

[2018-10-21 19:40] llaske commented on #140
Code of Abacus activity is located in directory https://github.com/llaske/sugarizer/tree/dev/activities/Abacus.activity

[2018-10-21 19:44] llaske commented on #201
Code of Stopwatch activity is located here https://github.com/llaske/sugarizer/tree/dev/activities/Stopwatch.activity
To handle datastore in an activity, see tutorial here: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step4.md

[2018-10-21 19:45] llaske commented on #160
Code of Get Things Done activity is located https://github.com/llaske/sugarizer/tree/dev/activities/GetThingsDone.activity

[2018-10-21 19:52] llaske commented on #204
Clock activity source code is here: https://github.com/llaske/sugarizer/tree/dev/activities/Clock.activity
Adding datastore handling to an existing activity is explain here: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step4.md

[2018-10-21 19:53] llaske commented on #203
Blockrain activity source code is here: https://github.com/llaske/sugarizer/tree/dev/activities/Blockrain.activity
Adding datastore handling to an existing activity is explain here: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step4.md

[2018-10-21 19:55] llaske commented on #213
Source code for Fototoon activity is located here https://github.com/llaske/sugarizer/tree/dev/activities/Fototoon.activity

[2018-10-21 19:57] llaske commented on #208
Source code for Maze activity is located here:  https://github.com/llaske/sugarizer/tree/dev/activities/MazeWeb.activity

[2018-10-21 19:58] llaske commented on #135
Template for tutorial is located here https://github.com/llaske/sugarizer/blob/dev/lib/tutorial.js#L19

[2018-10-21 20:00] llaske commented on #216
Source code for Flip activity is located here: https://github.com/llaske/sugarizer/tree/dev/activities/Flip.activity

[2018-10-21 20:01] llaske commented on #174
Source code for Color My World activity is located here: https://github.com/llaske/sugarizer/tree/dev/activities/ColorMyWorld.activity

[2018-10-21 20:04] llaske commented on #215
Source code for Flip activity is located here: https://github.com/llaske/sugarizer/tree/dev/activities/Flip.activity

[2018-10-21 20:05] llaske commented on #158
Source code for MarkDown Editor activity is located here https://github.com/llaske/sugarizer/tree/dev/activities/Markdown.activity

[2018-10-24 14:08] nathan-jacob opened #221 "Add Landing Page"

[2018-10-24 14:09] #221 closed

[2018-10-27 05:36] aryan-02 commented on #160
@Nepaltechguy2 I suppose yes.

[2018-10-27 16:16] llaske commented on #158
Fixed in https://github.com/llaske/sugarizer/commit/039b2b14bdcbfd9591c87b68b2e108a3fe880422

[2018-10-28 13:40] aryan-02 commented on #158
Marking this as closed.

[2018-10-28 13:40] #158 closed

[2018-10-29 14:05] aryan-02 commented on #160
Closing the issue, since it's fixed.

[2018-10-29 14:05] #160 closed

[2018-11-01 20:38] yummypasta opened #225 "ChatPrototype activity does not sanitize input"
The ChatPrototype activity is susceptible to arbitrary script injection, and by extension, XSS.
![Animated GIF of demonstration](https://i.imgur.com/YoOt2Hm.gif)

To fix this, either sanitize all HTML tags, or select for certain "whitelisted" tags.

[2018-11-06 21:37] llaske commented on #201
Fixed in https://github.com/llaske/sugarizer/pull/228

[2018-11-08 16:22] llaske commented on #135
Fixed in https://github.com/mchlp/sugarizer/commit/4a7937f3b151e3f40f7fb66f08f4d19d021f38d8

[2018-11-08 16:30] llaske commented on #225
Fixed in https://github.com/llaske/sugarizer/pull/231

[2018-11-09 15:32] llaske commented on #48
There is no translation of Python/Gtk code to JavaScript/HTML5 in Sugarizer.
These two environments are so different than "translation" of code has no sense.

[2018-11-09 15:53] walterbender commented on #48
In almost every case, the students used the original Python code as a basis
on their JavaScript design. I am not a lawyer, which is why I asked the SFC
to look into this in the first place.

On Fri, Nov 9, 2018 at 10:32 AM Lionel LASKE <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2018-11-09 17:33] walterbender commented on #48
I am not sure what you are referring to in regard to Sugarizer core, but
there are many activities that were "translated" from Sugar activities in
Sugarizer. That said, my goal from the beginning has been to come up with a
way to resolve this, not to build walls.

On Fri, Nov 9, 2018 at 12:28 PM Lionel LASKE <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<h

[2018-11-09 21:51] llaske commented on #213
Fixed in https://github.com/llaske/sugarizer/commit/c4853c0c5f9b9cb80bc118cf53dd2f8a2b4b9e8d

[2018-11-09 22:04] llaske commented on #48
Thanks to say that. I really want to resolve it and wait for SFC recommendation for taht.
What I'm calling Sugarizer core is everything expect activities.
Regarding activities, I'm sure that those I supervised during GSoC are clearly not translated. I think specifically to Record, Calculate, Memorize, Paint, Chat, Physics, Speak, TamTam, Labyrinth.

[2018-11-13 20:56] llaske commented on #204
Fixed in https://github.com/llaske/sugarizer/commit/9db543cc7264a6d3033b0bb1e32badfcd0283115

[2018-11-14 17:09] llaske commented on #216
Fixed in https://github.com/llaske/sugarizer/pull/234

[2018-11-17 09:11] llaske commented on #225
Please leave this issue open until it's officially integrated into the release.

[2018-11-18 10:04] llaske commented on #203
Fixed in https://github.com/llaske/sugarizer/commit/8f6a6f7fd28c8e7a2b77f653f48fb1421b5d64d1.

[2018-11-20 14:00] llaske commented on #140
Fixed in https://github.com/llaske/sugarizer/pull/240

[2018-11-22 16:10] llaske opened #242 "Add an erase button into GridPaint activity"
It could be nice to add an erase button in GridPaint activity toolbar.
This button should be visible only on the paint screen (not on the global view with all paintings).
When you click on it, it will paint all triangles of the current painting in white.
The appearance of the button must be the same than the Erase button in Paint or Physics activity.

Code of GridPaint activity is here: https://gi

[2018-11-22 16:16] llaske opened #243 "Improve LOL activity to play against another user using presence"
Integrate [presence](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step6.md) handling into LastOneLoses activity to allow playing the activity with another user on the network.

You should add the presence palette and integrate presence like explained in the tutorial.

Source code for LOL activity is here:
https://github.com/llaske/sugarizer/tree/dev/activities/LastOneLoses.activity

[2018-11-22 16:24] llaske opened #244 "Add an history of last QR Code generated/read in QR Code activity"
Add an history of QR Code generated (or read). So the user could retrieve its history when he reopen the activity. The history could be represented by a sort of ComboBox in the input field.
The history should be stored in the datastore. See https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step4.md for more.
The source of the QR Code activity is located here: https://github.com/llaske/sug

[2018-11-22 16:29] llaske opened #245 "Change background color for Speak activity"
It could be nice to change background color for Speak activity.
So, instead of a gray background the background will take the background color for the user buddy icon.
The source code for Speak activity is located here: https://github.com/llaske/sugarizer/tree/dev/activities/Speak.activity

[2018-11-22 16:33] llaske opened #246 "Add the sleeping face into the Speak activity"
In the Sugar version of Speak activity, there is a fun feature: after 2 mn without activity (not speaking), the face says he's sleepy then do a sleepy face. See screenshot below:

![screenshot of _speak activity_](https://user-images.githubusercontent.com/981841/48914613-4b363800-ee7c-11e8-96ad-2426cb76b874.png)

It could be nice to implement this feature.
The sentence "I'm sleepy" should be local

[2018-11-24 21:35] llaske commented on #242
Fixed in https://github.com/llaske/sugarizer/pull/249

[2018-11-26 16:52] llaske commented on #244
Fixed in https://github.com/llaske/sugarizer/pull/250

[2018-11-26 16:54] llaske commented on #246
Fixed in https://github.com/llaske/sugarizer/pull/248

[2018-11-27 21:50] llaske commented on #209
Fixed in https://github.com/llaske/sugarizer/commit/acac9e63a5f76b4fee95f1627133560e72a5b754

[2018-11-28 20:47] llaske commented on #208
Fixed in https://github.com/llaske/sugarizer/pull/251

[2018-11-29 10:18] llaske commented on #174
Fixed in https://github.com/llaske/sugarizer/pull/253

[2018-12-05 20:32] llaske commented on #243
Fixed in https://github.com/llaske/sugarizer/pull/254

[2018-12-15 22:08] aperezbios commented on #48
As a newly-minted Oversight Board member, I would also like to see this resolved, and we need the feedback from SFC in order to do that. It has been ~five months since the last comment from SFC for this issue. @bkuhn, is the review of this still queued for legal review, and if not, any rough ETA on when we might expect it to be reviwed? Thanks!

[2018-12-17 16:51] bkuhn commented on #48
It is still queued.  This is a very complex issue and will take a lot of resources from Conservancy, and as you may not be aware as an incoming PLC member, Sugar Labs took substantial resources from Conservancy last two years for logistics needs (happy to explain to you privately what those things were).

We would expect the legal fees and staff time to be high on this matter, as it will require c

[2018-12-31 02:27] quozl opened #255 "Moon activity data set expires today"
Moon shows wrong data now, because data set expires today.

https://github.com/sugarlabs/moon-activity/commit/4630227957fe8f6f4c7af8401ece1048526f8e9d has suggested replacement data set obtained by Gary Martin.

[2018-12-31 19:42] quozl commented on #255
Thanks.  I lost track.

[2019-01-11 08:06] bzg opened #257 "Replace Enyo by vue.js"
Sugarizer relies on the [Enyo JS](enyojs.com) framework but does not use anything from Enyo that makes it mandatory.

Replacing Enyo by [vue.js](https://vuejs.org/) would clarify and modernize the code base, while attracting more developers.

[2019-01-11 08:10] bzg opened #258 "Make video tutorials"
Anyone can make a video tutorial (aka _screencasts_). Here are a few ideas:

- [ ] A sugarizer user can describe the way they use an activity.
- [ ] A sugarizer user can describe the peculiarity of the Sugarizer interface.
- [ ] A sugarizer dev can describe how to write a Sugarizer activity.
- [ ] A sugarizer dev can go through the repository and describe where is what.

More ideas are welcome!

[2019-01-21 08:38] #213 closed

[2019-01-21 08:38] #214 closed

[2019-01-21 08:38] #215 closed

[2019-01-21 09:08] #255 closed

[2019-01-21 09:08] #245 closed

[2019-01-21 09:08] #244 closed

[2019-01-21 09:09] #243 closed

[2019-01-21 09:09] #242 closed

[2019-01-21 09:09] #225 closed

[2019-01-21 09:09] #216 closed

[2019-01-21 09:09] #209 closed

[2019-01-21 09:09] #208 closed

[2019-01-21 09:10] #204 closed

[2019-01-21 09:10] #203 closed

[2019-01-21 09:10] #201 closed

[2019-01-21 09:10] #187 closed

[2019-01-21 09:11] #132 closed

[2019-01-22 21:26] llaske opened #260 "Save Maze level in Journal"
In the Maze activity when the user stop the game the current level is not stored in the Journal. So at next restart the game start to the beginning.
Fixing this require also to add a new button in the toolbar to restart the game.

Source code for the Maze activity is available here: https://github.com/llaske/sugarizer/tree/dev/activities/MazeWeb.activity

[2019-01-22 21:30] llaske opened #261 "Increase size of items in StopWatch activity"
Items (time, buttons) are too small so the activity is not very usable on small screens or on tablet.
The idea is to double the size of each line: two lines for one.

Source code is of StopWatch activity is here: https://github.com/llaske/sugarizer/tree/dev/activities/Stopwatch.activity

[2019-01-22 21:38] llaske opened #262 "Add a delete button in the new idea input field of Labyrinth activity"
The new idea input field into the Labyrinth activity miss a delete button to delete the whole content of the field. So, it's difficult to completely remove the content, specifically on tablets.

<img width="404" alt="image" src="https://user-images.githubusercontent.com/981841/51566745-b492f100-1e95-11e9-9060-b367417d28c3.png">

The idea is to add a delete button into the input field: the same but

[2019-01-22 21:43] llaske opened #263 "Integrate presence in Labyrinth activity"
Integrate presence handling into Labyrinth activity to allow playing the activity with other users on the network. So users could create a collaborative mind map.

You should add the presence palette and integrate presence like explained in the tutorial here: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step6.md
See code for Labyrinth activity here: https://github.com/llaske/sugarize

[2019-01-23 22:23] lohani2280 commented on #261
@llaske I am a newcomer here and I would like to work on this issue. Can I take this up?

[2019-01-24 02:15] lohani2280 commented on #262
@llaske I would like to work on this issue.

[2019-01-24 08:36] llaske commented on #262
Sure. Feel free to work on it.

[2019-01-24 14:43] llaske opened #265 "Bad localization for some countries name in Color My World activity"
Some countries are not displayed correctly in Color My World activity. For example {{Syria}}, {{Lybia}}, {{Ivory Coast}}, ...

<img width="1127" alt="capture d ecran 2019-01-24 a 15 37 46" src="https://user-images.githubusercontent.com/981841/51685300-53326580-1fee-11e9-90b4-496ee4dc2f47.png">

It's related to a mismatch between country name in .geojson files and the country name in the locale.ini

[2019-01-24 15:04] llaske opened #266 "Improve Record activity to see picture in real time"
In the Record activity (except on iOS/Android), when you take a picture, you don't see a preview of the picture. You just see a rolling spinner.

<img width="1127" alt="capture d ecran 2019-01-24 a 15 45 07" src="https://user-images.githubusercontent.com/981841/51686820-6c88e100-1ff1-11e9-94ce-937e9f95da9f.png">

Conversely, the QR Code activity allow user to take a picture of  QR Code and provide

[2019-01-24 19:08] quozl commented on #266
On Chrome OS with Sugarizer v1.1 and Record, I see preview.  The preview is right-way up.  When taking photograph, it is upside down.  I did not check for left-right swap.

[2019-01-24 23:13] quozl commented on #266
Thanks.  Tested again.
* QR Code activity preview is right-way up and is left-right swapped (good); the QR is correctly read, but not shown, so I don't know if it is upside down.
* Record activity preview is right-way up and is left-right swapped (good), but the draft photograph and kept photograph are upside down (not as good).

In both cases, Camera privacy light remains on after activity is sto

[2019-01-26 17:07] lohani2280 commented on #260
@llaske I would like to work on this issue.

[2019-01-26 20:08] llaske commented on #260
Why not. BTW it will be better to finish other issues you're working on.
I advice you also to complete tutorial, at least step 4.

[2019-01-28 14:23] lohani2280 commented on #260
@niravasher Hey, I am already working on this issue. Can you please look into some other issues to fix?

[2019-01-28 15:37] niravasher commented on #261
Hey is this still open as I have solved this on my local and I am a newbie here.
![screenshot 17](https://user-images.githubusercontent.com/32176296/51846885-805d7b80-2340-11e9-9c66-16c53e170299.png)

[2019-01-28 15:44] niravasher commented on #266
Hey this issue is solved right? @quozl @llaske . If not what is kept photograph and draft photograph? and how can I solve this issue?

[2019-01-28 22:06] quozl commented on #266
Sugarizer is multi-platform.  Problem is on some platforms, as I've proved by saying not Chrome OS.  _kept_ and _draft_ refer to the continued existence of the photograph.

[2019-01-29 15:03] llaske commented on #261
@niravasher , does it work on all browser? Currently the problem is that WebKit(Chrome/Safari) and Mozilla don't give the same result. See https://github.com/llaske/sugarizer/pull/264#issuecomment-457821742

[2019-01-29 15:08] llaske commented on #266
@niravasher, this issue is still open.
@quozl mentioned the specific way of working on Chrome OS but it's very specific to this platforms. The fix is still need on browsers (Chrome/Firefox/Safari) for all other platforms (Linux/Windows/MacOS).
As I said, to solve this issue, the idea is to adapt code from QRCode activity into Record activity.

[2019-01-29 15:11] llaske commented on #260
@niravasher @lohani2280 Open Source is a collaborative effort, not a competition. Everyone is free to propose a fix, and everyone could improve code from others.
So @niravasher, feel free to send a PR if you think that you've got a fix on this issue.

[2019-01-29 18:26] lohani2280 commented on #260
@llaske Sorry about that. I understood now.

[2019-01-30 12:44] niravasher commented on #261
Ok will try to make it compatible with all browsers @llaske

[2019-01-30 15:33] llaske commented on #261
Fixed in https://github.com/llaske/sugarizer/pull/264

[2019-01-31 17:49] b282022 commented on #265
I'm interested in working on this and would like to explore the codebase.
Can you give me initial pointers for it?
Thanks!

[2019-02-01 05:04] quozl commented on #265
Thanks.  Please look at https://github.com/llaske/sugarizer/tree/dev/activities/ColorMyWorld.activity and the `po/` directory.

[2019-02-01 08:17] llaske commented on #265
@b282022, See an example below for Ivory Coast.

The left of INI property here: https://github.com/llaske/sugarizer/blob/dev/activities/ColorMyWorld.activity/locale.ini#L138
Should match the name value here: https://github.com/llaske/sugarizer/blob/dev/activities/ColorMyWorld.activity/data/world/world.geojson?short_path=75ffc99#L33
And the name value here: https://github.com/llaske/sugarizer/blob/

[2019-02-01 09:13] b282022 commented on #265
@llaske So I need to find all the countries from all `.geojson` files in which the NAME starts with quotes and update them?

[2019-02-01 17:44] b282022 commented on #265
So it seems as if that this task has to be done manually and I need to save all the names somewhere as obtained by the different geojson files. After storing the names from geojson file, I have to match them with the keys(left hand side) in locale.ini file. Also this has to be done by keeping a common name among different names of same country in different geojson files. Do you have any idea about

[2019-02-01 17:47] b282022 commented on #265
Also @llaske can you please tell me how many times a same country with different names can appear in different geojson files?

What I am asking is how the geojson files are made. Continent-wise and every country is included in world.geojson or is there a country X whose entries are in more than 2 geojsons

[2019-02-01 18:35] b282022 commented on #265
So after a bit of [scripting](https://gist.github.com/b282022/4e2523210eac0883af9509c720975729), I was able to do the frequency analysis of the country names and I created [this JSON file](https://pastebin.com/pK0ezkhj) for the reference.

As can be seen from the JSON file, there are countries appearing 3 times in different geojson files (I don't know how the geojson files are made so I don't know

[2019-02-01 18:42] b282022 commented on #265
Clearly we can see that Libya, Syria and Ivory coast have different names across different geojson files. On a very rough glance, the other countries which have different names across different geojson files are Vietnam, East Timor, Moldova, Brunei, ...

I'm not an expert on the country names but I'm sure there are many more other countries like the ones mentioned above.

[2019-02-01 21:53] llaske commented on #265
Nice work @b282022 !

My opinion is that every country should at least appears 2 times: one in the world.geojson and one in the <continent>.geojson file. I guess countries that appears 3 times are Islands in middle of some ocean.
So countries that appear 1 time only are probable mistake: not the same name used in world and continent file.

Of course, you have to check too that the (same) name appe

[2019-02-03 07:57] b282022 commented on #265
Again after a bit of [scripting](https://gist.github.com/b282022/9e6adaf2219be6e39344e19e70f7f197), I found that [these keys](https://pastebin.com/9tDebhWC)(countries) don't appear N times (N = 10)

[2019-02-03 09:19] b282022 commented on #265
[Here](https://www.dropbox.com/s/um5varoddfe73q5/conflicted_countries.xlsx?dl=0) is the list of countries with conflicting name and proposed corrections. The highlight conventions are mentioned in the list. The resolution is done according to the names as per UN members list.
Some countries cannot be resolved and hence waiting for more guidance on how to approach those countries.
Also, when a part

[2019-02-03 17:37] llaske commented on #265
Good analysis @b282022

Here is the code where the names are displayed: https://github.com/llaske/sugarizer/blob/dev/activities/ColorMyWorld.activity/lib/colormyworld.js#L541
It takes the name value in the geojson file, replace '_' by ' ' and get the value for this key (left side of the INI file) in the current language (language section in the INI file).

Regarding countries with conflict, It's a

[2019-02-03 17:55] b282022 commented on #265
@llaske Thanks for the help 😄I really appreciate your help to smoothen my work on the very first issue.
For the conflicted countries, I used the same name across different geojson files and in the left hand of the locale.ini file and the bug was solved, I don't think I will be able to correctly translate the proper names according to the new convention in the languages other than english but I'll

[2019-02-03 18:19] llaske commented on #265
That's fine if you fix the value only in english. Just ensure that the left hand of the locale.ini is right for all languages. Translators will be able to fix other strings later in http://translate.sugarizer.org/projects/sugarizer/activity-colormyworld/

The * section in the .INI file is for languages used by the UI but not found in the .INI. Basically, it's fine to put here the same values than

[2019-02-09 14:29] llaske commented on #260
Fixed in https://github.com/llaske/sugarizer/pull/270

[2019-02-11 07:54] lohani2280 commented on #263
@llaske I would like to work on this issue.

[2019-02-12 21:49] llaske commented on #265
Fixed in https://github.com/llaske/sugarizer/pull/271

[2019-02-12 22:02] llaske commented on #263
@lohani2280 Sure, you're welcome.

[2019-02-13 11:56] ashish0910 commented on #266
@llaske can I work on this ?

[2019-02-13 16:24] ashish0910 commented on #205
@llaske can I work on this ?

[2019-02-13 16:33] ashish0910 commented on #258
@bzg can I make a small video tutorial or series of screenshots for creating a Sugarizer activity ?

[2019-02-13 16:47] ashish0910 opened #273 "Add filtering to speaker Activity"
The speaker activity speaks whatever the user types . However we can add some filtering to it prevent it from speaking abusive words and show warning message to the user to not using such words.

[2019-02-13 20:48] llaske commented on #273
Don't think it's pertinent, we can't forbid to say abusive words so we can't forbid them to write it.
Plus we don't want to handle an abusive words list for each language.

[2019-02-13 20:48] llaske commented on #266
@ashish0910 sure.

[2019-02-13 20:49] llaske commented on #205
@ashish0910 sure.

[2019-02-13 21:26] quozl commented on #273
I agree with @llaske.  For the Speak activity in Sugar, we [removed the curse filter](https://github.com/sugarlabs/speak/commit/a28ca6bd7939f2fa66994dfff57bb4d7f0b738ef) for similar reasons.

[2019-02-14 07:41] ashish0910 commented on #266
@llaske please review https://github.com/llaske/sugarizer/pull/275

[2019-02-14 09:12] #273 closed

[2019-02-14 16:43] ashish0910 commented on #266
#275

[2019-02-14 20:52] llaske commented on #263
Fixed in https://github.com/llaske/sugarizer/pull/274

[2019-02-15 05:36] ashish0910 commented on #258
@llaske I would like to work on this . Would make small video tutorials for it . @bzg .

[2019-02-16 05:25] ashish0910 commented on #266
@llaske now added support for Firefox 65 and Chrome 72 .tested on electron on macosx , chrome and Firefox also . #275

[2019-02-16 09:21] llaske commented on #258
@ashish0910 Sure. Do it.

[2019-02-16 11:52] ashish0910 commented on #258
@llaske shall I also add voice instructions in the tutorials ?

[2019-02-19 20:59] llaske commented on #258
@ashish0910 , yes it's better

[2019-02-20 19:53] utkarsh-raj opened #276 "Limiting the extent of zooming out in Color My World Activity"
In the Color My World Activity, there should probably be a limiting factor on the extent a user can zoom out.  The current behaviour shows an awkward many map view when zooming out.

The possible solutions could be -

- Limit the zoom to show only one full world map, or,

- Zoom extent remains the same, and the extra space is filled with ocean color.

I am currently working on a fix for the behavi

[2019-02-20 20:37] llaske commented on #276
Not really an issue, it's the same behavior in Open Street Map for example.

[2019-02-20 20:49] utkarsh-raj commented on #276
I was not aware that this is the expected behaviour. I thought that maybe the target audience might find it a bit weird or misleading. Should I further continue working on this @llaske or the issue can be closed ?

[2019-02-20 21:06] llaske commented on #276
In my opinion, it could be close.

[2019-02-20 22:05] quozl commented on #276
My opinion also is that this can close.  Target audience is children as learners.  They find everything weird or misleading until they learn from experience what the behaviour is.  :grin:

[2019-02-21 16:51] utkarsh-raj commented on #276
All Right. I think that this can safely close. Thanks for the reviews :)

[2019-02-21 16:51] #276 closed

[2019-02-21 17:06] utkarsh-raj commented on #62
Hi, this idea seems great and looks deserted for now. Can I give it a try ?

[2019-02-21 18:27] utkarsh-raj commented on #106
Some insight -

- The responsiveness is broken across several activities (including Memorize, the original activity in question)

- In some other activities, the Stop button simply goes away on some viewports, which can be verified by the Google Chrome Developer Tools

- The issue is also there for several modern devices like the iPhone X

Probably some CSS for modern viewport breakpoints should b

[2019-02-21 18:41] utkarsh-raj commented on #146
https://github.com/llaske/sugarizer/pull/181#issuecomment-370563571

The changes proposed by @llaske are intuitive, more than the current behaviour. I would carry the work forward by @aditigupta17 to incorporate the proposed behaviour. Any ideas for still better behaviour ? (Since the issue has been open for quite a long time)

[2019-02-21 18:52] utkarsh-raj commented on #191
https://github.com/llaske/sugarizer/pull/193#issuecomment-370570135

Much work is probably accomplished in the previous iteration. Current task is to resolve the conflicts and incorporate the scoring feature in the Abecedarium Activity. Any pointers this task or the discussed changes are fine @llaske ? I am starting to work on resolving the conflicts.

[2019-02-21 18:55] utkarsh-raj commented on #206
I want to understand the working of Sugar and how to port the activities from Sugar to Sugarizer. The issue seems like a great start. Can I work on this ?

[2019-02-21 20:55] llaske commented on #206
Sure. No need to ask. Let's go.

[2019-02-21 21:01] llaske commented on #191
@utkarsh-raj hmmm, you could try to fix but it's a very old PR, should be reviewed to see if it's still make sense.

[2019-02-21 21:05] llaske commented on #146
Like I said, we could propose an automatic move on click/tap when there is no doubt about the direction expected and let the drag gesture - since double-tap is not intuitive - when it's not possible to do the deduction. It should be tested.

[2019-02-21 21:22] llaske commented on #106
Here's few insights regarding Sugarizer responsive policy:

1. The preferred way to run Sugarizer on mobile devices is via the iOS and Android app.
2. Sugarizer UI is adapted to screen larger than longer (landscape), this rule is forced on iOS and Android apps. In browser in portrait mode (like in your screen capture), nothing is required from activities today.
3. Sugarizer is not adapted today to

[2019-02-21 21:25] llaske commented on #62
@utkarsh-raj, sure. No need to ask.

[2019-02-22 17:35] utkarsh-raj commented on #146
https://github.com/llaske/sugarizer/pull/277#issue-255474687
I have opened a PR with some changes. Can you look and see if it feels intuitive @llaske ?

[2019-02-22 18:08] utkarsh-raj commented on #106
Many thanks for the insights @llaske , I missed the point that the Android and iOS Application are a better way for Sugarizer on mobile devices. This basically means that the disappearing stop button is not an issue for small viewports.

So maybe the issue can be safely closed ?
Or the CSS breakpoints should be edited for the Memorize Activity ? (and other related activities ?)

[2019-02-22 20:27] utkarsh-raj opened #278 "npm build for Sugarizer has deprecated dependencies"
Module dependencies for Sugarizer has deprecated dependencies. This is shown in the npm install console log. We can probably work out the current maintained versions of the dependencies @llaske ?
Some are more critical and might expose RegEx DoS vulnerabilities as well.

![screenshot from 2019-02-23 01-44-24](https://user-images.githubusercontent.com/28586681/53269146-20bf7980-370e-11e9-948f-d796e

[2019-02-23 10:03] llaske commented on #278
@utkarsh-raj what's your node.js version?

[2019-02-23 10:06] llaske commented on #106
@utkarsh-raj it should not be closed if the issue concern the Android version and forbid Memorize to follow the minimal behavior: to be able to be launched and stopped.

[2019-02-23 15:13] llaske commented on #146
Fixed by https://github.com/llaske/sugarizer/issues/146

[2019-02-23 15:26] llaske commented on #162
Finally not pertinent to include in Sugarizer.

[2019-02-23 15:26] #162 closed

[2019-02-23 15:31] llaske commented on #131
Starting from [v1.1](https://github.com/llaske/sugarizer/releases/tag/v1.1.0), Sugarizer is no longer distributed as a Chrome OS application.
Jappy works on Chrome and on the Electron (with Chromium) version.

[2019-02-23 15:31] #131 closed

[2019-02-23 15:34] llaske commented on #130
Issue transfered to Sugarizer Server https://github.com/llaske/sugarizer-server/issues/27

[2019-02-23 15:34] #130 closed

[2019-02-23 17:35] utkarsh-raj commented on #278
NodeJS v8.15.0
npm v6.4.1

Does the issue have to be related to the client environment ?

[2019-02-23 19:28] utkarsh-raj commented on #278
I figured it. To log the solution for reference-

This is probably that v1.0 does not support NodeJS v8.x and above. Downgrading to v6.x solves the fibers build issues. Also I noticed that this deprecation issues need to be addressed for v1.1, if it has not been done already. Since the deprecated modules will not conflict or show warnings with older NodeJS versions, but the codebase needs to incor

[2019-02-23 19:31] utkarsh-raj commented on #106
From what I could test, the Android version works fine for standard viewports and the minimal expected behaviour is satisfied. Any specific viewport resolution @llaske ?

[2019-02-23 21:24] llaske commented on #278
For Sugarizer App, node.js is need only on dev environment (specifically to minify files) and to generate the electron version for Windows/Linux/MacOS.
So it's not a critical issue but it should be fixed for sure.
BTW fixing the issue is not only upgrading deprecated libraries, it means carefully testing on all environment.

[2019-02-23 21:38] llaske commented on #106
Sugarizer Core was thought to be responsive until 480x320 because it was the resolution of the Firefox OS Keon phone. But this resolution it's not supported by all activities. Plus I don't think this resolution make sense today. So the minimum should probably be twice this resolution.

[2019-02-23 22:23] utkarsh-raj commented on #278
@llaske Will require a bit of work for the testing. I am on it :)

[2019-02-24 08:47] utkarsh-raj commented on #106
All right I will get to work on this. A bit of research on my part is required. Thanks for the pointers @llaske :)

[2019-02-24 09:51] utkarsh-raj commented on #185
https://github.com/llaske/sugarizer/pull/279#issue-255672546

A part of the error has been fixed by cleaning the String before parsing with the parse function. I cannot test the complete functions because the sugarizer server probably does not allow the request without CORS headers which are not present by default in the request.

Nonetheless, the problem is fixed. Please review @llaske .

[2019-02-24 10:07] utkarsh-raj opened #280 "Stopwatch Activity - Lap Timings vanish after a few recordings"
The lap record in the Stopwatch Activity can only record a few timings. If we click on record after this, the previous records vanish and no new records are added. This also looks awkward because record limit is not specified.

Probably not a major issue, and might also be platform specific.

![screenshot from 2019-02-24 15-34-09](https://user-images.githubusercontent.com/28586681/53297820-0a1e3d0

[2019-02-24 12:59] utkarsh-raj commented on #106
https://github.com/llaske/sugarizer/pull/279#issue-255672546

The required file is identified already by @rajeevravindran .I have verified and implemented the required Media Queries. The PR now also fixes the responsiveness issues for all major viewports.

[2019-02-24 20:55] llaske commented on #280
This activity has been changed (resized), see https://dev.sugarizer.org
Records are now added at the end of the line so this behavior has disappeared.

[2019-02-25 17:34] utkarsh-raj commented on #280
I am facing similar issues in the dev version also. The activity has been resized and looks good, but still can only record almost 15 times in full screen view. After 15, the previous records vanish and no new records can be added.

The Developer Tools prove that new records are being added at the end of the line, but it is not visible in the viewing area of the browser @llaske .

[2019-02-25 20:28] llaske commented on #280
I think that 15 records is more than enough.

[2019-02-25 20:51] llaske commented on #106
Fixed in https://github.com/llaske/sugarizer/pull/282

[2019-02-25 20:56] utkarsh-raj commented on #280
They are, but also you can verify that as the viewport gets smaller, the number of visible records get even lesser.

I suppose a logic ammend can fix the issue. Or alternatively, the issue can be safely ignored and closed. Thoughts ?

[2019-02-25 21:11] llaske commented on #280
You could suggest a fix if you want.

[2019-02-26 17:39] utkarsh-raj commented on #280
All Right. I am on it :)

[2019-02-26 17:39] utkarsh-raj commented on #185
The commit is updated @llaske .

[2019-02-27 18:44] Scar26 commented on #280
Same thing's happening to me.
Would love to work on a fix for this.

[2019-02-27 19:54] utkarsh-raj commented on #280
Figured out a neat fix. Proposed solution in #283 .

[2019-03-04 08:46] saadpasta opened #285 "Exerciser Activity - Improvement add confirmation delete dialogue Box."
In Exerciser Activity when we click on delete to delete any test the application deletes it immediately.
I think we should add Confirm box to confirm if they actually want to delete the test.

[2019-03-04 09:47] Scar26 commented on #285
Working on it

[2019-03-04 10:21] Scar26 commented on #285
Solved the issue.Can anyone guide me on how to merge it?
Sorry. I'm new here

[2019-03-04 10:27] saadpasta commented on #285
I was also working on but it's okay.
First, push your code on your forked repo and then Create MR button and then choose your branch on which you have worked and then click create.

[2019-03-04 10:27] saadpasta commented on #285
https://help.github.com/en/articles/creating-a-pull-request-from-a-fork
Read this.

[2019-03-04 10:58] Scar26 commented on #285
Was that correct?

[2019-03-04 11:00] saadpasta commented on #285
Yeah Great 👍

[2019-03-04 14:12] llaske commented on #280
Fixed in https://github.com/llaske/sugarizer/pull/283

[2019-03-04 21:51] llaske commented on #185
Fixed in https://github.com/llaske/sugarizer/pull/279

[2019-03-06 11:20] saadpasta opened #287 "Exerciser Activity - Image do not appear properly on big screen."
Screenshot Below.
![screen shot 2019-03-06 at 4 15 17 pm](https://user-images.githubusercontent.com/23307811/53877657-93dcc000-402b-11e9-8807-e78f2719c479.png)

[2019-03-06 21:26] llaske commented on #287
Fixed here https://github.com/llaske/ExerciserReact/pull/5

[2019-03-11 13:54] ahmedkrmn opened #290 "Add gender and grade to sugarizer web site"
This is a screen shot from the sugar linux iso in the **_About me_** settings tab.
This feature to edit the user grade and gender is not available on the website.

![Sugar iso](https://user-images.githubusercontent.com/20889958/54128744-6326cd00-4415-11e9-8577-e77a670108ff.png)

[2019-03-12 00:12] quozl commented on #290
We have removed gender question from Sugar for next release.  None of the activities needed to know the gender or age.  One activity used age.  I'd like to remove the age question as well.  I don't think Sugarizer needs to ask about gender or age.

[2019-03-12 00:23] ahmedkrmn commented on #290
So removing this from the Linux image is the next step right ?

[2019-03-12 00:35] quozl commented on #290
Once we have consensus, yes.  But talking about it in Sugarizer issues won't build that consensus.

[2019-03-12 00:46] #290 closed

[2019-03-12 08:49] llaske commented on #290
Thanks @quozl. For privacy reason I don't want to handle this sort of information in Sugarizer.
So it has no sense in Sugarizer neither.

[2019-03-12 12:55] YJDave opened #292 "Display language settings in 2 languages"
Languages in `Language setting` should not be translated according to local/browser language. So "English" should be "English" even if my local language of browser is "French" or something else.

![image](https://user-images.githubusercontent.com/25907420/54201621-1fef5b80-44f4-11e9-9a00-8b5cc0b11cfc.png)

Why?
Suppose I change my local language to "French", languages list in setting also changed,

[2019-03-12 20:29] llaske commented on #292
I don't think it's a problem. English is at first and name of languages are understandable in most languages.
I never seen this sort of double translation elsewhere. Did you?

[2019-03-13 02:10] AndreaGon opened #294 "Language Button in Sugarizer website shows a broken image"
I'm not sure where to report this as I cannot find the source code of the Sugarizer website in Github:

![bug1](https://user-images.githubusercontent.com/44361130/54248577-29baa280-4578-11e9-87dd-a8924560d8d2.PNG)

This is what shows on my computer when I visit Sugarizer website. If I choose a language, only then will the flag image appear.

[2019-03-13 02:26] quozl commented on #294
https://github.com/llaske/Sugarizer_doc perhaps?  Repository title is "Source code for Sugarizer web site https://sugarizer.org"

[2019-03-13 03:06] #294 closed

[2019-03-13 04:02] YJDave commented on #292
I was not sure whether double translation is the most suitable solution. But I do think that there should be some way that allows user to see languages names without translated to local language.
I have seen this double-translated language list setting on Twitter, not checked other applications.
![image](https://user-images.githubusercontent.com/25907420/54252939-d2660380-4572-11e9-9d24-f96197eabd

[2019-03-14 11:21] prasadgujar opened #295 "Link Broken In Sugarizer Documentation For Tutorial Step.1"
while playing with sugarizer exerciser tutorial I found that the link to the  tutorial step 1 in sugarizer activity
documentation was broken.
Reference:
[tutorial page](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step1.md)
[broken link](https://github.com/llaske/sugarizer/blob/dev/docs/activities/ActivityTemplate)

[working link](https://github.com/llaske/sugarizer/tree/dev/activiti

[2019-03-14 20:47] akshat0047 opened #297 "Adding a watchit game activity"
This activity would be around a game where user will be tracing the svg path with cursor challenging the obstructions in its way. There will be a series of level, difficulty level. Levels will be designed and added up in json to fetch from and present it to user.

[2019-03-15 14:14] NightKing-iitr commented on #206
@llaske I am new to open source and would like to work on this issue. Can you give me any suggestion from where to start ?

[2019-03-15 18:22] NightKing-iitr opened #299 "User still logged in."
If a currently logged in user has been deleted by admin from server dashboard, the user is still in logged in state and can use other activities.

[2019-03-15 20:00] prasadgujar commented on #295
@llaske please have look at this issue and PR.

[2019-03-16 11:48] llaske commented on #299
Sugarizer App could work with or without connection to a server. When the connection is broken - for any reason: network is done, connection expired, ... - it's still work locally. The idea is to avoid loosing work stored in the localStorage.
So it's not a bug in my opinion.

[2019-03-16 16:33] #299 closed

[2019-03-17 15:09] llaske commented on #206
@NightKing-iitr I suggest you to start by installing Sugar on your laptop. See instruction [here](https://wiki.sugarlabs.org/go/Downloads#Do_you_use_GNU.2FLinux.3F). Then you could install the Falabracman activity from [here](http://activities.sugarlabs.org/en/sugar/addon/4215) and play with it to understand how it works.

Then play with [Sugarizer](https://sugarizer.org) and do the [development t

[2019-03-17 20:16] llaske commented on #292
Fixed in https://github.com/llaske/sugarizer/commit/0cd4903a18c6c35a81589e2ac916530a0710ed87

[2019-03-19 03:26] iamsid2 opened #301 "Firefox: New User Resistration input color is white"
![Screenshot from 2019-03-19 08-49-44](https://user-images.githubusercontent.com/23580835/54578120-8dcfe180-4a24-11e9-9f4e-8651e1255676.png)
While Inspecting I got this:
![Screenshot from 2019-03-19 08-55-39](https://user-images.githubusercontent.com/23580835/54578196-d091b980-4a24-11e9-8596-cf6f9d03b146.png)

This needs to be fixed

[2019-03-20 08:10] Anshuman71 opened #302 "Translation warnings on Home"
![Screenshot from 2019-03-20 13-38-49](https://user-images.githubusercontent.com/28081510/54668744-a3710400-4b15-11e9-8ba6-5b0543fd8f5e.png)

[2019-03-20 15:22] llaske commented on #301
Strange, it's not the case on https://dev.sugarizer.org and I can't reproduce it locally.
Could you explain how you do that?

[2019-03-21 12:29] AndreaGon commented on #302
Can I work on this?

[2019-03-22 03:12] iamsid2 commented on #301
This happens only when we use firefox browser.
I Typed my name in Firefox Browser and its color is white
![Screenshot from 2019-03-22 08-39-38](https://user-images.githubusercontent.com/23580835/54798326-404eb100-4c7e-11e9-82ff-fa92112063ec.png)

To recheck it i seleced the text area
![Screenshot from 2019-03-22 08-39-47](https://user-images.githubusercontent.com/23580835/54798354-63796080-4c7e-11

[2019-03-22 03:13] iamsid2 commented on #301
It happens when we use https://dev.sugarizer.org  also

[2019-03-23 09:33] llaske commented on #302
You're welcome @AndreaGon. BTW no need to ask to work on an issue, see https://github.com/llaske/sugarizer/blob/master/CONTRIBUTING.md

[2019-03-23 12:36] Anshuman71 commented on #302
@AndreaGon sure as @llaske said you can contribute any update as long as it fixes the bug.

[2019-03-23 13:27] utkarsh-raj opened #304 "Idea for Chopsticks Activity"
I was working on a pure JS implementation of the Traditional Japanese Game Chopsticks for demonstration at the local School Students Meetup. It came to me that a Chopsticks Activity can be a good asset to Sugarizer.

Chopsticks is a very easy to learn and difficult to master game for small children. Originally played with both of the hands, the Activity will have two counter for each player. I hav

[2019-03-24 11:03] Anshuman71 opened #305 "Start command shows error in Ubuntu18.04"
The start command in docs
`
chrome --allow-file-access-from-files index.html
`
gives an error, we need to find the exact version name for chrome and then substitute it in the
![Peek 2019-03-24 16-29](https://user-images.githubusercontent.com/28081510/54878410-8197ba00-4e52-11e9-978d-519937e2852c.gif)
terminal command
`
google-chrome-stable --allow-file-access-from-files index.html
`

[2019-03-25 18:49] YJDave commented on #292
Closing the issue as it is fixed!

[2019-03-26 05:34] prabhupant opened #308 "Error in taking correct order in FoodChain activity"
In the build game of Food Chain Activity, the correct order is sometimes not taken as correct due to alignment problems i think.
It should be fixed to promote easy drag and drop functionality

![order not correct](https://user-images.githubusercontent.com/19776278/54973393-b07a7100-4fb5-11e9-8d42-abb5b906cf49.png)

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/19776278/549736

[2019-03-26 05:39] prabhupant opened #309 "No clear history button in calculator activity"
there should be a button in calculator activity to clear the user history on the screen of the calculator activity

![calculator activity](https://user-images.githubusercontent.com/19776278/54973811-8cb82a80-4fb7-11e9-8d73-126ec016b96e.png)

[2019-03-26 06:57] prabhupant opened #310 "Change background colour of speak activity according to XO color"
the background of speak activity always remains blue. According to me it should change with the XO colors in order to look more appealing and follow the design principles of sugar.

[2019-03-26 07:00] prabhupant opened #311 "Icon color doesn't change with XO color"
Colours of the previously opened icons don't change after changing the XO colors. Rather this happens when new icons are clicked and their colors is changed only.

![Screenshot from 2019-03-26 12-13-12](https://user-images.githubusercontent.com/19776278/54977273-cfcbcb00-4fc2-11e9-9b72-a48f094dc2d3.png)

[2019-03-26 08:48] ashish0910 commented on #311
@prabhupant looks like it is done intentionally .
However this can be resolved by changing this -
https://github.com/llaske/sugarizer/blob/0cd4903a18c6c35a81589e2ac916530a0710ed87/js/homeview.js#L356
To this :
`colorizedColor: null,`

[2019-03-26 09:02] ashish0910 commented on #310
@prabhupant Looks like it does :

![Screenshot 2019-03-26 at 2 25 30 PM](https://user-images.githubusercontent.com/30404493/54983820-96e82200-4fd3-11e9-9d24-09d083b9b0ac.png)
![Screenshot 2019-03-26 at 2 28 27 PM](https://user-images.githubusercontent.com/30404493/54983828-994a7c00-4fd3-11e9-99a2-16c100aeff5b.png)
![Screenshot 2019-03-26 at 2 28 52 PM](https://user-images.githubusercontent.com/304

[2019-03-26 09:18] llaske commented on #292
I don't close issue before release of a new version.

[2019-03-26 09:20] llaske commented on #310
@prabhupant it change color only if you change buddy colors then opening a new instance of the activity (from the activity list view or from the menu item "new instance" in activity menu item)

[2019-03-26 09:21] llaske commented on #311
Yes, it's intentional it will change color only if you change buddy colors then opening a new instance of the activity (from the activity list view or from the menu item "new instance" in activity menu item).

[2019-03-26 09:22] llaske commented on #309
It's intentional, you could remove history by creating a new instance of the activity.

[2019-03-26 09:24] llaske commented on #308
Not sure to understand, in your sample the right order is Fox EAT Hen EAT Corn. So your answer is false.

[2019-03-26 09:33] ashish0910 commented on #308
@prabhupant You are taking the order in reverse manner that is why you are getting false . Species at top of chain comes first and species at lower level comes after them .

[2019-03-26 13:29] prabhupant commented on #311
@llaske @ashish0910 okay :sweat_smile: It was my first time using Sugarizer this much and  I didn't know that

[2019-03-26 13:32] prabhupant commented on #310
@llaske shouldn't it be instantly, like when you change the buddy color, the color of icons and this background color should change?

[2019-03-26 13:34] #308 closed

[2019-03-26 13:55] AvinashAgarwal14 opened #312 "audio bar not displaying in chrome when opening a audio file(.wav) through journal"
When a user tries to open an audio file in .wav format, no audio bar is displayed in the media viewer activity.

[2019-03-26 15:08] llaske commented on #310
No, it don't. It's related to entries in the Journal. Old entries use old colors, new entries (or old entries reopen) use new colors.

[2019-03-26 15:09] llaske commented on #311
@prabhupant, no problem you're welcome to learn.
BTW I think you could close the issue.

[2019-03-26 15:20] prabhupant commented on #311
@llaske looking forward to working with sugar labs.
closing the issue

[2019-03-26 15:20] #311 closed

[2019-03-26 19:36] sameerkdarshi opened #313 "Menu options are not responsive"
The clock [activity](https://try.sugarizer.org/activities/Clock.activity/index.html?aid=101db376-a6da-4042-9040-cd19945057fa&a=org.sugarlabs.Clock&n=Clock) is displayed as expected on desktop version (Image 1) but the menu options do not adapt properly for the mobile version (Image 2, the stop option is not visible to the user).

Image 1
![clock-activity-desktop](https://user-images.githubusercont

[2019-03-26 19:37] sameerkdarshi commented on #313
I would like to work on this issue.

[2019-03-26 20:09] llaske commented on #313
It's not an issue, Sugarizer is not adapter to smartphone in portrait mode. I suggest you to read more about that https://github.com/llaske/sugarizer/issues/106#issuecomment-466171717

[2019-03-27 02:12] yog24esh opened #314 "Duplicated text in QR Code Activity history"
I think there is no use of logging the same user in the dropdown menu if he generate his qrcode again.

Here is the ex-

![Screenshot (38)](https://user-images.githubusercontent.com/16835166/55045249-30124980-5063-11e9-80b1-7afa64ab06e8.png)

Here what to be expected -

![Screenshot (39)](https://user-images.githubusercontent.com/16835166/55045435-c5154280-5063-11e9-922c-0f512b31dc50.png)

[2019-03-27 12:32] Scar26 commented on #314
working on this

[2019-03-27 16:05] yog24esh commented on #314
Have a look in qrtextdropdown id and attach the if statement to check if previous div value is same or not.

![Screenshot (42)](https://user-images.githubusercontent.com/16835166/55092207-25de6280-50d8-11e9-9d14-c47c3dd1877c.png)

* I think before making/working we should ask one of the maintainers.

[2019-03-27 23:42] Scar26 commented on #314
This wouldn't work. the names are being stored in a global array called history. If I run the condition check at the div change,the array would still be different every time because it would just contain the same name multiple times.
Instead I attached the statement at the beginning of the pushtohistory function so if the name already exists in the array it's not pushed at all

[2019-03-28 01:53] usmanmuhd commented on #257
@llaske I am interested to work on this. Could you please provide me some pointers on where to get started with?

[2019-03-28 02:35] yog24esh commented on #314
Yes but instead of checking the whole array , checking the last pushed element in the array would be useful otherwise it would defeat the purpose of history.
Ex - If a user1 generate qrcode.  arr->[user1]
user2 generate qrcode. arr->[user1,user2]
user1 again generate qrcode. arr->[user1,user2,user1]
user1 is already present in array but it should be logged because it shows the history.

[2019-03-28 05:51] sameerkdarshi opened #318 "Cursor issue in calculator activity on Chrome"
After an expression is evaluated, the cursor gets placed at the start of the result which leads to unexpected behavior. Gif illustrates the issue.<br>
![calculator_capture](https://user-images.githubusercontent.com/30270872/55133368-70e58d80-514b-11e9-8e72-71f92b93e966.gif)
I would like to work on this issue.

[2019-03-28 05:54] sameerkdarshi commented on #313
Thanks for insights

[2019-03-28 07:27] Scar26 commented on #314
Hm...makes sense,I mean I probably could just let it be logged into history and run the test in the for loop that they are using to append in the div. But it would be a little less efficient since we have to check a higher number of elements every-time.  On the other hand, it makes sense that history should contain everything.

@llaske can we have your opinion on this?

[2019-03-28 08:31] Scar26 commented on #318
I didn't find any such issue.Infact, after I evaluate an expression,the next time I enter something,it overwrites what is already written

[2019-03-28 11:46] sameerkdarshi commented on #318
@Scar26 I used the [Activity](https://try.sugarizer.org/activities/Calculate.activity/index.html?aid=e846d1af-bd78-4f00-9b1a-ef4ec69708a8&a=org.sugarlabs.CalculateActivity&o=ada1f74c-1b2d-4af8-8cfe-ee3affd8cdb7&n=Calculate%20Activity) on Chrome and the issue is there while using the keypad layout provided by the Activity. Which browser did you try it on ?

[2019-03-28 12:06] Scar26 commented on #318
I tried it first on Firefox. Just tried it on chrome and there it was.
Got the same issue as you.

[2019-03-28 20:24] #310 closed

[2019-03-28 20:24] #309 closed

[2019-03-28 20:25] #313 closed

[2019-03-28 20:25] sameerkdarshi commented on #318
@Scar26 for your kind information I was working on this issue.

[2019-03-28 20:25] llaske commented on #305
Fixed in https://github.com/llaske/sugarizer/pull/306

[2019-03-28 20:25] #305 closed

[2019-03-28 20:32] llaske commented on #297
It's not an issue.

[2019-03-28 20:32] #297 closed

[2019-03-28 21:08] Scar26 commented on #318
I'm really sorry.
I really didn't notice. I wouldn't have done it if I knew

[2019-03-29 12:23] llaske commented on #304
Hmmm. Seems very similar to Last One Loses activity.

[2019-03-29 12:32] llaske commented on #312
Fixed in https://github.com/llaske/sugarizer/pull/320

[2019-03-29 12:41] llaske commented on #301
Can't reproduce it, what's the version of your Firefox

[2019-03-29 12:46] utkarsh-raj commented on #304
ChopSticks is a fundamentally different game. The Last One Loses Activity is also played with numbers, but a lot of possibilities are there in the given game. I will request you to take a look at the source and maybe give the game a try ?

[ChopGame Source](https://github.com/utkarsh-raj/chopGame)

@llaske thoughts ?

[2019-03-30 07:29] Scar26 opened #322 "Smileys not displayed properly in chat prototype activity"
![sugarizer](https://user-images.githubusercontent.com/41830515/55273015-8db8c700-52eb-11e9-941f-dc42aa267981.JPG)

Working on this

[2019-03-30 09:01] llaske commented on #322
Can't reproduce it. What's your browser?

[2019-03-30 09:06] Scar26 commented on #322
Chrome 68.This issue was noted on try.sugaizer.org as well as the electron version

[2019-03-31 09:18] llaske commented on #322
Do you have the same issue on dev.sugarizer.org?
Could you do a small video to show how this issue happens?

[2019-03-31 09:52] Scar26 commented on #322
Yes the issue is there on dev.sugarizer.org as well
![chat](https://user-images.githubusercontent.com/41830515/55287612-d2666000-53c8-11e9-8bfc-611e7f5265f2.gif)

[2019-03-31 14:47] AvinashAgarwal14 opened #324 "Toolbar overlap issue in Speak Activity"
In Speak Activity the language toolbar overlaps with other toolbars

[2019-03-31 17:38] AvinashAgarwal14 opened #326 "Jappy Activity print preview popup"
After clicking on clear the canvas toolbar button in Jappy Activity, print preview window gets opened.

[2019-03-31 19:01] AvinashAgarwal14 opened #328 "Message overlaps with user name in Chat Activity"

[2019-03-31 22:17] Scar26 opened #330 "Users should be able to send images in chat prototype"

[2019-04-01 13:20] llaske commented on #330
Why not, could be nice.

[2019-04-01 17:31] Scar26 commented on #322
Is there anything I should fix or test further regarding this issue @llaske ?

[2019-04-02 19:31] Scar26 opened #333 "Text overflows in Shared notes activity"
![notes](https://user-images.githubusercontent.com/41830515/55430520-f9c95280-55ab-11e9-8ff3-a9a22fad328f.gif)

[2019-04-03 12:05] ashish0910 commented on #333
@Scar26 That occurs because you are entering a single word of such a long length which I dont think will be entered by user practically . However when you add a paragraph it does not overflow .

![Screenshot 2019-04-03 at 5 33 52 PM](https://user-images.githubusercontent.com/30404493/55477461-c2ec4e80-5636-11e9-96bb-ab1df3d37914.png)

[2019-04-03 12:14] Scar26 commented on #333
Still I think it's worth looking into

[2019-04-05 13:00] llaske commented on #326
Very strange. This popup clearly should not be here.

[2019-04-05 13:02] llaske commented on #326
Fixed in https://github.com/llaske/sugarizer/pull/327

[2019-04-05 13:08] llaske commented on #333
@ashish0910 is right, it's not really a bug because it's not a real use case.
BTW why not trying to fix if there is an elegant way to solve the issue.

[2019-04-07 20:44] llaske opened #336 "Gear colours are reset on resume"
When an assembly of gears is made, then the activity quit, and resumed, the colours of the gears have changed.

Save the colors with the journal entry and restore them on resume.

Duplicate from https://github.com/sugarlabs/gears-activity/issues/2

[2019-04-07 21:25] Scar26 commented on #336
Working on it

[2019-04-09 19:34] llaske opened #338 "Sugarizer OS hang when multiple click on an icon"
When clicking very quickly multiple times on the same icon in home view of Sugarizer OS, the display hang.

![image](https://user-images.githubusercontent.com/981841/55829539-2bdc3680-5b0f-11e9-93d2-00ec7a21fe4d.png)

[2019-04-09 19:55] llaske commented on #338
Fixed in https://github.com/llaske/sugarizer/pull/337

[2019-04-10 15:32] llaske commented on #314
Easy access to old generated QR code is more useful than a real history with duplication.

So https://github.com/llaske/sugarizer/pull/317 fixed the issue in my opinion.
A supplemental fix is here: https://github.com/llaske/sugarizer/pull/339

[2019-04-10 15:38] llaske commented on #322
I've finally reproduce the issue on another computer with Chromium.

Fixed in https://github.com/llaske/sugarizer/pull/323

[2019-04-10 19:23] llaske commented on #318
Fixed in https://github.com/llaske/sugarizer/pull/321

[2019-04-10 19:25] llaske commented on #301
Unable to reproduce, including on Firefox into Ubuntu.

[2019-04-10 19:25] #301 closed

[2019-04-10 19:34] llaske commented on #328
Fixed in https://github.com/llaske/sugarizer/pull/332

[2019-04-10 19:38] llaske commented on #324
Fixed in https://github.com/llaske/sugarizer/pull/325

[2019-04-12 05:17] AndreaGon opened #342 "Grid Paint Activity screen not working properly on Firefox"
Grid activity does not completely fill the screen on Firefox, and it shows a black background to the right:

![image](https://user-images.githubusercontent.com/44361130/56013826-3839dc80-5d25-11e9-8b71-77e5a8869b74.png)

![image](https://user-images.githubusercontent.com/44361130/56013851-56074180-5d25-11e9-94a4-a56aedd48566.png)

It works properly on Chrome.

[2019-04-12 12:42] Scar26 commented on #342
Working on it

[2019-04-14 08:43] llaske commented on #336
Fixed in https://github.com/llaske/sugarizer/pull/340

[2019-04-16 18:42] Scar26 opened #344 "No erase button for recordings in Record activity"
Currently there is no way to delete a picture,video or audio recording in the record activity.

![record1](https://user-images.githubusercontent.com/41830515/56235695-8a705a00-60a5-11e9-95ac-6079195abb93.jpg)

[2019-04-16 20:27] llaske commented on #344
Why not? But the UI should be simple and usable with a mouse or on a touch screen.

[2019-04-17 20:30] llaske commented on #330
Fixed in https://github.com/llaske/sugarizer/pull/331

[2019-04-20 09:00] llaske commented on #344
Fixed in https://github.com/llaske/sugarizer/pull/345

[2019-05-23 19:13] llaske opened #346 "Snapcraft version lost context"
When Sugarizer is installed from the [Snapcraft](https://snapcraft.io/sugarizer/) lost context each time the app is Launch.
Steps to reproduce:

- Install Sugarizer from the Snapcraft store
- Launch it
- Create a user
- Quit application
- Relaunch it: the new user no longer exist

[2019-05-26 12:08] IbukunF opened #347 "Grammatical Errors in the Documentation"
While I was going through the Sugarizer tutorial, I noticed some areas in the tutorial and the application with grammatical errors:

1. [Step 6 of the tutorial](https://github.com/llaske/sugarizer/blob/master/docs/tutorial_step6.md):

 - There is a line that says "Suppose that Michaël, an user connected on the same server than you want to Chat." that could be better written as "Suppose that Michaë

[2019-05-26 12:12] IbukunF commented on #347
The screen mentioned in 4 is shown here ![image](https://user-images.githubusercontent.com/32366708/58381657-89c4c080-7f8d-11e9-92c3-2c34b20eca22.png). I think this can be fixed by modifying the file called [template.pot
](https://github.com/llaske/sugarizer/blob/master/po/template.pot) at line 1302 but I would like some feedback first before making that change. The other changes have been made in

[2019-05-26 14:11] llaske commented on #347
Thanks. Please send a PR on the dev branch.
Regarding error on tutorial screen, the file to update is locale.ini. PO/POT files in Sugarizer are generated from the .ini file. See https://github.com/llaske/sugarizer/tree/dev#localization for more.

[2019-05-31 19:54] llaske opened #350 "Snapcraft version don't allow to import/export file into/from Journal"
When Sugarizer is installed from the Snapcraft the import local file to journal and export journal item to file buttons don't work.
Steps to reproduce:

- Install Sugarizer from the Snapcraft store
- Launch it
- Create a user
- Launch an activity then quit it
- Go to journal view, try to export Journal item to file, nothing happen
- Try to import file into Journal, nothing happen

[2019-05-31 20:00] llaske commented on #346
Fixed in https://github.com/llaske/sugarizer/commit/4b548c37dc5f408375adb001e0845ac6ebe10be6

[2019-06-01 09:00] llaske commented on #350
Fixed in https://github.com/llaske/sugarizer/commit/d6a0951ef3b6d3cd2f7591c5dead42d5829dbdec

[2019-06-01 09:02] llaske opened #351 "Camera doesn't work on Record/QRCode activities for Snapcraft version"
When Sugarizer is installed using Snapcraft, the camera don't work into Record and QRCode activities.

Step to reproduce:
- Install Sugarizer from Snapcraft store
- Create a new user
- Launch the Record activity
- Click on Camera icon: a popup appears briefly but nothing happen

[2019-06-01 09:04] llaske commented on #351
A current work around is to force camera connection from the command line.
Just type the following command after Sugarizer snapcraft install:

`
sudo snap connect sugarizer:camera`

[2019-06-07 16:54] llaske opened #354 "Add a pause button to the Physics activity"
Would be nice to add a pause button on the Physics activity to stop current movement of items.
The button could be transformed into a Play button to continue movement.

Source code for Physics activity is here: https://github.com/llaske/sugarizer/tree/dev/activities/PhysicsJS.activity

(Suggestion by [Sameer Verma](https://twitter.com/sameerverma/status/1132768962511495168?s=20))

[2019-06-08 18:40] phorical commented on #354
Opened a pull request to fulfill this request: #355 .

[2019-06-18 20:24] llaske commented on #351
Starting version 1.2, the connection to camera will be automatic.
See [here](https://forum.snapcraft.io/t/please-auto-connect-camera-interface-for-sugarizer-was-classic-confinement-for-sugarizer/11513/11) for more.

[2019-06-21 11:55] llaske commented on #354
Fixed in https://github.com/llaske/sugarizer/pull/355

[2019-06-28 11:25] llaske commented on #302
We explore all solutions here: https://github.com/llaske/sugarizer/pull/303
No one is interesting.
The warning message could just be ignored.

[2019-06-30 20:26] llaske opened #356 "Running Sugarizer from a web server without Sugarizer Server"
Before v1.0, it was possible to run Sugarizer from a web server without Sugarizer Server.
It's no longer possible without an error.

[2019-06-30 20:38] llaske commented on #356
A new "**no Server mode**" is now available (need at least https://github.com/llaske/sugarizer/commit/028f185e47e4fed34381a6a10193db6f45206f4d).

To run it:
- Retrieve the Sugarizer latest dev branch on https://github.com/llaske/sugarizer/tree/dev
- Change the value of constant.serverMode to true in js/constant.js (https://github.com/llaske/sugarizer/blob/dev/js/constant.js#L46)
- Expose the conte

[2019-07-13 10:15] llaske opened #358 "Error in console in Calculate activity when reopen an empty instance"
Step to reproduce:
- Launch a new instance of Calculate activity
- Don't do any operation, just close the activity
- Reopen the Calculate activity

A message `TypeError: CalculateApp.data.calculations is null` is displayed in the console.
Should probably related to the fact than the operation history is empty.

[2019-07-13 10:19] llaske opened #359 "Context is lost the second time in Abecedarium activity"
Step to reproduce:
- Open a new instance of Abecedarium activity
- Click on the book item, then on any letter
- Change the current language by clicking on the flag
- Close the activity
- Reopen the activity: it's open on the previous screen
- Close the activity again
- Reopen the activity: it's now open on the home screen
The user expect to reopen the activity in the same context than when he leav

[2019-07-13 10:27] llaske opened #360 "Sound don't restart in FoodChain activity"
Step to reproduce:
- Launch a new instance of FoodChain activity
- Click to launch the build game
- Cards appears and sounds are playing on each card
- Do nothing and stop the activity
- Reopen the FoodChain activity, the latest context is displayed
- The first card appears but not sound is played and the second card never appears

[2019-07-13 10:33] llaske opened #361 "Sugarizer don't work on Firefox in private mode"
When Sugarizer is launched with Firefox in private mode, the message `FATAL ERROR: indexedDB not supported, could be related to use of private mode` appears several time and some actions do nothing or stop working.

This issue appears starting https://github.com/llaske/sugarizer/commit/76234ea068d6be234a157362b4c9b0d626f6905a

[2019-07-13 10:39] llaske commented on #361
Starting https://github.com/llaske/sugarizer/commit/76234ea068d6be234a157362b4c9b0d626f6905a, Sugarizer use IndexedDB feature to store local content.

There is an issue in Firefox that prevent usage of IndexedDB in private mode thought it works on other browsers (Chrome, Safari, ...).

The Firefox issue is referenced here: https://bugzilla.mozilla.org/show_bug.cgi?id=781982
We could expect that th

[2019-07-13 10:46] llaske opened #362 "Record activity don't work in Safari"
When trying to capture Image/Video/Sound with Record activity, nothing happens.

[2019-07-20 13:26] llaske commented on #359
Fixed in https://github.com/llaske/sugarizer/pull/366

[2019-07-22 19:58] llaske commented on #362
Fixed in https://github.com/llaske/sugarizer/commit/53ec0d30a66a9ce0afb13e99594044836ec393d4

BTW it need today support of experimental implementation of MediaStream Recorder API: https://blog.addpipe.com/safari-technology-preview-73-adds-limited-mediastream-recorder-api-support/

[2019-07-22 20:06] llaske commented on #358
Fixed in https://github.com/llaske/sugarizer/pull/365

[2019-07-31 18:18] ashish0910 opened #368 "Build Application for android not working"
While following [documentation](https://github.com/llaske/sugarizer/tree/dev#build-application-for-android-and-ios) for building Android application using Cordova
This Error is generated :

Using cordova-fetch for cordova-android@^8.0.0
Adding android project...
Error validating package name. Must look like: `com.company.Name`. Currently is: `org.olpc-france.sugarizer`

Steps To reproduce :
Follow

[2019-07-31 19:33] llaske commented on #368
Recent versions of Cordova don't allow using "-" character into name, it should be updated to "_".
So a substitution should be done like:

`sed -i -e "s/org.olpc-france.sugarizer/org.olpc_france.sugarizer/" config.xml`

A full script file to build Sugarizer on Android could be found here: https://github.com/llaske/sugarizer-apkbuilder/blob/master/src/make_android.sh

BTW I suggest to use [Sugarize

[2019-08-26 14:02] llaske commented on #48
To solve this issue, we took decision to contract with a professional attorney from [Inno3](https://inno3.fr/), a french company specialized in Open Source license.

Questions was:

- Is it legal to distribute Sugarizer and Sugarizer activities under the Apache 2.0 license instead of GPLv3?
- Can we distribute TurtleBlockJS (AGPLv3+) and Jappy (GPLv3+) with Sugarizer?
- Can we distribute Sugarizer

[2019-08-26 14:02] #48 closed

[2019-08-26 14:46] llaske opened #370 "XOEditor activity generate multiple entries in the Journal"
Just changing the buddy color and resizing the window generate multiple entries in the Journal.
See demonstration below.

![xoeditorissue](https://user-images.githubusercontent.com/981841/63699380-f798b680-c820-11e9-8717-cada5147b454.gif)

Each activity is supposed to generate only one instance in the Journal to save its context.

[2019-08-27 19:38] llaske opened #371 "Activity palette not visible on Tank Operation activity"
The activity palette that should open when the user click on the activity icon in the toolbar is never visible on Tank Operation activity.

![image](https://user-images.githubusercontent.com/981841/63802454-f47df300-c912-11e9-85c0-4e857aa3464e.png)

So it's not possible to change the name of the instance.

[2019-09-02 20:19] llaske opened #372 "Clear icon in XO Editor activity is not consistent"
The icon use to clear the colors position in XO Editor is not consistent.
It should be the clear icon like in Paint, Physics and other activities.
Plus it should be align to the left.

![Capture du 2019-09-02 22-15-40](https://user-images.githubusercontent.com/981841/64132353-9c8e3300-cdcf-11e9-8dac-b3014eaa259a.png)

[2019-09-08 09:14] llaske commented on #368
Documentation updated to point on APK builder script.

[2019-09-08 09:14] #368 closed

[2019-09-10 19:44] llaske commented on #370
Fixed in https://github.com/llaske/sugarizer/issues/370

[2019-09-13 16:27] llaske opened #374 "Presence palette implementation in Memorize is non standard"
The Presence palette implementation (located in `activities/Memorize.activity/lib/sugar-web/graphics/presencepalette.js`) in Memorize activity is nonstandard.
It's not conform to the standard implementation in `activities/ActivityTemplate/lib/sugar-web/graphics/presencepalette.js` and it's mixed with the code to display a popup.
The standard file should be used and the code to display the popup sh

[2019-09-14 13:21] llaske commented on #372
Fixed in https://github.com/llaske/sugarizer/commit/cba1843a209281592acb4b2a52ae3ded3306248c

[2019-09-14 13:26] llaske commented on #304
More fun with hands than with a computer. Not pertinent.

[2019-09-14 13:26] #304 closed

[2019-09-14 13:30] #295 closed

[2019-09-14 13:32] llaske commented on #285
Should be posted to Exerciser repo: https://github.com/llaske/ExerciserReact

[2019-09-14 13:32] #285 closed

[2019-09-17 05:10] suoko opened #376 "React native instead of cordova"
I tried this app and appreciated the smart games on it, but noticed it's kinda slow sometimes. Would react native improve that? Did you try?

[2019-09-17 08:19] llaske commented on #376
Thanks for this feedback.
You're right, the app should be probably more reactive 😄 using React Native.
BTW it's important for maintainability and to support multiple platforms (browsers, pc, mobile) to have the same source code for Sugarizer. It's why we're using today Cordova and Electron as explain [here](https://github.com/llaske/sugarizer/blob/dev/docs/architecture.md).
FYI, note that two Suga

[2019-09-18 05:04] suoko commented on #376
According to the docs, react native supports all platforms, from desktop to mobile to TV, somebody suggest to use Proton native for desktop but that's it. The boost in performance is coming from the multithread support of native library used. A  single game/app should be ported for testing purpose

[2019-09-18 07:29] utkarsh-raj commented on #371
Possibly #377 solves this.

[2019-09-22 09:46] zupercat opened #378 "Miss a tutorial on Abecedarium activity"
It seems that some activities don't have a description/tutorial and while some activities are easy to figure out, others, like the Abecedarium activity can be very confusing and hard to navigate.

[2019-09-22 09:54] eMBee commented on #378
i am exploring sugarizer with @zupercat and other students,

we are exploring the code to find out where to put a description for an activity.

it appears that activity/activity.info might be a suitable place.

[2019-09-22 20:17] llaske commented on #378
Thanks for your feedback @zupercat and @eMBee .
You could find a short description of all activities, including Abecedarium, on the Sugarizer list view (click on the ? button on each line).

![image](https://user-images.githubusercontent.com/981841/65393815-1473cb80-dd86-11e9-8fb5-72e0a77d9cb1.png)

Some activities have also a detailed tutorial included.
BTW most of the time, children never launch

[2019-09-26 19:49] #370 closed

[2019-09-26 19:49] #372 closed

[2019-09-26 20:31] llaske commented on #362
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:31] #362 closed

[2019-09-26 20:31] llaske commented on #359
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:31] #359 closed

[2019-09-26 20:32] llaske commented on #358
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:32] #358 closed

[2019-09-26 20:32] llaske commented on #356
https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:32] #356 closed

[2019-09-26 20:32] llaske commented on #354
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:32] #354 closed

[2019-09-26 20:33] llaske commented on #351
https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:33] #351 closed

[2019-09-26 20:33] llaske commented on #350
https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:33] #350 closed

[2019-09-26 20:33] llaske commented on #347
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:33] #347 closed

[2019-09-26 20:34] llaske commented on #346
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:34] #346 closed

[2019-09-26 20:34] llaske commented on #344
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:34] #344 closed

[2019-09-26 20:35] llaske commented on #338
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:35] #338 closed

[2019-09-26 20:35] llaske commented on #336
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:35] #336 closed

[2019-09-26 20:35] llaske commented on #330
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:35] #330 closed

[2019-09-26 20:36] llaske commented on #328
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:36] #328 closed

[2019-09-26 20:36] llaske commented on #326
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:36] #326 closed

[2019-09-26 20:36] llaske commented on #324
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:36] #324 closed

[2019-09-26 20:36] llaske commented on #322
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:36] #322 closed

[2019-09-26 20:37] llaske commented on #318
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:37] #318 closed

[2019-09-26 20:37] llaske commented on #314
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:37] #314 closed

[2019-09-26 20:37] llaske commented on #312
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:37] #312 closed

[2019-09-26 20:38] llaske commented on #292
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:38] #292 closed

[2019-09-26 20:38] llaske commented on #287
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:38] #287 closed

[2019-09-26 20:38] llaske commented on #280
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:38] #280 closed

[2019-09-26 20:39] llaske commented on #266
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:39] #266 closed

[2019-09-26 20:39] llaske commented on #265
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:39] #265 closed

[2019-09-26 20:40] llaske commented on #263
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:40] #263 closed

[2019-09-26 20:40] llaske commented on #262
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:40] #262 closed

[2019-09-26 20:40] llaske commented on #261
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:40] #261 closed

[2019-09-26 20:40] llaske commented on #260
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:40] #260 closed

[2019-09-26 20:41] llaske commented on #185
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:41] #185 closed

[2019-09-26 20:41] llaske commented on #146
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:41] #146 closed

[2019-09-26 20:41] llaske commented on #106
Closed in https://github.com/llaske/sugarizer/commit/dd3c58d56981e4dfa6d94601b95d7117a3bc9241

[2019-09-26 20:41] #106 closed

[2019-09-28 19:56] llaske opened #379 "Add dead cells in Game of life activity"
Add a new toolbar icon in the Game of life activity to see dead cells.
When this icon is selected the board display dead cells in a specific colors.
See an example on http://www.conwaylife.com/

[2019-09-28 20:01] llaske opened #380 "Allow to control speed generation in Game of Life activity"
Add icons to control speed of generation in the game of life activity.
It could be for example a fast forward and fast backward button to a double and divide by 2 the current speed.

[2019-09-28 20:07] llaske opened #381 "Add an option to choose board size of Game of Life activity"
Add a palette to choose board size (small, medium, large – current one): adapt sample to fit to this size.

[2019-09-28 20:12] llaske opened #382 "Add a tutorial on Game of Life activity"
Add a tutorial to the Game of Life, is specifically important to give rules of the game as specified in [Wikipedia](https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life):
Every cell interacts with its eight neighbours, which are the cells that are horizontally, vertically, or diagonally adjacent. At each step in time, the following transitions occur:

- Any live cell with fewer than two live neig

[2019-09-28 20:23] llaske opened #383 "Long name hide text in Chat activity"
When the user has a too long name, its text is hidden in the Chat activity

![image](https://user-images.githubusercontent.com/981841/65822053-775dda80-e23e-11e9-9660-4a93e75dfd1f.png)

[2019-09-28 20:31] llaske opened #384 "Image insertion don't work in shared mode in Paint activity"
Image insertion don't work in shared mode.
Image move and image resize is not recorded and pen trace is display instead in other activities.
See result of image insertion below:

![image](https://user-images.githubusercontent.com/981841/65822120-3a461800-e23f-11e9-9a3a-eaa15518b504.png)

[2019-09-29 18:33] prakashujjwal1010 commented on #380
@llaske , I would like to work upon this issue.
I am thinking to add two toolbar buttons fast backward and fast forward. and I think i should avoid storing the speed value in datastore .

[2019-09-29 19:31] llaske commented on #380
Sounds good. Do not hesitate.
You're right, you don't need to store the speed value in the datastore. BTW I think you should display it when it will change.

Note that there is no need to ask permission to work on an issue. See [here](https://github.com/llaske/sugarizer/blob/master/CONTRIBUTING.md).

[2019-10-02 06:31] SamuraiNights commented on #378
I think the problem is that when you start a program, like the Abecedarium, it is unclear which button you should press and what it does. A good example is the tutorial on the starting page of Sugarizer. If we were to add that to all the programs, then it would be much easier to use them.

[2019-10-02 09:12] jlc-png commented on #378
We've try to add a new tutorial button in Abecedarium, but the button was invisible.We copied the code from the Labyrinth activity.It's not clear what else we need to add.
We guess we need bootstrap-tour-standalone.min.css and some other things.

[2019-10-02 09:47] utkarsh-raj commented on #360
After a bit of testing, I think that some API call is returning "en-GB" instead of "en" for the language code when the activity is reloaded. When we reload the activity, pause and play it, the error is gone the the activity functions as expected to.

I could identify two potential solutions. First, the en folder in audio can be safely renamed as en-GB, and I could test all the functions positively

[2019-10-02 11:48] utkarsh-raj commented on #374
Possibly fixed in #386

[2019-10-02 12:41] llaske commented on #378
Ok so I've renamed the issue "Miss a tutorial on Abecedarium activity" to better match your request.
You're right, to add a tutorial you need to use the [bootstrap tour](http://bootstraptour.com/) library.
You should include the CSS file (see [here](https://github.com/llaske/sugarizer/blob/dev/activities/LabyrinthJS.activity/index.html#L14)) and the JS file too (see https://github.com/llaske/sugar

[2019-10-03 07:37] eMBee commented on #378
Abecedarium is just one of the activities that we think could benefit from a tutorial. but the title change is fine. we'll likely move on to other things once we created a tutorial for abecedarium. i expect that after that we'll write up some documentation on how to add such a tutorial to an activity, and add that to the tutorial for creating your own activity and then we'll look at other problems

[2019-10-03 12:28] llaske commented on #378
Cool. Will be great if you have opportunity to add a step 9 to the current tutorial to explain how to add a tutorial/help in an activity.

[2019-10-03 14:34] llaske commented on #380
Nice start. By the way I'm not a big fan to have one button only. It means that to slow the generation you should first accelerate it. It's counter intuitive.
Alternatively may be we could use a slider instead of buttons.
Something like the one used to control rate in the Speak activity.

<img width="244" alt="image" src="https://user-images.githubusercontent.com/981841/66136147-4513fa80-e5fb-11e9

[2019-10-08 15:23] llaske opened #387 "Add a set time mode to the Clock activity"
To learn how to read time, it's current to use a tool that let children set the time by themselves.
So the idea - suggested by a teacher in our [Saint-Ouen deployment](https://wiki.sugarlabs.org/go/Sugarizer_Saint-Ouen_deployment) - is to create a new "set time" mode in the Clock activity. In this mode, the time will not display the system time but just let user to set hands to a specific time.
He

[2019-10-09 19:33] llaske opened #388 "Jump in generation in Game of Life activity on Chrome"
On Chrome, there is sometime some "jumps" in generation.

See for example: https://github.com/llaske/sugarizer/pull/385#issuecomment-538725198

[2019-10-09 19:40] llaske commented on #388
Fixed in https://github.com/llaske/sugarizer/commit/0083e05f50cdc63b87f9bbf34231e54ea933ec0e

[2019-10-12 08:57] llaske opened #389 "Add a synth keyboard mode in TamTam Micro activity"
The idea of this enhancement is to add a keyboard mode into the TamTam Micro activity to allow user to play like a keyboard with the sound he choose. It will transform the activity into a mini synth keyboard.

To do that there is three things to do:

- Replace the current audio implementation [here](https://github.com/llaske/sugarizer/blob/dev/activities/TamTamMicro.activity/audio.js) using HTML5.

[2019-10-13 05:49] tk315 opened #390 "Image selection error in Write activity after scrolling"
WHEN I WAS SCROLLING AFTER SELECTING THE IMAGE . I FOUND THIS BUG
![writeactivity](https://user-images.githubusercontent.com/56471793/66711501-c7927c00-edaa-11e9-9a92-0f6200f4135b.PNG)

[2019-10-13 06:16] ashish0910 commented on #390
@tk315 can you please create a pull request for its fix ?
Just add this
`this.quill.root.addEventListener('scroll', this.hide, false);`
Below [this](https://github.com/ashish0910/quill-image-resize-module/blob/master/src/ImageResize.js#L39) and produce new minified file and replace it with current file [here](https://github.com/llaske/sugarizer/blob/master/activities/Write.activity/lib/quill/modul

[2019-10-13 09:11] llaske commented on #383
Fixed in https://github.com/llaske/sugarizer/pull/391

[2019-10-13 10:40] tk315 commented on #390
@ashish0910 I had done the suggested changes in ImageResize.js and also created a pull request
![Capture12](https://user-images.githubusercontent.com/56471793/66714375-a1350680-edd3-11e9-9862-b30c046dbfd9.PNG)
now what i have to do with minified file ? Will you please ellaborate it  ?

[2019-10-13 10:50] ashish0910 commented on #390
@tk315  replace current file  [here](https://github.com/llaske/sugarizer/blob/master/activities/Write.activity/lib/quill/modules/image-resize.min.js) with the new minified file and create a pr for it on this repository .

[2019-10-19 13:14] llaske commented on #380
Fixed in https://github.com/llaske/sugarizer/commit/bfe50cb516df1b85492265bd43f53e7d61d98bb9

[2019-10-20 03:54] jlc-png commented on #378
We added the requirement for tutorial.
https://github.com/SamuraiNights/sugarizer/commit/c621738da6a31f1e79d341e0cd2f29b55eb877bf
But when we tried to test it ,and then we get the error below:

[2019-10-20 03:55] SamuraiNights commented on #378
Error message:
require.js:1765 Uncaught Error: Mismatched anonymous define() module: function(o){return t.Tour=e(o)}
http://requirejs.org/docs/errors.html#mismatch
    at makeError (require.js:159)
    at intakeDefines (require.js:1192)
    at Object.localRequire [as require] (require.js:1366)
    at requirejs (require.js:1691)
    at Function.req.config (require.js:1699)
    at loader.js:1

[2019-10-21 15:26] llaske commented on #390
Fixed in https://github.com/llaske/sugarizer/pull/394

[2019-10-21 15:38] llaske commented on #378
Hmmm. I think it means that require.js can't find your new `tutorial.js` file.
Try to put it in the `lib` directory or (better) reference it with `"activity/tutorial"` instead of `"tutorial"` in your [define](https://github.com/SamuraiNights/sugarizer/commit/c621738da6a31f1e79d341e0cd2f29b55eb877bf#diff-60678f5de4c62a92da84256477149677R3) because [this line](https://github.com/llaske/sugarizer/blo

[2019-11-03 14:46] llaske commented on #381
Fixed in https://github.com/llaske/sugarizer/pull/395

[2019-11-03 15:15] llaske opened #396 "Improve Gears Tutorial"
When the user click on the ? icon in Gears a nice interactive demo is displayed.

![image](https://user-images.githubusercontent.com/981841/68087241-21d7a780-fe54-11e9-9ef3-67028df8be88.png)

It could be improved in few ways:

- [ ] Remove the text "click anywhere to stop the demo" (not useful)
- [ ] Remove the three icons at right: New document, Cloud and Help (not used)
- [ ] Use the correct ico

[2019-11-03 15:21] llaske opened #397 "Clear icon in Game of Life activity is non standard"
The clear icon (at right of the screen capture below) in Game of Life activity is non standard.

![image](https://user-images.githubusercontent.com/981841/68087404-c5758780-fe55-11e9-8fa4-fd26865d23d5.png)

It should be a white box with a black cross (see Paint, Gears or Physics for example).

[2019-11-03 20:43] llaske opened #398 "Close the presence palette when the activity is shared"
When an user want to share an activity, he click on the presence palette, then on the neighborhood icon.

![image](https://user-images.githubusercontent.com/981841/68091628-434f8800-fe82-11e9-9e86-629d50636d61.png)

In some activity, when the icon is clicked, the palette automatically close. For example in Maze activity. On some other, the palette remain open which is not pertinent.

The idea is t

[2019-11-08 18:15] llaske opened #399 "Add a fullscreen button in the Reflection activity"
Sugarizer activities don't look good on devices with small screen - for example smartphones.
On these devices, the toolbar could sometimes take 1/4 of the screen.

![image](https://user-images.githubusercontent.com/981841/68498330-e1629a00-0256-11ea-8cb7-50e522b65d7f.png)

To increase the size for activities contents, the idea is to add a fullscreen button in the toolbar, like in the QRCode activi

[2019-11-09 08:44] llaske opened #400 "Add a fullscreen button in the Maze activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activities contents on small devices.

The complete process is describe in https://github.com/llaske/sugarizer/issues/399

[2019-11-09 08:45] llaske opened #401 "Add a fullscreen button in Memorize activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in https://github.com/llaske/sugarizer/issues/399

[2019-11-09 08:50] llaske opened #402 "Add a fullscreen button in Abacus activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in https://github.com/llaske/sugarizer/issues/399

[2019-11-09 08:52] llaske opened #403 "Gridpaint don't handle window resize"
Gridpaint activity don't handle window resize event. So, if the activity is open with a small window then resized, the board keep the same size.

![image](https://user-images.githubusercontent.com/981841/68525909-adc75480-02d6-11ea-977c-e1f2b01d164c.png)

[2019-11-09 09:05] llaske opened #404 "Handle window resize in TankOp activity during play"
TankOp activity don't handle window resize event during play. So, if the game is started with a small window then resized, the board keep the same size.

![image](https://user-images.githubusercontent.com/981841/68526078-60e47d80-02d8-11ea-829a-f405f5953e19.png)

[2019-11-09 09:18] llaske opened #405 "Board size in Flip activity is not optimized"
The board size in Flip activity don't use the dimension of the game.
So for a 7x7 game the window fit to the screen:

![image](https://user-images.githubusercontent.com/981841/68526232-eb79ac80-02d9-11ea-8481-adaaa5c71321.png)

But for a 4x4 game there is a large gap at the bottom of the grid:

![image](https://user-images.githubusercontent.com/981841/68526250-1237e300-02da-11ea-9967-229ede9a5dea.

[2019-11-09 09:21] llaske opened #406 "Add a fullscreen button in Abecedarium activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activities contents on small devices.

The complete process is describe in #399

[2019-11-09 09:23] llaske opened #407 "Add a fullscren button in GameOfLife activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activities contents on small devices.

The complete process is describe in #399

[2019-11-09 09:27] llaske opened #408 "Add a fullscreen button in Calculate activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activities contents on small devices.

The complete process is describe in #399

[2019-11-09 09:29] llaske opened #409 "Add a fullscreen button in TamTam micro activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activities contents on small devices.

The complete process is describe in #399

[2019-11-09 09:31] llaske opened #410 "Add a fullscreen button in Physics activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activities contents on small devices.

The complete process is describe in #399

[2019-11-09 09:32] llaske opened #411 "Add a fullscreen button in Gears activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activities contents on small devices.

The complete process is describe in #399

[2019-11-09 09:34] llaske opened #412 "Add a fullscreen button in Clock activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2019-11-09 09:36] llaske opened #413 "Add a fullscreen button in Moon activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2019-11-09 09:39] llaske opened #414 "Add a fullscreen button in ColorMyWorld activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2019-11-09 09:41] llaske opened #415 "Add a fullscreen button in XO Editor activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2019-11-09 09:44] llaske opened #416 "Add a fullscreen button in BlockRain activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2019-11-09 09:45] llaske opened #417 "Add a fullscreen button in Constellation activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2019-11-09 09:49] llaske opened #418 "Add a fullscreen button in LastOneLose activity"
The idea is to add a fullscreen button in the toolbar to increase the size for activity content on small devices.

The complete process is describe in #399

[2019-11-11 09:28] llaske opened #419 "Board is not drawn correctly in LastOneLost activity when open from the Journal"
Steps to reproduce:
- Launch LOL activity
- Play few rounds
- Stop the activity
- Relaunch the activity from the Journal

The board is displayed like if it's a new game though few items should miss.

[2019-11-11 09:30] llaske commented on #419
Fixed in https://github.com/llaske/sugarizer/commit/19bd97801c6577112bf31a818859036f7dd55638

[2019-11-12 01:15] est271 commented on #399
I would like to work on this issue but i have one question before i begin.

I cloned the dev branch and I am able to successfully launch the platform on the sugarizer-server and all the features on sugarizer seem to work just fine.

the only thing is that there is some unit test failures on my dev branch without any modifications being made. Currently running on Linux Mint and I'm wondering if its

[2019-11-12 04:04] est271 commented on #399
Actually never mind about my previous question.
I get the same results from the [Sugarizer Web Application](https://try.sugarizer.org),
creating a user and navigating over to try.sugarizer.org/test/index.html

[2019-11-12 14:16] felipebrunetti94 commented on #400
Working on it.

[2019-11-13 14:51] sarthak-g commented on #418
Yeah, I also feel the same.Can I work on this?

[2019-11-13 17:29] sarthak-g opened #422 "Gear Activity is not responsive"
![Screenshot from 2019-11-13 22-48-34](https://user-images.githubusercontent.com/42293606/68787973-7eaf3b00-0668-11ea-93ba-94049e108ab4.png)

Gear Activity is not responsive on smart phone. Neither complete image nor "stop" button is visible.

[2019-11-13 17:40] llaske commented on #422
Thanks for this feedback.

Here's few insights regarding Sugarizer responsive policy:

- The preferred way to run Sugarizer on mobile devices is via the iOS and Android app.
- Sugarizer UI is adapted to screen larger than longer (landscape), this rule is forced on iOS and Android apps. In browser in portrait mode (like in your screen capture), nothing is required from activities today.
- Sugarizer

[2019-11-13 17:54] sarthak-g commented on #422
Thanks for sharing insights regarding Sugarizer responsive policy.

[2019-11-13 20:23] llaske commented on #399
Fixed in https://github.com/llaske/sugarizer/pull/420

[2019-11-17 16:52] llaske commented on #382
A full tutorial to integrate a tutorial into an activity is now here https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

[2019-11-17 21:00] llaske opened #424 "Add a tutorial to the MazeWeb activity"
Add a tutorial to the MazeWeb activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should

[2019-11-17 21:02] llaske opened #425 "Add a tutorial to the Paint activity"
Add a tutorial to the Paint activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should be

[2019-11-17 21:03] llaske opened #426 "Add a tutorial to the TamTam Micro activity"
Add a tutorial to the MazeWeb activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should be localized
* [ ] Should respect the Sugarizer UI, as ex

[2019-11-17 21:04] llaske opened #427 "Add a tutorial to the Memorize activity"
Add a tutorial to the Memorize activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should

[2019-11-17 21:05] llaske opened #428 "Add a tutorial to the PhysicsJS activity"
Add a tutorial to the Physics activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should

[2019-11-17 21:07] llaske opened #429 "Add a tutorial to the Calculate activity"
Add a tutorial to the Calculate activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Shoul

[2019-11-17 21:08] llaske opened #430 "Add a tutorial to the Clock activity"
Add a tutorial to the Clock activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should be

[2019-11-17 21:09] llaske opened #431 "Add a tutorial to the Speak activity"
Add a tutorial to the Speak activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should be

[2019-11-17 21:09] llaske opened #432 "Add a tutorial to the Moon activity"
Add a tutorial to the Moon activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should be

[2019-11-17 21:10] llaske opened #433 "Add a tutorial to the Record activity"
Add a tutorial to the Record activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should b

[2019-11-17 21:12] llaske opened #434 "Add a tutorial to the Abecedarium activity"
Add a tutorial to the Abecedarium activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Sho

[2019-11-17 21:13] llaske opened #435 "Add a tutorial to the VideoViewer activity"
Add a tutorial to the VideoViewer activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Sho

[2019-11-17 21:16] llaske opened #436 "Add a tutorial to the FoodChain activity"
Add a tutorial to the FoodChain activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Shoul

[2019-11-17 21:18] llaske opened #437 "Add a tutorial to the GridPaint activity"
Add a tutorial to the GridPaint activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each element in the UI
* [ ] Should be

[2019-11-17 21:20] llaske opened #438 "Add a tutorial to the ColorMyWorld activity"
Add a tutorial to the ColorMyWorld activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Sh

[2019-11-17 21:22] llaske opened #439 "Add a tutorial to the XOEditor activity"
Add a tutorial to the XOEditor activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should

[2019-11-17 21:23] llaske opened #440 "Add a tutorial to the Reflection activity"
Add a tutorial to the Reflection activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Shou

[2019-11-17 21:27] llaske opened #441 "Add a tutorial to the Abacus activity"
Add a tutorial to the Abacus activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should e

[2019-11-17 21:28] llaske opened #442 "Add a tutorial to the Flip activity"
Add a tutorial to the Flip activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should exp

[2019-11-17 21:29] llaske opened #443 "Add a tutorial to the Fototoon activity"
Add a tutorial to the Fototoon activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should

[2019-11-17 21:30] llaske opened #444 "Add a tutorial to the SprintMath activity"
Add a tutorial to the SprintMath activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Shou

[2019-11-17 21:31] llaske opened #445 "Add a tutorial to the Write activity"
Add a tutorial to the Write activity following tutorial 9 in Sugarizer development tutorial: https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step9.md

The tutorial:
* [ ] Should display a welcome message to explain the activity (could reuse the help message describing the activity in Sugarizer activities List view)
* [ ] Should explain usage of each button in the toolbar
* [ ] Should ex