[2021-01-21 13:10] saurabhhere commented on #921
For PM hours, do we need something like this?

![Screenshot from 2021-01-21 18-38-26](https://user-images.githubusercontent.com/60233336/105355324-fc30ec80-5c17-11eb-8196-bdb0248bc610.png)

[2021-01-21 15:11] llaske commented on #921
That's the idea.
Did you change the hours colors? It seems brighter than the AM version. I think it's better if colors are the same in AM/PM mode.

[2021-01-23 11:58] saurabhhere commented on #921
No, I haven't updated the hours colors. Those are the same as before. Please have a look at #923

[2021-01-23 18:26] saurabhhere opened #924 "Stop button is not fully responsive in Clock Activity"
Stop button hides if the window size is **less than 620px in width**.

Preview :

![Screenshot from 2021-01-23 23-50-57](https://user-images.githubusercontent.com/60233336/105610540-187a8800-5dd6-11eb-911d-c9c1cba1e722.png)

[2021-01-23 21:08] llaske commented on #924
Yes but it should be responsive only in landscape mode.
See https://github.com/llaske/sugarizer/issues/422 for more detail on responsive requirement in Sugarizer.

[2021-01-24 09:58] saurabhhere commented on #924
Thanks for sharing the responsive requirements in Sugarizer.

[2021-01-24 09:58] #924 closed

[2021-01-27 21:27] llaske commented on #799
Fixed in https://github.com/llaske/sugarizer/pull/914

[2021-02-01 11:43] sarthak-g commented on #709
@llaske , I'm working on this activity and soon to issue a PR. I'm using p5.js but in p5.js we can take no. of samples for frequency in power of 2 between 32 and 32768. Due to this, for zoom in and zoom out functionality, we have to use freq/div to be in multiplication of 2.
So it is acceptable if we use 24 Hz/div and then on next increase it becomes 48(= 24*2) Hz/div.

[2021-02-01 21:52] llaske commented on #709
@sarthak-g is a good idea to work on this activity. I'm precisely thinking to add the activity in the GSoC idea list.
Plus the current proposed implementation in https://github.com/llaske/sugarizer/pull/708 is not complete.
But in my mind, the major issue is not regarding frequency but regarding Android/iOS compatibility.
All activities must work on all Sugarizer platforms so the big question is h

[2021-02-03 13:29] sarthak-g commented on #709
@llaske , how can I test activity on android and ios?

[2021-02-03 14:26] llaske commented on #709
@sarthak-g the easiest way is to test on Android is to use [Sugarizer APK builder](https://github.com/llaske/sugarizer-apkbuilder)

[2021-02-13 14:54] llaske commented on #921
Fixed in https://github.com/llaske/sugarizer/pull/923

[2021-02-18 09:49] saurabhhere opened #927 "Add a popup when image is exported in Planets Activity"
![Screenshot from 2021-02-18 15-11-50](https://user-images.githubusercontent.com/60233336/108337906-a9892700-71fb-11eb-86d6-f6b05b0023d6.png)

Popup can be added to notify the user about the planet image exported

[2021-02-18 10:03] ricknjacky commented on #927
Nice, quite similar to #867 #868 #869 and #870 missed this activity back then.

[2021-02-18 10:59] saurabhhere opened #929 "Palettes not responsive in Dollar Street Activity"
Thing Palette and Region palette are not fully responsive

Preview :

![Screenshot from 2021-02-18 16-24-47](https://user-images.githubusercontent.com/60233336/108346859-da6e5980-7205-11eb-87aa-dd809a2bc4f5.png)

[2021-02-18 20:24] llaske commented on #929
Good point.
Thanks for your reactivity.

[2021-02-18 20:26] llaske commented on #929
Fixed in https://github.com/llaske/sugarizer/pull/930

[2021-02-18 20:30] llaske commented on #927
Yes sure. A popup should be displayed at end.

[2021-02-18 20:42] llaske commented on #927
Fixed in https://github.com/llaske/sugarizer/pull/928

[2021-02-19 23:25] hetanthakkar1 commented on #913
can i take this issue?

[2021-02-21 21:10] llaske commented on #913
@hetanthakkar1 sure.

[2021-02-22 19:50] saurabhhere opened #931 "Add background to Sugarizer home screen"
We can add an option to change the Sugarizer home screen background-color to other solid colors or images.

[2021-02-24 16:05] sarthak-g commented on #709
@llaske , I've tested plugin in android device and ios simulator. It's working great as standalone. I don't think we have to use p5.js as AnalyserNode in Javascript give both time domain and freq domain data.
Your views?

[2021-02-24 17:24] llaske commented on #709
@sarthak-g Good news!
I'm agree with you.
I guess @abhishektanwar used it because he retrieved an existing sample p5.js sample that match a part of Measure activity. But we don't need p5.js: simple is better.

[2021-02-24 17:35] llaske commented on #931
Hmmm. I'm not a big fan of this Sugar feature.
I think that it's better to keep the Sugar UI as simple as possible. So I'm more comfortable with a black&white UI than by a colorful one.

Plus, original [Sugar Design Guide](https://wiki.sugarlabs.org/go/Human_Interface_Guidelines) mention some inspiring guidelines that continue to guide me:

[2021-02-24 21:27] llaske opened #932 "Sound and Video recording in Record activity don't work on Android/iOS"
On Android and iOS, features to record sounds and videos don't work. Nothing happen when clicking on matching button.

![image](https://user-images.githubusercontent.com/981841/109067643-136b6a00-76ef-11eb-8453-f57d37338197.png)

This feature works in the browser and in Windows/MacOS/Linux.

[2021-02-24 21:31] llaske commented on #932
Sounds related to missing of `cordova-plugin-media-capture` plugin.
Fix in progress on https://github.com/llaske/sugarizer/tree/feature/cordova10

[2021-02-25 18:07] saurabhhere commented on #931
That makes sense. Thanks for sharing Sugar Design Guide.

[2021-02-25 21:04] #931 closed

[2021-03-01 17:22] saurabhhere opened #933 "Video not responsive in Video Viewer Activity"
Video height exceeds background height in iPhone 6/7/8 landscape mode due to which overflow occurs in the y-direction.

Preview:

![VideoActivity](https://user-images.githubusercontent.com/60233336/109533214-fdd7b500-7adf-11eb-83fe-bd0ee96bbee9.gif)

[2021-03-03 12:23] sarthak-g commented on #932
@llaske ,
How can we add a plugin and test it with sugarizer activity (for ex: media capture plugin in record activity).

[2021-03-05 21:26] llaske commented on #932
@sarthak-g you could use [Sugarizer APK Builder](https://github.com/llaske/sugarizer-apkbuilder) with the image [llaske/sugarizer-apkbuilder:cordova10](https://hub.docker.com/layers/140250005/llaske/sugarizer-apkbuilder/cordova10/images/sha256-77f61cc4466de1b5d2eef76a2446c1dda99a1af2488c4d6b136a50cdab723b74?context=explore) instead of llaske/sugarizer-apkbuider:latest.

[2021-03-05 21:38] llaske commented on #933
Yes, you're right.

[2021-03-05 21:43] llaske commented on #933
Fixed in https://github.com/llaske/sugarizer/pull/934

[2021-03-07 06:14] sarthak-g commented on #932
@llaske  I mean, how can we use sugarizer as cordova project so that I can add any new plugin in it (with 'cordova plugin add' command). Right now when we do 'cordova plugin list' in sugarizer directory and cordova-plugin-sugarizeros directory, both shows they are not cordova based project.

[2021-03-07 21:20] llaske commented on #932
If you want to change Cordova settings or build options, use Sugarizer APK Builder but change the entry point to open a bash instead of launching build process:

[code]

It launch a command line into the docker so you're free to update the build environment. Then you could launch the `./make_android.sh` (the default entry point for the image) to start generation.

[2021-03-10 17:26] sarthak-g commented on #709
@llaske , how do you test DC settings of measure activity. When I'm running measure activity (in sugar) on laptop, it doesn't show dc settings as displayed in below image:
![measureActivityImage](https://user-images.githubusercontent.com/42293606/110670805-ccec3400-81f3-11eb-973b-b4e9dbbb7529.png)

[2021-03-13 21:38] llaske commented on #709
Hmmm. Don't know. May be it's reserved to the XO laptop. I suggest you to ask the question on the sugar-devel mailing list.

[2021-03-14 11:33] ricknjacky opened #937 "The way to launch Sugarizer locally with Chrome has changed"
A recent discussion on sugarlabs mailing list has rightly brought this to our attention that the path{as mentioned in markdown files} via which we open sugarizer in our browser is actually incorrect.

Even I faced this issue where, upon running the following command:

`chrome --allow-file-access-from-files  index.html `

A blank page opens up,

![Screenshot (593)](https://user-images.githubusercon

[2021-03-21 10:20] saurabhhere commented on #932
Hi @llaske @sarthak-g,
I am able to generate apk using Sugarizer APK Builder and llaske/sugarizer-apkbuilder:cordova10 but facing a few issues. Those are:
1. In which directory we have to use Cordova command like `cordova add plugin`, currently for llaske/sugarizer-apkbuilder:cordova10 and llaske/sugarizer-apkbuilder:latest it is showing "not a Cordova based project".
2. After adding the plugin ho

[2021-03-21 12:31] sarthak-g commented on #932
Hi @saurabhhere ,
Below is the method which I followed for testing.

You can simply add plugin with spec(version no.) in [config.xml](https://github.com/llaske/sugarizer/blob/master/config.xml) file.
Ex- for adding media capture plugin, add this line to config file:
`<plugin name="cordova-plugin-media-capture" spec="3.0.3" />`
After saving, when you will build apk, it will automatically install pl

[2021-03-21 17:58] saurabhhere commented on #932
@sarthak-g Thank you for your clear and helpful explanation.

[2021-03-21 19:28] saurabhhere opened #940 "Dollar Street Activity no longer work"
Dollar Street Activity is Showing an error when opened on the browser.

Used latest dev branch

Preview:

![Screenshot from 2021-03-22 00-02-40](https://user-images.githubusercontent.com/60233336/111917896-4a435e80-8aa8-11eb-81f9-53517f5dcf44.png)

[2021-03-21 21:29] llaske commented on #940
Yes, I've seen it. Look like API has changed.

[2021-03-22 07:19] saurabhhere commented on #940
Is there any documentation available for the Dollar Street API we have used here, to check the endpoints of the API?

[2021-03-22 13:19] llaske commented on #940
@saurabhhere there is not.

[2021-03-23 19:03] saurabhhere commented on #940
I checked the API we have used here, but there is no `place.description` present in the response that we have used in `family.js` for showing description.

Preview of Response:
![Screenshot from 2021-03-24 00-21-25](https://user-images.githubusercontent.com/60233336/112202614-9670d900-8c37-11eb-9072-06f60fb0d051.png)

Also, what is the expected result for the `See Things` palette. Do we have to sh

[2021-03-27 10:06] llaske commented on #932
Fixed in https://github.com/llaske/sugarizer/commit/b628ec0a24fa925b9e1081b48a3f117fdad70578

[2021-03-27 18:33] llaske opened #942 "Caption images for Canopé videos no longer displayed"
In Video Viewer activity, when Canopé library is choose, the caption images for video are no longer displayed.

![image](https://user-images.githubusercontent.com/981841/112730632-ecdd6080-8f32-11eb-85a6-83ea7f3f4882.png)

In browser console, following errors are displayed:

![image](https://user-images.githubusercontent.com/981841/112730689-3f1e8180-8f33-11eb-9a43-0cf09aa6428d.png)

[2021-03-27 18:45] llaske commented on #942
It's fixed now.
Because fix is on the server side, you could have to restart a new instance of the activity to reload the video library.

[2021-03-27 20:25] llaske commented on #937
Fixed in https://github.com/llaske/sugarizer/pull/938

[2021-03-27 21:36] llaske commented on #940
Fixed the issue in https://github.com/llaske/sugarizer/commit/b1fa6e07bb0aab4c5db23ec265d344e0ea8ed0f7

But you're right @saurabhhere the description field is no longer available. I've removed it from the display.

[2021-04-01 23:04] aditya113141 opened #944 "Link in Record Activity Readme Not working"
The link - https://play.google.com/store/apps/details?id=com.cyngn.cameranext in the [Record Activity](https://github.com/llaske/sugarizer/tree/master/activities/Record.activity) is not found. Maybe it is outdated and needs update.

[2021-04-02 12:29] shivamrai1904 opened #945 "Default position of scrollbar (top) after everytime an activity is quit."
Rather than displaying  the activity list from top (by default) after every time we quit an application , the activity list is to be displayed at the point till the place up to where it was already scrolled.
I thought for this as when i was trying all activities one by one in the activity list , when i reached to activities present in the last of activity page each time when i quit an activity i w

[2021-04-02 20:11] llaske commented on #944
This URL is referenced here: https://github.com/llaske/sugarizer/blob/dev/activities/Record.activity/README.md

BTW I'm not sure this advice is still useful.

[2021-04-02 20:19] llaske commented on #945
Yes, you're right.

[2021-04-07 04:48] renneytj commented on #945
Can I work on this enhancement or is someone currently working on this?

[2021-04-07 12:21] llaske commented on #945
@renneytj sure. Let's go.

[2021-04-22 19:43] llaske commented on #798
Hmmm. Very specific fix. May be it could be possible to catch error in a more generic way?

[2021-04-25 08:28] llaske opened #951 "Taking picture don't work on Chrome MacOS Big Sur"
Record activity can't take picture on Chrome in MacOS and on Sugarizer MacOS app.
Everything seems to work but the preview stream show a gray picture and the resulting picture is empty.

![2021-04-25 10-19-21 2021-04-25 10_20_40](https://user-images.githubusercontent.com/981841/115986502-c1d94180-a5b0-11eb-931d-5372952ca996.gif)

It works on Safari.

[2021-04-26 03:11] renneytj commented on #951
I think I've found a fix for this issue but I'm having trouble packaging the project for testing. I've tried using the electron builder but it gives me an error saying "Package "electron" is only allowed in "devDependencies". Please remove it from the "dependencies" section in your package.json". What are the commands that are used to package the program for Mac OS?

[2021-04-26 18:21] sarthak-g commented on #951
@llaske , not able to reproduce this issue.

https://user-images.githubusercontent.com/42293606/116131417-00264c00-a6ea-11eb-8a38-1b046ae3b1bb.mp4

Tested on:
MacOS version: 10.15
Chrome Version: 90.0.44

[2021-04-26 18:23] renneytj commented on #951
I was able to get it to work in the browser as well but the app does not work for me. I believe it is a camera permission issue.

[2021-04-26 20:12] llaske commented on #951
There is a dedicated repo to create Electron packaging [here](https://github.com/llaske/sugarizer-electron).

[2021-04-26 20:22] llaske commented on #951
@sarthak-g @renneytj Thanks.
I've tested on MacOS 11.2.3 (Big Sur). Guess it's related to this version.

[2021-04-27 00:07] renneytj commented on #951
After building using the electron packaging, I tried to run the app but got this error:
![Screen Shot 2021-04-26 at 7 44 40 PM](https://user-images.githubusercontent.com/44889226/116165999-0953f080-a6cb-11eb-82e1-f6b44bf883f5.png)

[2021-04-27 19:44] #861 closed

[2021-04-27 19:44] #862 closed

[2021-04-27 19:44] #863 closed

[2021-04-27 19:44] #867 closed

[2021-04-27 19:44] #868 closed

[2021-04-27 19:44] #869 closed

[2021-04-27 19:44] #870 closed

[2021-04-27 19:44] #885 closed

[2021-04-27 19:44] #893 closed

[2021-04-27 19:44] #894 closed

[2021-04-27 19:44] #895 closed

[2021-04-27 19:44] #897 closed

[2021-04-27 19:44] #898 closed

[2021-04-27 19:44] #901 closed

[2021-04-27 19:44] #903 closed

[2021-04-27 19:44] #911 closed

[2021-04-27 19:44] #920 closed

[2021-04-27 19:44] #921 closed

[2021-04-27 19:44] #927 closed

[2021-04-27 19:44] #929 closed

[2021-04-27 19:44] #932 closed

[2021-04-27 19:44] #933 closed

[2021-04-27 19:44] #937 closed

[2021-04-27 19:44] #940 closed

[2021-04-27 19:44] #942 closed

[2021-04-27 19:44] #566 closed

[2021-04-27 19:44] #799 closed

[2021-04-27 19:44] #850 closed

[2021-04-27 19:44] #852 closed

[2021-04-27 19:44] #854 closed

[2021-04-27 19:44] #857 closed

[2021-04-27 19:44] #858 closed

[2021-04-27 19:44] #859 closed

[2021-04-27 19:53] llaske commented on #951
@renneytj I've fixed it in dev branch of Sugarizer. Refresh your local repo, it should fix the issue.

[2021-04-30 21:11] llaske commented on #794
Fixed in https://github.com/llaske/sugarizer/pull/949

[2021-05-01 17:02] llaske commented on #795
Fixed in https://github.com/llaske/sugarizer/pull/952

[2021-05-01 19:49] llaske commented on #945
Fixed in https://github.com/llaske/sugarizer/pull/948

[2021-05-03 06:48] saurabhhere commented on #793
@llaske Issue fixed in #906

[2021-05-03 10:44] saurabhhere commented on #944
@llaske I think Cyanogen Camera is removed from the google play store, that's why the link is not working.

[2021-05-03 20:17] llaske commented on #945
@shivamrai1904, please don't close the issue.
Issues are closed only when a new release is out.

[2021-05-03 20:23] llaske commented on #793
Thanks @saurabhhere.
Sound like I forgot to mention it in the release.

[2021-05-03 20:24] #793 closed

[2021-05-03 20:29] llaske commented on #944
Ok so I think we could remove the advice from the README file.

[2021-05-04 03:34] shivamrai1904 commented on #945
Sorry sir,
I wasn't aware of this thing.
I will reopen it.

On Tue, May 4, 2021, 1:47 AM Lionel Laské ***@***.***> wrote:

[2021-05-04 03:38] shivamrai1904 commented on #945
Fine you did it.

On Tue, May 4, 2021, 9:03 AM Shivam Rai ***@***.***> wrote:

[2021-05-09 08:41] llaske commented on #798
Fixed in https://github.com/llaske/sugarizer/pull/950

[2021-05-09 19:21] llaske opened #955 "Calligra touch responsiveness is really bad on smartphone"
On small screens like smartphone, touch responsiveness of Calligra activity is really bad.

![image](https://user-images.githubusercontent.com/981841/117584286-66f52d80-b10c-11eb-873c-55d9afe11d6c.png)

It's hard to use the activity.

[2021-05-29 05:53] rahulkiller104 opened #958 "why react and vue both framwork used in this project?"
it also possible with only react.

[2021-05-29 07:58] rahulkiller104 opened #959 "the hamburger button should have a toggle feature for list view"
![WhatsApp Image 2021-05-29 at 1 16 58 PM](https://user-images.githubusercontent.com/56788144/120062801-9818ac00-c081-11eb-91f2-cf389d275edd.jpeg)

list view button should worked as hamburger toggle because when i started this app ,i am expecting for this behaviour.

[2021-05-29 19:46] llaske commented on #958
It's intentional. As explain [here](https://github.com/llaske/sugarizer/blob/dev/docs/architecture.md) each activities are independent and can use its own framework. Some activities use ReactJS, some activities use Vue.js, most activities are written with VanillaJS only.
It's important to let developers use its favorite framework.

[2021-05-29 19:50] llaske commented on #959
Sugar platform use it's own UI concepts.
It could be disturbing for adults familiar with other concepts but it's very easy to understand by children.

[2021-05-30 01:02] rahulkiller104 commented on #958
@llaske  thank you for explanation

[2021-05-30 08:14] #958 closed

[2021-05-30 14:22] rahulkiller104 commented on #959
@llaske  thank you for explaination

[2021-05-30 14:33] #959 closed

[2021-06-01 18:53] saurabhhere opened #961 "Broken Link in Step 0 of Tutorial"
![Screenshot from 2021-06-02 00-19-42](https://user-images.githubusercontent.com/60233336/120375504-81e84580-c338-11eb-8bb5-65be3aa67313.png)

`README.md` link is Broken in Step 0 of both VanillaJS and VueJS tutorial.

[2021-06-01 19:25] llaske commented on #961
You're right. It should be a link to the `Sugarizer Application` paragraph of the `README.md` file at the root of the repo.

[2021-07-17 14:28] llaske commented on #961
Fixed in https://github.com/llaske/sugarizer/pull/962

[2021-07-27 02:48] rahulkiller104 commented on #955
@llaske can you explain this issue in more detail?

[2021-07-27 08:34] llaske commented on #955
@rahulkiller104 It's related to precision (detection of cursor location). With fingers and when the screen is small it's hard to follow the letter. All the logic is [here](https://github.com/llaske/sugarizer/blob/dev/activities/Calligra.activity/js/player.js#L186). I think this code works for cursor/big screen but is not efficient for touch/small screen.

[2021-07-27 17:15] rahulkiller104 commented on #955
@llaske thanks for explaintion

[2021-10-22 05:42] rahulkiller104 opened #966 "It might be good if temparture convertor activity would present in calculator activity ??"

[2021-10-24 18:56] #966 closed, assigned to nobody

[2021-11-11 20:34] llaske opened #967 "Impossible to open PDF on iOS"
It's no longer possible to open PDF from the Journal on iOS.
There is just a blank screen with a Ok button but the file content is not displayed.
It doesn't work neither with a PDF file imported to the Journal neither with a PDF file generated from an activity (like Write).

![RPReplay_Final1636662437 2021-11-11 21_39_21](https://user-images.githubusercontent.com/981841/141365836-1a16aca0-2ac3-403

[2021-11-11 21:20] llaske commented on #967
Fixed in https://github.com/llaske/sugarizer/commit/bd04061407f6aaeb0e3954b11ec63b398fa7bbed

[2021-11-27 14:37] llaske opened #968 "Screen doesn't use the full size on iPhone X"
On iPhone X and greater, there is a gray border to the right of the screen at first launch.
The border disappears on consecutive launch.

<img width="725" alt="Capture d’écran 2021-11-27 à 10 57 16" src="https://user-images.githubusercontent.com/981841/143685825-10211891-605d-4618-a2d3-88322f43785b.png">

<img width="725" alt="Capture d’écran 2021-11-27 à 10 56 53" src="https://user-images.git

[2021-11-27 15:09] llaske commented on #968
Related to a limitation in Cordova. Need to fix file like explained [here](https://github.com/apache/cordova-ios/issues/933#issuecomment-660484354).

Fixed on https://github.com/llaske/sugarizer/commit/21d7460b12043dabc7c569b73c28c9c079cd5a56

[2021-12-11 20:30] llaske commented on #709
Fixed by https://github.com/llaske/sugarizer/pull/957

[2021-12-11 20:30] #709 closed

[2022-01-04 20:49] #794 closed

[2022-01-04 20:49] #795 closed

[2022-01-04 20:49] #798 closed

[2022-01-04 20:49] #944 closed

[2022-01-04 20:49] #945 closed

[2022-01-04 20:49] #955 closed

[2022-01-04 20:49] #961 closed

[2022-01-04 20:49] #967 closed

[2022-01-04 20:49] #968 closed

[2022-01-12 21:35] llaske opened #969 "PDF generated by Story doesn't contain image on iOS/Android"
When a PDF is generated by Story activity on iOS/Android, the PDF does not contain image (image are blanks).

![Peek 12-01-2022 22-19](https://user-images.githubusercontent.com/981841/149224695-21db8235-2a3c-4e33-b935-54d53ba8caa1.gif)

It doesn't happen on the web version.
It doesn't happen when the package is not minimized i.e. when all Abecedarium images are include in the package (using [minsi

[2022-01-12 21:36] llaske commented on #969
@saurabhhere any idea?

[2022-01-12 21:52] llaske opened #970 "Scratch instructions are not localized"
Scratch instructions are supposed to be localized in the user language.
It's no longer the case. See example below (should be in French):

![Peek 12-01-2022 22-51](https://user-images.githubusercontent.com/981841/149228299-8438c056-9ab3-44b8-a7e6-4d34dc1c6bef.gif)

[2022-01-13 19:10] saurabhhere commented on #969
Hi @llaske , but that issue in handled in this [commit](https://github.com/llaske/sugarizer/pull/960/commits/f6c72cce7c6b2b99137aae837401b73b17caa061), and after that I tested it even when the package is minimized and it worked fine.

[2022-01-13 20:25] llaske commented on #969
@saurabhhere yes the visualization of images work (as you could see in the video), the issue is now on PDF generation only.

[2022-01-18 20:54] llaske commented on #970
Fixed in https://github.com/llaske/sugarizer/commit/73023660b84c02c02782863f72aeb48dcfdcd140

[2022-01-20 07:21] rucha0702 opened #971 "Typo in CONTRIBUTING.md"
![image](https://user-images.githubusercontent.com/77936051/150291668-90bc698d-a7ef-4e94-b62f-cedc7c4ee03a.png)

[2022-01-20 20:50] llaske commented on #971
Fixed in https://github.com/llaske/sugarizer/pull/973

[2022-01-25 07:17] rucha0702 opened #974 "Overlapping of icon-background on hover"
web-activity-icons overlap a little with the icons near them on hovering.

![sug1](https://user-images.githubusercontent.com/77936051/150927352-75eb6638-9889-496a-b5a5-f7b113ec0870.JPG)     ![sug2](https://user-images.githubusercontent.com/77936051/150927357-2714217f-d917-4566-8d41-cc2e49c0533d.png)

![sug3](https://user-images.githubusercontent.com/77936051/150927364-037aebc0-8dab-48ad-b438-bcfbe

[2022-01-30 09:46] llaske commented on #974
You're right there is an overlap on icons in "circle mode" (i.e. when there is no size to draw all icons in the same page as a spiral).
There is no overlap in spiral mode.

![Peek 30-01-2022 10-39](https://user-images.githubusercontent.com/981841/151694562-0c5a5e40-d279-4251-bce2-39dd32342496.gif)

I don't like the idea to change border radius, it's not consistent with the Sugar UI.
May be the ide

[2022-02-01 05:50] rucha0702 commented on #974
Hey, so I went through the homeview.js file you mentioned above and found a constant by the name of iconSpacingFactor over
 [here](https://github.com/rucha0702/sugarizer/blob/master/js/constant.js#:~:text=constant.iconSpacingFactor%20%3D%201.1%3B) that defines the spacing. After a small change in its value, it looked like this.

Before:
![before](https://user-images.githubusercontent.com/77936051/

[2022-02-01 20:40] llaske commented on #974
Just changing this value will probably affect spacing for both spiral and circle mode.
It will be better to find a solution to fix only the circle mode issue.

[2022-02-02 06:04] rucha0702 commented on #974
Oh okay, I'll try finding a solution just for the circle mode.

[2022-02-10 16:28] S-kus opened #975 "UI improvement in 'Cloze Text' exercise button of 'Exerciser Activity'"
In the "Cloze Text" exercise of **Exerciser Activity** the `Add Blank` button has no margin, as shown:

![Screenshot from 2022-02-10 19-50-25](https://user-images.githubusercontent.com/86892991/153434283-ea89b615-0bef-4159-bbe7-77178a53fb37.png)

After adding some margin it looks better than earlier, As shown:

![Screenshot from 2022-02-10 20-18-10](https://user-images.githubusercontent.com/868929

[2022-02-10 17:25] S-kus commented on #975
Hey, @llaske Could you please review it?

I also find some more issues with this activity on different screens i.e. related to responsivity. Can I list them and raise an issue for that?
Thank you!

[2022-02-10 21:21] llaske commented on #975
You're it will be better to add a margin.
BTW I suggest that you declare this issue in the Exerciser repo [here](https://github.com/llaske/ExerciserReact/issues).

[2022-02-11 05:43] S-kus commented on #975
Okay Sure @llaske I will do changes and raise the required pull request in the given repo.

[2022-02-11 05:43] #975 closed

[2022-02-19 17:02] ishubham21 opened #979 "Improving the UX of desktop toolbar"
![Screenshot from 2022-02-19 13-33-17](https://user-images.githubusercontent.com/34435822/154792611-b380b697-8e43-4db0-ab30-a0e7510e1dde.png)

1. There are two different buttons to toggle between list-view and radial-view. Wouldn't it be nice to have a single button (say `toggle list view`) that would do the task? We can update the icon with each toggle too.
2. Currently the search bar is oddly pl

[2022-02-19 17:02] ishubham21 commented on #979
cc: @llaske

[2022-02-19 21:13] llaske commented on #979
@ishubham21 thanks for these suggestions.

1. I'm not in favor of replacing the two buttons Radial/List by a toggle button. This behavior is inherited from Sugar and I think it's easier for children to see all possibilities in two buttons. The toggle button concept is not so easy to understand.
2. I'm not sure what you mean by oddly placed for the Search bar. It should not be too far to the left b

[2022-02-20 14:14] ishubham21 commented on #979
Okay, I guess I should close this issue in this case.

[2022-02-23 20:39] llaske commented on #748
Fixed in https://github.com/llaske/ExerciserReact/pull/104

[2022-02-24 20:46] llaske commented on #748
Fixed in https://github.com/llaske/sugarizer/commit/6d5b2b08aacc1ded2674bdf663442e067706f3b3

[2022-02-24 20:47] #979 closed

[2022-02-25 14:10] AnandChourasia007 commented on #974
Hey @llaske , I think I fixed this issue without affecting the spiral design.
Before
![Before fix](https://user-images.githubusercontent.com/89119829/155729019-46229af0-0c29-4c6b-957f-6623ad77221b.jpg)
:
After
![Hover overlap fixed without affecting the spiral design](https://user-images.githubusercontent.com/89119829/155729049-09c1d8e8-08e2-4643-b2cc-6fd65c160102.jpg)
:
Spiral mode view after cha

[2022-02-25 14:19] llaske commented on #974
@AnandChourasia007 Sounds good.
Please send a PR so I will be able to review it.

[2022-02-25 15:53] AnandChourasia007 commented on #974
@llaske I have submitted the PR to the repo from which I had forked which was sugarlabs/sugarizer. After that I saw that most PR have been made to your repo ilaske/sugarizer. Is this fine or should I fork from your repo and submit my PR ?

[2022-02-25 15:56] llaske commented on #974
@AnandChourasia007 the latest repo is https://github.com/llaske/sugarizer . Please send your PR on the dev branch.

[2022-02-25 15:57] AnandChourasia007 commented on #974
Yeah sure! Sorry for the trouble.

[2022-02-26 07:50] AnandChourasia007 commented on #974
Hey @llaske, after making the fix, to how much extent should I check if the hover effect has been fixed? I mean do I have to ensure that this fixes hover effect all the way down upto mobile phones screen dimensions? Taking mobile responsiveness into account I mean. Because that would require resizing appropriately the inner two icons as well.
This is the current extent to which there is no overlap

[2022-02-26 10:46] AnandChourasia007 opened #981 "The shape of ball icon in maze game is inconsistent."
This happens due to the way the icon was designed. One way to handle this will be to replace the current icon by a solid that always maintains its shape.

https://user-images.githubusercontent.com/89119829/155840319-c886b854-8f40-4a88-8e0d-7a722af1439f.mp4

[2022-02-26 13:04] ankur12-1610 commented on #981
I would like to work on this issue.

[2022-02-26 13:21] AnandChourasia007 commented on #981
Sorry @ankur12-1610 , but I have already almost completed my code for this issue. I asked here just for this issue to be approved.

[2022-02-27 02:54] AnandChourasia007 commented on #981
Yes,using a solid icon won't allow for the color change.I think I will close this issue and try finding amore non trivial bug or feature.Thanks

[2022-02-27 21:43] codebloded opened #982 "Improve calculator screen responsivity"
Screenshot below :arrow_down:
we just have to set the width of container under media query

![WhatsApp Image 2022-02-28 at 3 10 45 AM](https://user-images.githubusercontent.com/48005711/155901078-831e342c-5e2d-4d6e-8d3e-d5dc1c4fb072.jpeg)

[2022-02-27 21:46] codebloded commented on #982
@llaske  I did the changes and , this issue is done .!
have a look on the pull request

[2022-02-28 17:47] AnandChourasia007 commented on #825
Also, video and audio recording works for 5 seconds and then closes automatically. Is this how it is supposed to be, @llaske ?

[2022-02-28 18:02] AnandChourasia007 opened #985 "Dollar street activity not loading."
On clicking on the dollar street activity icon, a new page begins loading. But the loading never completes and an error is logged in the console, 'HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE'.

![Dollar street activity not loading](https://user-images.githubusercontent.com/89119829/156037755-61ff8cf3-7853-4da6-9e9c-d22e864520c2.jpg)

However, the buttons 'filter by region' and

[2022-02-28 19:21] codebloded commented on #985
@AnandChourasia007  hey, are you working on this issue?

[2022-02-28 20:38] llaske commented on #985
@AnandChourasia007 Hmmm, you're right. I guess that something has changed in the API.

[2022-02-28 20:42] llaske commented on #825
@AnandChourasia007 yes, it's what is expected.

[2022-02-28 21:11] llaske commented on #982
Sugarizer is not responsive in every case. Specifically the Window width should be greater than Window height. Read https://github.com/llaske/sugarizer/issues/422 for more.
BTW you're right, there is room for improvement.

[2022-03-01 17:46] AnandChourasia007 commented on #985
Umm, I cannot work on this for the next week at least(due to my mid semester exams). 😪
So feel free to try and fix it.

[2022-03-01 20:49] llaske commented on #982
Fixed in https://github.com/llaske/sugarizer/commit/0cd094b944cce8d2154cee7807e3ad281d82b52e

[2022-03-03 03:19] codebloded commented on #985
Yes @llaske  when i backtrack this thing , i found api isn't working properly for this thing, there is an function inside apiref, which return  NaN instead of number

[2022-03-03 17:40] S-kus opened #987 "Improvement in #color-button-fill in paint activity"
In the `#color-button-fill` tool-button of **Paint activity**, we can set RGB colors using the slider. As shown:

![paint](https://user-images.githubusercontent.com/86892991/156620474-ce715558-1bf1-4091-b513-3c3835624ac3.png)

I would like to propose the feature:
- color range of RGB as a value with the slider.
- hex code input button.
- directly input the RGB values as well.
It will be more user-

[2022-03-03 17:43] S-kus commented on #987
@llaske could you please go over the proposed feature and let me know will it be good for the activity or not?
If it's fine I would like to work on the issue.

[2022-03-03 19:44] Shivansh2287 opened #989 "Story activity horizontal is unresponsive"
@llaske  in story activity horizontal scroll is unresponsive and I have fixed the issue
![issue](https://user-images.githubusercontent.com/54775060/156635299-7b53795a-99e6-4ff9-85da-f62ec6ac5c03.png)

[2022-03-03 19:57] codebloded commented on #987
Yes i think it'll be a nice feature for children

[2022-03-03 20:29] llaske commented on #985
@codebloded something similar happens last year (see [here](https://github.com/llaske/sugarizer/issues/940)).
To fix it, the idea is to debug how the [original website](https://www.gapminder.org/dollar-street) works and try to do the same.

[2022-03-03 20:36] llaske commented on #989
Hmmmm. Could you explain in which case you've got this behavior?
Sugarizer is not responsive for any Window size. See [here](https://github.com/llaske/sugarizer/issues/422) for more.

[2022-03-03 20:39] llaske commented on #987
I'm not in favor of that. Sugarizer is a tool for children, some children are not able to read numbers.
Plus they don't need to reproduce an exact color so we don't need this level of precision.

[2022-03-03 20:52] codebloded opened #991 "In Dollar Street activity family details are not responsive"
I have found an unresponsiveness in dollar street activity , family details in not responsive
here is the screen shot for the same :arrow_down:
@llaske  have a look on it

![xx](https://user-images.githubusercontent.com/48005711/156650803-4bd5d772-41b8-4726-8214-20005f2b1e07.jpeg)

[2022-03-03 20:53] codebloded commented on #991
@llaske  i fixed this issue and doing a pull request :smiley:

[2022-03-03 20:55] llaske commented on #991
Sugarizer is not responsive for every window size. See [here](https://github.com/llaske/sugarizer/issues/422) for more.

[2022-03-03 21:15] codebloded commented on #991
so, should i work on responsiveness of sugarizer or not?

[2022-03-04 02:45] Shivansh2287 commented on #989
while checking the responsiveness of the story activity it breaks at  647px and body content is too big for the screen so I changed the overflow property in the media query

![issue3](https://user-images.githubusercontent.com/54775060/156688876-1ed9aca9-c311-48eb-9ef2-eb6e63da7533.png)

[2022-03-04 03:47] codebloded commented on #991
Okay now i got it.

[2022-03-04 04:04] aman-netizen opened #993 "Improve some styling or UI of calculator activity"
Hello sir , I go through calculator activity and I found some issues like some buttons and not visible (or it is to down) and history of previous operations are also look messy

![image](https://user-images.githubusercontent.com/82169120/156697127-d46b5222-c57d-40c4-ba2a-a2a9aaf56f2c.png)

I improve this issue in PR #988.

[2022-03-04 05:54] AnandChourasia007 commented on #985
The function returns NaN because the api used in Sugariser for this activity doesn't exist anymore. The new API will have to be integrated now I think.
![dollarstreet email response](https://user-images.githubusercontent.com/89119829/156707411-7010dfd4-fd47-498b-b035-d35d53321392.jpg)

[2022-03-04 07:14] AnandChourasia007 commented on #991
Hey @codebloded , will you please close this issue, since its not required to be fixed.

[2022-03-04 07:16] AnandChourasia007 commented on #987
Hey @S-kus , I think you should close this issue now, since this enhancement is not required at the moment.

[2022-03-04 07:55] S-kus commented on #987
Thanks, @llaske I understood, so I am closing this issue.

[2022-03-04 07:59] #987 closed

[2022-03-04 09:29] #991 closed

[2022-03-04 09:29] codebloded commented on #991
Sure

[2022-03-04 20:57] llaske commented on #985
@AnandChourasia007 There is no documentation about the API because it's not directly intended to be shared. To create the DollarStreet activity we've just done reverse engineering - with the authorization of Gapminder - on the current website to understand how it works.
So to fix the issue, the same work should be done/adapted.

[2022-03-04 21:12] llaske commented on #989
@Shivansh2287 It's not a realistic size. The minimum supported screen size is iPhone 6/7/SE.

<img width="669" alt="image" src="https://user-images.githubusercontent.com/981841/156842086-8a1b2483-c406-44cc-b578-d5e06d203c7d.png">

And even in this case the activity will be complex to use due to the virtual keyboard.

[2022-03-04 21:18] llaske commented on #993
Hmmm. What is your screen size? It look like you've got a very large screen.
I'm not sure we could have this sort of screen for a child.

[2022-03-05 03:32] AnandChourasia007 commented on #985
Oh I see

[2022-03-05 06:07] aman-netizen commented on #993
Sir screen size is

<img width="743" alt="image" src="https://user-images.githubusercontent.com/82169120/156870507-cc2875ec-4e7c-4b7e-a9a9-387a61046944.png">

Sir I have added some other things like center the calculator input thing and history of previous operation down . Sir give me some suggestions on that so I improve it further better.

[2022-03-05 08:43] Shivansh2287 commented on #989
Ok so I am closing the issue

[2022-03-05 08:43] #989 closed

[2022-03-05 20:32] aman-netizen opened #994 "Add some more components or features in planets activity"
Sir I go through planets activity and it consist of 8 planets with there details, I was thinking to add more thing in that like some galaxies , moon or some stars with there details . If you like this idea then I can work on this.

[2022-03-05 20:32] llaske commented on #993
@aman-netizen I've commented your PR.
Please avoid to implement multiple features/fixes in the same result.
It's easier for us if you propose one issue at a time then wait for our answers before implementing PR.

[2022-03-05 20:35] llaske commented on #994
Moon has already a dedicated activity (Moon activity).
Stars and galaxies could already be explored in the Constellation activity.

[2022-03-05 20:46] aman-netizen commented on #994
Okay sir , actually I haven't explored that activities yet.

[2022-03-05 20:48] aman-netizen commented on #993
Sorry sir from next time I make sure to fix one changes at a time.

[2022-03-05 20:50] #994 closed

[2022-03-05 20:54] #993 closed

[2022-03-09 21:19] S-kus opened #996 "Improvements in activity development tutorial"
There are some mistakes in the activity development tutorial:
- In [Sugarizer Vue.js activity development tutorial step-5 ](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial/VueJS/step5.md) `localize` method for localizing the `l10n` object should be called in mounted, not in `localized` function. Because of this only backdrop is showing for the tutorial tour as no text is passing also `s

[2022-03-09 21:40] S-kus commented on #996
Hey @llaske, I found these issues while implementing [Sugarizer Vanilla Javascript activity development tutorial](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial/VanillaJS/tutorial.md) and the [Sugarizer Vue.js activity development tutorial](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial/VueJS/tutorial.md).
Could you please review the pull request? I will do the required cor

[2022-03-11 21:31] llaske commented on #996
@S-kus Thanks for these feedbacks.

1) No. The right place for the call is in localized method. Here's the code:

	    mounted: function () {
		  this.SugarL10n = this.$refs.SugarL10n;
		  this.SugarPresence = this.$refs.SugarPresence;
	    },
	    methods: {
		initialized: function () {
			// Initialize Sugarizer
			this.currentenv = this.$refs.SugarActivity.getEnvironment();
			this.$refs.SugarL

[2022-03-12 18:55] dhwaj1902 opened #999 "Make new activity"
Hi mentors, may I work on a new activity for children, i.e. a snake game.

[2022-03-12 20:25] S-kus commented on #996
Actually, I followed the tutorial and created the step vise commit in [this repository](https://github.com/S-kus/Pawn-Activity-Vue.js).
When I added the last commit changes i.e. [this one](https://github.com/S-kus/Pawn-Activity-Vue.js/commit/dff67d40f165f7b6467543acc477e2bd8cb06fc7) after the mentioned issue is fixed! Is there any codebase of this tutorial from where I can match and find my bug be

[2022-03-12 20:44] llaske commented on #999
Hi @dhwaj1902, Everyone is free to write Sugarizer activities because it's easy to customize the app to include its own activities.
BTW activities packaged in Sugarizer should have a pedagogical goal.
It will not be the case for a snake game.

[2022-03-12 21:05] dhwaj1902 commented on #999
Sure @llaske can you suggest me some of the activites which would be helpfull for the org that I can make?

[2022-03-12 21:12] llaske commented on #996
There is not a tutorial correction but I can send it to you if you want to explore the problem on your side. Send me a mail if you're interested.

Nope. In my opinion it's not an issue.

        <!ENTITY stroke_color "#010101">
        <!ENTITY fill_color "#FFFFFF">

[2022-03-13 06:27] Shreyas-SAS commented on #999
@dhwaj1902 @llaske If I may suggest, why not create a dictionary game where if the user chooses correct meaning of the word displayed in given time he earns points. since the users will be children we can keep the words simple and easy. that way they can learn a lot.

@dhwaj1902 If you wish we can collaborate on this after @llaske sir gives us the permission.

I wanted a start point to work on the

[2022-03-13 08:17] S-kus commented on #996
Yes, Thank you @llaske. My email is **saumyakus@gmail.com**

Okay, I will remove its correction commit from the pull request.

Yes, exactly what I want to say! In the given VueJs template the [hex code given is different](https://github.com/llaske/sugarizer/blob/dev/activities/ActivityTemplate/VueJS/icons/go-left.svg?short_path=12942f1#:~:text=%3C!ENTITY%20stroke_color%20%22%23FFFFFF,ENTITY%20fill

[2022-03-13 09:31] llaske commented on #999
@dhwaj1902 No new activities has been asked by the field recently.
@Shreyas-SAS It's basically what's possible in Abecedarium.

You could try to work on a critical issue regarding DollarStreet activity : https://github.com/llaske/sugarizer/issues/985

[2022-03-13 09:48] llaske commented on #996
I've sent it to you.

These lines are use only when icons are drawn using [Sugar drawing method](https://github.com/llaske/svgstudy#how-coloured-svg-file-works-in-sugarizer-v1) to recolorize it. It's not the case for tutorial buttons. So I don't see the interest to update it.

[2022-03-13 10:01] Shreyas-SAS commented on #999
@llaske Oh. I didn't know about Abecedarium's features. I am really sorry for troubling you and thank you for the suggestion. I will definitely try my best to do whatever I can. Sorry again.

[2022-03-13 10:04] S-kus commented on #996
Yeah got it. Thank you.

Okay, sure I corrected the code for this change too in the pull request. I guess it can be merged now.

[2022-03-13 11:57] dhwaj1902 commented on #999
ok, @llaske will try #985 issue.

[2022-03-13 11:58] #999 closed

[2022-03-13 20:30] S-kus commented on #996
Thanks, @llaske, for sharing your code I found the problem in my codebase!
In **activity.js file**

in your code `methods{}`: 

[code]

But in my code methods: 

[code]
i.e. 'localized' method is not called that's why when I called it during mounted it's worked.
In the tutorial, it's not mentioned to add this `this.$refs.SugarL10n.$on('localized', this.localized());` in `initialized function` at a

[2022-03-13 21:03] llaske commented on #996
Hmmm. I think you don't need to do call the method if you've inserted the `v-on` directive in the HTML. It does the same thing.

     <sugar-localization ref="SugarL10n" v-on:localized="localized"></sugar-localization>

[2022-03-13 21:22] llaske commented on #913
Fixed in https://github.com/llaske/sugarizer/pull/995

[2022-03-14 08:46] S-kus commented on #996
Yeah, you are right. Sorry for inconvenience, I tested things again in my code by using `console.log()` in functions and find out in my `index.html` I had written this `<sugar-activity ref="SugarActivity" v-on:initialized="initialized"></sugar-activity>` two times. Because of which my things are not working properly. I removed the 2nd instance of this code and it's working fine.

Thanks again. I g

[2022-03-14 13:23] Shreyas-SAS opened #1001 "Off-center pictures in Abecedarium Activity"
**ISSUE:**
pictures in the blocks are off centered and aligned more towards the left due to its margin as portrayed in the picture below.

![image](https://user-images.githubusercontent.com/96542494/158179557-5c0012aa-95f3-42df-9a3f-3ee00b71b290.png)

**PROPOSAL:**
Centre align the pictures in the block by using appropriate margin. (In case not done intentionally)

[2022-03-15 06:38] AnandChourasia007 opened #1003 "MediaViewer activity empty."
The mediaviewer activity shows an empty page with no option of adding media to be viewed. The readme file too is empty and doesn't shed light on what the activity actually intends to do and how to use it. Also as the help button is missing, there is no way of knowing about the activity and its functions.
![Empty mediaviewer activity](https://user-images.githubusercontent.com/89119829/158320920-8a8

[2022-03-15 10:00] AnandChourasia007 opened #1004 "Paint activity, filter activity options not clear."
In the paint activity, under the filter activity there are two options. However, there is no tooltip explaining what they do nor the help button explains it during the tutorial. Suggesting a very minor enhancement, i.e. simple tooltips explaining what they do.

[2022-03-15 10:31] AnandChourasia007 opened #1006 "PhysicsJS activity delete items issue"
In the physicsJS activity, the clear function is not working properly.
Expected behaviour: After clicking the clear button and then clicking on any item on the board, that particular item should get deleted.
Actual behaviour: The item doesn't get deleted,  and  instead an item just above it gets deleted (if present).

https://user-images.githubusercontent.com/89119829/158358745-d54c78d1-6000-4f34-

[2022-03-15 11:27] codebloded commented on #1006
Are you working on this issue? @AnandChourasia007

[2022-03-15 11:40] AnandChourasia007 commented on #1006
Yes

[2022-03-15 20:55] llaske commented on #996
Nice to hear that you find the problem. It's a good way to learn.

[2022-03-15 21:01] llaske commented on #1003
It's deliberate. MediaViewer activity is not intended to be launch alone. It's a viewer for existing media content in the Journal.

[2022-03-15 21:03] S-kus commented on #996
Thank You @llaske. Yes, it's helped a lot.

[2022-03-16 06:18] AnandChourasia007 commented on #1003
In that case, I think it would be helpful to users if this information is written somewhere like a help button or the future contributors if this is mentioned int the readme file for the activity.
What do you think, @llaske ?

[2022-03-16 06:55] dhwaj1902 opened #1007 "Get qr code with enter button"
Currently, we need to click the ``generate-button`` to generate the QR code. We can also use enter to generate the QR code, it will be easier for the user.
![image](https://user-images.githubusercontent.com/57860123/158533486-f2e55d45-5fbd-42b6-a57d-7d0822b40676.png)

[2022-03-16 07:11] dhwaj1902 commented on #985
Hi, I was debugging the dollar street activity I found that this API ``https://ds-dev.dollarstreet.org/dollar-street/v1/`` is no longer exists, and this API is used to get ``street-settings``, ``languages``, ``region-filter`` and ``things-filter``. The region and things filter can be done with this ``https://api.dollarstreet.org/v1/`` API, while for settings and language we need to hard code the t

[2022-03-16 07:47] disha1202 commented on #1004
Hello,
I would like to work on this issue.
Can you please assign it to me.

[2022-03-16 08:29] AnandChourasia007 commented on #1004
Hey @disha1202 , Sorry but I am working on this issue and already have a PR for it.

[2022-03-16 08:38] codebloded opened #1009 ""Show Library" Dialog's height and background seems unresponsive in desktop view"
Overflow height , it seems unresponsive
it should be between the footer and navbar .

ScreenShot :arrow_down:

![Screenshot from 2022-03-16 13-26-51](https://user-images.githubusercontent.com/48005711/158547751-bb1de273-9e26-433d-a00f-e5a50ccd703d.png)

and for the background color the alpha parameter in rgba() should be 1 so that the transparency remove.
@llaske  see in the screen shot its not lo

[2022-03-16 08:49] codebloded commented on #1009
I'm Working on this issue @llaske

[2022-03-16 09:05] codebloded commented on #1007
are you working on this issue? @dhwaj1902

[2022-03-16 09:06] dhwaj1902 commented on #1007
yep!

[2022-03-16 10:53] codebloded opened #1011 "Make icons in Result screen under exerciser activity intuitive for user by adding tool tips"
icons on the top left hand side doesn't seem very intuitive to first time users,

PROPOSAL: There should be tooltips so that first time or anyone can easily understand that is this
@llaske  sir have a look
Screen shot below :arrow_down:
![Screenshot from 2022-03-16 16-21-59](https://user-images.githubusercontent.com/48005711/158573969-2c9ec3f1-044d-41e3-8e8a-3ffc1a057c87.png)

[2022-03-16 10:54] codebloded commented on #1011
I have fixed this

[2022-03-16 11:02] #1011 closed

[2022-03-16 11:04] codebloded commented on #1009
Have a on the fix #1010

[2022-03-16 13:45] llaske commented on #985
Yes you're right the API `https://ds-dev.dollarstreet.org/dollar-street/v1/` no longer work.

BTW I don't see any mention of `https://api.dollarstreet.org/v1/` API call. It look like values for `street-settings`, `languages`, `region-filter` and `things-filter` are now directly included in the HTML page:

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/981841/158603216

[2022-03-16 13:49] llaske commented on #1003
Hmmm. Why not. It could be an icon + a localized message in the background like the one when the Journal is empty.

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/981841/158604534-33a89060-7aba-4617-8502-05bcda27a999.png">

[2022-03-16 13:53] AnandChourasia007 commented on #1003
Sure. I get it. I will do this and submit a PR soon.

[2022-03-16 18:42] AnandChourasia007 commented on #1003
Hey @llaske , is this good?
![MediaViewer empty message](https://user-images.githubusercontent.com/89119829/158663864-ccd741dc-b5ef-4dd7-b840-0ef83e393a64.jpg)

[2022-03-16 20:41] llaske commented on #1003
That's the idea
The message should be more simple: "Please open an existing media from the Journal".

[2022-03-16 21:02] llaske commented on #1006
@AnandChourasia007 I can't reproduce the issue.
Could you explain how to do this?

[2022-03-17 07:06] Shreyas-SAS opened #1016 "Improving Design in Calligra activity"
The **current Calligra Activity homepage** is totally dominated by the user base color as seen below:

![image](https://user-images.githubusercontent.com/96542494/158754341-b7aad7ce-b1a0-4e9f-8852-ad62c2a2cd71.png)

**Suggestion:** Using Box background on each letter to make the UI better looking.

**Proposed change:**
![image](https://user-images.githubusercontent.com/96542494/158754613-610b0bc1-

[2022-03-17 07:16] AnandChourasia007 commented on #1006
@llaske , I checked this bug some more and found that this issue is only when using edge and chrome. On Firefox, delete activity works fine.
On edge and chrome, the clicks dont work the same everywhere on the object. Clicking on the upperhalf deletes the object above the current object. Clicking on the lower half actually works as expected and clicking on any spot in the lower half of the object d

[2022-03-17 08:58] llaske commented on #1016
The use of buddy color is what's expected for Sugarizer activities.
It allow users to customize activities without coding. It's the case in most activities.
This behavior is by design.

[2022-03-17 10:53] Shreyas-SAS commented on #1016
oh. Its just that I thought that it was too overwelming to see at first but if it is done to serve a purpose I will leave it as it is.
It does look nice even without it.

Thank you for informing me beforehand.
I will try to contribute in every other way possible.

[2022-03-17 10:53] #1016 closed

[2022-03-17 16:34] jigyasunigam opened #1018 "Add a winninig effect in Memorize activity"
Add a winning cum congratulation message in the memorize activity after the game is over.

[2022-03-17 18:16] Shreyas-SAS commented on #1018
Actually, I find it the case with every activity. whenever we clear a game we either get a very simple level cleared text on the top or absolutely nothing many a times.

I feel that there is no such reward or excitement coming from the activity to actually appreciate the win. so even if you win you do not feel like you really did something and after maybe 5 or 6 rounds I should say, you don't feel

[2022-03-17 20:59] llaske commented on #1018
It seems obvious in the activity that the game is win.
Plus Sugarizer target children that can't read so a message is not pertinent.

[2022-03-17 21:05] llaske commented on #1006
Okay I see. I think that it's because to identify the item clicked, the activity check for the box around the item.
Of course for circle item it means that you could delete an item by clicking outside of the item.
It doesn't depend of the browser.
I don't consider it as a bug.

[2022-03-18 06:35] Shreyas-SAS commented on #1018
I would like to differ from the statement. As you said, sugarizer targets children that can't read at this stage, it becomes essential to keep moving objects and winning messages like a firework or some cartoon or something to actually attract the children.

I do not wish to criticize in a wrong way but to point out from a progressive and positive point of view that the current system looks a bit

[2022-03-18 07:39] jigyasunigam commented on #1018
@llaske
I totally agree with you. But can we add the spray of clapping emojis with a applause or yay sound when the game is over. This will motivate children to go on more harder level.

[2022-03-18 07:59] Shreyas-SAS commented on #1018
exactly, if sir does not want to change the current system the I would really appreciate adding non visible elements like sound and music to the activities. It will improve a lot i believe.

If @llaske sir is open to it I am willing to work on it.

[2022-03-18 11:31] AnandChourasia007 commented on #1006
I shall close this issue then. Thanks.

[2022-03-18 11:31] #1006 closed

[2022-03-18 21:27] llaske commented on #1004
Fix in https://github.com/llaske/sugarizer/pull/1005

[2022-03-19 09:59] gitkaarma opened #1020 "Improvement in Exercise Cards in Exerciser Activity"
To open an activity we have to click on the play button itself. Intuitively, the exercise should open on clicking anywhere on the card.

https://user-images.githubusercontent.com/96700361/158371350-a0a38372-6885-45db-8396-85eae9f5870d.mp4

Also adding hover effect on particular card would help the user.

https://user-images.githubusercontent.com/96700361/158371369-673ab9eb-b56a-42b8-8a22-70a94c76f

[2022-03-19 10:02] gitkaarma opened #1021 "Improvement in Results Section in Exerciser Activity"
![image](https://user-images.githubusercontent.com/96700361/158111219-69dc6bd2-f642-4655-bf2c-849cecd05587.png)

The three icons on the left doesn't seem very intuitive to first time users. Neither there is a description of what they do nor their description pops when we hover over them.  Adding tooltips would help.

[2022-03-19 10:02] gitkaarma commented on #1021
@llaske I would like to work on this.

[2022-03-19 12:08] gitkaarma commented on #1021
@llaske, where the PR's of exerciser app, should be made?

[2022-03-19 17:50] Shreyas-SAS commented on #1020
@gitkaarma I feel like I have seen this issue before, is it that you have posted it before and reposted now or has it been repeated by mistake. can you please check previous issues to see if its already addressed or fresh one.

[2022-03-19 20:49] llaske commented on #1004
Please don't close the issue until a version with this fix is release.

[2022-03-19 21:04] gitkaarma commented on #1020
Yep! I posted a similar issue on exerciser git repo, but I got no reply there.

[2022-03-19 21:24] llaske commented on #1001
Make sense.

[2022-03-19 21:25] llaske commented on #1001
Fix in https://github.com/llaske/sugarizer/pull/1015

[2022-03-19 21:38] llaske commented on #1009
There is no issue here. The dialog doesn't have to be between the footer and the header and the background could be transparent.

[2022-03-19 21:46] llaske commented on #1007
Seems like a good idea.

[2022-03-19 21:51] llaske commented on #1007
Fixed in https://github.com/llaske/sugarizer/pull/1013

[2022-03-19 21:59] llaske commented on #1018
Okay let's suggest a visual effect (not a message).
Caution: in multi-player mode the visual effect should be visible only for the winner.

[2022-03-20 03:52] Shreyas-SAS commented on #1020
Oh that's why i felt like I have seen it somewhere.
Lets see what @llaske sir says about the feature.

[2022-03-20 05:20] Shreyas-SAS commented on #1018
Can we keep it like fireworks or butterflies flying around when you win. Although it is inspired from solitaire collection game which is pre-installed in windows I guess it will still serve the purpose.

Else we can even show cartoons/teddies that will just dance on the screen when we win. At least that's what children love watching on the kids TV channels even if it does not make very much of a s

[2022-03-20 06:30] jigyasunigam commented on #1018
@Shreyas-SAS
Yes Shreyas you can go with any visual effect just kept in mind that it should be for the children. As llaske told, instead of asking questions or sending messages give some impementations or send a pullrequest which resolves this issue.
"In short start working on this and next time share your work and it's images in the comment section. llaske will told you if your work is upto mark

[2022-03-20 06:42] Shreyas-SAS commented on #1018
oh ok. I will first produce some work and then ask for approval and improvement suggestions. I just felt like I should take the permission first so that i do not go the wrong way as i gave three options as suggestion. It was really nice of you to allow me take up the issue you raised.

If you want we can maybe do the same in two different activities too, like you can take up memorizer and i will t

[2022-03-20 07:08] jigyasunigam commented on #1018
@Shreyas-SAS
I think fireworks with applause sound will be the best. And yes you can start working on this, I don't want two persons working on this small issue .You can ask me about any suggestion or help in the near future, I will be happy to do it.
Remember : In multi-player mode the visual effect should be visible only for the winner.

[2022-03-20 07:13] Shreyas-SAS commented on #1018
Yeah that is my only concern for this task. I do not have a very extensive knowledge about managing things different for multiplayer and single player.

Maybe you can complete this issue and i will see your code to understand the difference. That way i will get to know the handling and implement the same issue in other activities that lack the winning visuals.

@jigyasunigam are you fine with taki

[2022-03-20 07:43] jigyasunigam commented on #1018
No problem I will do it.

[2022-03-20 09:31] Shreyas-SAS commented on #1018
Thanks. I will definitely study your code well and implement it on other activities having this issue.

[2022-03-20 20:17] llaske commented on #1021
PR for Exerciser should be made directly on Exerciser repo https://github.com/llaske/ExerciserReact

[2022-03-21 05:32] Shreyas-SAS opened #1023 "Food Chain Activity: build: Fix Alignment to improve UI"
Proposed:

1. Change element alignment in the play area to center images vertically from the current (offset) position that does not look good right now using padding in canvas box.
2. Apply a small margin to center the box that is currently left aligned.

Current:
![image](https://user-images.githubusercontent.com/96542494/159209447-1737a011-e675-483d-9f06-e1c703077f7b.png)

Proposed:
![image](ht

[2022-03-21 13:40] #1021 closed

[2022-03-21 13:41] #1020 closed

[2022-03-21 15:09] Shreyas-SAS opened #1025 "Implode Activity: fix Warning message button alignment"
**Proposed:**
Currently the warning message that comes up in implode activity when there are no possible moves left has a continue button that is left aligned on larger screens and behaves well on smaller ones.
I would like to center the text Continue so that the button looks much more formal and not like a bug.

It is a small change but I feel that it makes a large visual difference as misalignme

[2022-03-21 17:55] gitkaarma opened #1027 "Absence of Settings Button from List View"
There is no option to change settings in the list view.
I was unable to find the multi-language support setting since I preferred List view over Favorites view.

A settings button in the Navbar would prove to be useful to users who prefer  List view.

[2022-03-21 19:14] MahmoudDawood opened #1028 "Add an activity to teach the Flags of the World (Flags Quiz)"
Flags of the World is a very important knowledge especially for children, which could be achieved through a simple, fun quiz or game falling under the categories **Explore**, **Games**.

Use case:
- The student starts the quiz.
- A random flag is shown with four countries choices, one true answer among them.
- After he picks one of them, the true answer is revealed to him.
- Next button appears to

[2022-03-22 07:18] Shreyas-SAS commented on #1028
@MahmoudDawood Don't get me wrong but of what I feel it will be much easier and less time consuming to rather add this as a MCQ quiz under Exersizer activity rather than creating a whole activity from scratch around it.

This will only take around 1-2 hr to add all the 197 (not fixed) countries rather than code a whole activity on your own from scratch.

It will save you a lot of time and allow yo

[2022-03-22 07:29] Shreyas-SAS commented on #1028
![image](https://user-images.githubusercontent.com/96542494/159428811-5a1de347-42c3-4ddb-8994-e73875568eb4.png)

it took less than a minute to create 1 page if you have the flag image.
Apart from just a quiz, it also has an analysis page which saves a lot of time and helps track progress.

I really appreciate your hard work and suggestion but would love to save your time on a task already possible

[2022-03-22 09:07] dhwaj1902 opened #1029 "Hover effect to Planet Activity"
We can provide the hover effect to all the planets so that it will be easier for the users to use this activity

https://user-images.githubusercontent.com/57860123/159445351-936390df-6fce-401b-a449-73a915a9eae3.mp4

[2022-03-22 12:25] llaske commented on #1027
Settings is related to the user so it comes only when the buddy icon that represent the user is visible.
It's why it's possible only on Favorites view or in Neighborhood view.

[2022-03-22 12:28] gitkaarma commented on #1027
Rightly said. So can we add the buddy icon in the List view?

[2022-03-22 12:30] llaske commented on #1028
@Shreyas-SAS good point.
Plus Flags are already visible in the Color My World activity.

[2022-03-22 12:35] llaske commented on #1027
@gitkaarma Sugarizer design tend to limit number of icons to simplify the UI.
So only important/often used icons should be add in the toolbar. I don't think we need the Settings feature here.

[2022-03-22 12:58] MahmoudDawood commented on #1028
@Shreyas-SAS You're totally right, Thank you for notifying me with the Exerciser activity.
If I had a valid big activity idea I'd ask for your help for sure.

[2022-03-22 13:02] Shreyas-SAS commented on #1028
Thank you for understanding. Hope to work with you soon.

[2022-03-22 13:05] MahmoudDawood commented on #1028
@llaske I've already browsed Color My World before making the issue but couldn't find Flags in it if I saw it right.
So would you think of adding this idea as a quiz inside the Exerciser activity as Shreyas-SAS mentioned an added value to the activity and learning or should we leave it as it is?

[2022-03-22 18:24] Shreyas-SAS opened #1031 "Merging Moon Activity into planets"
**Observation:**
Of what I have understood after trying both the activities moon as well as planets is that either of them are purely data based activities and do not have much interaction, other than changing sides in moon and rotating the 3D models of planets.

The activities are too similar in purpose and UI, the only difference being the possible interactions of rotation in planets and the lat

[2022-03-22 18:29] Shreyas-SAS opened #1032 "Fractions Activity: Add score counter"
Issue:
There seems to be no score counter in Fractions activity but only a check list on the top-left corner.

Suggestion:
Add a score display so that progress can be better mapped using high scores and motivate kids to score higher.

[2022-03-22 20:49] llaske commented on #1031
By definition, the Moon is not a planet... there is lot of moons in the solar system (Callisto, Titan, Europa, ...).

[2022-03-23 07:58] AnandChourasia007 opened #1033 "Calligra activity stop button localization"
Tooltip for stop button in calligra activity is hardcoded instead of localization.

[2022-03-23 11:55] AnandChourasia007 opened #1035 "Fraction jump tutorial navigation text issue."
Activity name: Fraction Bounce
Issue: Text on tutorial navigation buttons is the variable name instead of the value as shown.
  Current text:
![FractionBounce activity issue1](https://user-images.githubusercontent.com/89119829/159693144-44b3435e-16d2-49e2-a1c0-fc75e22db507.jpg).
  Expected text:
![FractionBounce issue1 after fix](https://user-images.githubusercontent.com/89119829/159693257-64e2758

[2022-03-23 20:45] llaske commented on #1023
I'm not convince that it's better.
Elements look like cards, IRL cards will not be set on the middle.

[2022-03-23 20:58] llaske commented on #1025
Fixed in https://github.com/llaske/sugarizer/pull/1026

[2022-03-23 21:05] llaske commented on #1029
Fixed in https://github.com/llaske/sugarizer/pull/1030

[2022-03-23 21:07] llaske commented on #1031
I'm not in favor of merging the two activities.
It's not the same thing.

[2022-03-23 21:11] llaske commented on #1028
@MahmoudDawood Flags are display in Color My World when clicking on countries.
As @Shreyas-SAS said, anyone could add a new exercise in Exerciser activities to recognize flags. We don't need to provide it.

[2022-03-23 21:50] gitkaarma opened #1038 "Align Grid in Memorize activity"
The grid is not vertically aligned.
![image](https://user-images.githubusercontent.com/96700361/159795821-d745a8f3-5bcd-414b-b898-abab05ace397.png)

Also in mobile view, which is used by most of the users, it looks much worse.
![image](https://user-images.githubusercontent.com/96700361/159796879-2eb8a5b0-75ff-4468-9125-7896703c9232.png)

After change: -
![image](https://user-images.githubuserconte

[2022-03-23 23:05] gitkaarma opened #1040 "Planets activity view distorted in mobile view"
Planets are not aligned properly.
Ipad view: -

https://user-images.githubusercontent.com/96700361/159810480-7d54c2c9-10aa-4a50-956b-d8d924f3a864.mp4

Desktop view: -
![image](https://user-images.githubusercontent.com/96700361/159810334-79b1a68e-1aee-48d2-ad64-d9696ecb7a19.png)

Proposed change: -
Ipad view: -

https://user-images.githubusercontent.com/96700361/159810649-199042a8-5bcf-49f8-99e7-e5

[2022-03-24 03:57] Shreyas-SAS commented on #1031
Oh. Ok. Then 1 last suggestion. We have covered planets and we have covered moon but sun is missing. Can we just create a sun activity just like moon activity. We only need to change the image and some code. What do you say @llaske sir?

[2022-03-24 16:44] Shreyas-SAS commented on #1023
@llaske sir, I bet to differ to the concept of non alignment even if the elements are taken as cards. the uniformity in space above and below will make a lot of difference.

1. using padding properly also emphasis it to be an order of food chain aligned in a line rather just a bunch of pictures sticking to the top border. moreover, having proper space gives a better picture of all the options we h

[2022-03-24 16:48] Shreyas-SAS commented on #1023
If you still feel that the previous version of the UI was better than the central aligned one then I will respect your view and step down to contribute in another issue happily.

[2022-03-24 21:09] llaske commented on #1033
Stop button tooltip is never localized in activities.
Its signification is obvious.

[2022-03-24 21:20] llaske commented on #1038
The grid doesn't need to be aligned.
There is a limit to responsive in Sugarizer, see [here](https://github.com/llaske/sugarizer/issues/422).

[2022-03-24 21:21] llaske commented on #1040
There is a limit to responsive in Sugarizer, see [here](https://github.com/llaske/sugarizer/issues/422).

[2022-03-24 21:24] llaske commented on #1031
No a Sun activity is not need.

[2022-03-24 21:29] llaske commented on #1023
I hear your argument but I don't think it's better.

[2022-03-25 02:37] Shreyas-SAS commented on #1031
Oh. Thank you @llaske for your precious time. I will surely help with any other issues that I can help with.

[2022-03-25 02:37] #1031 closed

[2022-03-25 02:38] Shreyas-SAS commented on #1023
Oh ok. Thank you for your precious time @llaske sir. I will surely help with any other issue possible.

[2022-03-25 02:38] #1023 closed

[2022-03-25 03:29] jigyasunigam commented on #1007
@dhwaj1902 Please close this issue, as it's already resolved.

[2022-03-25 04:43] Shreyas-SAS commented on #1032
@llaske please have a look once if this would be a good issue to resolve since we have a table already but not a score to map the number of correct answers.

[2022-03-25 06:16] nikkuAg commented on #1040
Is this issue sill open?
I would like to work on this

[2022-03-25 06:24] AnandChourasia007 commented on #1033
Sure, I'll close this issue. @llaske
But before that there's one thing I don't understand. If the significance of Stop button is obvious, why do we need a tooltip for Stop in the first place. Its like our english users have tooltips for stop button but rest of the users don't have that in their language, leading to unequal experience (very trivial, I agree) for english and non-english users. My po

[2022-03-25 10:35] gitkaarma commented on #1040
I understand that Sugarizer is currently compatible with Landscape view only. But isn't it better to make it responsive step by step. Also in Desktop view its looking much better than before. @llaske

[2022-03-25 11:05] AnandChourasia007 commented on #1007
@dhwaj1902 @jigyasunigam , you're not supposed to close an issue with 'to be release' label before the fix being released with the next version. See the last comment on my issue #1004.

[2022-03-25 12:37] Shreyas-SAS commented on #1040
@gitkaarma just my suggestion, I feel that in desktop view not aligning in the center but left is better choice. It was like a list earlier and like a presentation now. since its like a flow towards outer space in order its more beneficial to keep it in left than center. but for ipad view I support the new look as it was empty before that.

[2022-03-25 15:20] Shreyas-SAS opened #1044 "Xmas Lights: Text overlap makes icons unreachable in mobile"
**Issue:**
In Xmas Activity the Text overlaps menu items in Mobile view leaving the icons behind them unreachable.

Visuals: (Mobile View)
Happy New Year message:
![Xmas_HNY](https://user-images.githubusercontent.com/96542494/160148639-638004e7-2a48-47d3-8bdf-8f7cd4b27560.jpeg)

Blue moon message:
![Xmas_BM](https://user-images.githubusercontent.com/96542494/160148649-5fda7e09-b478-4051-bb90-9b597

[2022-03-27 09:03] llaske commented on #1032
Why not? Let's suggest a nice place and design to add the current score.

[2022-03-27 09:07] llaske commented on #1040
I'm agree with @Shreyas-SAS. Left alignment is better.

[2022-03-27 09:15] llaske commented on #985
Help is still wanted here.

[2022-03-27 09:19] llaske commented on #1035
Fixed in https://github.com/llaske/sugarizer/pull/1036

[2022-03-27 09:25] llaske commented on #1044
It depend of the mobile.
Plus it does not prevent clicking on menu bar and it's solved in fullscreen mode.
Because designing the animation is left to user, I'm sure the user will try to fit it's animation to the window size.
It's not an issue.

[2022-03-27 09:30] llaske commented on #1033
Both Stop word and Stop sign is universally recognized. Same for Help.
Plus, because Sugarizer is often use on touch device, tooltips are not so important.

[2022-03-27 09:46] AnandChourasia007 commented on #1033
Now, I get it. Thanks.
I am closing this issue and the linked PR too.

[2022-03-27 09:46] #1033 closed

[2022-03-27 17:37] Shreyas-SAS commented on #1044
Actually it does prevent clicking of buttons in most mobile phones. I actually found this true on all the 3 mobiles in my house.

It may be that it works well with your mobile sir but I guess most of the phones will face this issue.

Still if sir wants to keep the format as it is and put it to the user to adjust to the environment I have no problem with that, but would like to make a point: consid

[2022-03-27 17:37] #1044 closed

[2022-03-27 17:39] Shreyas-SAS commented on #1032
thank you for your confirmation. I will be working on the issue asap and put a PR soon.

[2022-03-28 12:17] AnandChourasia007 opened #1047 "Chess multiplayer bug when a third player join"
Issue: If a chess match between two players is already going on, attempt to join by a third player is allowed. Any such attempts then actually BREAKS the game and the 1st and 2nd players lose the game status, returning to singleplayer screens.
Suggestion: Since, this activity is supposed to be used by kids, expecting them to 'not click when a chess game is full' is not a good idea. Instead, we can

[2022-03-29 19:53] llaske commented on #1047
Good point.
We can't prevent joining the game but we can stop the activity of the third player in this situation.
I guess some other activities do the same. May be Memorize?

[2022-03-29 21:53] MananJain777 opened #1048 "Loading error on slow network"
It happened few times with me like whenever I play a certain game it just doesn't respond at all and to fix it I need to restart the website and re-login which isn't a good user experience.

https://user-images.githubusercontent.com/96513500/160713419-83426768-325d-47dd-b386-b4a01fdeaaf1.mp4

[2022-03-30 05:37] AnandChourasia007 commented on #1048
Hey @MananJain777 , it would be helpful if you could tell us how to reproduce this issue because Memorize is working fine on my computer.

[2022-03-30 07:55] Shreyas-SAS commented on #1048
@MananJain777 Can you tell me once whether you are facing the problem with local file being run in a browser or using the try sugarizer web app on the website?

If its local file that is being run resulting an error then I had faced a similar scenario whenever I tried to launch Sugarizer in presence of another chrome tab/window (with or without the same account).

Please try to relaunch sugarizer

[2022-03-30 16:09] MananJain2002 commented on #1048
Hi @AnandChourasia007 I don't know sometimes that error occurs sometimes it won't. It happened three times for me. I guess it might be cause of backend issues server might not be loading fast enough...

[2022-03-30 16:11] MananJain2002 commented on #1048
@Shreyas-SAS  I am using it on the website https://try.sugarizer.org/ as well as https://dev.sugarizer.org/ we can improve some backend code for it to render properly...

[2022-03-30 17:42] Shreyas-SAS commented on #1048
@MananJain2002 Change in Backend? I still don't get it what exactly seems to be the error caused. Can you please explain when the error is occurring, its not showing up at our ends.

It might also be that there may be a network issue or browser issue at the moment and no problem with the code.

If you feel that there is a problem with the code, feel free to put up a PR. We will surely have a look

[2022-03-30 17:49] MananJain2002 commented on #1048
@Shreyas-SAS it happened like three times for me with different wifi connections I don't think network is the problem and it occures sometimes and I thought it might be because the code is not rendering properly on the site might need to use some async/await and promises from javascript so that it can load properly surely I'll go through the code and try to figure out something if found will post

[2022-03-30 18:27] Shreyas-SAS opened #1049 "Food Chain Activity: Learn (Herbivore vs Carnivore): Misaligned images in boxes"
### Food Chain Activity: Learn (Herbivore vs Carnivore) Activity:
**ISSUE:** Herbivore vs carnivore animal classification boxes display non centered images.
**PROPOSAL:** Center the images.

**Preview Images (current):**
![image](https://user-images.githubusercontent.com/96542494/160904559-7743e852-0909-4680-ad5c-0e2c44948d56.png)

![image](https://user-images.githubusercontent.com/96542494/160904

[2022-03-30 19:47] llaske commented on #1048
@MananJain2002 It look like a connection issue.
Please display the console/error window to see if there is any error.

[2022-03-31 01:48] MananJain2002 commented on #1048
Hi @llaske sir, it just happened once again with me this morning as you can see in the log its not a connection error its a promise error my guess would be its not rendering the files faster enough which we can improve by changing a bit of javascript code at the backend

https://user-images.githubusercontent.com/63538502/160959524-b946fa9f-e80e-477d-8c59-c782dfe9eb84.mp4

It happened in incognito

[2022-03-31 08:37] llaske commented on #1048
Please record the console and the network trace from the Sugarizer home page.
We can't deduce anything from your current record.
The same error could happen if you force stop the loading of the activity in the browser.
There is no Javascript code on the backend.

[2022-03-31 18:51] nikkuAg opened #1051 "Typing mistake in Contributing.md file"
There are some errors in the contributing.md file.

I have solved those in the following PR
PR: #1050

[2022-03-31 19:49] llaske commented on #1051
Ok thanks.

[2022-04-01 02:11] MananJain2002 commented on #1048
@llaske sir as you can see home page is loading fine but when I click on the game it doesn't load due to timeout error

https://user-images.githubusercontent.com/63538502/161180845-1601c85a-5dea-4511-840d-7777bed6b8e1.mp4

[2022-04-02 10:32] Shreyas-SAS commented on #1032
I am not able to work on the issue at the moment due to some academic commitments so if anyone is interested in working on the issue please feel free.

[2022-04-02 20:23] llaske commented on #1048
I've reproduced the issue by forcing network throttling to "Slow 3G".
There is a timeout when reading some files.
There is nothing we could do about that, [minimizing](https://github.com/llaske/sugarizer/tree/dev#optimize-performance) could reduce a bit the issue but there is physical limit (time vs file size).
It's why it's so important to provide an offline version of Sugarizer for PC and tablet

[2022-04-04 10:40] codebloded opened #1052 "some button text is not in centre with the icon"
![Screenshot from 2022-04-03 23-01-34](https://user-images.githubusercontent.com/48005711/161527372-32d8ef4b-d309-4098-850a-63d50db9e9be.png)
![Screenshot from 2022-04-03 23-02-24](https://user-images.githubusercontent.com/48005711/161527383-0e4748bc-619e-4597-ab1b-31ead53f0b9d.png)

etc..!

[2022-04-07 20:27] llaske commented on #1052
You're right. It will be better.

[2022-04-07 20:27] #1038 closed

[2022-04-07 20:28] #1040 closed

[2022-04-07 20:28] #1028 closed

[2022-04-07 20:28] #1027 closed

[2022-04-08 16:53] Shreyas-SAS commented on #1032
I will continue to work on the issue.

[2022-04-08 17:07] AnandChourasia007 commented on #1025
Hey @Shreyas-SAS , you are not supposed to close solved issue with 'to be release' label before release of the next version of sugarizer.

[2022-04-08 18:27] codebloded commented on #1052
#1053   FIXED
sir @llaske

[2022-04-08 20:00] Shreyas-SAS commented on #1025
Oh is it. Sorry it just slipped off my mind. Thanks. I will repen it.

[2022-04-09 05:58] S-kus opened #1055 "Overlapping of "activity-palette" wrapper container with "back-button" in some activities"
In **Tangram.activity** and **Curriculum.activity** the `activity-palette`'s `container` is overlapping with `back-button`. As shown:

![curr1](https://user-images.githubusercontent.com/86892991/162558648-35519f8d-3b13-400a-b226-1bc1201c35c8.png)

![curr2](https://user-images.githubusercontent.com/86892991/162558652-426c7a27-df0d-423b-89b8-492c13bb8318.png)

![ten](https://user-images.githubuserco

[2022-04-09 06:04] S-kus commented on #1055
Hello @llaske, I fixed this, Could you please review its pull request.

[2022-04-09 06:52] AnandChourasia007 opened #1057 "Shared notes activity suggestion"
--

[2022-04-09 09:05] llaske commented on #1055
Good point.

[2022-04-09 19:59] llaske commented on #1052
Fixed in https://github.com/llaske/sugarizer/pull/1054

[2022-04-09 20:13] llaske commented on #1057
You're wrong, a user who join see the current set of notes.

![Peek 09-04-2022 22-12](https://user-images.githubusercontent.com/981841/162590152-4bf612e4-0e41-4658-bc2b-968ca6ad19b6.gif)

[2022-04-10 19:14] AnandChourasia007 commented on #1057
Oh I see, I expected changing of text to be reflected reflected as the typing is being done rather than once the typing is completed and the box is clicked.
I apologize for such an embarrasing mess I made here. Be assured this is not gonna happen again.
I close this issue without delay.

[2022-04-10 19:14] #1057 closed

[2022-04-12 17:43] nikkuAg opened #1058 "Overlapping of back button with the activity palette in Tangram Activity"
<img width="233" alt="overalp" src="https://user-images.githubusercontent.com/77184239/163022328-0be628d3-2b29-4a6d-ba5b-860caf5fb9ec.png">
Back button in Tangram activity was coming above the activity palette.

[2022-04-12 17:47] nikkuAg commented on #1058
Hey @llaske,

I have solved this issue in the PR #1059

[2022-04-12 18:11] nikkuAg opened #1060 "Settings of Falabracman activity was overlapping with activity palette"
The settings are not visible when we open `activity-palette` in Falabracman activity.

<img width="497" alt="s3" src="https://user-images.githubusercontent.com/77184239/163026538-f2528149-170e-47d9-ae12-80f673e1544e.png">

[2022-04-12 18:14] nikkuAg commented on #1060
Hey @llaske,

I have solved this issue
PR: #1061
Can you please review it

[2022-04-12 18:25] nikkuAg opened #1062 "Word getting overlapped with background"
I think that the word ***Dictonary*** should be a little below so that it does not overlaps with the color tranisition line in the background image.

<img width="763" alt="s6" src="https://user-images.githubusercontent.com/77184239/163028524-1dfa15a2-afc2-4a47-a54e-ab8f50feaddf.png">

[2022-04-12 18:28] nikkuAg commented on #1062
Hey @llaske,

I have made a PR to solve this
PR: #1063
Please review it

[2022-04-12 18:55] nikkuAg opened #1064 "Physics element are coming above toolbar"
If we drag the physics elemnts in Physics JS activity above the toolbar then we see that the elements overlap with toolbar.

<img width="556" alt="s8" src="https://user-images.githubusercontent.com/77184239/163033522-1395f05c-39a0-46a8-84fc-b6bb189a9e06.png">

[2022-04-12 19:02] nikkuAg commented on #1064
Hey @llaske,

I have solved this issue
PR: #1065
Please review it

[2022-04-12 19:49] llaske commented on #1052
@codebloded issues must not be closed before a release include it

[2022-04-12 19:50] llaske commented on #982
@codebloded issues must not be closed before a release include it

[2022-04-12 19:54] llaske commented on #1058
Duplicate https://github.com/llaske/sugarizer/issues/1055

[2022-04-12 19:54] #1058 closed

[2022-04-16 20:25] llaske commented on #985
Fix in https://github.com/llaske/sugarizer/commit/2f5026dfd1bbfe4475030e8761a75dcc8dbd9494

[2022-04-16 22:51] MananJain2002 opened #1066 "SugarLabs Logout undo BUG"
https://user-images.githubusercontent.com/63538502/163693574-7e27d04f-e974-4ceb-b10f-a4478fa6a2fb.mp4

getting error after logging off and undoing the page it should be redirected to login page

[2022-04-17 20:05] llaske commented on #1055
Fixed in https://github.com/llaske/sugarizer/pull/1056

[2022-04-17 20:11] llaske commented on #1066
It's not bug.
Clicking back button could always cause errors.

[2022-04-17 20:14] llaske commented on #1060
You're right.

[2022-04-17 20:26] llaske commented on #1060
Thanks but you're not supposed to send a PR to master. See [here](https://github.com/llaske/sugarizer/blob/dev/CONTRIBUTING.md).
I've merged it manually here: https://github.com/llaske/sugarizer/commit/15433b480f1afde09890f85f95035cb4b787f769

[2022-04-17 20:32] llaske commented on #1062
It's not an issue.

[2022-04-19 12:49] MananJain2002 commented on #1048
Hi @llaske sir I made a pull request please review it #1069

[2022-04-19 14:48] MananJain2002 commented on #1048
Oops mistakenly I have made a pull request with master branch. I have made another pull request on dev branch here #1070 please review it.

[2022-04-19 20:09] llaske commented on #1064
You're right, it will be better to not overlap the toolbar

[2022-04-20 18:20] jcvails commented on #1047
I was unsure of the player counts of other shared games so I only made the fix for chess, should be easy to add other player counts in the constant file though it may be worth adding player counts to the activities themselves for simplicity in creating new activities.

[2022-04-23 20:23] llaske commented on #1047
@jcvails the fix should be done in Chess activity

[2022-05-08 11:35] S-kus opened #1073 "Toolbar improvements in LabyrinthJS.activity"
1. Currently `sub-toolbar` is overlapping with `activity-palette`, as shown:

    ![laby1](https://user-images.githubusercontent.com/86892991/167293899-d334aff6-546c-462f-9f49-a48f9871557e.png)

    It should be like this:
    ![2laby](https://user-images.githubusercontent.com/86892991/167294174-ca2fb224-c09f-4d34-9f0d-17c12edbaec4.png)

2. The button title of Idea text and the background color is

[2022-05-08 12:07] S-kus commented on #1073
@llaske I raised the pull request for 1st issue.
Could you please review it and also suggest is 2nd issue needed to be solved or not? If it's required, should I just update the title message in the locale.ini file, or is anything else required?
I will commit for this change in the same pull request.

[2022-05-08 20:27] llaske commented on #1073
You're right for 1.
I don't think the text for 2 is confusing.

[2022-05-10 18:51] S-kus commented on #1073
Thanks, @llaske,
I have fixed the 1st issue. Could you please review [this](https://github.com/llaske/sugarizer/pull/1074) pull request?

[2022-05-12 19:53] llaske opened #1075 "Add Previous/Next button in DollarStreet activity to navigate in images"
It could be nice to add a Previous/Next button in DollarStreet activity on the detailed screen.
It will allow to navigate into the image gallery.

![Peek 12-05-2022 21-51](https://user-images.githubusercontent.com/981841/168157160-c3e83d9b-57df-4506-bbb9-abc3140a921d.gif)

[2022-05-12 19:55] #1066 closed

[2022-05-12 19:55] #1062 closed

[2022-05-13 14:30] codebloded commented on #1075
hey, @llaske  nice it's good for user experience, I.m working on this !

[2022-05-15 20:29] llaske commented on #1073
Fixed in https://github.com/llaske/sugarizer/pull/1074

[2022-05-17 20:26] llaske opened #1076 "Planet type is not localized"
The planet type in information popup in Planets activity is not localized.
It's always in English (Terrestrial, Ice Giant, Gas Giant).

![image](https://user-images.githubusercontent.com/981841/168903834-24e8493f-1e26-4e0a-89c3-782948f71754.png)

[2022-05-28 20:10] llaske opened #1079 "Blank screen after using Sugarizer Server Dashboard"
The Sugarizer home screen become blank after using Sugarizer Server Dashboard.

![Capture d’écran du 2022-05-28 21-59-51](https://user-images.githubusercontent.com/981841/170841237-0f8930fb-7831-480f-920f-5812136a40a7.png)

Below is a video to explain how to reproduce the issue:
- Connect to Sugarizer (new user or login with an existing user)
- Connect to Sugarizer Server Dashboard (could be an ad

[2022-05-28 20:41] llaske commented on #1079
Fixed in https://github.com/llaske/sugarizer/commit/1f0ebf90734b555ad321f8dd1e0d547697e8b171

[2022-06-01 19:56] llaske commented on #1076
Fixed in https://github.com/llaske/sugarizer/pull/1080

[2022-06-03 08:26] S-kus commented on #1075
@llaske Could you please review the attached pull request.

[2022-06-04 19:57] llaske commented on #1003
Fixed in https://github.com/llaske/sugarizer/pull/1081

[2022-06-08 19:29] llaske commented on #1075
Fixed in https://github.com/llaske/sugarizer/pull/1082

[2022-06-26 09:18] llaske opened #1089 "Tutorial steps missing at first launch"
At first launch, the starting tutorial has only 2 steps (instead of 9).

![Peek 26-06-2022 11-12](https://user-images.githubusercontent.com/981841/175807598-29c227b0-e268-405a-8648-7ece12fc4908.gif)

Restarting the tutorial solve the issue.

[2022-07-09 20:11] llaske opened #1090 "Replace Bootstrap tour by IntroJS in tutorial for all activities"
[Bootstrap tour](https://bootstraptour.com/) is the library use for writing activities tutorial. The library is no longer maintain and doesn't support recent version of Bootstrap. So we decided to replace it by another libraries named [IntroJS](https://introjs.com/).
IntroJS provide similar features and a lightweight UI.

![new_tutorial](https://user-images.githubusercontent.com/981841/178120591-b

[2022-08-25 20:10] abhishek-sultaniya commented on #1090
Hello @llaske ,I would like to work on this issue.Please recommend me some activites to begin with.

[2022-08-26 20:00] llaske commented on #1090
Hi @abhishek-sultaniya , you're welcome.
You could start by Moon activity.

[2022-08-26 21:32] abhishek-sultaniya commented on #1090
I have made a PR for the Story activity.I would be highly obliged if you will review that.

[2022-08-27 20:07] llaske commented on #1090
@abhishek-sultaniya Thanks, I've reviewed it. Please reference the issue in your PR so there will be a link here.

[2022-08-27 23:52] abhishek-sultaniya commented on #1090
Thanks,now I have made the refrence for the issue in PR #1093 .

[2022-08-31 09:01] disha1202 commented on #1090
Hi @llaske,
I've replaced Bootstrap tour by IntroJs in Moon activity.
Please take a look.

[2022-08-31 20:03] llaske commented on #1090
@disha1202 Good job. Thanks.

[2022-09-01 05:24] disha1202 commented on #1090
Thanks @llaske,
I'll be picking Paint activity next.
Please let me know if you want me to pick any specific activity first.

[2022-09-01 06:15] disha1202 opened #1097 "Wrong tooltip text on tutorial button in Paint activity"
![Screenshot from 2022-09-01 11-42-12](https://user-images.githubusercontent.com/58461801/187844655-6448eebd-1dc4-450f-8e89-58c06575c9cb.png)

[2022-09-01 06:45] disha1202 commented on #1097
Closing this issue as it has already been fixed on dev branch

[2022-09-01 06:45] #1097 closed

[2022-09-01 12:12] disha1202 opened #1100 "In Paint activity on resizing the window it crops the canvas instead of resizing it"
Current behaviour

[screen-recorder-thu-sep-01-2022-17-44-12.webm](https://user-images.githubusercontent.com/58461801/187911289-97e69ea0-8501-45c6-bcb1-600ad9ad728e.webm)

Expected behaviour

[screen-recorder-thu-sep-01-2022-17-37-51.webm](https://user-images.githubusercontent.com/58461801/187911320-8932402e-a34d-480f-bfd6-61fe61bbfd30.webm)

[2022-09-01 19:30] llaske commented on #1100
The drawing should not be resized because it will lost its proportion.
A drawing is not like an image.
So it's not a bug.

[2022-09-02 05:45] disha1202 commented on #1100
Alright, if that is the case then maybe we can remove the onResize function (https://github.com/llaske/sugarizer/blob/dev/activities/Paint.activity/js/paint-activity.js#L53)  and this line of code (https://github.com/llaske/sugarizer/blob/dev/activities/Paint.activity/js/paint-activity.js#L47)

@llaske What do you think?

[2022-09-03 16:37] disha1202 commented on #1100
Yes, the canvas is resized when you change the screen size and on this resize event we have called a function [onResize](https://github.com/llaske/sugarizer/blob/dev/activities/Paint.activity/js/paint-activity.js#L53) where the first line of code is a return statement. This function ends before performing any computation and will not affect the current behaviour if removed.

Please let me know if

[2022-09-03 19:37] llaske commented on #1100
Oh :open_mouth:  you're right!
The Resize method is useless

[2022-09-03 23:31] EshaanAgg commented on #1090
Hi @llaske
I have migrated the Measure activity as described above.
Please take a look at the same [here](https://github.com/llaske/sugarizer/pull/1102).

[2022-09-04 14:54] disha1202 commented on #1100
So should we remove it?

[2022-09-04 19:34] llaske commented on #1100
@disha1202 yes please.

[2022-10-27 09:36] Ujjawal3 commented on #1090
Hi @llaske I have the abacus activity in pr #1109. Please have a look

[2022-10-29 22:29] whyprax commented on #1090
Hello @llaske ,I would like to work on this issue for the Chess Activity.

[2022-10-30 20:45] llaske commented on #1090
@whyprax , you're welcome

[2022-10-30 21:02] Ayeshashaik759 commented on #1090
Hlo @llaske,
I've replaced Bootstrap tour by IntroJs in clock activity.
Please take a look.

[2022-10-31 18:17] whyprax commented on #1090
Hlo @llaske,
I've replaced the Bootstrap tour with IntroJs in the Video Viewer activity.
Please review it.

[2022-11-16 18:39] UtkarshSiddhpura commented on #1090
Hey @llaske
I've done replacing Bootstrap tour with IntroJs for Abecedarium.
Please Have a look, it took a while for sure.

[2022-11-16 21:04] llaske commented on #1090
Thanks @UtkarshSiddhpura . See my comments on your PR.

[2022-11-18 06:25] Ayeshashaik759 commented on #1090
Hello @llaske,
I've replaced Bootstrap tour by IntroJs in calculate activity.
Please take a look at it.

[2022-11-18 21:26] llaske commented on #1090
Thanks @Ayeshashaik759 . See my comment on your PR.

[2022-11-29 07:21] shubhangNarain opened #1115 "MindMath Activity doesn't allow negative subtraction."
@llaske I found an issue in the `MindMath` Activity where it was not allowing the user to calculate the difference between a smaller number and the difference between a larger number. I've attached an image where it doesn't calculate the difference when I try to.

![er1](https://user-images.githubusercontent.com/80174035/204464441-e30b3a69-1585-4fcd-87c3-6a69079a5fd5.PNG)

[2022-11-29 07:36] shubhangNarain opened #1116 "ColorMyWorld functionality breaks"
In `ColorMyWorld` activity, the 'sea' should be restricted to be selected by the user. @llaske I've attached a UI/Functionality break as it happened. Please share your inputs on this error.

![ColorMyWorld](https://user-images.githubusercontent.com/80174035/204467128-c3c52df9-e0e6-47a8-8f76-cdd60aaaf91e.PNG)

[2022-11-29 08:31] llaske commented on #1116
It's the expected behavior.
Children love to color everything, there is no reason to restrict their creativity 😄
Thanks @shubhangNarain for your contribution.

[2022-11-29 08:50] llaske commented on #1115
It's on purpose, the concept of negative numbers is not familiar to children.
The solver included in the activity take into account this "limitation" to propose operations that don't need using negative subtraction.
Thank for your contribution.